Cold Email Automation/Cold email workflow Part 2. Follow-up Scheduler.json
{
  "name": "Cold email workflow Part 2. Follow-up Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "REDACTED",
      "name": "Run Daily",
      "type": "REDACTED",
      "typeVersion": 1.2,
      "position": [
        -1360,
        176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "Read Tracking Sheet",
      "type": "REDACTED",
      "typeVersion": 4.7,
      "position": [
        -1136,
        176
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unsubscribed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c4",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "Filter Active Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -912,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $json.follow_up_date }}",
              "rightValue": "={{ $now.toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEqual"
              }
            },
            {
              "id": "REDACTED",
              "leftValue": "={{ $json.follow_up_date }}",
              "rightValue": "={{ $now.toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "REDACTED",
      "name": "Filter Due Today",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -688,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "REDACTED",
      "name": "Loop Over Leads",
      "type": "REDACTED",
      "typeVersion": 3,
      "position": [
        -464,
        176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "followup_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "followup_2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "REDACTED",
      "name": "Route by Follow-up Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// BUILD FOLLOW-UP 1 EMAIL - personalised by partner type\nfunction getTemplate(type) {\n  const t = (type || '').toLowerCase();\n  if (t.includes('college') || t.includes('university')) return {\n    subject: (fn) => 'Following up — campus partnership with [YOUR COMPANY], ' + fn,\n    color: '#1D4ED8',\n    body: (fn, d) => 'Just checking in on my last email about a campus partnership between <strong>' + (d.name || 'your institution') + '</strong> and <strong>[YOUR COMPANY]</strong>.<br><br>We\\'d love to bring value to your students — through workshops, internships, or hackathons. Would a 15-minute call this week work?'\n  };\n  if (t.includes('influencer')) return {\n    subject: (fn) => 'Hey ' + fn + ', still keen on the collab?',\n    color: '#7C3AED',\n    body: () => 'Just following up on the collab idea I sent over! I genuinely think your audience would love <strong>[YOUR PRODUCT]</strong> — and the deal is flexible to match your style.<br><br>Would love to hop on a quick call — totally casual, no pressure.'\n  };\n  if (t.includes('brand')) return {\n    subject: (fn) => 'Quick follow-up — brand partnership with [YOUR COMPANY], ' + fn,\n    color: '#059669',\n    body: () => 'Following up on the brand partnership opportunity I shared earlier. We\\'ve had great results with partners in your space.<br><br>Would a 15-minute call this week work?'\n  };\n  return {\n    subject: (fn) => 'Quick follow-up — ' + fn + ', still interested in partnering?',\n    color: '#374151',\n    body: () => 'Just following up on my last email about partnering with <strong>[YOUR COMPANY]</strong>. Would a quick 15-minute call work?'\n  };\n}\n\nconst d = $input.first().json;\nconst firstName = (d.name || 'there').split(' ')[0];\nconst tpl = getTemplate(d.partner_type);\n\nconst emailBody = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6\">'\n  + '<p>Hi ' + firstName + ',</p>'\n  + '<p>' + tpl.body(firstName, d) + '</p>'\n  + '<p style=\"margin-top:20px\"><a href=\"https://calendly.com/REPLACE_WITH_CALENDAR_LINK\" style=\"background:' + tpl.color + ';color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;font-weight:bold\">Pick a Time</a></p>'\n  + '<p style=\"margin-top:20px\">If the timing is not right, just say the word — no hard feelings.<br><br>Best,<br><strong>[YOUR NAME]</strong><br>[YOUR COMPANY] · [YOUR EMAIL]</p>'\n  + '<hr style=\"border:none;border-top:1px solid #eee;margin:28px 0\">'\n  + '<p style=\"font-size:11px;color:#999\"><a href=\"mailto:[YOUR EMAIL]?subject=Unsubscribe\" style=\"color:#999\">Unsubscribe</a></p>'\n  + '</body></html>';\n\n\n// Threading headers for email client grouping\nconst inReplyTo = d.message_id ? '<' + d.message_id + '>' : '';\nconst references = d.thread_id ? '<' + d.thread_id + '>' : '';\nconst threadSubject = d.original_subject || tpl.subject(firstName);\nreturn [{ json: { ...d, emailSubject: threadSubject, emailBody, inReplyTo, references } }];"
      },
      "id": "REDACTED",
      "name": "Build Follow-up 1 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Build Follow-up 1 Email').item.json.row_number }}",
            "Email": "={{ $('Build Follow-up 1 Email').item.json.Email }}",
            "Name": "={{ $('Build Follow-up 1 Email').item.json.Name }}",
            "partner_type": "={{ $('Build Follow-up 1 Email').item.json.partner_type }}",
            "status": "=followup_1",
            "sent_date": "={{ $now.plus({days: 5}).toISODate() }}",
            "email_type": "={{ $('Build Follow-up 1 Email').item.json.email_type }}",
            "follow_up_date": "={{ $('Build Follow-up 1 Email').item.json.follow_up_date }}",
            "thread_id": "={{ $('Loop Over Leads').item.json.thread_id }}",
            "message_id": "={{ $('Send Follow-up 1').item.json.data[0].request_id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "partner_type",
              "displayName": "partner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_type",
              "displayName": "email_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "Update Status → followup_1",
      "type": "REDACTED",
      "typeVersion": 4.7,
      "position": [
        656,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// BUILD FOLLOW-UP 2 EMAIL - second nudge (middle of sequence)\nfunction getTemplate(type) {\n  const t = (type || '').toLowerCase();\n  if (t.includes('college') || t.includes('university')) return {\n    subject: (fn) => 'Still worth a chat \\u2014 campus partnership, ' + fn,\n    color: '#1D4ED8',\n    body: (fn, d) => 'I wanted to follow up once more about the campus partnership between <strong>' + (d.name || 'your institution') + '</strong> and <strong>[YOUR COMPANY]</strong>.<br><br>Even a short 10-minute call could open a lot of doors for your students. Happy to work around your schedule.'\n  };\n  if (t.includes('influencer')) return {\n    subject: (fn) => fn + ', the collab offer is still open \\ud83d\\ude4c',\n    color: '#7C3AED',\n    body: () => 'Circling back one more time \\u2014 I genuinely think this collab would resonate well with your audience.<br><br>No pressure at all, just happy to jump on a quick call whenever works for you.'\n  };\n  if (t.includes('brand')) return {\n    subject: (fn) => 'One more thought on our partnership, ' + fn,\n    color: '#059669',\n    body: () => 'Just one more follow-up on the brand partnership idea. We have had great traction with similar brands recently and I think there is a real fit here.<br><br>Would love to show you some numbers on a quick call.'\n  };\n  return {\n    subject: (fn) => 'Checking in once more \\u2014 ' + fn,\n    color: '#374151',\n    body: () => 'One more follow-up about partnering with <strong>[YOUR COMPANY]</strong>. Still happy to connect whenever the timing works.'\n  };\n}\n\nconst d = $input.first().json;\nconst firstName = (d.name || 'there').split(' ')[0];\nconst tpl = getTemplate(d.partner_type);\n\nconst emailBody = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6\">'\n  + '<p>Hi ' + firstName + ',</p>'\n  + '<p>' + tpl.body(firstName, d) + '</p>'\n  + '<p style=\"margin-top:20px\"><a href=\"https://calendly.com/REPLACE_WITH_CALENDAR_LINK\" style=\"background:' + tpl.color + ';color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;font-weight:bold\">Pick a Time</a></p>'\n  + '<p style=\"margin-top:20px\">Best,<br><strong>[YOUR NAME]</strong><br>[YOUR COMPANY] \\u00b7 [YOUR EMAIL]</p>'\n  + '<hr style=\"border:none;border-top:1px solid #eee;margin:28px 0\">'\n  + '<p style=\"font-size:11px;color:#999\"><a href=\"mailto:[YOUR EMAIL]?subject=Unsubscribe\" style=\"color:#999\">Unsubscribe</a></p>'\n  + '</body></html>';\n\n\n// Threading headers for email client grouping\nconst inReplyTo = d.message_id ? '<' + d.message_id + '>' : '';\nconst references = d.thread_id ? '<' + d.thread_id + '>' : '';\nconst threadSubject = d.original_subject || tpl.subject(firstName);\nreturn [{ json: { ...d, emailSubject: threadSubject, emailBody, inReplyTo, references } }];"
      },
      "id": "REDACTED",
      "name": "Build Follow-up 2 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "followup_2",
            "email_type": "={{ $('Build Follow-up 2 Email').item.json.email_type }}",
            "follow_up_date": "={{ $now.plus({days: 8}).toISODate() }}",
            "Email": "={{ $('Loop Over Leads').item.json.Email }}",
            "row_number": "={{ $('Loop Over Leads').item.json.row_number }}",
            "Name": "={{ $('Loop Over Leads').item.json.Name }}",
            "partner_type": "={{ $('Loop Over Leads').item.json.partner_type }}",
            "sent_date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "thread_id": "={{ $('Loop Over Leads').item.json.thread_id }}",
            "message_id": "={{ $('Send Follow-up 2').item.json.data[0].request_id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "partner_type",
              "displayName": "partner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_type",
              "displayName": "email_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "Update Status → followup_2",
      "type": "REDACTED",
      "typeVersion": 4.7,
      "position": [
        656,
        192
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "REDACTED",
      "name": "Wait",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        192
      ],
      "id": "REDACTED",
      "name": "Wait1",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "jsCode": "// BUILD FOLLOW-UP 3 (FINAL) EMAIL - personalised by partner type\nfunction getTemplate(type) {\n  const t = (type || '').toLowerCase();\n  if (t.includes('college') || t.includes('university')) return {\n    subject: (fn) => 'Last note \\u2014 campus collab with [YOUR COMPANY], ' + fn,\n    body: () => 'I\\'ll keep this short \\u2014 this is my last outreach about a campus partnership with <strong>[YOUR COMPANY]</strong>.<br><br>If the timing is not right, no worries at all. We\\'d love to reconnect whenever you\\'re planning for the next semester.'\n  };\n  if (t.includes('influencer')) return {\n    subject: (fn) => 'Last message \\u2014 the collab offer stands, ' + fn,\n    body: () => 'I won\\'t keep nudging \\u2014 promise this is the last one! The collab offer is still open whenever you\\'re ready.'\n  };\n  if (t.includes('brand')) return {\n    subject: (fn) => 'Closing the loop \\u2014 brand partnership, ' + fn,\n    body: () => 'Last note from me on the brand partnership with <strong>[YOUR COMPANY]</strong>. If it\\'s not the right fit, completely understand \\u2014 my inbox is always open.'\n  };\n  return {\n    subject: (fn) => 'Last note from me \\u2014 ' + fn,\n    body: () => 'This is my last note about partnering with <strong>[YOUR COMPANY]</strong>. Feel free to reach out whenever.'\n  };\n}\n\nconst d = $input.first().json;\nconst firstName = (d.name || 'there').split(' ')[0];\nconst tpl = getTemplate(d.partner_type);\n\nconst emailBody = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6\">'\n  + '<p>Hi ' + firstName + ',</p>'\n  + '<p>' + tpl.body(firstName, d) + '</p>'\n  + '<p>If you ever want to reconnect, I\\'m always reachable at <a href=\"mailto:[YOUR EMAIL]\">[YOUR EMAIL]</a>.</p>'\n  + '<p>Wishing you all the best!</p>'\n  + '<p>\\u2014 <strong>[YOUR NAME]</strong><br>[YOUR COMPANY]</p>'\n  + '<hr style=\"border:none;border-top:1px solid #eee;margin:28px 0\">'\n  + '<p style=\"font-size:11px;color:#999\"><a href=\"mailto:[YOUR EMAIL]?subject=Unsubscribe\" style=\"color:#999\">Unsubscribe</a></p>'\n  + '</body></html>';\n\n\n// Threading headers for email client grouping\nconst inReplyTo = d.message_id ? '<' + d.message_id + '>' : '';\nconst references = d.thread_id ? '<' + d.thread_id + '>' : '';\nconst threadSubject = d.original_subject || tpl.subject(firstName);\nreturn [{ json: { ...d, emailSubject: threadSubject, emailBody, inReplyTo, references } }];"
      },
      "id": "REDACTED",
      "name": "Build Follow-up 3 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        384
      ],
      "id": "REDACTED",
      "name": "Wait2",
      "webhookId": "wait2-fu3-send"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "email_type": "={{ $('Build Follow-up 3 Email').item.json.email_type }}",
            "row_number": "={{ $('Build Follow-up 3 Email').item.json.row_number }}",
            "Email": "={{ $('Build Follow-up 3 Email').item.json.Email }}",
            "Name": "={{ $('Build Follow-up 3 Email').item.json.Name }}",
            "partner_type": "={{ $('Build Follow-up 3 Email').item.json.partner_type }}",
            "sent_date": "={{ $now.toFormat('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "partner_type",
              "displayName": "partner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_type",
              "displayName": "email_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "Update Status → completed",
      "type": "REDACTED",
      "typeVersion": 4.7,
      "position": [
        656,
        384
      ]
    },
    {
      "parameters": {
        "mailagent": "555046c28339d27e",
        "fromaddress": {
          "address": "noreply@thinksage.in",
          "name": "Think Sage"
        },
        "toaddress": "={{ $json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "htmlbody": "={{ $json.emailBody }}",
        "attachment": {}
      },
      "id": "REDACTED",
      "name": "Send Follow-up 1",
      "type": "REDACTED",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "mailagent": "555046c28339d27e",
        "fromaddress": {
          "address": "noreply@thinksage.in",
          "name": "Think Sage"
        },
        "toaddress": "={{ $json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "htmlbody": "={{ $json.emailBody }}",
        "attachment": {}
      },
      "id": "REDACTED",
      "name": "Send Follow-up 2",
      "type": "REDACTED",
      "typeVersion": 1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "mailagent": "555046c28339d27e",
        "fromaddress": {
          "address": "noreply@thinksage.in",
          "name": "Think Sage"
        },
        "toaddress": "={{ $json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "htmlbody": "={{ $json.emailBody }}",
        "attachment": {}
      },
      "id": "REDACTED",
      "name": "Send Follow-up 3",
      "type": "REDACTED",
      "typeVersion": 1,
      "position": [
        448,
        384
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run Daily": {
      "main": [
        [
          {
            "node": "Read Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tracking Sheet": {
      "main": [
        [
          {
            "node": "Filter Active Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Leads": {
      "main": [
        [
          {
            "node": "Filter Due Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Today": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [
          {
            "node": "Route by Follow-up Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-up 1 Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → followup_1": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-up 2 Email": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Follow-up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Follow-up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Follow-up Stage": {
      "main": [
        [
          {
            "node": "Build Follow-up 1 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Follow-up 2 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Follow-up 3 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → followup_2": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-up 3 Email": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send Follow-up 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → completed": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up 1": {
      "main": [
        [
          {
            "node": "Update Status → followup_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up 2": {
      "main": [
        [
          {
            "node": "Update Status → followup_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up 3": {
      "main": [
        [
          {
            "node": "Update Status → completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "REDACTED",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  },
  "id": "qH4rMvf66PvHIEif",
  "tags": []
}
