Latest WFS/Cold email workflow Part 2. Follow-up Scheduler.json
{
  "name": "Cold email workflow Part 2. Follow-up Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "3eac822f-db55-4657-8a2a-6ec84e934d96",
      "name": "Run Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "options": {}
      },
      "id": "3b8bb121-3326-4d2f-ac2f-01960f78c4f8",
      "name": "Read Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1136,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KXw7mOPSGBu1qOjG",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "replied",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unsubscribed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c4",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab1b2f7d-7d5c-455f-8ea0-773fdffb3c59",
      "name": "Filter Active Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -912,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $json.follow_up_date }}",
              "rightValue": "={{ $now.toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEqual"
              }
            },
            {
              "id": "3e923d5e-3fb7-4b7c-9b68-66da9ed1e1e2",
              "leftValue": "={{ $json.follow_up_date }}",
              "rightValue": "={{ $now.toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4308853b-873d-427f-9327-7924474f1ef0",
      "name": "Filter Due Today",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -688,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "200ed801-c0ec-451a-8b8c-bfbbfd8ed833",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "followup_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "followup_2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ae755949-bdd7-4737-a3a2-9d472238a670",
      "name": "Route by Follow-up Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// BUILD FOLLOW-UP 1 EMAIL - personalised by partner type\nfunction getTemplate(type) {\n  const t = (type || '').toLowerCase();\n  if (t.includes('college') || t.includes('university')) return {\n    subject: (fn) => 'Following up — campus partnership with [YOUR COMPANY], ' + fn,\n    color: '#1D4ED8',\n    body: (fn, d) => 'Just checking in on my last email about a campus partnership between <strong>' + (d.name || 'your institution') + '</strong> and <strong>[YOUR COMPANY]</strong>.<br><br>We\\'d love to bring value to your students — through workshops, internships, or hackathons. Would a 15-minute call this week work?'\n  };\n  if (t.includes('influencer')) return {\n    subject: (fn) => 'Hey ' + fn + ', still keen on the collab?',\n    color: '#7C3AED',\n    body: () => 'Just following up on the collab idea I sent over! I genuinely think your audience would love <strong>[YOUR PRODUCT]</strong> — and the deal is flexible to match your style.<br><br>Would love to hop on a quick call — totally casual, no pressure.'\n  };\n  if (t.includes('brand')) return {\n    subject: (fn) => 'Quick follow-up — brand partnership with [YOUR COMPANY], ' + fn,\n    color: '#059669',\n    body: () => 'Following up on the brand partnership opportunity I shared earlier. We\\'ve had great results with partners in your space.<br><br>Would a 15-minute call this week work?'\n  };\n  return {\n    subject: (fn) => 'Quick follow-up — ' + fn + ', still interested in partnering?',\n    color: '#374151',\n    body: () => 'Just following up on my last email about partnering with <strong>[YOUR COMPANY]</strong>. Would a quick 15-minute call work?'\n  };\n}\n\nconst d = $input.first().json;\nconst firstName = (d.name || 'there').split(' ')[0];\nconst tpl = getTemplate(d.partner_type);\n\nconst emailBody = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6\">'\n  + '<p>Hi ' + firstName + ',</p>'\n  + '<p>' + tpl.body(firstName, d) + '</p>'\n  + '<p style=\"margin-top:20px\"><a href=\"https://calendly.com/REPLACE_WITH_CALENDAR_LINK\" style=\"background:' + tpl.color + ';color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;font-weight:bold\">Pick a Time</a></p>'\n  + '<p style=\"margin-top:20px\">If the timing is not right, just say the word — no hard feelings.<br><br>Best,<br><strong>[YOUR NAME]</strong><br>[YOUR COMPANY] · [YOUR EMAIL]</p>'\n  + '<hr style=\"border:none;border-top:1px solid #eee;margin:28px 0\">'\n  + '<p style=\"font-size:11px;color:#999\"><a href=\"mailto:[YOUR EMAIL]?subject=Unsubscribe\" style=\"color:#999\">Unsubscribe</a></p>'\n  + '</body></html>';\n\n\n// Threading headers for email client grouping\nconst inReplyTo = d.message_id ? '<' + d.message_id + '>' : '';\nconst references = d.thread_id ? '<' + d.thread_id + '>' : '';\nconst threadSubject = d.original_subject || tpl.subject(firstName);\nreturn [{ json: { ...d, emailSubject: threadSubject, emailBody, inReplyTo, references } }];"
      },
      "id": "20b655c0-d0f7-4d2b-9c04-ece0e92aa1f7",
      "name": "Build Follow-up 1 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Build Follow-up 1 Email').item.json.row_number }}",
            "Email": "={{ $('Build Follow-up 1 Email').item.json.Email }}",
            "Name": "={{ $('Build Follow-up 1 Email').item.json.Name }}",
            "partner_type": "={{ $('Build Follow-up 1 Email').item.json.partner_type }}",
            "status": "=followup_1",
            "sent_date": "={{ $now.plus({days: 5}).toISODate() }}",
            "email_type": "={{ $('Build Follow-up 1 Email').item.json.email_type }}",
            "follow_up_date": "={{ $('Build Follow-up 1 Email').item.json.follow_up_date }}",
            "thread_id": "={{ $('Loop Over Leads').item.json.thread_id }}",
            "message_id": "={{ $('Send Follow-up 1').item.json.data[0].request_id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "partner_type",
              "displayName": "partner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_type",
              "displayName": "email_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "original_subject",
              "displayName": "original_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f3e1ea40-2287-4493-a304-1a0491150bba",
      "name": "Update Status → followup_1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KXw7mOPSGBu1qOjG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUILD FOLLOW-UP 2 EMAIL - second nudge (middle of sequence)\nfunction getTemplate(type) {\n  const t = (type || '').toLowerCase();\n  if (t.includes('college') || t.includes('university')) return {\n    subject: (fn) => 'Still worth a chat \\u2014 campus partnership, ' + fn,\n    color: '#1D4ED8',\n    body: (fn, d) => 'I wanted to follow up once more about the campus partnership between <strong>' + (d.name || 'your institution') + '</strong> and <strong>[YOUR COMPANY]</strong>.<br><br>Even a short 10-minute call could open a lot of doors for your students. Happy to work around your schedule.'\n  };\n  if (t.includes('influencer')) return {\n    subject: (fn) => fn + ', the collab offer is still open \\ud83d\\ude4c',\n    color: '#7C3AED',\n    body: () => 'Circling back one more time \\u2014 I genuinely think this collab would resonate well with your audience.<br><br>No pressure at all, just happy to jump on a quick call whenever works for you.'\n  };\n  if (t.includes('brand')) return {\n    subject: (fn) => 'One more thought on our partnership, ' + fn,\n    color: '#059669',\n    body: () => 'Just one more follow-up on the brand partnership idea. We have had great traction with similar brands recently and I think there is a real fit here.<br><br>Would love to show you some numbers on a quick call.'\n  };\n  return {\n    subject: (fn) => 'Checking in once more \\u2014 ' + fn,\n    color: '#374151',\n    body: () => 'One more follow-up about partnering with <strong>[YOUR COMPANY]</strong>. Still happy to connect whenever the timing works.'\n  };\n}\n\nconst d = $input.first().json;\nconst firstName = (d.name || 'there').split(' ')[0];\nconst tpl = getTemplate(d.partner_type);\n\nconst emailBody = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6\">'\n  + '<p>Hi ' + firstName + ',</p>'\n  + '<p>' + tpl.body(firstName, d) + '</p>'\n  + '<p style=\"margin-top:20px\"><a href=\"https://calendly.com/REPLACE_WITH_CALENDAR_LINK\" style=\"background:' + tpl.color + ';color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;font-weight:bold\">Pick a Time</a></p>'\n  + '<p style=\"margin-top:20px\">Best,<br><strong>[YOUR NAME]</strong><br>[YOUR COMPANY] \\u00b7 [YOUR EMAIL]</p>'\n  + '<hr style=\"border:none;border-top:1px solid #eee;margin:28px 0\">'\n  + '<p style=\"font-size:11px;color:#999\"><a href=\"mailto:[YOUR EMAIL]?subject=Unsubscribe\" style=\"color:#999\">Unsubscribe</a></p>'\n  + '</body></html>';\n\n\n// Threading headers for email client grouping\nconst inReplyTo = d.message_id ? '<' + d.message_id + '>' : '';\nconst references = d.thread_id ? '<' + d.thread_id + '>' : '';\nconst threadSubject = d.original_subject || tpl.subject(firstName);\nreturn [{ json: { ...d, emailSubject: threadSubject, emailBody, inReplyTo, references } }];"
      },
      "id": "da4af664-d709-4d3c-bbf3-ec7a37e44d70",
      "name": "Build Follow-up 2 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "followup_2",
            "email_type": "={{ $('Build Follow-up 2 Email').item.json.email_type }}",
            "follow_up_date": "={{ $now.plus({days: 8}).toISODate() }}",
            "Email": "={{ $('Loop Over Leads').item.json.Email }}",
            "row_number": "={{ $('Loop Over Leads').item.json.row_number }}",
            "Name": "={{ $('Loop Over Leads').item.json.Name }}",
            "partner_type": "={{ $('Loop Over Leads').item.json.partner_type }}",
            "sent_date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "thread_id": "={{ $('Loop Over Leads').item.json.thread_id }}",
            "message_id": "={{ $('Send Follow-up 2').item.json.data[0].request_id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "partner_type",
              "displayName": "partner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_type",
              "displayName": "email_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "original_subject",
              "displayName": "original_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c2f37816-3beb-461d-adb3-9a0675e7d2bc",
      "name": "Update Status → followup_2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KXw7mOPSGBu1qOjG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "8c8b0701-c30c-4b8c-a115-8a9d7c27c464",
      "name": "Wait",
      "webhookId": "6ea42071-0f43-495b-a41e-d942d9467855"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        192
      ],
      "id": "0dd36e94-961e-46fb-bf6a-266ce144e5c1",
      "name": "Wait1",
      "webhookId": "f23565d7-824f-4748-9dd6-3f3e97ca3521"
    },
    {
      "parameters": {
        "jsCode": "// BUILD FOLLOW-UP 3 (FINAL) EMAIL - personalised by partner type\nfunction getTemplate(type) {\n  const t = (type || '').toLowerCase();\n  if (t.includes('college') || t.includes('university')) return {\n    subject: (fn) => 'Last note \\u2014 campus collab with [YOUR COMPANY], ' + fn,\n    body: () => 'I\\'ll keep this short \\u2014 this is my last outreach about a campus partnership with <strong>[YOUR COMPANY]</strong>.<br><br>If the timing is not right, no worries at all. We\\'d love to reconnect whenever you\\'re planning for the next semester.'\n  };\n  if (t.includes('influencer')) return {\n    subject: (fn) => 'Last message \\u2014 the collab offer stands, ' + fn,\n    body: () => 'I won\\'t keep nudging \\u2014 promise this is the last one! The collab offer is still open whenever you\\'re ready.'\n  };\n  if (t.includes('brand')) return {\n    subject: (fn) => 'Closing the loop \\u2014 brand partnership, ' + fn,\n    body: () => 'Last note from me on the brand partnership with <strong>[YOUR COMPANY]</strong>. If it\\'s not the right fit, completely understand \\u2014 my inbox is always open.'\n  };\n  return {\n    subject: (fn) => 'Last note from me \\u2014 ' + fn,\n    body: () => 'This is my last note about partnering with <strong>[YOUR COMPANY]</strong>. Feel free to reach out whenever.'\n  };\n}\n\nconst d = $input.first().json;\nconst firstName = (d.name || 'there').split(' ')[0];\nconst tpl = getTemplate(d.partner_type);\n\nconst emailBody = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;line-height:1.6\">'\n  + '<p>Hi ' + firstName + ',</p>'\n  + '<p>' + tpl.body(firstName, d) + '</p>'\n  + '<p>If you ever want to reconnect, I\\'m always reachable at <a href=\"mailto:[YOUR EMAIL]\">[YOUR EMAIL]</a>.</p>'\n  + '<p>Wishing you all the best!</p>'\n  + '<p>\\u2014 <strong>[YOUR NAME]</strong><br>[YOUR COMPANY]</p>'\n  + '<hr style=\"border:none;border-top:1px solid #eee;margin:28px 0\">'\n  + '<p style=\"font-size:11px;color:#999\"><a href=\"mailto:[YOUR EMAIL]?subject=Unsubscribe\" style=\"color:#999\">Unsubscribe</a></p>'\n  + '</body></html>';\n\n\n// Threading headers for email client grouping\nconst inReplyTo = d.message_id ? '<' + d.message_id + '>' : '';\nconst references = d.thread_id ? '<' + d.thread_id + '>' : '';\nconst threadSubject = d.original_subject || tpl.subject(firstName);\nreturn [{ json: { ...d, emailSubject: threadSubject, emailBody, inReplyTo, references } }];"
      },
      "id": "615294c7-bc1b-4bce-b9fb-e6c5896f6f12",
      "name": "Build Follow-up 3 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        384
      ],
      "id": "616c06b5-9705-4256-9161-3c4bdfc27d60",
      "name": "Wait2",
      "webhookId": "wait2-fu3-send"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o",
          "mode": "list",
          "cachedResultName": "Test Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 860761689,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "email_type": "={{ $('Build Follow-up 3 Email').item.json.email_type }}",
            "row_number": "={{ $('Build Follow-up 3 Email').item.json.row_number }}",
            "Email": "={{ $('Build Follow-up 3 Email').item.json.Email }}",
            "Name": "={{ $('Build Follow-up 3 Email').item.json.Name }}",
            "partner_type": "={{ $('Build Follow-up 3 Email').item.json.partner_type }}",
            "sent_date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "follow_up_date": "={{ $now.plus({days: 18}).toISODate() }}",
            "thread_id": "={{ $('Loop Over Leads').item.json.thread_id }}",
            "message_id": "={{ $('Send Follow-up 3').item.json.data[0].request_id }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "partner_type",
              "displayName": "partner_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_date",
              "displayName": "sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_type",
              "displayName": "email_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_date",
              "displayName": "follow_up_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "original_subject",
              "displayName": "original_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a3001847-d790-417a-9228-3c6ad4a77b75",
      "name": "Update Status → completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KXw7mOPSGBu1qOjG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mailagent": "555046c28339d27e",
        "fromaddress": {
          "address": "noreply@thinksage.in",
          "name": "Think Sage"
        },
        "toaddress": "={{ $json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "htmlbody": "={{ $json.emailBody }}",
        "attachment": {}
      },
      "id": "c32efcbf-64d1-4e81-890c-a01106b33dc5",
      "name": "Send Follow-up 1",
      "type": "n8n-nodes-zohozeptomail.zohoZeptomail",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "zohoZeptomailOAuth2Api": {
          "id": "HePfA7nNDatRJLsa",
          "name": "Zoho ZeptoMail account"
        }
      }
    },
    {
      "parameters": {
        "mailagent": "555046c28339d27e",
        "fromaddress": {
          "address": "noreply@thinksage.in",
          "name": "Think Sage"
        },
        "toaddress": "={{ $json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "htmlbody": "={{ $json.emailBody }}",
        "attachment": {}
      },
      "id": "9520393d-d2e0-4d6f-9dd8-c11788349545",
      "name": "Send Follow-up 2",
      "type": "n8n-nodes-zohozeptomail.zohoZeptomail",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "credentials": {
        "zohoZeptomailOAuth2Api": {
          "id": "HePfA7nNDatRJLsa",
          "name": "Zoho ZeptoMail account"
        }
      }
    },
    {
      "parameters": {
        "mailagent": "555046c28339d27e",
        "fromaddress": {
          "address": "noreply@thinksage.in",
          "name": "Think Sage"
        },
        "toaddress": "={{ $json.Email }}",
        "subject": "={{ $json.emailSubject }}",
        "htmlbody": "={{ $json.emailBody }}",
        "attachment": {}
      },
      "id": "36392113-d309-47c1-9bc5-3e1db24e0f7e",
      "name": "Send Follow-up 3",
      "type": "n8n-nodes-zohozeptomail.zohoZeptomail",
      "typeVersion": 1,
      "position": [
        448,
        384
      ],
      "credentials": {
        "zohoZeptomailOAuth2Api": {
          "id": "HePfA7nNDatRJLsa",
          "name": "Zoho ZeptoMail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Cold Email – Part 2: Follow-up Scheduler\n\nRuns daily and sends follow-up emails to leads from the Tracking sheet based on their current status and scheduled follow-up date.\n\n## 📄 [Google Sheet](https://docs.google.com/spreadsheets/d/162MmWKtj8bfhY4bf48Ld-o6Vbwba1V0qqi14vTDe49o/edit#gid=860761689)\n---\n\n## 📽️[Workflow Walkthorugh](https://drive.google.com/file/d/1FqLvDqnS7o5SHudnRu_Qh2q39fJd6p2t/view?usp=sharing)\n\n---\n## How It Works\n1. Reads Tracking sheet → filters out `completed`, `replied`, `unsubscribed`\n2. Filters to leads where `follow_up_date` ≤ today\n3. Routes by status → builds personalised follow-up → sends → updates status\n\n## Tracking Sheet Columns Used\n`Email`, `status`, `follow_up_date`, `partner_type`, `name`, `message_id`, `thread_id`, `original_subject`\n\n> **Note:** `follow_up_date` must be set by Part 1 when the initial email is sent. This is what triggers the follow-up timing.\n\n## Setup\n1. Import workflow into n8n\n2. Connect **Google Sheets** + **ZeptoMail** credentials (same as Part 1)\n3. Confirm the sheet node points to the *Tracking* tab\n4. Activate — **Part 1 must be active first**\n\n## Customise\n- Replace in each Build Email node: `[YOUR NAME]`, `[YOUR COMPANY]`, `[YOUR EMAIL]`, `https://calendly.com/REPLACE_WITH_CALENDAR_LINK`\n- Schedule time → edit Run Daily node\n",
        "height": 608,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        -464
      ],
      "typeVersion": 1,
      "id": "930d1c6a-3b84-476c-91e3-32c0286e80b1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Run Daily": {
      "main": [
        [
          {
            "node": "Read Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tracking Sheet": {
      "main": [
        [
          {
            "node": "Filter Active Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Leads": {
      "main": [
        [
          {
            "node": "Filter Due Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Today": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [
          {
            "node": "Route by Follow-up Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-up 1 Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → followup_1": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-up 2 Email": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Follow-up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Follow-up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Follow-up Stage": {
      "main": [
        [
          {
            "node": "Build Follow-up 1 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Follow-up 2 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Follow-up 3 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → followup_2": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Follow-up 3 Email": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send Follow-up 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status → completed": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up 1": {
      "main": [
        [
          {
            "node": "Update Status → followup_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up 2": {
      "main": [
        [
          {
            "node": "Update Status → followup_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up 3": {
      "main": [
        [
          {
            "node": "Update Status → completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "32e177fa-9c66-4473-a6c5-9e3dfe1428d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0154973bcd92f7ef5547aed2efb328b5df5bb198f16b309c8561141355ab93"
  },
  "id": "qH4rMvf66PvHIEif",
  "tags": []
}