Check My Rank - WhatsApp Career Ranking Bot saving name and role.json
{
  "name": "Check My Rank - WhatsApp Career Ranking Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "d66a408b-8030-4b8f-b06f-539bcbf40393",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -4496,
        -176
      ],
      "webhookId": "check-my-rank-webhook",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "BJ6rUjaE5Peo7WHI",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONVERSATION STATE MANAGER — PRODUCTION\n// All fields always saved unconditionally\n// ============================================\n\nconst SUPABASE_URL = 'https://zfyyiewkkjyzxnyiabvk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmeXlpZXdra2p5enhueWlhYnZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzgwNjIsImV4cCI6MjA5MDYxNDA2Mn0.IKHgWH67KzKzLw7lgZHDTLi0UUgmAoyheSNr3O01EVU';\n\nconst readHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json'\n};\n\nconst upsertHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'resolution=merge-duplicates,return=minimal'\n};\n\nconst message = $input.first().json;\n\nif (!message.messages || !message.messages[0]) {\n  return [{ json: { action: 'IGNORE' } }];\n}\n\nconst msg = message.messages[0];\n\nif (msg.type === 'status' || (!msg.text && !msg.document)) {\n  return [{ json: { action: 'IGNORE' } }];\n}\n\nconst from = msg.from;\nconst hasText = !!msg.text;\nconst hasDocument = !!msg.document;\nconst userText = hasText ? msg.text.body.trim() : '';\nconst upperText = userText.toUpperCase().replace(/[^A-Z0-9 ]/g, '').trim();\n\n// Extract WhatsApp profile name from contacts array\nlet profileName = '';\ntry {\n  if (message.contacts && message.contacts[0] && message.contacts[0].profile) {\n    profileName = message.contacts[0].profile.name || '';\n  }\n} catch(e) { /* no contact info available */ }\n\n// ── LOAD SESSION FROM SUPABASE ──\nlet session = { state: 'IDLE', name: '', target_role: '', started_at: new Date().toISOString() };\n\ntry {\n  const rows = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/whatsapp_sessions?phone=eq.${encodeURIComponent(from)}&select=*`,\n    headers: readHeaders,\n    json: true\n  });\n  if (Array.isArray(rows) && rows.length > 0) {\n    session = rows[0];\n    session.name = session.name || profileName || '';\n    session.target_role = session.target_role || '';\n  }\n} catch(e) {\n  console.error('Supabase read error:', e.message);\n}\n\n// Always update name from WhatsApp profile if not yet saved\nif (!session.name && profileName) {\n  session.name = profileName;\n}\n\nlet action = 'IGNORE';\nlet replyText = '';\n\n// ── STATE MACHINE ──\nswitch (session.state) {\n\n  case 'IDLE':\n    if (\n      upperText === 'CHECK MY RANK' ||\n      upperText === 'CHECK' ||\n      upperText === 'CHECKMYRANK' ||\n      upperText === 'START' ||\n      upperText === 'RANK'\n    ) {\n      action = 'SEND_INTRO';\n      session.state = 'WAITING_YES';\n      session.started_at = new Date().toISOString();\n      replyText = `*Career Ranking Engine* 👋\\n\\nI'll analyze your resume and show you:\\n\\n📊 Your *career score* (0-100)\\n❌ *Why you're getting rejected*\\n✅ *What to fix* to get more interviews\\n\\nThis takes about 60 seconds.\\n\\n👉 *Type YES to start*`;\n    } else {\n      action = 'SEND_HELP';\n      session.started_at = new Date().toISOString();\n      replyText = `👋 Want to know where you stand in the job market?\\n\\n📲 Type *CHECK MY RANK* to get started!`;\n    }\n    break;\n\n  case 'WAITING_YES':\n    if (\n      upperText === 'YES' ||\n      upperText === 'Y' ||\n      upperText === 'YEAH' ||\n      upperText === 'YEP' ||\n      upperText === 'SURE' ||\n      upperText === 'OK' ||\n      upperText === 'OKAY'\n    ) {\n      action = 'ASK_NAME';\n      session.state = 'WAITING_NAME';\n      replyText = `Great! 🚀\\n\\n*Step 1 of 3*\\n\\nWhat's your *full name*?\\n\\n_Example: Rahul Sharma_`;\n    } else if (upperText === 'NO' || upperText === 'N' || upperText === 'CANCEL') {\n      action = 'SEND_REPLY';\n      session.state = 'IDLE';\n      replyText = `No worries! Whenever you're ready, type *CHECK MY RANK* 💪`;\n    } else if (\n      upperText === 'CHECK MY RANK' ||\n      upperText === 'CHECK' ||\n      upperText === 'START'\n    ) {\n      action = 'SEND_INTRO';\n      session.state = 'WAITING_YES';\n      session.started_at = new Date().toISOString();\n      replyText = `*Career Ranking Engine* 👋\\n\\nI'll analyze your resume and show you:\\n\\n📊 Your *career score* (0-100)\\n❌ *Why you're getting rejected*\\n✅ *What to fix* to get more interviews\\n\\nThis takes about 60 seconds.\\n\\n👉 *Type YES to start*`;\n    } else {\n      action = 'SEND_REPLY';\n      replyText = `Please type *YES* to start or *NO* to cancel.`;\n    }\n    break;\n\n  case 'WAITING_NAME':\n    if (hasText && userText.length >= 2 && userText.length <= 100) {\n      action = 'ASK_ROLE';\n      session.name = userText;\n      session.state = 'WAITING_ROLE';\n      replyText = `Nice to meet you, *${session.name}*! 👋\\n\\n*Step 2 of 3*\\n\\nWhich *job role* are you targeting?\\n\\n_Example: Data Analyst, Frontend Developer, Product Manager_`;\n    } else {\n      action = 'SEND_REPLY';\n      replyText = `Please enter your full name (e.g. \"Rahul Sharma\"):`;\n    }\n    break;\n\n  case 'WAITING_ROLE':\n    if (hasText && userText.length >= 2 && userText.length <= 150) {\n      action = 'ASK_RESUME';\n      session.target_role = userText;\n      session.state = 'WAITING_RESUME';\n      replyText = `Got it — *${session.target_role}* 🎯\\n\\n*Step 3 of 3*\\n\\nUpload your *resume as a PDF* 📎\\n\\n_(Tap 📎 and attach your PDF)_`;\n    } else {\n      action = 'SEND_REPLY';\n      replyText = `Please enter a valid job role (e.g. \"Data Analyst\", \"Software Engineer\"):`;\n    }\n    break;\n\n  case 'WAITING_RESUME':\n    if (hasDocument) {\n      if (msg.document.mime_type === 'application/pdf') {\n        action = 'PROCESS_RESUME';\n        session.state = 'PROCESSING';\n        replyText = `📄 Resume received!\\n\\n⏳ *Analyzing your profile for ${session.target_role}...*\\n\\nHang tight, this takes 15-30 seconds! 🔍`;\n      } else {\n        action = 'SEND_REPLY';\n        replyText = `⚠️ Please upload a *PDF file* only. DOC/DOCX not supported.`;\n      }\n    } else {\n      action = 'SEND_REPLY';\n      replyText = `Please tap 📎 and attach your resume as a *PDF file*.`;\n    }\n    break;\n\n  case 'PROCESSING':\n    action = 'SEND_REPLY';\n    replyText = `⏳ Still analyzing... please wait a moment!`;\n    break;\n\n  default:\n    session.state = 'IDLE';\n    session.started_at = new Date().toISOString();\n    action = 'SEND_HELP';\n    replyText = `Type *CHECK MY RANK* to get started!`;\n}\n\n// ── SAVE SESSION — always send ALL fields ──\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/whatsapp_sessions?on_conflict=phone`,\n    headers: upsertHeaders,\n    body: {\n      phone: from,\n      state: session.state,\n      name: session.name || '',\n      target_role: session.target_role || '',\n      started_at: session.started_at || new Date().toISOString(),\n      updated_at: new Date().toISOString()\n    },\n    json: true\n  });\n} catch(e) {\n  console.error('Supabase save error:', e.message);\n}\n\nreturn [{\n  json: {\n    action,\n    replyText,\n    from,\n    session,\n    documentId: hasDocument ? msg.document.id : null,\n    messageType: hasDocument ? 'document' : 'text'\n  }\n}];"
      },
      "id": "1b900090-204f-495a-9a8a-7a8c3bc148dc",
      "name": "Conversation State Manager",
      "type": "n8n-nodes-base.code",
      "position": [
        -4272,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "route-process",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "PROCESS_RESUME"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Process Resume"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "route-reply",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "PROCESS_RESUME"
                  },
                  {
                    "id": "route-not-ignore",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "IGNORE"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Send Reply"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "3c50510d-caaa-455c-b07d-366175d029a0",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "position": [
        -4048,
        -176
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1042655705601151",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "efd0e963-946b-4fa7-8d0f-cddfba41fe3b",
      "name": "Send Conversation Reply",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3824,
        -80
      ],
      "webhookId": "send-reply-webhook",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "LTdz57IdrMD138xA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1042655705601151",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "d90dc62d-1552-45c1-b619-3e9cd2ddff93",
      "name": "Send Processing Message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3824,
        -272
      ],
      "webhookId": "send-processing-webhook",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "LTdz57IdrMD138xA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Conversation State Manager').item.json.documentId }}"
      },
      "id": "51a93ca9-fca1-48e7-bd43-b87450b47956",
      "name": "Get Resume URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -3600,
        -272
      ],
      "webhookId": "get-resume-url-webhook",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "LTdz57IdrMD138xA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c8a2c095-5776-443e-ac02-ce161320115b",
      "name": "Download Resume",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3376,
        -272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "LTdz57IdrMD138xA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "d6c0d5ef-e6ca-4503-abe8-10b7b7f08a21",
      "name": "Extract Resume Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -3152,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-resume-text",
              "name": "resume_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "set-target-role",
              "name": "target_role",
              "type": "string",
              "value": "={{ $('Conversation State Manager').item.json.session.target_role }}"
            },
            {
              "id": "set-user-from",
              "name": "from",
              "type": "string",
              "value": "={{ $('Conversation State Manager').item.json.from }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b02e7aa6-e761-464e-baad-02c525e51e85",
      "name": "Set Resume Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -2928,
        -368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// REAL SCORING ENGINE — 5 Dimensions = 100pts\n// Impact(25) + Relevance(25) + ATS(20) + Clarity(15) + Completeness(15)\n// NO caps. NO random. NO fake data.\n// ============================================\n\nconst SUPABASE_URL = 'https://zfyyiewkkjyzxnyiabvk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmeXlpZXdra2p5enhueWlhYnZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzgwNjIsImV4cCI6MjA5MDYxNDA2Mn0.IKHgWH67KzKzLw7lgZHDTLi0UUgmAoyheSNr3O01EVU';\n\nconst readHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json'\n};\nconst upsertHeaders = { ...readHeaders, 'Prefer': 'resolution=merge-duplicates,return=minimal' };\n\nconst resumeText = $input.first().json.resume_text || '';\nconst targetRole = ($input.first().json.target_role || '').toLowerCase().trim();\nconst from = $input.first().json.from || '';\nconst text = resumeText.toLowerCase();\nconst words = text.split(/\\s+/).filter(w => w.length > 0);\nconst wordCount = words.length;\n\n// 1. IMPACT SCORE (0-25)\nlet impactScore = 0;\nconst impactVerbs = [\n  'led','built','managed','created','developed','launched','grew','increased',\n  'reduced','improved','achieved','implemented','delivered','designed','scaled',\n  'optimized','automated','generated','drove','spearheaded','founded','pioneered',\n  'established','transformed','streamlined','negotiated','secured','acquired',\n  'deployed','migrated','published','awarded','trained','mentored','directed',\n  'accelerated','boosted','cut','saved','shipped','refactored','architected'\n];\nconst uniqueVerbsUsed = [...new Set(impactVerbs.filter(v => text.includes(v)))];\nimpactScore += Math.min(uniqueVerbsUsed.length * 1.3, 12);\nconst quantPattern = /\\d+[%+xk]|\\$\\d+|\\d+\\s*(million|billion|thousand|k\\b|users|customers|clients|revenue|growth|reduction|increase|improvement|efficiency|saving|profit|leads|conversions|downloads)/gi;\nconst quantMatches = (resumeText.match(quantPattern) || []).length;\nimpactScore += Math.min(quantMatches * 2.5, 13);\nimpactScore = Math.min(Math.round(impactScore), 25);\n\n// 2. RELEVANCE SCORE (0-25)\nlet relevanceScore = 0;\nconst roleKeywordsMap = {\n  'data analyst': ['sql','python','excel','tableau','power bi','data','analytics','statistics','visualization','dashboard','reporting','pandas','numpy','etl','bigquery','snowflake','looker'],\n  'software engineer': ['javascript','python','java','react','node','api','git','aws','docker','agile','rest','sql','typescript','ci/cd','microservices','spring','kafka'],\n  'frontend developer': ['html','css','javascript','react','vue','angular','typescript','responsive','ui','ux','figma','tailwind','next.js','sass','webpack','vite','redux'],\n  'backend developer': ['python','java','node','api','database','sql','nosql','aws','docker','microservices','rest','graphql','redis','kafka','postgresql','mongodb','spring'],\n  'full stack developer': ['javascript','react','node','python','sql','api','git','docker','aws','typescript','mongodb','postgresql','graphql','rest'],\n  'product manager': ['product','roadmap','stakeholder','agile','scrum','user research','a/b testing','kpi','metrics','strategy','prioritization','jira','okr','gtm','sprint','analytics'],\n  'marketing manager': ['marketing','campaign','seo','social media','content','brand','analytics','roi','digital','engagement','conversion','google ads','email marketing','crm','hubspot'],\n  'ux designer': ['ux','ui','figma','sketch','wireframe','prototype','user research','usability','design thinking','interaction design','accessibility','user testing','adobe xd'],\n  'devops engineer': ['docker','kubernetes','ci/cd','aws','terraform','jenkins','ansible','linux','monitoring','pipeline','cloud','infrastructure','helm','prometheus','grafana'],\n  'machine learning engineer': ['python','tensorflow','pytorch','ml','deep learning','neural network','nlp','model','training','scikit-learn','feature engineering','mlops','llm','huggingface'],\n  'data scientist': ['python','r','machine learning','statistics','pandas','scikit-learn','tensorflow','sql','visualization','hypothesis','regression','classification','clustering','nlp'],\n  'business analyst': ['business analysis','requirements','stakeholder','sql','process','documentation','jira','agile','reporting','data','workflow','use case','gap analysis'],\n  'cloud engineer': ['aws','azure','gcp','terraform','kubernetes','docker','ci/cd','s3','ec2','lambda','cloudformation','iam','vpc'],\n  'android developer': ['android','kotlin','java','xml','jetpack','firebase','mvvm','retrofit','room','gradle','material design','coroutines'],\n  'ios developer': ['ios','swift','xcode','uikit','swiftui','firebase','alamofire','mvvm','core data','objective-c'],\n  'project manager': ['project management','pmp','agile','scrum','waterfall','budget','stakeholder','risk','timeline','deliverables','jira','ms project','gantt'],\n  'cybersecurity': ['security','penetration testing','firewall','siem','soc','vulnerability','encryption','compliance','iso27001','owasp','incident response','threat']\n};\n\nlet matchedKeywords = [];\nlet bestRoleMatch = null;\n\nfor (const [role, keywords] of Object.entries(roleKeywordsMap)) {\n  if (targetRole.includes(role) || role.includes(targetRole)) {\n    matchedKeywords = keywords; bestRoleMatch = role; break;\n  }\n}\nif (!bestRoleMatch) {\n  let bestOverlap = 0;\n  const targetWords = targetRole.split(' ');\n  for (const [role, keywords] of Object.entries(roleKeywordsMap)) {\n    const overlap = role.split(' ').filter(w => targetWords.some(tw => tw.includes(w) || w.includes(tw))).length;\n    if (overlap > bestOverlap) { bestOverlap = overlap; matchedKeywords = keywords; bestRoleMatch = role; }\n  }\n}\nif (matchedKeywords.length === 0) {\n  matchedKeywords = ['experience','team','project','management','communication','leadership','skills','results','strategy','analysis'];\n}\nconst keywordHits = matchedKeywords.filter(kw => text.includes(kw)).length;\nrelevanceScore = Math.round((keywordHits / matchedKeywords.length) * 25);\n\n// 3. ATS READINESS SCORE (0-20)\nlet atsScore = 0;\nconst sections = ['experience','education','skills','summary','objective','projects','certifications','achievements','work history','accomplishments','awards','publications'];\natsScore += Math.min(sections.filter(s => text.includes(s)).length * 2, 8);\nif (/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/.test(resumeText)) atsScore += 3;\nif (/\\+?\\d[\\d\\s\\-().]{7,}/.test(resumeText)) atsScore += 2;\nif (/linkedin\\.com\\/in\\//i.test(resumeText)) atsScore += 2;\nif (/github\\.com\\//i.test(resumeText)) atsScore += 2;\nconst specialDensity = (resumeText.match(/[^\\x00-\\x7F]/g) || []).length / Math.max(resumeText.length, 1);\nif (specialDensity < 0.005) atsScore += 3; else if (specialDensity < 0.02) atsScore += 1;\natsScore = Math.min(atsScore, 20);\n\n// 4. CLARITY SCORE (0-15)\nlet clarityScore = 0;\nconst sentences = resumeText.split(/[.!?]+/).filter(s => s.trim().length > 5);\nconst avgSentLen = sentences.length > 0 ? wordCount / sentences.length : 0;\nif (avgSentLen >= 8 && avgSentLen <= 20) clarityScore += 5; else if (avgSentLen > 0) clarityScore += 2;\nconst bulletCount = (resumeText.match(/[•\\-\\*]/g) || []).length;\nif (bulletCount >= 10) clarityScore += 5; else if (bulletCount >= 5) clarityScore += 3; else if (bulletCount >= 2) clarityScore += 1;\nconst yearRanges = (resumeText.match(/20\\d{2}\\s*[-to]+\\s*(20\\d{2}|present|current)/gi) || []).length;\nconst yearMentions = (resumeText.match(/20[0-2]\\d/g) || []).length;\nif (yearRanges >= 2) clarityScore += 5; else if (yearMentions >= 3) clarityScore += 3; else if (yearMentions >= 1) clarityScore += 1;\nclarityScore = Math.min(clarityScore, 15);\n\n// 5. COMPLETENESS SCORE (0-15)\nlet completenessScore = 0;\nif (wordCount >= 300 && wordCount <= 700) completenessScore += 6;\nelse if (wordCount >= 200 && wordCount <= 900) completenessScore += 4;\nelse if (wordCount >= 100) completenessScore += 2;\nif (/bachelor|master|phd|b\\.sc|m\\.sc|b\\.tech|m\\.tech|bca|mca|degree|university|college/i.test(resumeText)) completenessScore += 4;\nif (/certif|certified|aws certified|google cloud|azure|pmp|cpa|cfa|cissp|comptia|coursera|udemy/i.test(resumeText)) completenessScore += 3;\nif (/project/i.test(resumeText)) completenessScore += 2;\ncompletenessScore = Math.min(completenessScore, 15);\n\n// FINAL SCORE — true 0-100, no cap, no randomness\nconst finalScore = impactScore + relevanceScore + atsScore + clarityScore + completenessScore;\nconst normalizedRole = bestRoleMatch || targetRole;\n\n// SAVE SCORE TO SUPABASE\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/resume_scores?on_conflict=phone,target_role`,\n    headers: upsertHeaders,\n    body: { phone: from, target_role: normalizedRole, score: finalScore, scored_at: new Date().toISOString() },\n    json: true\n  });\n} catch(e) { console.error('Score save error:', e.message); }\n\n// FETCH REAL CANDIDATE STATS FROM SUPABASE\nlet totalCandidates = 1, rank = 1, percentile = 'First submission!', percentileLabel = '🌟';\ntry {\n  const allScores = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/resume_scores?target_role=eq.${encodeURIComponent(normalizedRole)}&select=score&order=score.desc`,\n    headers: readHeaders,\n    json: true\n  });\n  if (Array.isArray(allScores) && allScores.length > 1) {\n    totalCandidates = allScores.length;\n    const sorted = allScores.map(r => r.score).sort((a, b) => b - a);\n    rank = sorted.findIndex(s => s <= finalScore) + 1;\n    if (rank <= 0) rank = totalCandidates;\n    const belowCount = allScores.filter(r => r.score < finalScore).length;\n    const pct = Math.round((belowCount / totalCandidates) * 100);\n    if (pct >= 85)      { percentile = 'Top 15%';    percentileLabel = '🟢'; }\n    else if (pct >= 70) { percentile = 'Top 30%';    percentileLabel = '🟡'; }\n    else if (pct >= 50) { percentile = 'Top 50%';    percentileLabel = '🟠'; }\n    else if (pct >= 35) { percentile = 'Top 65%';    percentileLabel = '🔴'; }\n    else                { percentile = 'Bottom 35%'; percentileLabel = '🔴'; }\n  }\n} catch(e) { console.error('Stats fetch error:', e.message); }\n\n// INTERVIEW PROBABILITY — honest, can reach High\nlet probability;\nif (finalScore >= 80)      probability = 'High';\nelse if (finalScore >= 65) probability = 'Moderate';\nelse if (finalScore >= 50) probability = 'Low';\nelse                       probability = 'Very Low';\n\n// EXTRACT EMAIL FROM RESUME\nlet extractedEmail = '';\nconst emailMatch = resumeText.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/);\nif (emailMatch) extractedEmail = emailMatch[0];\n\n// EXTRACT LINKEDIN URL FROM RESUME\nlet extractedLinkedin = '';\nconst linkedinMatch = resumeText.match(/(?:https?:\\/\\/)?(?:www\\.)?linkedin\\.com\\/in\\/[a-zA-Z0-9_\\-]+\\/?/i);\nif (linkedinMatch) {\n  extractedLinkedin = linkedinMatch[0];\n  if (!extractedLinkedin.startsWith('http')) extractedLinkedin = 'https://' + extractedLinkedin;\n}\n\n// SAVE EMAIL, LINKEDIN, RESUME TEXT TO WHATSAPP_SESSIONS\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/whatsapp_sessions?phone=eq.${encodeURIComponent(from)}`,\n    headers: { ...readHeaders, 'Prefer': 'return=minimal' },\n    body: {\n      email: extractedEmail,\n      linkedin_url: extractedLinkedin,\n      resume_url: ''\n    },\n    json: true\n  });\n} catch(e) { console.error('Email/LinkedIn/Resume save error:', e.message); }\n\nreturn [{\n  json: {\n    finalScore, percentile, percentileLabel, rank, totalCandidates, probability,\n    impactScore, relevanceScore, atsScore, clarityScore, completenessScore,\n    bestRoleMatch: normalizedRole, wordCount, extractedEmail, extractedLinkedin,\n    targetRole: $input.first().json.target_role, from, resume_text: resumeText\n  }\n}];"
      },
      "id": "22a23403-7973-487c-a20c-2769cc9bd076",
      "name": "Scoring Engine",
      "type": "n8n-nodes-base.code",
      "position": [
        -2480,
        -464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 800,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert ATS resume reviewer. Return ONLY valid JSON, no extra text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this resume for the role of \" + $json.target_role + \".\\n\\nResume:\\n\" + $json.resume_text.substring(0, 3000) + \"\\n\\nReturn ONLY this JSON:\\n{\\n  \\\"rejection_reasons\\\": [\\n    { \\\"reason\\\": \\\"specific reason\\\" },\\n    { \\\"reason\\\": \\\"second reason\\\" },\\n    { \\\"reason\\\": \\\"third reason\\\" }\\n  ],\\n  \\\"fixes\\\": [\\n    { \\\"fix\\\": \\\"specific fix\\\" },\\n    { \\\"fix\\\": \\\"second fix\\\" },\\n    { \\\"fix\\\": \\\"third fix\\\" }\\n  ],\\n  \\\"one_liner\\\": \\\"one sentence summary of biggest weakness\\\"\\n}\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "80125c14-9041-40cb-b6da-835b9c2816be",
      "name": "OpenAI - Rejection Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2704,
        -272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "kbW25iDU5jvZPvDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-ai",
              "name": "ai_analysis",
              "type": "object",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "44ed428a-7d80-4ad8-85da-d11908efafb8",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "position": [
        -2480,
        -272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "8f2f629c-e51b-45f7-8701-e36ce58340cf",
      "name": "Merge Score + AI",
      "type": "n8n-nodes-base.merge",
      "position": [
        -2256,
        -368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// FORMAT FINAL MESSAGE — PRODUCTION\n// No mock/fallback results. No share footer. No name.\n\nconst SUPABASE_URL = 'https://zfyyiewkkjyzxnyiabvk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmeXlpZXdra2p5enhueWlhYnZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzgwNjIsImV4cCI6MjA5MDYxNDA2Mn0.IKHgWH67KzKzLw7lgZHDTLi0UUgmAoyheSNr3O01EVU';\n\nconst item = $input.first().json;\n\nconst score = item.finalScore;\nconst percentile = item.percentile;\nconst percentileLabel = item.percentileLabel;\nconst rank = item.rank;\nconst total = item.totalCandidates;\nconst probability = item.probability;\nconst targetRole = item.targetRole;\nconst ai = item.ai_analysis;\n\n// Score bar\nconst filled = Math.round(score / 10);\nconst empty = 10 - filled;\nconst scoreBar = '█'.repeat(filled) + '░'.repeat(empty);\n\n// Rejection reasons — real AI output only, no fallback\nlet rejectionBlock = '';\nai.rejection_reasons.slice(0, 3).forEach((r, i) => {\n  rejectionBlock += `${i + 1}. ${r.reason}\\n`;\n});\n\n// Fixes — real AI output only, no fallback\nlet fixesBlock = '';\nai.fixes.slice(0, 3).forEach((f, i) => {\n  fixesBlock += `${i + 1}. ${f.fix}\\n`;\n});\n\nconst oneLiner = ai.one_liner;\n\nconst message = `*CAREER RANK REPORT*\n━━━━━━━━━━━━━━━━━━\n\n🎯 Role: *${targetRole}*\n\n📊 *Your Score: ${score}/100*\n${scoreBar}\n\n📈 Percentile: ${percentileLabel} *${percentile}*\n🏅 Rank: *#${rank}* out of ${total}+ candidates\n⚡ Interview Probability: *${probability}*\n\n━━━━━━━━━━━━━━━━━━\n❌ *WHY YOU'RE GETTING REJECTED:*\n\n${rejectionBlock}\n💡 _${oneLiner}_\n\n━━━━━━━━━━━━━━━━━━\n✅ *WHAT TO FIX:*\n\n${fixesBlock}\n━━━━━━━━━━━━━━━━━━\n🚀 *Want to improve your rank?*\n\nGet personalized job recommendations 👇\n🔗 https://meracareer.io`;\n\n// Reset session to IDLE — preserve name, email, linkedin, resume\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/whatsapp_sessions?phone=eq.${encodeURIComponent(item.from)}`,\n    headers: {\n      'apikey': SUPABASE_KEY,\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: {\n      state: 'IDLE',\n      updated_at: new Date().toISOString()\n    },\n    json: true\n  });\n} catch(e) {\n  console.error('Session reset error:', e.message);\n}\n\nreturn [{\n  json: {\n    from: item.from,\n    message: message\n  }\n}];"
      },
      "id": "518ea4bb-b72f-48cf-97b5-091947867e0a",
      "name": "Format Result Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -2032,
        -368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1042655705601151",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "f13b861b-14ad-4345-b235-d8c699ff5fd6",
      "name": "Send Final Result",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -1808,
        -368
      ],
      "webhookId": "send-result-webhook",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "LTdz57IdrMD138xA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Save resume reference (WhatsApp media URL + ID) to Supabase\n// Simple & reliable — no binary upload needed\n\nconst SUPABASE_URL = 'https://zfyyiewkkjyzxnyiabvk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmeXlpZXdra2p5enhueWlhYnZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzgwNjIsImV4cCI6MjA5MDYxNDA2Mn0.IKHgWH67KzKzLw7lgZHDTLi0UUgmAoyheSNr3O01EVU';\n\n// Get data from Get Resume URL node — it has the WhatsApp media info\nconst mediaInfo = $('Get Resume URL').item.json;\nconst phone = $('Conversation State Manager').item.json.from;\n\nconst mediaId = mediaInfo.id || '';\nconst mediaUrl = mediaInfo.url || '';\nconst mimeType = mediaInfo.mime_type || 'application/pdf';\nconst fileSize = mediaInfo.file_size || 0;\n\nconsole.log('Saving resume reference for phone:', phone);\nconsole.log('Media ID:', mediaId, '| URL:', mediaUrl.substring(0, 60) + '...');\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/whatsapp_sessions?phone=eq.${encodeURIComponent(phone)}`,\n    headers: {\n      'apikey': SUPABASE_KEY,\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: {\n      resume_url: mediaUrl,\n      resume_media_id: mediaId,\n      resume_mime_type: mimeType,\n      resume_file_size: fileSize\n    },\n    json: true\n  });\n  console.log('Resume reference saved to DB successfully!');\n} catch(e) {\n  console.error('Save error:', e.message);\n}\n\nreturn [{ json: { resume_url: mediaUrl, resume_media_id: mediaId, phone } }];"
      },
      "id": "18601d92-eec2-4dd6-8caf-63fe05be9598",
      "name": "Save Resume Reference",
      "type": "n8n-nodes-base.code",
      "position": [
        -3380,
        -112
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Conversation State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation State Manager": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Send Processing Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Conversation Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Message": {
      "main": [
        [
          {
            "node": "Get Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume URL": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Resume Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "Set Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resume Data": {
      "main": [
        [
          {
            "node": "Scoring Engine",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Rejection Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring Engine": {
      "main": [
        [
          {
            "node": "Merge Score + AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rejection Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge Score + AI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Score + AI": {
      "main": [
        [
          {
            "node": "Format Result Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result Message": {
      "main": [
        [
          {
            "node": "Send Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d50d26a5-5ce2-4730-adc5-ce715bc0f5c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0154973bcd92f7ef5547aed2efb328b5df5bb198f16b309c8561141355ab93"
  },
  "id": "OevNMussaW9BYWRB",
  "tags": []
}