Google Sheets to HeyGen Video.json
{
  "name": "Google Sheets to HeyGen Video",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"4185302635fa4de29a99ad8ca17475bc\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.Script }}\",\n        \"voice_id\": \"d7f0f1713ccd458790d6cffb41ad27e2\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        24
      ],
      "id": "cfc8bd52-891c-459f-8efa-8e2bda22eed0",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        24
      ],
      "id": "7b5d2f73-4f18-4a2e-a5b8-6ac382507859",
      "name": "Wait",
      "webhookId": "2b3cee80-6385-4f65-acfd-a2e469662e32"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generate Video').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        24
      ],
      "id": "e2741089-d1d3-43cd-ad0e-b2982716935d",
      "name": "Video Status"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1120,
        96
      ],
      "id": "91fa0926-b117-46f0-b2ac-f4b5e3fba397",
      "name": "Process One at a Time"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ef89b948-10ec-41fd-b76d-556666ea2d08",
      "name": "Is Complete?1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        216
      ],
      "id": "c2943681-52f3-45f6-9331-dbc331f359a3",
      "name": "Wait Before Retry1",
      "webhookId": "4cb8926a-8a1b-40b3-be88-1e2a822fc92d"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk",
          "mode": "list",
          "cachedResultName": "Google Sheets Script to HeyGen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Completed",
            "Video_URL": "={{ $json.data.video_url }}",
            "Completed_At": "={{ $now.toISO() }}",
            "row_number": 0,
            "Row_ID": "={{ $('Process One at a Time').item.json.Row_ID }}"
          },
          "matchingColumns": [
            "Row_ID"
          ],
          "schema": [
            {
              "id": "Row_ID",
              "displayName": "Row_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_URL",
              "displayName": "Video_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed_At",
              "displayName": "Completed_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        0
      ],
      "id": "8fd5d858-de0d-440e-8a9a-dc24c2998fce",
      "name": "Update Sheet with Video1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Script }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.Status }}",
              "operation": "notEqual",
              "value2": "Completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1344,
        96
      ],
      "id": "b3e85aa7-c2b2-4f34-9f1e-018a23ab0b53",
      "name": "Has Script?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51d6ebcf-1b85-4752-a61f-a343c5d0e08c",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        24
      ],
      "id": "5443c4d8-be4f-4a32-a9fd-c04a34c85257",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk",
          "mode": "list",
          "cachedResultName": "Google Sheets Script to HeyGen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        96
      ],
      "id": "c759e8bf-eeae-42df-a32b-8333862fd02d",
      "name": "Google Sheets Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Status": {
      "main": [
        [
          {
            "node": "Is Complete?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [],
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?1": {
      "main": [
        [
          {
            "node": "Update Sheet with Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry1": {
      "main": [
        [
          {
            "node": "Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Video1": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Script?": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Has Script?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3204ffbd-8cc4-49f1-97f5-01aca807b542",
  "meta": {
    "instanceId": "cb0154973bcd92f7ef5547aed2efb328b5df5bb198f16b309c8561141355ab93"
  },
  "id": "jqjWkC13RcSN86Lu",
  "tags": []
}