N8N Workflow Template Maker (2).json
{
  "name": "N8N Workflow Template Maker",
  "nodes": [
    {
      "parameters": {
        "content": "## Generate n8n Workflow Documentation with AI\n\nThis workflow automates the creation of professional documentation and template-ready sticky notes for any n8n workflow using AI.\n\n### How it works\n1. Receives an n8n workflow JSON file via Telegram.\n2. Scrubs sensitive data and analyzes workflow structure.\n3. Uses Google Gemini AI to generate comprehensive documentation.\n4. Adds a main sticky note and logical section stickies.\n5. Sends back the documented workflow, checklist, and guide.\n\n### Setup\n1. Configure Telegram Trigger credentials.\n2. Configure Telegram API credentials for sending messages.\n3. Configure Google Gemini Chat Model (Google Palm API) credentials.\n\n### Customization\nAdjust the prompt in the \"AI Template Generator\" node to modify documentation style or requirements.",
        "height": 600,
        "width": 500,
        "color": 2
      },
      "id": "bae2c104-f3bf-47c7-8252-d25b48c137a7",
      "name": "Main Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        368
      ],
      "id": "ccc6b9db-e6e4-4065-bf53-c5ff05ecdb6b",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {
          "mimeType": "={{ $json.message.document.mime_type }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        288
      ],
      "id": "8dfa2cc3-9245-471a-9e73-3cec307ee4f4",
      "name": "Get a file",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// COMPREHENSIVE WORKFLOW SCRUBBER & ANALYZER - v2\n// Fixes: .first() bug, jsCode field protection, community node detection\n\nfunction safeGet(obj, path, defaultValue = null) {\n  try { return path.split('.').reduce((acc, part) => acc?.[part], obj) ?? defaultValue; }\n  catch (e) { return defaultValue; }\n}\nfunction isValidArray(arr) { return Array.isArray(arr) && arr.length > 0; }\nfunction isValidObject(obj) { return obj && typeof obj === 'object' && !Array.isArray(obj); }\n\ntry {\n  let rawInput = $input?.item?.json || $input?.first()?.json || {};\n  let w = rawInput.data || rawInput;\n  if (w.data) {\n    if (typeof w.data === 'string') { try { w = JSON.parse(w.data); } catch(e) { w = w.data; } }\n    else if (w.data.nodes) { w = w.data; }\n  }\n  if (!isValidObject(w)) throw new Error('Invalid workflow: not an object');\n  if (!isValidArray(w.nodes)) throw new Error('Invalid workflow: empty nodes');\n\n  const scrubbed = { credentials: 0, webhooks: 0, urls: 0, emails: 0, apiKeys: 0, documentIds: 0, phoneNumbers: 0, sensitiveFields: 0 };\n  const patterns = {\n    email: /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g,\n    phone: /\\+?[1-9]\\d{1,14}/g,\n    apiKey: /(api[_-]?key|token|secret|password|bearer|auth)\\s*[:=]\\s*['\"\\\"]?([a-zA-Z0-9_\\-\\.]+)['\"\\\"]?/gi,\n    url: /https?:\\/\\/[^\\s\"'<>]+/g,\n    uuid: /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/gi\n  };\n  const sensitiveKeys = ['webhookId','cachedResultUrl','cachedResultName','instanceId','apiKey','token','secret','password','accessToken','refreshToken','privateKey','clientSecret','sessionId'];\n\n  // Code fields — skip scrubbing to preserve working logic\n  const codeKeys = ['jsCode','pythonCode','groovyCode','rubyCode'];\n\n  function scrubObject(obj, path, depth) {\n    path = path || ''; depth = depth || 0;\n    if (depth > 50) return obj;\n    if (!obj || typeof obj !== 'object') return obj;\n    if (Array.isArray(obj)) return obj.map((item, idx) => scrubObject(item, path + '[' + idx + ']', depth + 1));\n    const cleaned = {};\n    for (const [key, value] of Object.entries(obj)) {\n      const lowerKey = key.toLowerCase();\n      try {\n        if (key === 'credentials' && isValidObject(value)) {\n          scrubbed.credentials++;\n          const credObj = {};\n          for (const credKey of Object.keys(value)) credObj[credKey] = { id: '' };\n          cleaned[key] = credObj; continue;\n        }\n        if (sensitiveKeys.some(sk => lowerKey.includes(sk.toLowerCase()))) {\n          scrubbed.sensitiveFields++; cleaned[key] = ''; continue;\n        }\n        // Preserve code fields — scrubbing would corrupt working JS/Python\n        if (codeKeys.includes(key)) { cleaned[key] = value; continue; }\n        if (isValidObject(value) && value.__rl === true) {\n          scrubbed.documentIds++;\n          cleaned[key] = { __rl: true, mode: value.mode || 'id', value: 'YOUR_RESOURCE_ID_HERE' }; continue;\n        }\n        if (typeof value === 'string') {\n          let sv = value; let mod = false;\n          if (!value.trim()) { cleaned[key] = value; continue; }\n          if (patterns.url.test(value) && !value.includes('={{') && !value.includes('$json')) {\n            scrubbed.urls++;\n            sv = value.includes('drive.google.com') ? 'YOUR_GOOGLE_DRIVE_URL_HERE'\n               : value.includes('webhook') ? 'YOUR_WEBHOOK_URL_HERE'\n               : value.includes('api') ? 'YOUR_API_ENDPOINT_HERE' : 'YOUR_URL_HERE';\n            mod = true;\n          }\n          if (!mod && patterns.email.test(value) && !value.includes('example.com')) {\n            scrubbed.emails++; sv = sv.replace(patterns.email, 'YOUR_EMAIL_HERE'); mod = true;\n          }\n          if (!mod && patterns.apiKey.test(value) && !value.includes('={{')) {\n            scrubbed.apiKeys++; sv = 'YOUR_API_KEY_HERE'; mod = true;\n          }\n          if (!mod && lowerKey.includes('phone') && patterns.phone.test(value)) {\n            scrubbed.phoneNumbers++; sv = 'YOUR_PHONE_NUMBER_HERE';\n          }\n          cleaned[key] = sv;\n        } else if (isValidObject(value)) {\n          cleaned[key] = scrubObject(value, (path ? path + '.' : '') + key, depth + 1);\n        } else { cleaned[key] = value; }\n      } catch (err) { cleaned[key] = value; }\n    }\n    return cleaned;\n  }\n\n  let minX = Infinity, minY = Infinity, maxX = -Infinity, maxY = -Infinity;\n  let hasValidPositions = false;\n  let actionNodes = [], triggerNodes = [];\n\n  w.nodes.forEach(n => {\n    try {\n      if (n.type?.toLowerCase().includes('trigger')) { triggerNodes.push(n.name || n.type || 'Unknown Trigger'); }\n      else if (n.type !== 'n8n-nodes-base.stickyNote') { actionNodes.push(n.name || n.type || 'Unknown Node'); }\n      if (n.position && Array.isArray(n.position) && n.position.length >= 2 && n.type !== 'n8n-nodes-base.stickyNote') {\n        const x = Number(n.position[0]); const y = Number(n.position[1]);\n        if (!isNaN(x) && !isNaN(y) && isFinite(x) && isFinite(y)) {\n          minX = Math.min(minX, x); minY = Math.min(minY, y);\n          maxX = Math.max(maxX, x); maxY = Math.max(maxY, y);\n          hasValidPositions = true;\n        }\n      }\n    } catch (err) {}\n  });\n\n  if (!hasValidPositions || !isFinite(minX)) { minX = 0; minY = 0; maxX = 800; maxY = 600; }\n\n  // ============ COMMUNITY NODE DETECTION ============\n  const communityNodes = w.nodes\n    .filter(n => n.type &&\n      !n.type.startsWith('n8n-nodes-base.') &&\n      !n.type.startsWith('@n8n/n8n-nodes-langchain.') &&\n      n.type !== 'n8n-nodes-base.stickyNote')\n    .map(n => n.type);\n\n  w.nodes = w.nodes.map((node, idx) => {\n    try {\n      const s = scrubObject(node);\n      if (!s.id) s.id = 'node-' + idx + '-' + Math.random().toString(36).substr(2, 9);\n      if (!s.name) s.name = s.type || 'Node ' + (idx + 1);\n      if (!s.type) s.type = 'n8n-nodes-base.noOp';\n      if (!s.position || !Array.isArray(s.position)) s.position = [minX + (idx * 200), minY];\n      return s;\n    } catch (err) {\n      return { id: 'node-' + idx + '-fallback', name: node.name || 'Node ' + (idx + 1), type: node.type || 'n8n-nodes-base.noOp', position: node.position || [minX + (idx * 200), minY], parameters: {} };\n    }\n  });\n\n  delete w.meta; delete w.pinData; delete w.instanceId; delete w.versionId;\n  if (!w.connections) w.connections = {};\n\n  // FIX: .first() — was missing parentheses, returned method object not result\n  const chatId = safeGet($('Telegram Trigger').first(), 'json.message.chat.id') ||\n                 safeGet($('Telegram Trigger').first(), 'json.message.from.id') ||\n                 'unknown';\n\n  const originalFileName = safeGet(rawInput, 'originalFileName') ||\n                           safeGet(rawInput, 'data.name') || w.name || 'workflow';\n\n  return [{ json: {\n    cleanedWorkflow: w, workflowString: JSON.stringify(w), chatId, originalFileName,\n    analysis: {\n      totalNodes: w.nodes.length, actionNodes: actionNodes.length, triggerNodes: triggerNodes.length,\n      workflowBounds: { minX, minY, maxX, maxY }, hasValidPositions,\n      hasCommunityNodes: communityNodes.length > 0, communityNodeTypes: communityNodes,\n      scrubbedItems: scrubbed, totalScrubbed: Object.values(scrubbed).reduce((a, b) => a + b, 0)\n    }\n  }}];\n\n} catch (error) {\n  return [{ json: {\n    error: true, errorMessage: error.message || 'Unknown error', errorStack: error.stack,\n    cleanedWorkflow: null, workflowString: null, chatId: 'error', originalFileName: 'error',\n    analysis: { totalNodes: 0, workflowBounds: { minX: 0, minY: 0, maxX: 0, maxY: 0 }, hasCommunityNodes: false, communityNodeTypes: [], scrubbedItems: {}, totalScrubbed: 0 }\n  }}];\n}"
      },
      "name": "Scrub & Analyze Workflow1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        288
      ],
      "id": "7f5f807f-3ff4-439c-b609-dc8b8cbcc751"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        496
      ],
      "id": "f34b2f4a-f761-4cc5-96cb-270e703ffb21",
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"mainSticky\":{\"parameters\":{\"content\":\"string\",\"height\":560,\"width\":500,\"color\":2},\"id\":\"string\",\"name\":\"Sticky Note\",\"type\":\"n8n-nodes-base.stickyNote\",\"position\":[-1232,-112],\"typeVersion\":1},\"sectionStickies\":[{\"parameters\":{\"content\":\"string\",\"height\":300,\"width\":600,\"color\":7},\"id\":\"string\",\"name\":\"string\",\"type\":\"n8n-nodes-base.stickyNote\",\"position\":[0,0],\"typeVersion\":1}],\"titleSuggestions\":[\"string\",\"string\"],\"templateDescription\":\"string\",\"tags\":[\"string\"],\"validationResults\":{\"titleFormat\":true,\"descriptionLength\":true,\"hasStickyNotes\":true,\"credentialsRemoved\":true}}"
      },
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1376,
        496
      ],
      "id": "c03afbf3-5af2-4a37-9f75-e8567e341a07"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.document }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check Input Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        368
      ],
      "id": "b6a23671-a846-4995-9d9a-e2f58d019dda"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=**Text Not Accepted**\n\nn8n workflows are too large for Telegram text messages (limit: 4096 chars).\n\nPlease **drag and drop the .json file** instead.",
        "additionalFields": {}
      },
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        464
      ],
      "id": "6eb4d39a-1280-4ffb-8d84-63c2e8dcb6cb",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        800,
        288
      ],
      "id": "0d974f45-a7e8-4c09-91b9-27843f39ae37",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert n8n Template Engineer. Analyze the workflow JSON below and generate documentation per n8n Template Guidelines.\n\n### INPUT:\n{{ $json.workflowString }}\nCommunity nodes present: {{ $json.analysis.hasCommunityNodes }}\nCommunity node types: {{ $json.analysis.communityNodeTypes }}\n\n### RULES:\n1. Return raw JSON only — no Markdown code blocks, no HTML.\n2. Clear, professional English.\n3. Output must match the schema exactly.\n\n### MAIN STICKY (color 2 = yellow, 500×600px) — use this structure:\n## [Action Verb + Thing + Context]\n[1-sentence value proposition]\n\n### How it works\n[Numbered steps, max 10 words each]\n\n### Setup\n[Numbered checklist of credentials and config]\n[If hasCommunityNodes is true, add final item: \"Install required community nodes (see Important section).\"]\n\n### Customization\n[1 tip. If user-configurable values exist (IDs, emails, endpoints), add: \"Consolidate user-specific values in a Set node at the workflow start for easy configuration.\"]\n\n### Important\n[Only include if hasCommunityNodes is true: \"Important: This workflow requires a self-hosted n8n instance. Community nodes used: [list communityNodeTypes]\"]\n\n### SECTION STICKIES (color 7 = white, only if 5+ nodes):\nShort ## Heading per logical group (e.g. ## 1. Trigger, ## 2. Processing, ## 3. Output).\n\n### METADATA:\n- titleSuggestions: 3 SEO-friendly titles\n- templateDescription: ≤3 sentences / 60 words — Why and Result only, no steps\n- tags: 3–5 relevant tags\n- credentialsRemoved: false only if hardcoded secrets remain\n\n### OUTPUT SCHEMA (return ONLY this JSON object):\n{\"mainSticky\":{\"parameters\":{\"content\":\"string\",\"height\":600,\"width\":500,\"color\":2},\"name\":\"Main Sticky\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1},\"sectionStickies\":[{\"parameters\":{\"content\":\"string\",\"height\":300,\"width\":600,\"color\":7},\"name\":\"string\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1}],\"titleSuggestions\":[\"string\",\"string\",\"string\"],\"templateDescription\":\"string\",\"tags\":[\"string\"],\"validationResults\":{\"titleFormat\":true,\"descriptionLength\":true,\"hasStickyNotes\":true,\"credentialsRemoved\":true}}",
        "hasOutputParser": true
      },
      "name": "AI Template Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1232,
        288
      ],
      "id": "0703748b-14ed-430d-9077-2a5a38b9b486"
    },
    {
      "parameters": {
        "jsCode": "// ASSEMBLE FINAL TEMPLATE - ROBUST VERSION\n// Handles any workflow structure with intelligent positioning\n\n// ============ HELPER FUNCTIONS ============\n\nfunction safeGet(obj, path, defaultValue = null) {\n  try {\n    return path.split('.').reduce((acc, part) => acc?.[part], obj) ?? defaultValue;\n  } catch (e) {\n    return defaultValue;\n  }\n}\n\nfunction isValidArray(arr) {\n  return Array.isArray(arr) && arr.length > 0;\n}\n\nfunction isValidObject(obj) {\n  return obj && typeof obj === 'object' && !Array.isArray(obj);\n}\n\nfunction ensureValidPosition(pos, fallback = [0, 0]) {\n  if (!Array.isArray(pos) || pos.length < 2) return fallback;\n  const x = Number(pos[0]);\n  const y = Number(pos[1]);\n  return [isFinite(x) ? x : fallback[0], isFinite(y) ? y : fallback[1]];\n}\n\n// ============ INPUT VALIDATION ============\n\ntry {\n  // 1. GET INPUTS WITH FALLBACKS\n  const cleanData = safeGet($('Scrub & Analyze Workflow1'), 'item.json', {});\n  const triggerData = safeGet($('Telegram Trigger'), 'first.json', {});\n  const aiData = safeGet($input, 'item.json', {});\n  \n  // Check for errors from previous node\n  if (cleanData.error) {\n    throw new Error(`Previous node error: ${cleanData.errorMessage}`);\n  }\n  \n  // Validate required data\n  if (!isValidObject(cleanData.cleanedWorkflow)) {\n    throw new Error('Missing cleaned workflow data');\n  }\n  \n  if (!isValidArray(cleanData.cleanedWorkflow.nodes)) {\n    throw new Error('Workflow has no nodes');\n  }\n  \n  // ============ PREPARE WORKFLOW ============\n  \n  const wf = JSON.parse(JSON.stringify(cleanData.cleanedWorkflow)); // Deep clone\n  const baseFileName = (cleanData.originalFileName || 'workflow').replace(/\\.json$/i, '');\n  const analysis = cleanData.analysis || {};\n  \n  // Get bounds with fallbacks\n  let bounds = analysis.workflowBounds || { minX: 0, minY: 0, maxX: 800, maxY: 600 };\n  \n  // Validate bounds\n  if (!isFinite(bounds.minX) || !isFinite(bounds.maxX)) {\n    bounds = { minX: 0, minY: 0, maxX: 800, maxY: 600 };\n  }\n  \n  // Recalculate bounds if needed\n  if (bounds.minX === Infinity || !analysis.hasValidPositions) {\n    let minX = Infinity, minY = Infinity, maxX = -Infinity, maxY = -Infinity;\n    let foundValid = false;\n    \n    wf.nodes.forEach(n => {\n      if (n.position && n.type !== 'n8n-nodes-base.stickyNote') {\n        const pos = ensureValidPosition(n.position);\n        minX = Math.min(minX, pos[0]);\n        minY = Math.min(minY, pos[1]);\n        maxX = Math.max(maxX, pos[0]);\n        maxY = Math.max(maxY, pos[1]);\n        foundValid = true;\n      }\n    });\n    \n    if (foundValid && isFinite(minX)) {\n      bounds = { minX, minY, maxX, maxY };\n    } else {\n      // Apply default grid layout\n      wf.nodes.forEach((n, idx) => {\n        if (n.type !== 'n8n-nodes-base.stickyNote') {\n          n.position = [idx * 220, 0];\n        }\n      });\n      bounds = { minX: 0, minY: 0, maxX: wf.nodes.length * 220, maxY: 400 };\n    }\n  }\n  \n  // ============ REMOVE OLD STICKIES ============\n  \n  wf.nodes = wf.nodes.filter(n => {\n    try {\n      return !(n.type === 'n8n-nodes-base.stickyNote' && [2, 7].includes(safeGet(n, 'parameters.color')));\n    } catch (e) {\n      return true;\n    }\n  });\n  \n  // ============ ADD MAIN STICKY ============\n  \n  const aiOutput = safeGet(aiData, 'output', {});\n  \n  if (isValidObject(aiOutput.mainSticky)) {\n    try {\n      const mainSticky = JSON.parse(JSON.stringify(aiOutput.mainSticky));\n      mainSticky.id = 'sticky-main-' + Math.random().toString(36).substring(7);\n      \n      // Ensure parameters\n      if (!mainSticky.parameters) mainSticky.parameters = {};\n      mainSticky.parameters.color = 2;\n      mainSticky.parameters.height = mainSticky.parameters.height || 600;\n      mainSticky.parameters.width = mainSticky.parameters.width || 500;\n      \n      // Position to the left\n      const offsetX = mainSticky.parameters.width + 40;\n      mainSticky.position = [bounds.minX - offsetX, bounds.minY];\n      \n      // Ensure required fields\n      mainSticky.name = mainSticky.name || 'Main Documentation';\n      mainSticky.type = 'n8n-nodes-base.stickyNote';\n      mainSticky.typeVersion = 1;\n      \n      wf.nodes.unshift(mainSticky);\n    } catch (err) {\n      // Skip if main sticky fails\n    }\n  }\n  \n  // ============ INTELLIGENT SECTION STICKY POSITIONING ============\n  \n  if (isValidArray(aiOutput.sectionStickies)) {\n    try {\n      const sectionStickies = JSON.parse(JSON.stringify(aiOutput.sectionStickies));\n      const numSections = sectionStickies.length;\n      \n      // Get workflow nodes (non-sticky, with valid positions)\n      const workflowNodes = wf.nodes\n        .filter(n => {\n          try {\n            return n.type !== 'n8n-nodes-base.stickyNote' && \n                   Array.isArray(n.position) && \n                   isFinite(n.position[0]);\n          } catch (e) {\n            return false;\n          }\n        })\n        .sort((a, b) => a.position[0] - b.position[0]);\n      \n      if (workflowNodes.length > 0 && numSections > 0) {\n        // ============ SMART GROUPING ALGORITHM ============\n        \n        // Calculate workflow width and density\n        const workflowWidth = bounds.maxX - bounds.minX;\n        const avgNodeSpacing = workflowWidth / Math.max(workflowNodes.length - 1, 1);\n        \n        // Detect natural groupings based on spacing\n        const groups = [];\n        let currentGroup = [workflowNodes[0]];\n        \n        for (let i = 1; i < workflowNodes.length; i++) {\n          const prevNode = workflowNodes[i - 1];\n          const currNode = workflowNodes[i];\n          const gap = currNode.position[0] - prevNode.position[0];\n          \n          // If gap is significantly larger than average, start new group\n          if (gap > avgNodeSpacing * 1.5 && groups.length < numSections - 1) {\n            groups.push(currentGroup);\n            currentGroup = [currNode];\n          } else {\n            currentGroup.push(currNode);\n          }\n        }\n        groups.push(currentGroup);\n        \n        // If we have fewer natural groups than stickies, divide evenly\n        if (groups.length < numSections) {\n          const nodesPerSection = Math.ceil(workflowNodes.length / numSections);\n          groups.length = 0;\n          for (let i = 0; i < numSections; i++) {\n            const start = i * nodesPerSection;\n            const end = Math.min(start + nodesPerSection, workflowNodes.length);\n            if (start < workflowNodes.length) {\n              groups.push(workflowNodes.slice(start, end));\n            }\n          }\n        }\n        \n        // If we have more groups than stickies, merge smallest groups\n        while (groups.length > numSections && groups.length > 1) {\n          groups.sort((a, b) => a.length - b.length);\n          const smallest = groups.shift();\n          groups[0] = [...smallest, ...groups[0]];\n        }\n        \n        // ============ POSITION STICKIES ============\n        \n        sectionStickies.forEach((sticky, index) => {\n          try {\n            sticky.id = `sticky-section-${index}-` + Math.random().toString(36).substring(7);\n            \n            // Ensure parameters\n            if (!sticky.parameters) sticky.parameters = {};\n            sticky.parameters.color = 7;\n            const stickyWidth = sticky.parameters.width || 600;\n            const stickyHeight = sticky.parameters.height || 200;\n            \n            // Ensure required fields\n            sticky.name = sticky.name || `Section ${index + 1}`;\n            sticky.type = 'n8n-nodes-base.stickyNote';\n            sticky.typeVersion = 1;\n            \n            if (groups[index] && groups[index].length > 0) {\n              const sectionNodes = groups[index];\n              \n              // Calculate section bounds including Y for dynamic height\n              const positions = sectionNodes.map(n => ensureValidPosition(n.position));\n              const sectionMinX = Math.min(...positions.map(p => p[0]));\n              const sectionMaxX = Math.max(...positions.map(p => p[0]));\n              const sectionMinY = Math.min(...positions.map(p => p[1]));\n              const sectionMaxY = Math.max(...positions.map(p => p[1]));\n              \n              // Wrap sticky around nodes (not floating above)\n              const dynamicWidth = Math.max(stickyWidth, (sectionMaxX - sectionMinX) + 220);\n              const dynamicHeight = Math.max(160, (sectionMaxY - sectionMinY) + 200);\n              sticky.parameters.width = dynamicWidth;\n              sticky.parameters.height = dynamicHeight;\n              sticky.position = [Math.round(sectionMinX - 20), Math.round(sectionMinY - 60)];\n            } else {\n              // Fallback: distribute horizontally\n              const spacing = Math.max(400, workflowWidth / numSections);\n              sticky.position = [\n                Math.round(bounds.minX + (index * spacing)),\n                Math.round(bounds.minY - stickyHeight - 50)\n              ];\n            }\n            \n            wf.nodes.push(sticky);\n          } catch (err) {\n            // Skip problematic sticky\n          }\n        });\n      } else {\n        // Fallback: no workflow nodes or no sections\n        sectionStickies.forEach((sticky, index) => {\n          try {\n            sticky.id = `sticky-section-${index}-` + Math.random().toString(36).substring(7);\n            if (!sticky.parameters) sticky.parameters = {};\n            sticky.parameters.color = 7;\n            const stickyHeight = sticky.parameters.height || 200;\n            sticky.name = sticky.name || `Section ${index + 1}`;\n            sticky.type = 'n8n-nodes-base.stickyNote';\n            sticky.typeVersion = 1;\n            sticky.position = [\n              bounds.minX + (index * 400),\n              bounds.minY - stickyHeight - 50\n            ];\n            wf.nodes.push(sticky);\n          } catch (err) {\n            // Skip\n          }\n        });\n      }\n    } catch (err) {\n      // Skip section stickies if they fail\n    }\n  }\n  \n  // ============ GENERATE OUTPUT FILES ============\n  \n  const prettyJson = JSON.stringify(wf, null, 2);\n  const outFileName = `${baseFileName}_TEMPLATE.json`;\n  \n  const validationResults = safeGet(aiOutput, 'validationResults', {});\n  const titleSuggestions = safeGet(aiOutput, 'titleSuggestions', []);\n  const tags = safeGet(aiOutput, 'tags', []);\n  \n  const checklist = `✅ **Template Processed**\\n${validationResults.credentialsRemoved ? '✅' : '❌'} Secrets scrubbed\\n${aiOutput.mainSticky ? '✅' : '❌'} Documentation added\\nNodes: ${analysis.totalNodes || wf.nodes.length}\\nScrubbed: ${analysis.totalScrubbed || 0} items`;\n  \n  const guide = `📋 **Submission Guide**\\n\\n**Title Suggestions:**\\n${isValidArray(titleSuggestions) ? titleSuggestions.map(t => `• ${t}`).join('\\\\n') : '• No suggestions generated'}\\n\\n**Description:**\\n${aiOutput.templateDescription || 'No description generated.'}\\n\\n**Tags:** ${isValidArray(tags) ? tags.join(', ') : 'No tags generated'}`;\n  \n  // ============ RETURN OUTPUT ============\n  \n  return [{\n    json: {\n      chatId: cleanData.chatId || 'unknown',\n      triggerChatId: safeGet(triggerData, 'message.chat.id') || safeGet(triggerData, 'message.from.id') || cleanData.chatId || 'unknown',\n      fileName: outFileName,\n      checklist: checklist,\n      guide: guide,\n      success: true\n    },\n    binary: {\n      data: {\n        data: Buffer.from(prettyJson).toString('base64'),\n        mimeType: 'application/json',\n        fileName: outFileName\n      }\n    }\n  }];\n  \n} catch (error) {\n  // ============ ERROR HANDLING ============\n  \n  const errorMsg = `❌ **Template Generation Failed**\\n\\nError: ${error.message}\\n\\nPlease ensure you uploaded a valid n8n workflow JSON file.`;\n  \n  return [{\n    json: {\n      chatId: 'error',\n      triggerChatId: 'error',\n      fileName: 'error.json',\n      checklist: errorMsg,\n      guide: 'Error occurred during processing.',\n      success: false,\n      error: error.message,\n      errorStack: error.stack\n    },\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify({ error: error.message }, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'error.json'\n      }\n    }\n  }];\n}"
      },
      "name": "Assemble Final Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        288
      ],
      "id": "b5975bc6-b8e9-4cf0-b0a4-feb80b519672",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Assemble Final Template').item.json.triggerChatId }}",
        "binaryData": true,
        "additionalFields": {
            "caption": "Here is your standardized template:"
        }
      },
      "name": "Send Template File1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        288
      ],
      "id": "6bb63e8d-e9dc-4e1c-948f-3fa2fc298bd9",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "={{ $('Assemble Final Template').item.json.checklist }}",
        "additionalFields": {}
      },
      "name": "Send Checklist",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        288
      ],
      "id": "f79244f9-885a-4e5a-817b-07ad1713423f",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "={{ $('Assemble Final Template').item.json.guide }}",
        "additionalFields": {}
      },
      "name": "Send Guide",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        288
      ],
      "id": "7a7dac6d-a356-4c79-8e2e-d43efe50ef28",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Input & Validation",
        "height": 440,
        "width": 656,
        "color": 7
      },
      "id": "4057b8c1-5890-434f-aa13-a9b84e10ff1a",
      "name": "Input & Validation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. AI Documentation Generation",
        "height": 440,
        "width": 832,
        "color": 7
      },
      "id": "5eed78d2-18d2-45eb-b154-3cdc27d2b242",
      "name": "AI Documentation Generation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Template Assembly & Delivery",
        "height": 440,
        "width": 864,
        "color": 7
      },
      "id": "9056260f-eae9-4f52-81aa-b77ac586191a",
      "name": "Template Assembly & Delivery",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        208
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrub & Analyze Workflow1": {
      "main": [
        [
          {
            "node": "AI Template Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Template Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Template Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check Input Type": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Scrub & Analyze Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Template Generator": {
      "main": [
        [
          {
            "node": "Assemble Final Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final Template": {
      "main": [
        [
          {
            "node": "Send Template File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template File1": {
      "main": [
        [
          {
            "node": "Send Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Checklist": {
      "main": [
        [
          {
            "node": "Send Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}