Latest WFS/uploaded/Google Sheets to HeyGen Video.json
{
  "name": "Google Sheets to HeyGen Video",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk",
          "mode": "list",
          "cachedResultName": "Google Sheets Script to HeyGen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        752
      ],
      "id": "61f317fc-19d5-466e-822e-710699c06a1a",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FQz6SkAUqWItgYt9",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Script }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.Status }}",
              "operation": "notEqual",
              "value2": "Completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -736,
        752
      ],
      "id": "91424e74-42d2-48f1-a0f5-02850dca1d99",
      "name": "Has Script?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        752
      ],
      "id": "792c57e0-d9bc-4e8b-b10a-c6aa32b0f8a9",
      "name": "Process One at a Time"
    },
    {
      "parameters": {
        "jsCode": "// Sanitize the Script field to make it safe for JSON injection\n// Removes newlines, carriage returns, tabs, and escapes quotes\nconst item = $input.item.json;\n\nconst rawScript = item.Script || '';\n\nconst cleanScript = rawScript\n  .replace(/\\r\\n/g, ' ')  // Windows line endings\n  .replace(/\\n/g, ' ')    // Unix line endings\n  .replace(/\\r/g, ' ')    // Old Mac line endings\n  .replace(/\\t/g, ' ')    // Tabs\n  .replace(/\\\\/g, '\\\\\\\\') // Escape backslashes first\n  .replace(/\"/g, '\\\\\"')   // Escape double quotes\n  .replace(/\\s+/g, ' ')   // Collapse multiple spaces\n  .trim();\n\nreturn [{\n  json: {\n    ...item,\n    CleanScript: cleanScript\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        688
      ],
      "id": "92da9421-b7e6-4382-a984-a2aa5af409fd",
      "name": "Sanitize Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "sk_V2_hgu_khdB00SgqzE_dDenmzsc8IVkvjmZh4pkrngPLd6Alx72"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"4185302635fa4de29a99ad8ca17475bc\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.CleanScript }}\",\n        \"voice_id\": \"d7f0f1713ccd458790d6cffb41ad27e2\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        688
      ],
      "id": "0e984b76-7e18-45d0-b842-e183a6ead0f0",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51d6ebcf-1b85-4752-a61f-a343c5d0e08c",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        688
      ],
      "id": "89af2728-9215-4bf2-a407-7ca566fdbb1e",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        688
      ],
      "id": "61d2db6b-84bd-49c8-a7fd-1b22e6542e17",
      "name": "Wait",
      "webhookId": "2b3cee80-6385-4f65-acfd-a2e469662e32"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generate Video').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        688
      ],
      "id": "240a41de-d80b-46e7-8c58-13e399b24272",
      "name": "Video Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m9HfzwqyxZWUMi9m",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        832,
        656
      ],
      "id": "437b6090-2b86-4841-b8a4-3f7f69264066",
      "name": "Is Complete?1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk",
          "mode": "list",
          "cachedResultName": "Google Sheets Script to HeyGen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tewbVtNMuw0oDmwx9-B4S811pMie_O-M-4VoJa2GEjk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Completed",
            "Video_URL": "={{ $json.data.video_url }}",
            "Completed_At": "={{ $now.toISO() }}",
            "row_number": 0,
            "Row_ID": "={{ $('Process One at a Time').item.json.Row_ID }}"
          },
          "matchingColumns": [
            "Row_ID"
          ],
          "schema": [
            {
              "id": "Row_ID",
              "displayName": "Row_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_URL",
              "displayName": "Video_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed_At",
              "displayName": "Completed_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1056,
        656
      ],
      "id": "acdc586f-758b-4af4-9fec-203ec1ebd9c5",
      "name": "Update Sheet with Video1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KXw7mOPSGBu1qOjG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        880
      ],
      "id": "0cd1b584-e3f8-4e77-a3a0-e1b22962536a",
      "name": "Wait Before Retry1",
      "webhookId": "4cb8926a-8a1b-40b3-be88-1e2a822fc92d"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Has Script?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Script?": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [],
        [
          {
            "node": "Sanitize Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Script": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Status": {
      "main": [
        [
          {
            "node": "Is Complete?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?1": {
      "main": [
        [
          {
            "node": "Update Sheet with Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Video1": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry1": {
      "main": [
        [
          {
            "node": "Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e625d5f2-0204-47a7-9aa0-1275f4be51e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0154973bcd92f7ef5547aed2efb328b5df5bb198f16b309c8561141355ab93"
  },
  "id": "Pw4nxSeleKEMjhS7",
  "tags": []
}