HeyGen Automation/Telegram Voice to HeyGen Video.json
{
  "name": "Telegram Voice to HeyGen Video (FIXED)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "==JSON.stringify({\n  video_inputs: [{\n    character: {\n      type: \"avatar\",\n      avatar_id: \"Aditya_public_5\"\n    },\n    voice: {\n      type: \"text\",\n      input_text: $json.content.parts[0].text,\n      voice_id: \"acb50496eda54ff68474e7879f59276f\"\n    }\n  }],\n  dimension: {\n    width: 720,\n    height: 1280\n  }\n})",
        "options": {}
      },
      "type": "REDACTED",
      "typeVersion": 4.3,
      "position": [
        -896,
        128
      ],
      "id": "REDACTED",
      "name": "Generate Video1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.heygen.com/v1/asset",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "REDACTED",
      "typeVersion": 4.3,
      "position": [
        -1568,
        128
      ],
      "id": "REDACTED",
      "name": "Upload Audio to HeyGen1"
    },
    {
      "parameters": {
        "url": "={{ $json.data.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "REDACTED",
      "typeVersion": 4.3,
      "position": [
        -1344,
        128
      ],
      "id": "REDACTED",
      "name": "Download Audio1"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "file": "={{ $json.data.video_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "REDACTED",
      "name": "Send Video1",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⚠️ Please send a voice message!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1792,
        320
      ],
      "id": "REDACTED",
      "name": "Send Error1",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "REDACTED",
      "typeVersion": 1,
      "position": [
        -2240,
        224
      ],
      "id": "REDACTED",
      "name": "Telegram Trigger",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.audio.file_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2016,
        224
      ],
      "id": "REDACTED",
      "name": "Has Voice Message?"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.audio.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1792,
        128
      ],
      "id": "REDACTED",
      "name": "Get Voice File",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -672,
        128
      ],
      "id": "REDACTED",
      "name": "Wait",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generate Video1').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "REDACTED",
      "typeVersion": 4.3,
      "position": [
        -448,
        128
      ],
      "id": "REDACTED",
      "name": "Video Status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        48
      ],
      "id": "REDACTED",
      "name": "Is Complete?"
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        224
      ],
      "id": "REDACTED",
      "name": "Wait Before Retry",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "REDACTED"
        },
        "audioUrls": "={{ $json.data.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1120,
        128
      ],
      "id": "REDACTED",
      "name": "Transcribe a recording1"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Video1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to HeyGen1": {
      "main": [
        [
          {
            "node": "Download Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio1": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Has Voice Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice Message?": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Upload Audio to HeyGen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Send Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Generate Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED",
  "meta": {
    "instanceId": "REDACTED"
  },
  "id": "eyxxgSBXe556a4M0",
  "tags": []
}
