n8n-workflows1/5 Smart Job Screener with AI Resume Matching.json
[{"updatedAt":"2026-01-02T07:38:39.093Z","createdAt":"2026-01-02T07:38:39.093Z","id":"B5YeL3JhuCvcbY8w","name":"5 Smart Job Screener with AI Resume Matching","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"list","value":"1W-6jGxQJ2-f-hqfYP5pwAmJRou0fTXWS"},"options":{}},"id":"0625e043-0429-4a83-9f43-c390922ee9d1","name":"Download file","type":"n8n-nodes-base.googleDrive","position":[1216,192],"typeVersion":3},{"parameters":{"operation":"pdf","options":{}},"id":"2eb06f1d-6980-4894-bcd9-7c9531e350b9","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[1424,192],"typeVersion":1},{"parameters":{"jsCode":"let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\nconst keyword = $input.first().json.Keyword\nconst location = $input.first().json.Location\nconst experienceLevel = $input.first().json['Experience Level']\nconst remote = $input.first().json.Remote\nconst easyApply = $input.first().json['Easy Apply']\n\nif (keyword != \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location != \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel !== \"\") {\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"New Grad\": return \"3\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\n// put f_EA *here* to match LinkedIn's order: f_E → f_EA → f_WT\nurl += \"&f_EA=true\";\n\nif (remote && remote !== \"\") {\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nreturn { url };\n"},"id":"e4737f2b-0d39-46aa-be57-005e3c7b9306","name":"LinkedIn Search URL","type":"n8n-nodes-base.code","position":[2448,192],"typeVersion":2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"344a3d73-77a5-4637-85cf-0b694fcac5fe","name":"Fetch jobs from LinkedIn","type":"n8n-nodes-base.httpRequest","position":[2656,192],"typeVersion":4.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"jobs","cssSelector":"ul.jobs-search__results-list li div a[class*=\"base-card\"]","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"125bee42-90e4-4151-8269-76ffeb38e471","name":"HTML","type":"n8n-nodes-base.html","position":[2816,192],"typeVersion":1.2},{"parameters":{"fieldToSplitOut":"jobs","options":{}},"id":"f1e90264-7c7a-4db1-91ff-3525ba05746f","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[3168,192],"typeVersion":1},{"parameters":{"options":{}},"id":"c3b2f341-0269-404b-beac-a379306cc953","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[3360,192],"typeVersion":3},{"parameters":{"amount":2},"id":"cdecad56-1d62-4a50-b484-7c7816424c60","name":"Wait","type":"n8n-nodes-base.wait","position":[784,512],"webhookId":"12409f66-fbe7-48bd-b9d7-68449f197264","typeVersion":1.1},{"parameters":{"options":{}},"id":"f235f8af-4ee0-4e36-a8f1-0bebb6c6d6cc","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1920,752],"typeVersion":1},{"parameters":{"options":{}},"id":"11207199-fbbc-4f55-9847-8b49a1ef0172","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[2624,736],"typeVersion":1},{"parameters":{"sendTo":"<YOUR-EMAIL-ID>","subject":"Job search results","emailType":"text","message":"Hey, your job search results with resume changes are ready in your sheet for today.\n\nHere's Gsheet Link: https://docs.google.com/spreadsheets/d/1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0/edit?usp=sharing","options":{"appendAttribution":true,"senderName":"Job Automation Agent"}},"id":"d1fda7e0-8679-4731-ae17-1a8a37923918","name":"Send a message","type":"n8n-nodes-base.gmail","position":[3600,176],"webhookId":"f0d6158b-a72b-4e84-8f3e-0e8ecfaeda72","typeVersion":2.1},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"844cdc81-bdd8-426b-982e-24c461379773","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[752,192],"typeVersion":1.2},{"parameters":{"url":"={{ $json.jobs }}","options":{}},"id":"709b6ba5-d9cb-48d8-a263-1048d73b3b72","name":"Parse Job Links","type":"n8n-nodes-base.httpRequest","position":[1168,512],"typeVersion":4.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Title","cssSelector":"div h1"},{"key":"Company","cssSelector":"div span a"},{"key":"Location","cssSelector":"div span[class*='topcard__flavor topcard__flavor--bullet']"},{"key":"Description","cssSelector":"div.description__text.description__text--rich"},{"key":"Job ID","cssSelector":"a[data-item-type='semaphore']","returnValue":"attribute","attribute":"data-semaphore-content-urn"}]},"options":{}},"id":"4df508e7-49d0-4fc6-b8e6-442300fe69c8","name":"Extract HTML Job Details","type":"n8n-nodes-base.html","position":[1616,512],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"240418dc-3349-48d5-ba59-3aa590d71950","name":"Description","type":"string","value":"={{ $json.Description.replaceAll(/\\s+/g, \" \")}}"},{"id":"7b24938f-8b47-488d-9f65-54d036dcffd5","name":"Job ID","type":"string","value":"={{ $json['Job ID'].split(\":\").last() }}"},{"id":"d6addada-9e01-464f-a768-c19f6224c491","name":"Apply Link","type":"string","value":"={{ \"https://www.linkedin.com/jobs/view/\"+ $json['Job ID'].split(\":\").last()  }}"},{"id":"21c89d3a-c8b6-44eb-9719-9ae5716a7c76","name":"Title","type":"string","value":"={{ $json.Title }}"},{"id":"da713845-9a81-486e-bff2-1613105e424d","name":"Company","type":"string","value":"={{ $json.Company }}"},{"id":"1a9a31dd-8d51-4f35-b6b6-ca8a348de5d7","name":"Location","type":"string","value":"={{ $json.Location }}"}]},"options":{}},"id":"363e923a-9d29-4d07-97ef-07fccfe08677","name":"Set Job Details","type":"n8n-nodes-base.set","position":[1824,512],"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{ (() => {\n  // 0) Read model output from AI Agent node\n  const raw = String(($('Job Matching Agent').item.json.output ?? ''));\n\n  // 1) Strip code fences\n  let s = raw\n    .replace(/`{2,3}(?:json)?\\s*/gi, '')\n    .replace(/\\s*`{3}\\s*$/gi, '');\n\n  // 1b) Normalize curly quotes (Gemini sometimes emits them)\n  s = s.replace(/[\\u201C\\u201D]/g, '\"').replace(/\\u2019/g, \"'\");\n\n  // 2) Cut at END_OF_JSON if present\n  const endIdx = s.indexOf('END_OF_JSON');\n  if (endIdx !== -1) s = s.slice(0, endIdx);\n\n  // 3) Extract first complete { ... } by brace counting\n  const start = s.indexOf('{');\n  if (start < 0) return {};\n  let depth = 0, inStr = false, esc = false, end = -1;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) { esc = false; }\n      else if (ch === '\\\\') { esc = true; }\n      else if (ch === '\"') { inStr = false; }\n    } else {\n      if (ch === '\"') inStr = true;\n      else if (ch === '{') depth++;\n      else if (ch === '}') { depth--; if (depth === 0) { end = i + 1; break; } }\n    }\n  }\n  if (end < 0) return {};\n\n  const cleaned = s.slice(start, end).trim();\n\n  try {\n    return JSON.parse(cleaned);   // JSON mode expects an OBJECT\n  } catch (e) {\n    // As a last resort, return an empty object to keep the run alive\n    return {};\n  }\n})() }}\n","options":{}},"id":"b5fd8446-6931-4daf-ac3d-9d7ca1459ded","name":"Prepare Values for GSheet","type":"n8n-nodes-base.set","position":[2576,512],"typeVersion":3.4},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0/edit?usp=drivesdk","cachedResultName":"Job Search N8N"},"sheetName":{"__rl":true,"mode":"list","value":11035642,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0/edit#gid=11035642","cachedResultName":"Result"},"columns":{"value":{"Link":"={{ $('Set Job Details').item.json['Apply Link'] }}","Score":"={{ $('Prepare Values for GSheet').item.json.match_score }}","Title":"={{ $('Set Job Details').item.json.Title }}","Skills":"={{ $('Prepare Values for GSheet').item.json.resume_analysis.core_skills }}","Locaton":"={{ $('Set Job Details').item.json.Location }}","Company ":"={{ $('Set Job Details').item.json.Company }}","Cover Letter":"={{ $('Prepare Values for GSheet').item.json.cover_letter }}","Improvements":"={{ $json.output }}"},"schema":[{"id":"Title","type":"string","display":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company ","type":"string","display":true,"required":false,"displayName":"Company ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Locaton","type":"string","display":true,"required":false,"displayName":"Locaton","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Link","type":"string","display":true,"removed":false,"required":false,"displayName":"Link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Score","type":"string","display":true,"required":false,"displayName":"Score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Cover Letter","type":"string","display":true,"required":false,"displayName":"Cover Letter","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Skills","type":"string","display":true,"removed":false,"required":false,"displayName":"Skills","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Improvements","type":"string","display":true,"removed":false,"required":false,"displayName":"Improvements","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Link"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"896606c9-f3b2-41a5-bafe-0996abaff02e","name":"Update Rows with Job Detials","type":"n8n-nodes-base.googleSheets","position":[3136,512],"typeVersion":4.7},{"parameters":{"promptType":"define","text":"=You are a precise job-matching assistant.\n\nReturn ONE JSON object wrapped in ```json fences, followed by the line END_OF_JSON.\nNo extra prose. No Markdown inside the JSON. No comments.\n\nINPUTS\njob_description: {{ $json.Description }}\nmy_resume: {{ $node[\"Extract from File\"].data.text }}\n\nTASKS\n1) Parse job_description → job_analysis with keys:\n   title (string), company (string), must_have_skills (string[]), nice_to_have_skills (string[]),\n   responsibilities (string[]), years_of_experience (string), education_certifications (string),\n   location_constraints (string), domain_industry_focus (string), tech_stack (string[]), measurable_kpis (string[])\n\n2) Parse my_resume → resume_analysis:\n   core_skills (string[]),\n   tools_tech { programming_languages[], frontend_technologies[], backend_technologies[], databases_devops[] },\n   years_of_experience_key_areas (object of short strings),\n   accomplishments_with_metrics (string[]),\n   education_certs (string[]), domains (string[]), roles_titles (string[]),\n   leadership_collaboration (string[]), location_work_auth (string)\n\n3) Scoring (integer 0–100):\n   - Skills/Tools overlap: 40\n   - Relevant experience & seniority: 25\n   - Responsibilities alignment: 15\n   - Education/Certs fit: 10\n   - Domain/industry fit: 5\n   - Logistics (location/work auth/availability): 5\n   Allow partial credit; deduct up to 10 via red_flags. Clamp to [0,100], integer.\n\n4) Explain the score:\n   For each bucket, provide 1–3 concise evidence bullets. Cite \"JD\" or \"Resume\" and include short quoted fragments (escape quotes).\n\n5) Gaps & Suggestions:\n   List missing/weak requirements with 1–2 concrete upskilling steps per gap.\n\n6) Cover letter:\n   150–220 words (2–4 short paragraphs), tailored to the role/company.\n   Concrete impacts; no greeting/signature. JSON-safe: escape all \" as \\\", use \\n for newlines.\n\nSTRICT CONTENT RULES (to prevent invalid JSON)\n- Do NOT paste raw paragraphs, markdown (**bold**, lists), headings, or multi-line blocks into any array fields.\n- Every array element must be a short phrase (≤ 140 characters), single line, no line breaks, no asterisks, no bullets.\n- If a JD section is long, summarize into short phrases before placing into arrays.\n- Do NOT include unrelated job text inside arrays or objects. Keep each value semantically atomic.\n- Never invent company/title; use \"\" if unknown.\n- No trailing commas anywhere.\n\nSTRICT OUTPUT RULES\n- Output exactly the following schema (keys and types). No extra keys.\n\nSCHEMA\n```json\n{\n  \"job_analysis\": {\n    \"title\": \"\",\n    \"company\": \"\",\n    \"must_have_skills\": [],\n    \"nice_to_have_skills\": [],\n    \"responsibilities\": [],\n    \"years_of_experience\": \"\",\n    \"education_certifications\": \"\",\n    \"location_constraints\": \"\",\n    \"domain_industry_focus\": \"\",\n    \"tech_stack\": [],\n    \"measurable_kpis\": []\n  },\n  \"resume_analysis\": {\n    \"core_skills\": [],\n    \"tools_tech\": {\n      \"programming_languages\": [],\n      \"frontend_technologies\": [],\n      \"backend_technologies\": [],\n      \"databases_devops\": []\n    },\n    \"years_of_experience_key_areas\": {},\n    \"accomplishments_with_metrics\": [],\n    \"education_certs\": [],\n    \"domains\": [],\n    \"roles_titles\": [],\n    \"leadership_collaboration\": [],\n    \"location_work_auth\": \"\"\n  },\n  \"match_score\": 0,\n  \"score_explanation\": [\n    { \"category\": \"Skills/Tools overlap (40 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Relevant experience depth & seniority (25 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Responsibilities alignment (15 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Education/Certs fit (10 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Domain/industry fit (5 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Logistics (location, work auth, availability) (5 points)\", \"score\": 0, \"evidence\": [] }\n  ],\n  \"red_flags\": [],\n  \"gaps_and_suggestions\": [\n    { \"gap\": \"\", \"suggestion\": \"\" }\n  ],\n  \"cover_letter\": \"\"\n}\n","options":{}},"id":"30cc33ab-f892-4af3-af21-2d8ee8d0d33c","name":"Job Matching Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2096,512],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"You are a ruthless resume editor. Compare the inputs and output ONLY crisp, point-wise changes to improve job fit.\n\nInputs:\n- job_description: {{ $json.Description }}\n- my_resume: {{ $('Extract from File').item.json.text }}\n\nInstructions:\n- Output a numbered list; highest-impact first.\n- One line per point; <= 14 words.\n- Start each line with a tag: [ADD], [REMOVE], [REWRITE], [ORDER], [QUANTIFY], [KEYWORDS], [FORMAT], [FOCUS].\n- Base every point on gaps vs. the job_description; do not invent experience.\n- Prefer concrete actions: skills to add, bullets to rewrite, sections to reorder/remove.\n- Include one line: 'Missing keywords: term1, term2, ...' (only if any).\n- No intros, explanations, code fences, or extra text - points only.\n\nOutput: points only, exactly as specified above.","options":{}},"id":"74c71054-1782-426a-a39e-bbf80330395b","name":"Resume Editor Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2816,512],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"fc27f286-84e9-48a2-bd32-61ec30a43b41","name":"maxJobsPerSearch","type":"string","value":"2"},{"id":"6ac9f389-d1d6-449a-aa8a-b09250edc5dc","name":"preferredRemote","type":"string","value":"Remote"},{"id":"d8af5579-f864-4a0d-8392-194970dfe7f6","name":"preferredEasyApply","type":"string","value":"No"}]},"options":{}},"id":"d54587c9-11db-4394-ba97-b2238e3a70e7","name":"Config","type":"n8n-nodes-base.set","position":[992,192],"typeVersion":3.4},{"parameters":{"options":{}},"id":"e220680f-60d5-4cd9-9c59-dd241dc56f10","name":"Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1712,352],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are a resume analysis assistant that creates LinkedIn job search filters.\n\nRead this resume text:\n\n{{ $node[\"Extract from File\"].data.text }}\n\nBased on this resume, create up to 5 suitable job search filters for LinkedIn.\n\nReturn JSON ONLY in this format:\n\n{\n  \"searches\": [\n    {\n      \"keyword\": \"Job title or main skill\",\n      \"location\": \"Country or city (e.g. India, United Kingdom)\",\n      \"experience_level\": \"Internship or Entry level or New Grad\"\n    }\n  ]\n}\n\nRules:\n- Always give between 3 and 5 searches.\n- Use only these exact values:\n  - experience_level: \"Internship\", \"Entry level\", \"New Grad\"\n  - remote: \"Remote\", \"Hybrid\", \"On-Site\"\n  - easy_apply: \"Yes\" or \"No\"\n- Pick realistic keywords based on the resume (e.g. \"Gen AI Engineer\", \"Automation Engineer\", etc).\n- Do not include any explanation text, just valid JSON.\n","options":{}},"id":"bffa82cb-90ff-4d63-b457-6c838f14cfab","name":"Resume Analyzer Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1728,192],"typeVersion":3},{"parameters":{"jsCode":"// CONFIG values\nconst preferredRemote = $node[\"Config\"].json.preferredRemote || \"\";\nconst preferredEasyApply = $node[\"Config\"].json.preferredEasyApply || \"\";\nconst maxJobs = $node[\"Config\"].json.maxJobsPerSearch || 10;\n\n// Get AI Raw Output\nif (!items.length || !items[0].json.output) {\n  throw new Error('Resume Analyzer Agent returned no data.');\n}\n\nlet raw = items[0].json.output.toString().trim();\n\nraw = raw\n  .replace(/^```json/i, '')\n  .replace(/^```/, '')\n  .replace(/```$/, '')\n  .trim();\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (error) {\n  throw new Error('JSON parse error: ' + error.message + \"\\nRaw: \" + raw);\n}\n\nconst searches = data.searches || [];\n\n// MAP OUTPUT + APPLY CONFIG PREFERENCES\nreturn searches.map(s => ({\n  json: {\n    Keyword: s.keyword || '',\n    Location: s.location || '',\n    'Experience Level': s.experience_level || '',\n\n    // Apply Preferred Remote if config set else use AI\n    Remote: preferredRemote !== \"\" ? preferredRemote : (s.remote || ''),\n\n    // Apply Preferred Easy Apply if config set else use AI\n    'Easy Apply': preferredEasyApply !== \"\" ? preferredEasyApply : (s.easy_apply || ''),\n\n    // Pass max jobs forward to next nodes\n    maxJobsPerSearch: maxJobs\n  }\n}));"},"id":"8eeefeb9-6ff8-41b5-b730-3f33aede44c0","name":"Build Search Rows","type":"n8n-nodes-base.code","position":[2064,192],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0/edit?usp=drivesdk","cachedResultName":"Job Search N8N"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwGBu2A9APwEh_b9Yt_Y8WiSOLp0g7BF46qD1lehYx0/edit#gid=0","cachedResultName":"Filter"},"columns":{"value":{"Remote":"={{ $json.Remote }}","Keyword":"={{ $json.Keyword }}","Location":"={{ $json.Location }}","Easy Apply":"={{ $json[\"Easy Apply\"] }}","Experience Level":"={{ $json[\"Experience Level\"] }}"},"schema":[{"id":"Keyword","type":"string","display":true,"removed":false,"required":false,"displayName":"Keyword","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Location","type":"string","display":true,"removed":false,"required":false,"displayName":"Location","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Experience Level","type":"string","display":true,"removed":false,"required":false,"displayName":"Experience Level","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Remote","type":"string","display":true,"removed":false,"required":false,"displayName":"Remote","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Easy Apply","type":"string","display":true,"removed":false,"required":false,"displayName":"Easy Apply","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6ef95db3-091b-48f2-9fab-bdc42aa63f5e","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","position":[2256,192],"typeVersion":4.7},{"parameters":{"jsCode":"const limit = $node[\"Config\"].json.maxJobsPerSearch || 10;\n\n// \"items\" is the array of job items coming into this node\nreturn items.slice(0, limit);"},"id":"1fe6c7f9-3177-46ed-98d1-1d219d4fc621","name":"Limit Jobs","type":"n8n-nodes-base.code","position":[2992,192],"typeVersion":2},{"parameters":{"content":"## How it works\n\nThis workflow automates job discovery, resume matching, and application preparation using LinkedIn job listings and AI agents.\n\nOn a schedule, the workflow downloads your resume, analyzes it, and generates multiple LinkedIn job search filters tailored to your profile. These filters are saved to Google Sheets and then used to fetch recent job listings from LinkedIn.\n\nEach job listing is processed individually. The workflow extracts job details, compares the job description with your resume using AI, and calculates a match score. It also generates a tailored cover letter and clear resume improvement suggestions for that specific role.\n\nAll results are saved to Google Sheets so you can review, prioritize, and apply efficiently. Once the run completes, you receive an email notification with a link to the updated sheet.\n\nThis setup removes manual searching, screening, and comparison work, allowing you to focus only on high-fit opportunities.\n\n## Setup steps\n\n1. Make a copy of the Google Sheets template:  \n   https://docs.google.com/spreadsheets/d/1ia_82B7GMRdd896vo1md6a5VqXGxjma-QoBwBWDr77o/copy\n2. Upload your resume PDF to Google Drive.\n3. Connect Google Drive, Google Sheets, Gmail, and Gemini credentials.\n4. Update the **Config** node (remote preference, Easy Apply, job limit).\n5. Replace the Sheet IDs in the workflow with your copied sheet.\n6. Enable the Schedule Trigger to run automatically.\n","height":672,"width":656},"id":"a0c1c711-1932-4ec9-a015-2cbde89fe50a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Trigger & Configuration\n\nControls when the workflow runs and defines global preferences such as remote type, Easy Apply preference, and maximum jobs per search.\n","height":144,"width":352,"color":2},"id":"02d7e31e-7d9d-4ba6-af70-970b675fef5d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[752,0],"typeVersion":1},{"parameters":{"content":"## Resume Intake & Analysis\n\nDownloads the resume, extracts text, and uses AI to understand skills, experience level, and suitable job roles.\n","height":96,"width":768,"color":3},"id":"748d2e2b-42eb-407c-9a66-013a2cbeeced","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1216,48],"typeVersion":1},{"parameters":{"content":"## Job Search Generation\n\nBuilds LinkedIn job search filters from resume insights and stores them in Google Sheets for tracking and reuse.\n","height":112,"width":704,"color":3},"id":"bf3736ca-433e-4c7f-a151-90b148ba3ffd","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2064,32],"typeVersion":1},{"parameters":{"content":"## Job Fetching & Parsing\n\nFetches job listings from LinkedIn, extracts job links, and parses detailed job information from each listing.\n","height":112,"width":656,"color":4},"id":"7a848111-c989-46b7-80f7-5628d4f0a66e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2816,32],"typeVersion":1},{"parameters":{"content":"## Job Matching & Scoring\n\nCompares each job description with the resume to calculate a match score, identify gaps, and generate a tailored cover letter.\n","height":144,"width":368,"color":7},"id":"5fb2c146-ae8e-4eea-b8c3-001dbd0b66f4","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2064,704],"typeVersion":1},{"parameters":{"content":"## Resume Improvement Suggestions\n\nGenerates concise, actionable resume edits to improve alignment with each job role.\n","height":128,"width":512,"color":6},"id":"b4599382-a611-4ee7-bd0f-a59430a2f249","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2752,720],"typeVersion":1},{"parameters":{"content":"## Results & Notification\n\n\n\n\n\n\n\n\n\n\n\n\nWrites job results, scores, and suggestions to Google Sheets and notifies the user by email when processing completes.\n","height":304,"width":272,"color":5},"id":"ba6e4914-f54f-4df1-aee8-00769a34161a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[3520,128],"typeVersion":1}],"connections":{"HTML":{"main":[[{"node":"Limit Jobs","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Parse Job Links","type":"main","index":0}]]},"Config":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit Jobs":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"Resume Analyzer Agent","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Parse Job Links":{"main":[[{"node":"Extract HTML Job Details","type":"main","index":0}]]},"Set Job Details":{"main":[[{"node":"Job Matching Agent","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"Build Search Rows":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Resume Analyzer Agent","type":"main","index":0}]]},"Job Matching Agent":{"main":[[{"node":"Prepare Values for GSheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"LinkedIn Search URL","type":"main","index":0}]]},"LinkedIn Search URL":{"main":[[{"node":"Fetch jobs from LinkedIn","type":"main","index":0}]]},"Resume Editor Agent":{"main":[[{"node":"Update Rows with Job Detials","type":"main","index":0}]]},"Resume Analyzer Agent":{"main":[[{"node":"Build Search Rows","type":"main","index":0}]]},"Extract HTML Job Details":{"main":[[{"node":"Set Job Details","type":"main","index":0}]]},"Fetch jobs from LinkedIn":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Job Matching Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Resume Editor Agent","type":"ai_languageModel","index":0}]]},"Prepare Values for GSheet":{"main":[[{"node":"Resume Editor Agent","type":"main","index":0}]]},"Update Rows with Job Detials":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bf7661c9-0265-4ac0-8afb-b59234eab181","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T07:38:39.099Z","createdAt":"2026-01-02T07:38:39.099Z","role":"workflow:owner","workflowId":"B5YeL3JhuCvcbY8w","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]