n8n-workflows1/AI automation for Reddit Problems.json
[{"updatedAt":"2025-12-03T11:18:20.597Z","createdAt":"2025-12-03T11:18:20.597Z","id":"f4UUDXFtTbePdVr8","name":"AI automation for Reddit Problems","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4a003073-6a8e-4e12-bd79-22aa4865b857","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[144,272],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Define weather the reddit post is talking about the problems faced by the users of AI Automation or they need a solution on how they want  bew features in AI Automation. the post should mention a specific problem faced by the users.\n\nReddit Post:  {{ $json.selftext }}\n\nIs this post is about a problem that users are facing about AI Automation or they need new features, Just answer with Yes or No.","options":{}},"id":"a836f3be-565a-4beb-8604-f5ed27035848","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1120,256],"typeVersion":3},{"parameters":{"options":{}},"id":"02f4898c-ae8d-4a83-9892-fb2eb6bc0f81","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1152,432],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"07a1f9dc-87fb-4c88-a2b0-2fb1f7f1b389","name":"Merge","type":"n8n-nodes-base.merge","position":[1408,272],"typeVersion":3.2},{"parameters":{"promptType":"define","text":"=Based on the reddit post, suggest  a plan or a solution on how i fix the issues  the users are facing with Sora 2.\n\nReddit Post: {{ $json.selftext }}\n\nProvide a concise solution on how we can fix the problems in slack based on the reddit post. \nExplain the solution","options":{}},"id":"c5bf132c-8080-46c3-930a-8bac167f377a","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[1888,256],"typeVersion":3},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"bdb91788-bacf-4d9c-870b-501a49141f33","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[2128,368],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferInput1"}}}},"id":"f5808781-9dbf-48f6-b73d-b0b810da3803","name":"Merge1","type":"n8n-nodes-base.merge","position":[2208,240],"typeVersion":3.2},{"parameters":{"resource":"postComment","postId":"={{ $json.Bio }}","commentText":"={{ $json['Full Name'] }}"},"id":"ab534387-eec6-4389-998b-2e9346731e6b","name":"Create a comment in a post","type":"n8n-nodes-base.reddit","position":[2608,240],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1ic80xnSBq5RsNC5CDUEuaEoze4PDzhL9IPS0jj8z45I","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ic80xnSBq5RsNC5CDUEuaEoze4PDzhL9IPS0jj8z45I/edit?usp=drivesdk","cachedResultName":"Untitled spreadsheet"},"sheetName":{"__rl":true,"mode":"list","value":1703783376,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ic80xnSBq5RsNC5CDUEuaEoze4PDzhL9IPS0jj8z45I/edit#gid=1703783376","cachedResultName":"Sheet2"},"columns":{"value":{"Bio":"={{ $json.created }}","username":"={{ $json.selftext }}","Full Name":"={{ $json.output }}","Profile ID,":"={{ $json.title }}","Follower Count":"={{ $json.subreddit_id }}"},"schema":[{"id":"username","type":"string","display":true,"required":false,"displayName":"username","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Full Name","type":"string","display":true,"required":false,"displayName":"Full Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Profile ID,","type":"string","display":true,"required":false,"displayName":"Profile ID,","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Follower Count","type":"string","display":true,"required":false,"displayName":"Follower Count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Bio","type":"string","display":true,"required":false,"displayName":"Bio","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Follower Count","type":"string","display":true,"required":false,"displayName":"Follower Count","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2ba5f755-b770-4712-ad9e-46bfa3f20f38","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","position":[2416,240],"typeVersion":4.7},{"parameters":{"operation":"search","subreddit":"n8n","keyword":"Why i stopped using","limit":10,"additionalFields":{}},"id":"818b6209-91c2-478b-bc01-2c2fa94d5072","name":"Post Searching","type":"n8n-nodes-base.reddit","position":[496,272],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"751771bf-3129-4806-a686-11d98ecfce3e","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.ups }}","rightValue":2},{"id":"cda8f6cf-9c1f-49bd-afb0-6b404a9d054d","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.selftext }}","rightValue":""}]},"options":{}},"id":"00d01b31-2796-4550-8ae5-a4910f56dac2","name":"If Condition","type":"n8n-nodes-base.if","position":[704,272],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"7fc31f22-be37-4195-a26a-40054f74001b","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"da1b8bf9-c1a8-4c6b-b85d-379c91b45241","name":"selftext","type":"string","value":"={{ $json.selftext }}"},{"id":"fea02618-7f96-474c-bcb5-a3e24508ecdb","name":"ups","type":"number","value":"={{ $json.ups }}"},{"id":"b3c743d2-8e5a-48d9-a835-d53d178fb4da","name":"created","type":"number","value":"={{ $('Post Searching').item.json.created }}"},{"id":"75c7a180-6451-4a07-aa09-4d54019c3257","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"a314d8bd-aa43-4b3a-bb35-acd777979939","name":"subreddit_id","type":"string","value":"={{ $json.subreddit_id }}"},{"id":"87e595d0-e201-4b3f-a75b-396aa4202fd9","name":"id","type":"string","value":"={{ $json.id }}"}]},"options":{}},"id":"bb19f54a-538a-4acf-8348-df8c2ee68f9a","name":"Value setup","type":"n8n-nodes-base.set","position":[944,256],"typeVersion":3.4},{"parameters":{"content":"## Manual Trigger (Template Demo)\nThis workflow starts with a **Manual Trigger** so reviewers can run it immediately from the Editor via **Execute workflow**.\n\nIn your own automations you can replace this with a **Schedule Trigger** or a **Webhook**. For the template, keeping it manual makes it easier to test the downstream Reddit search and AI steps without extra setup.\n","height":592,"width":440},"id":"60436a4b-2c10-47dd-97f1-d833c2911268","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a80000e7-0860-41f4-a64f-087c176ca5a3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.output }}","rightValue":"Yes"}]},"options":{}},"id":"3565121a-0705-4252-80e5-7ab35a432344","name":"If Condition 2","type":"n8n-nodes-base.if","position":[1600,272],"typeVersion":2.2},{"parameters":{"content":"## Search & Filter Reddit Posts (Data Source)\n**Post Searching (Reddit)** looks for posts in r/n8n with the keyword **“Why i stopped using”**. \n\n**If Condition** then filters results to avoid noise:\n- `ups >= 2` → keeps posts with at least two upvotes (signals relevance).\n- `selftext not empty` → ignores link-only or empty posts.\n\nThese constraints make the AI analysis more reliable by focusing on substantive posts that actually describe problems.\n","height":584,"width":640,"color":6},"id":"e02d1010-c590-4d25-a0e7-dbb9c6f0b230","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,0],"typeVersion":1},{"parameters":{"content":"## Problem Classifier (AI Analyzer)\n**Value setup (Set)** normalizes useful fields from the Reddit item (`title`, `selftext`, `ups`, `created`, etc.).\n\n**AI Agent** (LLM) is prompted to answer **Yes/No** to: \n“Is this post about a user problem with AI automation (vs. a feature request)?”\n\nThe **Google Gemini Chat Model** provides the language model for the agent.\n**Merge** simply passes through the AI result along with the original item so we can branch next.\n","height":584,"width":720,"color":7},"id":"125c57b7-9177-421f-b5d5-af02e43a3780","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1104,0],"typeVersion":1},{"parameters":{"content":"## Solution Generator (AI)\n**If Condition 2** checks the classifier's output:\n- When `$json.output` **contains \"Yes\"**, the post is treated as a real problem.\n\nFor qualifying posts, **AI Agent1** generates a concise, actionable plan to address the problem (prompt references the Reddit `selftext`).\nThe **Google Gemini Chat Model1** supplies the model (`gemini-2.0-flash`) for fast, low-latency responses.\n","height":544,"width":1008,"color":7},"id":"7783d90a-561d-4c4b-9ee7-2fef1c8b6cd4","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1840,0],"typeVersion":1},{"parameters":{"content":"## Store Results & (Optionally) Reply\n**Merge1** combines the original Reddit fields with the AI-generated solution (prefers input1 on clashes).\n\n**Append row in sheet (Google Sheets)** archives key fields so you can review solutions later. \n- Mapped columns: `Full Name` ← AI output (solution text), `username` ← `selftext`, `Profile ID` ← `title`, etc.\n- Update the target Spreadsheet ID and sheet name to your own doc.\n\n**Create a comment in a post (Reddit)** demonstrates posting back. \n- Update `postId` and `commentText` mappings to your desired fields (e.g., use the Reddit `id` as `postId` and the AI output as the comment text).\n- Keep this **disabled** until you have tested safely.\n","height":264,"width":1008},"id":"1015575f-739a-4c9f-b0bd-a0d235c04569","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1840,560],"typeVersion":1},{"parameters":{"content":"## Credentials & Safety\n- **Reddit (OAuth)**: Required by *Post Searching* and *Create a comment in a post*.\n- **Google Sheets**: Needed by *Append row in sheet*.\n- **Google Gemini**: Needed by both AI Agent nodes (set your model and project).\n\n**Tip:** Test with read-only actions first. Keep the reply node disabled until you verify outputs. Consider rate limits and community rules before posting automatically.\n","height":200,"width":1096,"color":6},"id":"1afe1723-5e3b-414c-ade6-ae6a61aa5693","name":"Sticky Note - Credentials","type":"n8n-nodes-base.stickyNote","position":[0,608],"typeVersion":1},{"parameters":{"content":"## How to Reuse / Customize\n1) Change the subreddit and keyword in **Post Searching** to target your audience.\n2) Adjust the **If** thresholds (e.g., `ups >= 5`) to control quality.\n3) Refine the **classifier prompt** to match your product or domain.\n4) Edit the **solution prompt** to match your support tone and policies.\n5) Map the **Google Sheets** fields to your own schema.\n6) When ready, point **postId** to the Reddit post ID and **commentText** to the AI solution to reply automatically.\n","height":208,"width":704,"color":6},"id":"7b545fac-74d0-41c4-84d9-14cf26d74a39","name":"Sticky Note - How to Reuse","type":"n8n-nodes-base.stickyNote","position":[1120,608],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"If Condition 2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Value setup":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If Condition":{"main":[[{"node":"Value setup","type":"main","index":0}]]},"If Condition 2":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Post Searching":{"main":[[{"node":"If Condition","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a comment in a post","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Post Searching","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"00866783-d2c0-4e9b-93fb-4af792614839","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T11:18:20.602Z","createdAt":"2025-12-03T11:18:20.602Z","role":"workflow:owner","workflowId":"f4UUDXFtTbePdVr8","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]