n8n-workflows1/AI Sticky Note Maker.json
[{"updatedAt":"2025-11-25T06:23:37.000Z","createdAt":"2025-11-25T06:21:15.016Z","id":"odYQtnWvM4WI4IuV","name":"AI Sticky Note Maker","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Here is the workflow JSON: {{ $('Paste workflow JSON here').item.json.json.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=You are generating the SINGLE main overview sticky note for an n8n workflow template.\n\nYou will receive a full workflow JSON as input (nodes, connections, etc.). Based on that, you must output a JSON object that defines ONE sticky note node with the main overview text. Adopt a terse, plain English style.\n\nYour output must follow ALL of these rules.\n\n--------------------------------\nCONTENT REQUIREMENTS\n--------------------------------\nThe sticky note content must:\n\n1. Start with an H2 title (##) summarizing the workflow’s purpose:\n   ## <short workflow title>\n\n2. Have a \"How it works\" section as an H3:\n   ### How it works\n   1. ...\n   2. ...\n   3. ...\n   - Use 3–6 numbered steps.\n   - Describe the main trigger, key actions, and final outcome.\n   - Group nodes into logical steps; do NOT describe every single node.\n\n3. Have a \"Setup\" section as an H3:\n   ### Setup\n   - [ ] ...\n   - [ ] ...\n   - [ ] ...\n   - Use 3–8 checklist items.\n   - Each item must be an actionable, imperative step (e.g. “Connect HubSpot account”, “Select your Google Sheet”, “Add OpenAI API key”, “Set schedule to run daily”).\n\n\nWORD LIMITS & STYLE:\n- Total content (all sections) must be between **100 and 300 words**.\n- Use clear, plain language for someone new to the workflow.\n- Focus on what the workflow achieves (business outcome), not low-level technical details.\n- Prefer concrete verbs: “Fetch contacts”, “Filter recent records”, “Call the AI model”, “Update CRM”, etc.\n- Do NOT mention colors, positions, or canvas layout.\n\n--------------------------------\nHOW TO USE THE WORKFLOW JSON\n--------------------------------\nFrom the workflow JSON, infer:\n\n- The main trigger(s): schedule, manual, webhook, app trigger, etc.\n- The main external services: HubSpot, Google Sheets, Slack, Gmail, OpenAI, Gemini, SerpAPI, etc.\n- The main data flow: where data comes from and where it goes.\n- Important filters/conditions (e.g. “created in the last 24h”, “exclude Gmail addresses”).\n- The final outcome (e.g. “updates contact properties in HubSpot”, “creates presentation slides”, “sends a Slack message”).\n\nUse this understanding to:\n- Choose a concise, descriptive title for the workflow.\n- Write the \"How it works\" steps.\n- Write the \"Setup\" checklist.\n\n--------------------------------\nJSON OUTPUT FORMAT (STRICT)\n--------------------------------\nYou must output a SINGLE JSON object with this exact structure:\n\n{\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"content\": \"<MARKDOWN STICKY CONTENT HERE>\",\n        \"height\": 750,\n        \"width\": 500\n      },\n      \"id\": \"main-sticky\",\n      \"name\": \"Sticky Note\",\n      \"type\": \"n8n-nodes-base.stickyNote\",\n      \"position\": [\n        -1232,\n        -112\n      ],\n      \"typeVersion\": 1\n    }\n  ],\n  \"connections\": {},\n  \"pinData\": {},\n  \"meta\": {}\n}\n\nRULES FOR THE JSON:\n- Replace ONLY the value of \"content\" with your generated markdown.\n- ALWAYS set \"height\": 750 and \"width\": 500 exactly.\n- Keep \"id\", \"name\", \"type\", \"position\", \"typeVersion\", \"connections\", \"pinData\", and \"meta\" exactly as shown above.\n- Do NOT add any \"color\" or \"colorId\" property anywhere (sticky must use the default yellow).\n- Do NOT add any extra fields to the JSON.\n- Do NOT output comments, explanations, or code fences.\n- Do NOT wrap the JSON in backticks.\n- Output MUST be valid JSON.\n\n--------------------------------\nREMINDERS\n--------------------------------\n- Title must be an H2: starts with \"## \".\n- \"How it works\" and \"Setup\" must be H3: \"### \".\n- Total words: 100–300.\n- No mentioning JSON, node IDs, or “this sticky note” in the content itself.\n- Output: ONLY the JSON object in the exact structure above.\n"}},"id":"59d752b1-f415-4034-8bde-ee3781f31f5c","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[480,0],"typeVersion":3},{"parameters":{"jsonSchemaExample":"{\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"content\": \"## AI company enrichment for new HubSpot contacts\\n\\n### How it works\\n1. **Daily trigger** finds the most recent HubSpot contacts.\\n2. **Filter:** created in last 24h and **not** a `gmail.com` address.\\n3. **AI agent (Gemini + SerpAPI):** extracts domain from the contact’s email, researches the company, and returns structured JSON.\\n4. **HubSpot update:** writes company name, size, website, LinkedIn, city, and country back to the contact.\\n\\n### Setup\\n* [ ] Connect **HubSpot** OAuth on both HubSpot nodes\\n* [ ] Add **Google Gemini** key (Google AI Studio)\\n* [ ] Add **SerpAPI** key\\n* [ ] Turn on **Run daily** (schedule)\\n\\n### Customize\\n* **Filters:** change the 24h window or allow freemail domains if needed\\n* **Fields to update:** add industry/description or map to custom properties\\n* **Sources:** swap SerpAPI for another search tool\",\n        \"height\": 560,\n        \"width\": 496\n      },\n      \"id\": \"bf763b8c-0d4e-429e-9cd5-edecdedaab12\",\n      \"name\": \"Sticky Note\",\n      \"type\": \"n8n-nodes-base.stickyNote\",\n      \"position\": [\n        -1232,\n        -112\n      ],\n      \"typeVersion\": 1\n    }\n  ],\n  \"connections\": {},\n  \"pinData\": {}\n}"},"id":"1688bc19-39e2-483c-8958-24aee6170ab7","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[656,192],"typeVersion":1.3},{"parameters":{},"id":"d87c5fae-ef47-41c5-bb17-c3a3f2409910","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","position":[0,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"cfb2a871-02fd-4ef8-958b-e57e9090f576","name":"json","type":"object","value":"{   \"nodes\": [     {       \"parameters\": {         \"operation\": \"toJson\",         \"options\": {           \"fileName\": \"={{ $json.name }}.json\"         }       },       \"type\": \"n8n-nodes-base.convertToFile\",       \"typeVersion\": 1.1,       \"position\": [         0,         2064       ],       \"id\": \"b4991a62-36d4-40e4-baf1-54de7eb14643\",       \"name\": \"Convert to JSON1\"     },     {       \"parameters\": {},       \"type\": \"n8n-nodes-base.manualTrigger\",       \"typeVersion\": 1,       \"position\": [         -896,         1952       ],       \"id\": \"80655ac3-d39e-493f-a8b7-20ea49f73436\",       \"name\": \"When clicking ‘Execute workflow’\"     },     {       \"parameters\": {         \"resource\": \"folder\",         \"name\": \"=Workflow Backups {{ $now.format('yyyy-MM-dd') }}\",         \"driveId\": {           \"__rl\": true,           \"mode\": \"list\",           \"value\": \"My Drive\"         },         \"folderId\": {           \"__rl\": true,           \"value\": \"1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML\",           \"mode\": \"list\",           \"cachedResultName\": \"n8n-backups\",           \"cachedResultUrl\": \"https://drive.google.com/drive/folders/1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML\"         },         \"options\": {}       },       \"type\": \"n8n-nodes-base.googleDrive\",       \"typeVersion\": 3,       \"position\": [         -672,         2064       ],       \"id\": \"0409987a-4d54-40cf-abff-8c3e8c28c4a2\",       \"name\": \"Create Backup Folder\",       \"credentials\": {         \"googleDriveOAuth2Api\": {           \"id\": \"7rveCmWhR6Y9Hbo7\",           \"name\": \"Google Drive account\"         }       }     },     {       \"parameters\": {         \"rule\": {           \"interval\": [             {               \"triggerAtHour\": 23             }           ]         }       },       \"type\": \"n8n-nodes-base.scheduleTrigger\",       \"typeVersion\": 1.2,       \"position\": [         -896,         2144       ],       \"id\": \"651003c0-0dc5-4e88-96ba-4b149cea6bbd\",       \"name\": \"Schedule Trigger\"     },     {       \"parameters\": {         \"filters\": {},         \"requestOptions\": {}       },       \"type\": \"n8n-nodes-base.n8n\",       \"typeVersion\": 1,       \"position\": [         -448,         2064       ],       \"id\": \"2d676fb6-4929-4f45-957b-9c24061e2317\",       \"name\": \"Fetch Workflows\",       \"credentials\": {         \"n8nApi\": {           \"id\": \"Lssk8mBfX4ReRipH\",           \"name\": \"n8n account\"         }       }     },     {       \"parameters\": {         \"options\": {}       },       \"type\": \"n8n-nodes-base.splitInBatches\",       \"typeVersion\": 3,       \"position\": [         -224,         2064       ],       \"id\": \"515b90f1-0f32-4628-85cd-d4223fe8e7ce\",       \"name\": \"Loop Workflows\"     },     {       \"parameters\": {         \"name\": \"={{ $json.fileName }}\",         \"driveId\": {           \"__rl\": true,           \"mode\": \"list\",           \"value\": \"My Drive\"         },         \"folderId\": {           \"__rl\": true,           \"mode\": \"id\",           \"value\": \"={{ $('Create Backup Folder').item.json.id }}\"         },         \"options\": {}       },       \"type\": \"n8n-nodes-base.googleDrive\",       \"typeVersion\": 3,       \"position\": [         224,         2144       ],       \"id\": \"6cd2e0d1-5bb4-406f-a7e1-6c475e3a4c51\",       \"name\": \"Upload to Drive\",       \"credentials\": {         \"googleDriveOAuth2Api\": {           \"id\": \"7rveCmWhR6Y9Hbo7\",           \"name\": \"Google Drive account\"         }       }     },     {       \"parameters\": {         \"jsCode\": \"// Get all backup folders and delete those older than 7 days\\nconst parentFolderId = '1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML';\\nconst daysToKeep = 7;\\n\\ntry {\\n  // List all folders in the backup directory\\n  const options = {\\n    qs: {\\n      q: `'${parentFolderId}' in parents and mimeType='application/vnd.google-apps.folder' and name contains 'Workflow Backups'`,\\n      fields: 'files(id,name,createdTime)'\\n    }\\n  };\\n  \\n  const response = await this.helpers.httpRequestWithAuthentication.call(\\n    this,\\n    'googleDriveOAuth2Api',\\n    options\\n  );\\n  \\n  const folders = response.files || [];\\n  const cutoffDate = new Date();\\n  cutoffDate.setDate(cutoffDate.getDate() - daysToKeep);\\n  \\n  const foldersToDelete = folders.filter(folder => {\\n    const folderDate = new Date(folder.createdTime);\\n    return folderDate < cutoffDate;\\n  });\\n  \\n  console.log(`Found ${folders.length} backup folders, deleting ${foldersToDelete.length} old ones`);\\n  \\n  // Delete old folders\\n  for (const folder of foldersToDelete) {\\n    try {\\n      await this.helpers.httpRequestWithAuthentication.call(\\n        this,\\n        'googleDriveOAuth2Api',\\n        {\\n          method: 'DELETE',\\n          url: `https://www.googleapis.com/drive/v3/files/${folder.id}`\\n        }\\n      );\\n      console.log(`Deleted folder: ${folder.name} (${folder.id})`);\\n    } catch (error) {\\n      console.error(`Failed to delete folder ${folder.id}:`, error.message);\\n    }\\n  }\\n  \\n  return [{ json: { deleted: foldersToDelete.length, remaining: folders.length - foldersToDelete.length } }];\\n  \\n} catch (error) {\\n  console.error('Cleanup failed:', error.message);\\n  return [{ json: { error: error.message, status: 'cleanup_failed' } }];\\n}\"       },       \"type\": \"n8n-nodes-base.code\",       \"typeVersion\": 2,       \"position\": [         0,         1872       ],       \"id\": \"55d43e1d-9b36-44c3-86db-fc43b2241cb2\",       \"name\": \"Cleanup Old Backups\"     }   ],   \"connections\": {     \"Convert to JSON1\": {       \"main\": [         [           {             \"node\": \"Upload to Drive\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"When clicking ‘Execute workflow’\": {       \"main\": [         [           {             \"node\": \"Create Backup Folder\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Create Backup Folder\": {       \"main\": [         [           {             \"node\": \"Fetch Workflows\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Schedule Trigger\": {       \"main\": [         [           {             \"node\": \"Create Backup Folder\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Fetch Workflows\": {       \"main\": [         [           {             \"node\": \"Loop Workflows\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Loop Workflows\": {       \"main\": [         [           {             \"node\": \"Cleanup Old Backups\",             \"type\": \"main\",             \"index\": 0           }         ],         [           {             \"node\": \"Convert to JSON1\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Upload to Drive\": {       \"main\": [         [           {             \"node\": \"Loop Workflows\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     }   },   \"pinData\": {},   \"meta\": {     \"templateCredsSetupCompleted\": true,     \"instanceId\": \"ec32bd9b68661ebafc8983f2520fe295bcfae7d5a081cb152d46c986673ccd1d\"   } }"}]},"options":{}},"id":"b921df21-9e16-409f-adf5-d4a0e98bdc2a","name":"Paste workflow JSON here","type":"n8n-nodes-base.set","position":[224,0],"typeVersion":3.4},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,224],"id":"fabf5a8c-181e-412c-b128-3e072c447deb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"3bEkn5PQ9shVt2pP","name":"OpenRouter account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Paste workflow JSON here","type":"main","index":0}]]},"Paste workflow JSON here":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f03ae72c-64da-45d4-b16c-10f68b4b2ff9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-25T06:21:15.079Z","createdAt":"2025-11-25T06:21:15.079Z","role":"workflow:owner","workflowId":"odYQtnWvM4WI4IuV","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]