n8n-workflows1/AI-curated Indian marketing newsletter with RSS feeds and Gmail delivery.json
[{"updatedAt":"2026-01-02T07:23:45.263Z","createdAt":"2026-01-02T07:23:45.263Z","id":"kTPMrUziT25QfTj6","name":"AI-curated Indian marketing newsletter with RSS feeds and Gmail delivery","active":false,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"user@example.com","toEmail":"user@example.com","subject":"={{$json[\"subject\"]}}","html":"={{$json[\"htmlBody\"]}}","options":{}},"id":"6c8a1d1e-4620-453e-b3bc-5049c97d04cc","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[1808,384],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=You are a strict relevance filter for news articles.\n\nINSTRUCTIONS:\n- Reply only with: true or false\n- No explanations, no punctuation, no newlines, no extra text\n\nRELEVANT TOPICS:\n- Brand or product launches\n- New or upcoming advertising/marketing campaigns\n- Digital media changes (strategies, platforms, or tools)\n\nEvaluate the following article:\n\nTitle: {{ $json.title }}\nContent: {{ $json.content }}\nSnippet: {{ $json.contentSnippet }}\n\nIs this article relevant? Respond with true or false only.\n","options":{}},"id":"905f714b-66e3-4bb1-9dc1-941f9e10469c","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[832,832],"executeOnce":true,"typeVersion":1.9,"onError":"continueErrorOutput"},{"parameters":{"options":{"reset":false}},"id":"b861ce16-a94a-4bbe-b592-bb1d7b200257","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[544,816],"typeVersion":3},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"c45cd790-48f8-41ec-8946-a7d2e65eae71","name":"Merge","type":"n8n-nodes-base.merge","position":[1232,960],"typeVersion":3.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2f473722-ac3b-485f-b3de-6d4406b75e12","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.output }}","rightValue":"true"}]},"options":{}},"id":"2f4503e3-f37f-4bd2-b194-30040ddd7eed","name":"If","type":"n8n-nodes-base.if","position":[1440,960],"typeVersion":2.2},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 19 * * *"}]}},"id":"adec9e01-6cdb-4ac4-9558-b9508e67b84b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-960,832],"notesInFlow":false,"typeVersion":1.2},{"parameters":{"jsCode":"const tz = \"Asia/Kolkata\";\nconst now = new Date().toLocaleString(\"en-IN\", { timeZone: tz });\n\nconst articles = items.map(it => {\n  const j = it.json;\n\n  return `\n    <div style=\"padding:16px; border:1px solid #eee; border-radius:8px; margin-bottom:20px; background-color:#f9f9f9;\">\n      <h3 style=\"margin-top:0; margin-bottom:8px;\">\n        <a href=\"${j.Link}\" target=\"_blank\" style=\"color:#0077cc; text-decoration:none;\">\n          ${j.Title}\n        </a>\n      </h3>\n      <p style=\"margin:0 0 6px 0; font-size:13px; color:#888;\">\n        Published on: ${new Date(j.IsoDate).toLocaleDateString(\"en-IN\", { day: 'numeric', month: 'short', year: 'numeric' })}\n      </p>\n      <p style=\"margin:0; font-size:15px; line-height:1.6; color:#333;\">\n        ${j.ContentSnippet || ''}\n      </p>\n    </div>\n  `;\n}).join(\"\");\n\nreturn [{\n  json: {\n    subject: `XYZ Marketing NewsLetter – ${now}`,\n    htmlBody: `\n      <div style=\"font-family:'Segoe UI', Roboto, sans-serif; padding:24px; background-color:#ffffff; color:#333; max-width:700px; margin:auto;\">\n        <h2 style=\"color:#111; margin-top:0;\">📢 Latest Brand & Campaign Updates</h2>\n        ${articles}\n        <hr style=\"border:none; border-top:1px solid #ddd; margin:24px 0;\">\n        <p style=\"font-size:12px; color:#999; text-align:center;\">\n          Sent automatically by our XYZ newsletter assistant from Delhi.\n        </p>\n      </div>\n    `\n  }\n}];\n"},"id":"6e180adc-646b-475f-9e3d-9953267ffdbc","name":"Code","type":"n8n-nodes-base.code","position":[1360,304],"typeVersion":2},{"parameters":{"url":"https://brandequity.economictimes.indiatimes.com/rss/topstories","options":{"ignoreSSL":false}},"id":"228e6ff2-bdd1-4957-ae10-6265d9890d15","name":"EconomicTimes Top Stories1","type":"n8n-nodes-base.rssFeedRead","position":[-432,704],"typeVersion":1,"onError":"continueRegularOutput"},{"parameters":{"url":"https://brandequity.economictimes.indiatimes.com/rss/business-of-brands","options":{}},"id":"96fa0a7e-c9ea-496c-8788-929cf63cacf4","name":"EconomicTimes Business of Brands","type":"n8n-nodes-base.rssFeedRead","position":[-416,960],"typeVersion":1,"onError":"continueRegularOutput"},{"parameters":{"url":"https://brandequity.economictimes.indiatimes.com/rss/digital","options":{}},"id":"40532c1a-1e5b-48db-a5d1-e31c136e755a","name":"EconomicTimes Digital Marketing","type":"n8n-nodes-base.rssFeedRead","position":[-624,992],"typeVersion":1,"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.campaignindia.in/rss/rss.ashx","options":{"ignoreSSL":false}},"id":"2586460c-0693-4471-8471-100845d98137","name":"Campaign India","type":"n8n-nodes-base.rssFeedRead","position":[-624,672],"typeVersion":1,"onError":"continueRegularOutput"},{"parameters":{"sendTo":"user@example.com","subject":"={{ $json.subject }}","message":"={{ $json.htmlBody }}","options":{}},"id":"055aaf2b-8b2d-4dcd-9a6e-78a6971e1123","name":"Send a message","type":"n8n-nodes-base.gmail","position":[1584,304],"webhookId":"dd1709b7-5299-4f99-8222-60eb5694136a","typeVersion":2.1,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini","cachedResultName":"gpt-5-mini"},"options":{}},"id":"773d6638-5ae1-43e7-b62c-bf9f5010fcb1","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[832,1008],"typeVersion":1.2},{"parameters":{"dataTableId":{"__rl":true,"mode":"list","value":"1VUgEWZhtGRgWRc4","cachedResultUrl":"/projects/wdXsYqO0TAnlH2nc/datatables/1VUgEWZhtGRgWRc4","cachedResultName":"Newsletter"},"columns":{"value":{"Guid":"={{ $json.guid }}","Link":"={{ $json.link }}","Title":"={{ $json.title }}","Output":"={{ $json.output }}","Content":"={{ $json.content }}","IsoDate":"={{ $json.isoDate }}","PubDate":"={{ $json.pubDate }}","ContentSnippet":"={{ $json.contentSnippet }}"},"schema":[{"id":"Output","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Output","defaultMatch":false},{"id":"Title","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Title","defaultMatch":false},{"id":"Link","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Link","defaultMatch":false},{"id":"PubDate","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"PubDate","defaultMatch":false},{"id":"Content","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Content","defaultMatch":false},{"id":"ContentSnippet","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"ContentSnippet","defaultMatch":false},{"id":"Guid","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Guid","defaultMatch":false},{"id":"IsoDate","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"IsoDate","defaultMatch":false}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b4f0e5ed-eced-42fb-b3bf-675f251e4ecc","name":"Insert row","type":"n8n-nodes-base.dataTable","position":[1712,944],"typeVersion":1},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"list","value":"1VUgEWZhtGRgWRc4","cachedResultUrl":"/projects/wdXsYqO0TAnlH2nc/datatables/1VUgEWZhtGRgWRc4","cachedResultName":"Newsletter"},"limit":30},"id":"f7cb549d-88a7-4924-ae24-12283025b6e5","name":"Get row(s)","type":"n8n-nodes-base.dataTable","position":[1152,304],"typeVersion":1},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"mode":"list","value":"1VUgEWZhtGRgWRc4","cachedResultUrl":"/projects/wdXsYqO0TAnlH2nc/datatables/1VUgEWZhtGRgWRc4","cachedResultName":"Newsletter"},"filters":{"conditions":[{"keyName":"Output","keyValue":"true"}]},"options":{}},"id":"e42b2ca9-83b7-4263-afbc-cbfb63eabcca","name":"Delete row(s)","type":"n8n-nodes-base.dataTable","position":[2112,208],"typeVersion":1},{"parameters":{},"id":"8ec7949d-2752-4608-981b-a2d1435de61e","name":"Limit","type":"n8n-nodes-base.limit","position":[944,304],"typeVersion":1},{"parameters":{},"id":"10ca706a-64ac-45c7-adfc-a388beec0e8e","name":"Merge Feeds-1","type":"n8n-nodes-base.merge","position":[-32,688],"typeVersion":1},{"parameters":{},"id":"92f8b000-dbd1-427a-87c9-888f5acfbd8a","name":"Merge Feeds-2","type":"n8n-nodes-base.merge","position":[-32,976],"typeVersion":1},{"parameters":{},"id":"7d4ccbbe-60da-44d7-9c92-9f72a1b4539d","name":"Merge Feeds-All","type":"n8n-nodes-base.merge","position":[208,816],"typeVersion":1},{"parameters":{"content":"## Get Latest News\n**Fetches 4 marketing news feeds (ET + Campaign India).\nYou can add/remove RSS sources here.**","height":727,"width":512,"color":7},"id":"ab8940f2-d075-417a-a2a3-9cf89c49fed3","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-736,512],"typeVersion":1},{"parameters":{"content":"## Merge all\n**Combines all RSS feeds into one list.**\n","height":727,"width":512,"color":7},"id":"9b1b5af8-479a-4eb7-9a31-fd6a99a92bb4","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-128,512],"typeVersion":1},{"parameters":{"content":"## Process AND LOOP-OVER All News Items\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nEach article is passed to the AI Agent.\nThe agent returns true/false based on strict marketing relevance rules (System Prompt).\nModify the prompt in AI Agent if you want different filtering criteria.\n","height":615,"width":1520,"color":7},"id":"824e725a-a20b-46be-94c0-c6d791ed6879","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[448,720],"typeVersion":1},{"parameters":{"content":"## Send Filtered News Using Gmail/SMTP Account\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThese nodes creates a polished HTML newsletter using the latest filtered articles from the Data Table. \nThe Code node formats the content with titles, links, publish dates, and snippets, producing the final subject and HTML body used for sending.\nAfter the email is sent, the workflow deletes all Data Table rows where Output = true.\n","height":519,"width":1520,"color":7},"id":"42428bc6-bc0d-406b-ad10-507f3e20602b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[816,128],"typeVersion":1},{"parameters":{"content":"## Set up steps - What this workflow does!\n\nThis flow pulls the latest marketing news from Campaign India and ET BrandEquity, filters the useful stories with an AI relevance check, saves them to a Data Table, and sends a daily newsletter at 7:30 PM IST. After sending, it clears the used entries so the next email contains only new articles.\n\n\n**How to set it up**\n1. Add your Gmail account.\n2. (Optional) Add SMTP if you want a fallback sender.\n3. Update the “Send to” email address.\n4. Create a Data Table in n8n, make sure the Data Table has all the columns as in 'Insert Roe' node or let n8n create it.\n5. Change the schedule time if needed.\n6. Add/remove RSS feeds in the “Get Latest News” group.","height":704,"width":420},"id":"182c2d6a-8ce6-41fb-b5eb-a8f29fd7e748","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1600,528],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Insert row","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Code","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Delete row(s)","type":"main","index":0}]]},"Merge Feeds-1":{"main":[[{"node":"Merge Feeds-All","type":"main","index":0}]]},"Merge Feeds-2":{"main":[[{"node":"Merge Feeds-All","type":"main","index":1}]]},"Campaign India":{"main":[[{"node":"Merge Feeds-1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Delete row(s)","type":"main","index":0}],[{"node":"Send Email","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge Feeds-All":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"EconomicTimes Top Stories1","type":"main","index":0},{"node":"EconomicTimes Business of Brands","type":"main","index":0},{"node":"EconomicTimes Digital Marketing","type":"main","index":0},{"node":"Campaign India","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"EconomicTimes Top Stories1":{"main":[[{"node":"Merge Feeds-1","type":"main","index":1}]]},"EconomicTimes Digital Marketing":{"main":[[{"node":"Merge Feeds-2","type":"main","index":1}]]},"EconomicTimes Business of Brands":{"main":[[{"node":"Merge Feeds-2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8aecf6bf-f711-42f6-a5fb-808b9a58856d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T07:23:45.269Z","createdAt":"2026-01-02T07:23:45.269Z","role":"workflow:owner","workflowId":"kTPMrUziT25QfTj6","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]