n8n-workflows1/Automated social media content creation with OpenAI, LinkedIn & Twitter approval.json
[{"updatedAt":"2026-01-09T06:04:08.000Z","createdAt":"2026-01-06T04:58:36.154Z","id":"B7M89HZguLvW6Bj5","name":"Automated social media content creation with OpenAI, LinkedIn & Twitter approval","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## STEP 2 : Send approval Email","height":680,"color":7},"id":"196c842a-5e86-4c9b-86fb-f3a714e1320d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1152,400],"typeVersion":1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"platform_posts\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"LinkedIn\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n                        \"image_suggestion\": {\n                  \t\t\t\"type\": \"string\"\n                  \t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"X-Twitter\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n                        \"video_suggestion\": {\n                \t\t\t\"type\": \"string\"\n                \t\t},\n                        \"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"character_limit\": {\n\t\t\t\t\t\t\t\"type\": \"integer\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"additional_notes\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"00ffab8f-1149-4c2a-9c2f-3c3562631be4","name":"Social Media Content","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[592,928],"typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"id":"9e53fa4a-6be5-47d1-9712-7f59a86f1a7e","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[768,880],"typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text"}},"id":"b09205a1-026c-409b-999d-2137dca60ad5","name":"gpt-4o LLM","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[240,928],"typeVersion":1.2},{"parameters":{"person":"VoJamciSbX","text":"={{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}","shareMediaCategory":"IMAGE","binaryPropertyName":"=data","additionalFields":{}},"id":"fc599c8c-2d89-47f6-af35-0b7532f0de1b","name":"LinkedIn Post","type":"n8n-nodes-base.linkedIn","position":[2288,720],"typeVersion":1,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"sendAndWait","sendTo":"=emailAddress","subject":"=FOR YOUR APPROVAL {{ $('Social Media Content Factory').item.json.output.name }} - {{ $('Social Media Content Factory').item.json.output.description }}","message":"={{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"id":"3d616330-a33f-4472-b76a-c16cfbcbbea6","name":"Gmail User for Approval","type":"n8n-nodes-base.gmail","position":[1216,720],"webhookId":"c46cf421-ddb6-45a8-b83b-80b381666f0e","typeVersion":2.1},{"parameters":{"formTitle":"What do you feel like posting about today?","formDescription":"=Welcome to your Social Media Assistant!\n\nJust provide the topic or title of your choice and an optional image, and the agent will generate platform-specific posts\n\nIf you're looking to grow your social media presence, this agent will save you time and make posting efficient.","formFields":{"values":[{"fieldLabel":"Topic","placeholder":"What is the title or topic you want to write the post about?","requiredField":true},{"fieldLabel":"Keywords or Hashtags (optional)","placeholder":"Include any specific keywords or hashtags you'd like","requiredField":"={{ false }}"},{"fieldLabel":"Link (optional)","placeholder":"=Would you like to redirect your audience to a link? Add it here."},{"fieldLabel":"Image","fieldType":"dropdown","fieldOptions":{"values":[{"option":"AI generated"},{"option":"Image Link"}]}}]},"options":{"buttonLabel":"Generate Social Media Content"}},"id":"8461d37e-aaf4-412d-abad-75076b79e3df","name":"Submit Social Post Details","type":"n8n-nodes-base.formTrigger","position":[48,720],"webhookId":"3e762442-715e-47e1-a65e-ae92085857ae","typeVersion":2.2},{"parameters":{"content":"## STEP 1 : Generate social media post - text","height":680,"width":1120,"color":7},"id":"54f01ead-1e22-40bc-bb70-a53a4b248437","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1},{"parameters":{"content":"## STEP 3:  Generate social media post - image or choose an existing image online","height":684,"width":668,"color":7},"id":"cabc84f4-715a-4076-a1cb-5ab13b244b35","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1408,400],"typeVersion":1},{"parameters":{"content":"## STEP 4:  Publish posts","height":684,"width":400,"color":7},"id":"de0bece7-ad61-423e-8bdb-027ab7aa4be0","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[2112,400],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are a **content creation AI** for Saloni, a leading creator of **product management careers, growth, leadership** content.\n\nYour goal is to craft **engaging, platform-specific content** for LinkedIn, Twitter (X),. Each post must align with the platform’s audience preferences, tone, and style while reflecting Saloni's expertise. The content should provide **value-driven insights**, tutorials, reviews, and discussions that resonate with tech professionals, product managers, leaders, startup founders and more.\n\n### Key Objectives:\n1. **Platform Optimization**: Tailor content format, tone, and hashtags to suit each platform’s algorithm and audience engagement patterns.\n2. **SEO & Hashtags**: Use a mix of general automation hashtags and trending platform-specific hashtags to maximize reach.\n3. **Engagement Focus**: Create content that sparks interaction through tutorials, comparisons, reviews, or thought-provoking discussions.\n4. **Consistency**: Maintain a professional yet approachable tone across all platforms while adapting to audience needs.\n5. **Data-Driven Strategy**: Analyze trends and performance data to refine content strategy and hashtag usage.\n\n### General Hashtags:\n#WomenInTech #ProductManagement\n\n---\nYou have to generate content both for Linkedin and Twitter as mentioned below\n\n### Platform-Specific Guidelines:\n\n#### 1. LinkedIn\n   - **Style**: Professional and insightful.\n   - **Tone**: Business-oriented; focus on automation use cases, industry insights, and community impact.\n   - **Content Length**: 3-4 sentences; concise but detailed.\n   - **Hashtags**: #ProductManagement #WomenInTech\n   - **Call to Action (CTA)**: Follow Saloni Malhotra for everything Product.\n\n\n#### 2. Twitter (X)\n   - **Style**: Concise and impactful.\n   - **Tone**: Crisp and engaging\n   - **Hashtags**: #ProductManagement #WomenInTech\n   - **CTA**: Drive quick engagement through retweets or replies (e.g., “What’s your go-to n8n workflow?”).\n\n\n---\n\n### Content Creation Workflow:\nFor every post:\n1. Use the following input fields:\n    - Topic/About the Post: {{ $json.Topic }}\n    - Keywords/Focus Areas: {{ $json.formMode }}\n    - Link (optional): {{ $json['Link (optional)'] }}\n\t\n2. Adapt the tone/style given below for each post and Ensure every post reflects this tone\nThoughtful, yet Playful\nYou dive deep into product management, tech, and career stuff, but you make it digestible. Even heavy topics like supply chain systems or Gini coefficients come with a wink. You never talk down to the reader, but you don’t dumb things down either.\n\nHonest and Self-aware\nYou don’t pretend to have it all figured out. You’re open about things like burnout, privilege, career plateaus, or learning curves. That makes your content feel real, not performative.\n\nConfident without being boastful\nYou showcase your wins—leading a GenAI solution, shipping customer portals, launching Dot—but your tone says “Here’s what I learned”, not “Look how amazing I am.”\n\nConversational but Structured\nYour posts often follow a structure—hook, insight, story, takeaway—but you write like you talk: sharp, witty, humane. Even when you rant, it feels like a smart friend venting over chai, not noise for engagement.\n\n\nLinkedin post should be about 500 words and twitter post under 150 characters\n\nFollow the provided JSON schema for your reponse.\n","hasOutputParser":true,"options":{"systemMessage":"=Use the provided tools to research the topic based on latest information.  Todays date is {{ $now }}"}},"id":"2904dc41-f20f-410b-8a3b-1e826797a4d3","name":"Social Media Content Factory","type":"@n8n/n8n-nodes-langchain.agent","position":[352,720],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Generate clean, modern HTML email content from the provided JSON data with these requirements:\n- Use table-based layout with inline CSS for email compatibility\n- Create card sections for each platform containing:\n  • Title header (20px) \n  • Post content (16px) \n  • Video/image suggestions (italic 14px)\n  • Hashtag list (inline-block with # prefix)\n  • Emoji preservation where present\n  • Call-to-action (bold 14px)\n- Structure using:\n  • 600px max-width container\n  • 20px padding between cards\n  • Left-aligned text hierarchy\n  • Arial/sans-serif font stack\n  • Email-safe colors (#333 text, #555 secondary)\n- Include all platform-specific elements:\n  ▶ Video/image suggestions in italic\n  ▶ Hashtags as linked search terms\n  ▶ Emojis in original positions\n  ▶ Character limits for Twitter\n  ▶ Platform-specific CTAs\n  ▶ Visual quality reminders\n- Format hashtags as:\n  <span style=\"display: inline-block; background: #f0f0f0; padding: 2px 6px; margin: 2px; border-radius: 4px;\">#tag</span>\n\nInput data: {{ $json.output.toJsonString() }}\n\nRemove ALL code blocks and comments. Output ONLY the raw HTML with:\n- Platform cards in JSON order\n- All data elements represented\n- Mobile-responsive tables\n- W3C-valid markup\n\n## Example HTML:\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#fbfcfe;border:1px solid #dbdfe7;border-radius:8px\">\n  <tr>\n    <td align=\"center\" style=\"padding:24px 0\">\n      <table width=\"448\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;max-width:448px;background-color:#ffffff;border:1px solid #dbdfe7;border-radius:8px;padding:24px\">\n        <tr>\n          <td style=\"text-align:center;padding-top:8px;font-family:Arial,sans-serif;font-size:14px;color:#7e8186\">\n            <p style=\"white-space:pre-line\"></p>\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;font-family:Arial,sans-serif;color:#333\">\n              <tr>\n                <td style=\"padding:20px\">\n                  \n                  <!-- LinkedIn Card -->\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n                    <tr>\n                      <td style=\"font-size:20px;font-weight:bold;padding-bottom:10px\">LinkedIn</td>\n                    </tr>\n                    <tr>\n                      <td style=\"font-size:16px;padding-bottom:10px\">Follow Saloni Malhotra on Linkedin for everything Product.</td>\n                    </tr>\n                    <tr>\n                      <td style=\"font-size:14px;font-style:italic;padding-bottom:10px\">Video/Image suggestion pending</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding-bottom:10px\">\n                        <span style=\"display:inline-block;background:#f0f0f0;padding:2px 6px;margin:2px;border-radius:4px\">#ProductManagement</span>\n                        <span style=\"display:inline-block;background:#f0f0f0;padding:2px 6px;margin:2px;border-radius:4px\">#WomenInTech</span>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td style=\"font-size:14px;font-weight:bold\">Checkout my Linkedin profile https://www.linkedin.com/in/saloni-malhotra/ and follow my Instagram page at that_product_girl!</td>\n                    </tr>\n                  </table>\n\n                  <!-- Twitter Card -->\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f9f9f9;margin-bottom:20px;padding:20px;border-radius:8px\">\n                    <tr>\n                      <td style=\"font-size:20px;font-weight:bold;padding-bottom:10px\">Twitter</td>\n                    </tr>\n                    <tr>\n                      <td style=\"font-size:16px;padding-bottom:10px\">Checkout my Linkedin profile https://www.linkedin.com/in/saloni-malhotra/ and follow my Instagram page at that_product_girl!</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding-bottom:10px\">\n                        <span style=\"display:inline-block;background:#f0f0f0;padding:2px 6px;margin:2px;border-radius:4px\">#WomenInTech</span>\n                        <span style=\"display:inline-block;background:#f0f0f0;padding:2px 6px;margin:2px;border-radius:4px\">#ProductManagement</span>\n                        <span style=\"display:inline-block;background:#f0f0f0;padding:2px 6px;margin:2px;border-radius:4px\">#VibeCoding</span>\n              \n                      </td>\n                    </tr>\n                  </table>\n\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>\n","options":{}},"id":"4e99c372-0871-4e0c-ad43-3928cc1b26a9","name":"Prepare Content Review Email","type":"@n8n/n8n-nodes-langchain.agent","position":[800,720],"typeVersion":1.7},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e32d270f-f258-4522-94e1-2cb7ee4e8d2a","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"a3a6f714-41e4-4cff-8bfe-04ff05d95a62","name":"Is Content Approved?","type":"n8n-nodes-base.if","position":[1472,720],"typeVersion":2.2},{"parameters":{"text":"={{ $('Social Media Content Factory').item.json.output.platform_posts['X-Twitter'].post }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts['X-Twitter'].hashtags}}","additionalFields":{}},"id":"4f8e5f33-fc64-4ee4-ad16-f80c2a66764e","name":"Create Tweet","type":"n8n-nodes-base.twitter","position":[2288,528],"typeVersion":2},{"parameters":{"resource":"image","prompt":"=Create a American modern style image for  {{ $('Submit Social Post Details').item.json.Topic }} and {{ $('Social Media Content Factory').item.json.output.description }}","options":{}},"id":"fd588450-aee5-40d7-8a94-42947fc5a559","name":"Generate an image","type":"@n8n/n8n-nodes-langchain.openAi","position":[1888,576],"typeVersion":1.8,"alwaysOutputData":true},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#social"},"text":"=Linkedin post is live! {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}","otherOptions":{}},"id":"c508382a-71b6-4574-ae8a-3d0f233bf6c0","name":"Send a message","type":"n8n-nodes-base.slack","position":[2688,864],"webhookId":"752c9a45-e202-47ce-9b52-c297b8d9db53","typeVersion":2.3},{"parameters":{"content":"## STEP 5 : Update status via messaging app / sheets/ docs","height":684,"width":400,"color":7},"id":"2b3cb5b4-f921-4182-8640-cc3f0500b72e","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[2544,400],"typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1r1ltAbepwXWED84buQKNgRL3xxv-CZRUNCJPVw_BU9Q","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1r1ltAbepwXWED84buQKNgRL3xxv-CZRUNCJPVw_BU9Q/edit?usp=drivesdk","cachedResultName":"Saloni Linkedin Posts"},"sheetName":{"__rl":true,"mode":"list","value":1904412624,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1r1ltAbepwXWED84buQKNgRL3xxv-CZRUNCJPVw_BU9Q/edit#gid=1904412624","cachedResultName":"Twitter posts"},"columns":{"value":{"Post":"={{ $json.text }}"},"schema":[{"id":"Post","type":"string","display":true,"removed":false,"required":false,"displayName":"Post","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Post"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d551cc62-1dda-498b-805b-a3862691c168","name":"Append or update row in sheet","type":"n8n-nodes-base.googleSheets","position":[2688,624],"typeVersion":4.6},{"parameters":{"url":"imgUrl","options":{"response":{"response":{}}}},"id":"b867799e-5018-4aa1-a705-7c07a7a53cab","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[1888,864],"typeVersion":4.2},{"parameters":{"person":"VoJamciSbX","text":"=This is a default post  {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"7c80fad4-e27b-4b7f-92de-f07be1280dcf","name":"Create a post","type":"n8n-nodes-base.linkedIn","position":[2288,912],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d3af4b0c-9d5b-4c40-ba07-f23cae560155","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Submit Social Post Details').item.json.Image }}","rightValue":"AI generated"}]},"options":{}},"id":"220f5616-77e2-4433-9484-9e606210a73d","name":"If","type":"n8n-nodes-base.if","position":[1696,704],"typeVersion":2.2},{"parameters":{"content":"\n## From Idea to Post: Social Media Automation in Action\n\n\nInstead of manually writing content, emailing for approval, designing creatives, and posting—this workflow does it all for you. It’s perfect for:\n\nFounders or marketers who want to save time\n\nTeams that need content approval before publishing\n\nEnsuring consistent quality and branding across posts","height":352,"width":2944,"color":6},"id":"d6eb81d6-6c57-4818-a114-e18cdd00b316","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Generate an image","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"gpt-4o LLM":{"ai_languageModel":[[{"node":"Social Media Content Factory","type":"ai_languageModel","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Prepare Content Review Email","type":"ai_languageModel","index":0}]]},"Create Tweet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"LinkedIn Post":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"LinkedIn Post","type":"main","index":0},{"node":"Create Tweet","type":"main","index":0}]]},"Is Content Approved?":{"main":[[{"node":"If","type":"main","index":0}]]},"Social Media Content":{"ai_outputParser":[[{"node":"Social Media Content Factory","type":"ai_outputParser","index":0}]]},"Gmail User for Approval":{"main":[[{"node":"Is Content Approved?","type":"main","index":0}]]},"Submit Social Post Details":{"main":[[{"node":"Social Media Content Factory","type":"main","index":0}]]},"Prepare Content Review Email":{"main":[[{"node":"Gmail User for Approval","type":"main","index":0}]]},"Social Media Content Factory":{"main":[[{"node":"Prepare Content Review Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"75ac8bac-e06e-49a7-9aa3-8c11c074021e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:58:36.158Z","createdAt":"2026-01-06T04:58:36.158Z","role":"workflow:owner","workflowId":"B7M89HZguLvW6Bj5","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]