n8n-workflows1/Auto-generate social media posts from URLs with AI, Telegram & multi-platform posting.json
[{"updatedAt":"2026-01-06T04:52:14.783Z","createdAt":"2026-01-06T04:52:09.926Z","id":"9hwHtsqPLthf3TIh","name":"Auto-generate social media posts from URLs with AI, Telegram & multi-platform posting","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"name":"Telegram Bot Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-4832,592],"webhookId":"9ea69b50-b6ca-4968-918a-8ca35b8ad7d7","typeVersion":1,"id":"0719376e-f0dd-41af-a984-707a22eeb774"},{"parameters":{"content":"# 📱 Telegram URL Processor\n\nThis workflow receives URLs from Telegram and processes them into social media content:\n\n- ✅ Extracts URL from message\n- 📊 Saves to Google Sheets\n- 📄 Fetches content\n- 🤖 AI summarization\n- 🎨 Image generation\n- 📱 Multi-platform posting\n- ✅ Returns post URLs","height":384,"width":389},"name":"Workflow Overview","type":"n8n-nodes-base.stickyNote","position":[-5408,384],"typeVersion":1,"id":"c8b434fe-011d-411f-b891-d2aea3076253"},{"parameters":{"functionCode":"// Extract URL from Telegram message\nconst message = $json.message.text;\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\nconst urls = message.match(urlRegex);\n\nif (!urls || urls.length === 0) {\n  throw new Error('No URL found in the message');\n}\n\nconst extractedUrl = urls[0];\nconst chatId = $json.message.chat.id;\nconst messageId = $json.message.message_id;\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    url: extractedUrl,\n    chatId: chatId,\n    messageId: messageId,\n    timestamp: timestamp,\n    originalMessage: message\n  }\n};"},"name":"Extract URL","type":"n8n-nodes-base.function","position":[-4384,496],"typeVersion":1,"id":"90bc8a12-6f04-4a77-8911-6a09c5a8ed22"},{"parameters":{"url":"={{ $node['Extract URL'].json.url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true}}}},"name":"Fetch URL Content","type":"n8n-nodes-base.httpRequest","position":[-3936,496],"typeVersion":4.2,"id":"1bf9e622-1397-4968-8bd3-ab73e4918889"},{"parameters":{"functionCode":"// Extract text content from HTML\nconst html = $json.data;\nconst url = $node['Extract URL'].json.url;\n\n// Simple HTML to text conversion\nlet textContent = html\n  .replace(/<script[^>]*>.*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>.*?<\\/style>/gi, '')\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Extract title (simple approach)\nconst titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].trim() : 'Article';\n\n// Limit content length for AI processing\nif (textContent.length > 8000) {\n  textContent = textContent.substring(0, 8000) + '...';\n}\n\nif (textContent.length < 100) {\n  throw new Error('Could not extract meaningful content from the URL');\n}\n\nreturn {\n  json: {\n    url: url,\n    title: title,\n    content: textContent,\n    wordCount: textContent.split(' ').length\n  }\n};"},"name":"Extract Text Content","type":"n8n-nodes-base.function","position":[-3712,496],"typeVersion":1,"id":"07e0b952-85e6-4a6f-9da9-5c3999477979"},{"parameters":{"content":"# 🤖 AI Content Generation\n\nThis section handles:\n- Content summarization\n- Social media post creation\n- Image description generation\n- Platform-specific optimization","height":864,"width":280},"name":"AI Processing","type":"n8n-nodes-base.stickyNote","position":[-3504,112],"typeVersion":1,"id":"17b7baf8-e686-44f3-a095-6664b12d7e6b"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v19.0/[INSERT_YOUR_SITE_ID]/photos","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"caption","value":"={{ $input.first().json.message.content }}"},{"name":"=url","value":"={{ $item(0).$node[\"Supabase Public URL\"].json[\"public_url\"] }}"},{"value":"="}]},"options":{}},"name":"Post to Facebook","type":"n8n-nodes-base.httpRequest","position":[-1312,336],"typeVersion":4.2,"id":"b57cb89f-dd92-45d7-a1d5-bcf6be3b7a5a"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/[INSERT_YOUR_SITE_ID]/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $item(0).$node[\"Supabase Public URL\"].json[\"public_url\"] }}"},{"name":"caption","value":"={{ $input.first().json.message.content }}"}]},"options":{}},"name":"Post to Instagram","type":"n8n-nodes-base.httpRequest","position":[-1312,528],"typeVersion":4.2,"id":"22af4cf2-3c29-47a7-9e84-e5a493de6a68"},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1b7k0A06DY_oI3Ex6fR48FN0PXK6g59U4714wBYUCezw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b7k0A06DY_oI3Ex6fR48FN0PXK6g59U4714wBYUCezw/edit?usp=drivesdk","cachedResultName":"n8n - Telegram Social Media Content Automation"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b7k0A06DY_oI3Ex6fR48FN0PXK6g59U4714wBYUCezw/edit#gid=0","cachedResultName":"Arkusz1"},"columns":{"value":{"Image URL":"={{ $item(0).$node[\"Supabase Public URL\"].json[\"public_url\"] }}","Source URL":"={{ $node[\"Telegram Bot Trigger\"].json.message.text }}","Facebook URL":"={{ $json.facebook_post_url }}","LinkedIn URL":"={{ $json.linkedin_post_url }}","Instagram URL":"={{ $json.instagram_post_url }}","Facebook Content":"={{ $node[\"Facebook Post\"].json.message.content }}","Instagram Content":"={{ $node[\"Instagram Post\"].json.message.content }}","LinkedIn Content ":"={{ $node[\"LinkedIn Post\"].json.message.content }}"},"schema":[{"id":"Source URL","type":"string","display":true,"removed":false,"required":false,"displayName":"Source URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Facebook Content","type":"string","display":true,"required":false,"displayName":"Facebook Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Facebook URL","type":"string","display":true,"required":false,"displayName":"Facebook URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Instagram Content","type":"string","display":true,"required":false,"displayName":"Instagram Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Instagram URL","type":"string","display":true,"required":false,"displayName":"Instagram URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn Content ","type":"string","display":true,"required":false,"displayName":"LinkedIn Content ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn URL","type":"string","display":true,"required":false,"displayName":"LinkedIn URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Image URL","type":"string","display":true,"required":false,"displayName":"Image URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Source URL"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Final Status Update","type":"n8n-nodes-base.googleSheets","position":[32,496],"typeVersion":4,"alwaysOutputData":true,"id":"e0640985-aa28-44ba-b0bd-2537b075cbf7"},{"parameters":{"content":"# 📱 Social Media Publishing\n\nPosts content to:\n- Facebook Pages via Graph API\n- Instagram Business via Graph API\n- LinkedIn via REST API","height":652},"name":"Publishing Phase","type":"n8n-nodes-base.stickyNote","position":[-272,16],"typeVersion":1,"id":"617b8ea5-acbb-417b-86fe-c78b13f5d499"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/[INSERT_YOUR_SITE_ID]/media_publish","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"},{"name":"access_token","value":"={{ $credentials.facebookGraph.accessToken }}"}]},"options":{}},"name":"Post to Instagram1","type":"n8n-nodes-base.httpRequest","position":[-1088,528],"typeVersion":4.2,"id":"f569b6fe-4ee3-496b-bf76-2ef742f82a6e"},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-nano","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Based on the provided article content, create a Facebook post that is professional yet approachable, ranging from 100-200 words. The tone should be informative and engaging, with occasional light humor when appropriate to the topic. Focus on the key takeaway or most interesting insight from the article. Include a clear call-to-action that encourages meaningful discussion in the comments. The post should feel conversational and relatable while maintaining credibility. If the topic allows, incorporate a subtle touch of humor or a relatable analogy that your professional network would appreciate. Keep the language of the original text. End with a thoughtful question to spark engagement.:  {{ $('Extract Text Content').item.json.content }}"}]},"options":{}},"name":"Facebook Post","type":"@n8n/n8n-nodes-langchain.openAi","position":[-3488,416],"typeVersion":1.8,"id":"dc6abac7-8a1b-4626-b4ce-efddecfed1a3"},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-nano","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Transform the article content into a punchy Instagram post of 50-80 words maximum. Use a casual, energetic tone with 2-3 relevant emojis strategically placed. Include wordplay, puns, or clever turns of phrase when they fit naturally. Focus on one compelling hook or surprising fact from the article. Write in short, impactful sentences that work well with Instagram's visual-first format. Include 3-5 relevant hashtags at the end. The post should feel fresh, scrollable, and shareable while still delivering value from the original content. Keep the languafe of the original:  {{ $('Extract Text Content').item.json.content }}"}]},"options":{}},"name":"Instagram Post","type":"@n8n/n8n-nodes-langchain.openAi","position":[-3488,608],"typeVersion":1.8,"id":"4f8fa114-6cdb-4073-a897-b744e26fbf51"},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-nano","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Create an engaging, professional LinkedIn post (max 400 characters) based on this article:  {{ $('Extract Text Content').item.json.content }}"}]},"options":{}},"name":"LinkedIn Post","type":"@n8n/n8n-nodes-langchain.openAi","position":[-3488,800],"typeVersion":1.8,"id":"edb172ca-84e4-4d66-9a0c-5649e289c1e1"},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[-1536,336],"typeVersion":3.2,"id":"68ca6964-e847-4091-8ef2-d834ccde9e04"},{"parameters":{},"name":"Merge1","type":"n8n-nodes-base.merge","position":[-1536,528],"typeVersion":3.2,"id":"31041a8a-46fd-4841-8e02-3765e4c13fbd"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"name":"Merge2","type":"n8n-nodes-base.merge","position":[-1536,944],"typeVersion":3.2,"id":"d162d620-7a10-4b1f-8af6-02f509266e13"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dc0117b8-213b-4c6f-934e-583fe2ec7d45","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"=={{ ($json.message.text || '').match(/https?:\\/\\/\\S+/) !== null }}","rightValue":""}]},"options":{}},"name":"If message contains URL","type":"n8n-nodes-base.if","position":[-4608,592],"typeVersion":2.2,"id":"57405fd2-ea9d-4d32-8928-5c5ebef5fc9d"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"You can't do this here. You need to upload a URL with an article.","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","position":[-4384,688],"webhookId":"7e3d2ccb-9161-43d5-99c6-a2286541886a","typeVersion":1.2,"id":"7c75adaa-9f3c-47fc-86dd-32f0032422a3"},{"parameters":{"jsCode":"const id = $json.post_id || $json.id || '';\nconst parts = id.split('_');\nconst postId = parts.length > 1 ? parts[1] : '';\nconst facebookUsername = '<YOUR_FACEBOOK_PAGE_USERNAME>';\nconst facebookPostUrl = postId\n  ? `https://facebook.com/${facebookUsername}/posts/${postId}`\n  : '';\n\nreturn {\n  json: {\n    facebook_post_id: postId,\n    facebook_post_url: facebookPostUrl,\n    facebook_published: !!postId\n  }\n};\n"},"name":"Code","type":"n8n-nodes-base.code","position":[-864,320],"typeVersion":2,"id":"83f291a6-9985-4d3e-bb7b-7e5bbd31eee4"},{"parameters":{"jsCode":"const mediaId = $json.id || '';\nreturn {\n  json: {\n    instagram_post_id: mediaId,\n    instagram_post_url: $input.first().json.permalink, // nie mamy shortcode :(\n    instagram_published: !!mediaId\n  }\n};\n"},"name":"Code1","type":"n8n-nodes-base.code","position":[-640,528],"typeVersion":2,"id":"89720a36-6c37-47b7-87bb-b32d3b3c2d25"},{"parameters":{"person":"wZFKPz_aPr","text":"={{ $('LinkedIn Post').item.json.message.content }}","shareMediaCategory":"IMAGE","additionalFields":{}},"name":"LinkedIn","type":"n8n-nodes-base.linkedIn","position":[-1088,944],"typeVersion":1,"id":"6df84c5b-aa5e-4293-a8a8-d76ec35baaef"},{"parameters":{"url":"={{ $json.public_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Binary File","type":"n8n-nodes-base.httpRequest","position":[-1312,944],"typeVersion":4.2,"id":"1bbc44d4-273e-4125-85ca-de725bda10d6"},{"parameters":{"numberInputs":3},"name":"Merge3","type":"n8n-nodes-base.merge","position":[-416,480],"typeVersion":3.2,"id":"e7f524e7-8841-467a-95f1-614c7edd6cc7"},{"parameters":{"url":"={{ `https://graph.facebook.com/${$json.fbApiVersion || 'v19.0'}/${$json.id}?fields=permalink` }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"name":"Get Post URL","type":"n8n-nodes-base.httpRequest","position":[-864,528],"typeVersion":4.2,"id":"2a8a9db6-7b21-4e4f-a795-37cebe841494"},{"parameters":{"jsCode":"const urn = $json.urn || ''; // example: urn:li:share:7342310895114420224\nconst postId = urn.split(':').pop(); // get the numeric ID\n\nconst linkedinPostUrl = postId \n  ? `https://www.linkedin.com/feed/update/${urn.replace('urn:li:', '').replace(/:/g, '%3A')}/`\n  : '';\n\nreturn {\n  json: {\n    linkedin_post_id: postId,\n    linkedin_post_url: linkedinPostUrl,\n    linkedin_published: !!postId\n  }\n};\n"},"name":"Code2","type":"n8n-nodes-base.code","position":[-864,944],"typeVersion":2,"id":"96f2d7df-156a-4af9-9de5-e00a802c74b0"},{"parameters":{"jsCode":"return [\n  {\n    json: Object.assign({}, ...items.map(item => item.json))\n  }\n];\n"},"name":"Code3","type":"n8n-nodes-base.code","position":[-192,496],"typeVersion":2,"id":"f2dab3f8-4161-4446-8572-2f0d899b6e7f"},{"parameters":{"assignments":{"assignments":[{"id":"bb4004a1-9c8b-4603-b8ed-227e50940f87","name":"filename","type":"string","value":"={{$now.toMillis()}}.png"}]},"includeOtherFields":true,"options":{}},"name":"Edit Fields","type":"n8n-nodes-base.set","position":[-2560,768],"typeVersion":3.4,"id":"91886b8f-4abc-4e4e-ac58-50c06a66c1d8"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ $json.text }}","options":{"quality":"high","size":"1024x1024"}},"name":"Generate an image1","type":"@n8n/n8n-nodes-langchain.openAi","position":[-2784,768],"typeVersion":1.8,"id":"3b7685cb-c61a-4829-a835-903a4f776da6"},{"parameters":{"promptType":"define","text":"=Wygeneruj prompt dla Recraft, tak, aby wygenerował profesjonalny obraz na social media (Facebook, Instagram) do tego TEMATU: {{ $json.text }} Pamiętaj, że obraz ma być interesujący, pasujący do bloga technologicznego, na przykład fotorealistyczne fotki ekspertów w biurze, w terenie, zdjęcia konkretnych sprzetow, technologii czy koncepcji opisanych w artykule. Obrazki mają być esetyczne, wywołujące pozytywne uczucia. Tematyka i wygląd obrazka ma ściśle wiązać się z treścią zadanego TEMATU. W Prawym dolnym rogu ma być mały napis SmartCamp.AI. Pamiętaj, że to jest  prompt, który później będzie wklejany do body w api, wiec unikaj elementów, które moga popsuć json (Nie możesz używać cudzysłowów). Wygeneruj sam prompt, bez wstępu, bez cudzysłowów. Cała wiadomość musi mieć mniej niż 1000 znaków.","batching":{}},"name":"Basic LLM Chain2","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-3136,768],"typeVersion":1.7,"id":"be917469-ba6e-41bb-b66b-7d3efdbb3276"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $node[\"Telegram Bot Trigger\"].json.message.chat.id }}","file":"={{ $item(0).$node[\"Supabase Public URL\"].json[\"public_url\"] }}","additionalFields":{"caption":"=Content published!\n\nFacebook Post: {{ $node[\"Code3\"].json.facebook_post_url }}\n\nInstagram Post: {{ $node[\"Code3\"].json.instagram_post_url }}\n\nLinkedIn Post: {{ $node[\"Code3\"].json.linkedin_post_url }}\n"}},"name":"Send a photo message","type":"n8n-nodes-base.telegram","position":[256,496],"webhookId":"90e30a0b-989d-4a48-9779-d83dda1ca336","typeVersion":1.2,"id":"1f374fb3-46cc-4dc1-9c95-fdf84844e0c0"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1b7k0A06DY_oI3Ex6fR48FN0PXK6g59U4714wBYUCezw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b7k0A06DY_oI3Ex6fR48FN0PXK6g59U4714wBYUCezw/edit?usp=drivesdk","cachedResultName":"n8n - Telegram Social Media Content Automation"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1b7k0A06DY_oI3Ex6fR48FN0PXK6g59U4714wBYUCezw/edit#gid=0","cachedResultName":"Arkusz1"},"columns":{"value":{"Source URL":"={{ $json.url }}"},"schema":[{"id":"Source URL","type":"string","display":true,"removed":false,"required":false,"displayName":"Source URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Facebook Content","type":"string","display":true,"required":false,"displayName":"Facebook Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Facebook URL","type":"string","display":true,"required":false,"displayName":"Facebook URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Instagram Content","type":"string","display":true,"required":false,"displayName":"Instagram Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Instagram URL","type":"string","display":true,"required":false,"displayName":"Instagram URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn Content ","type":"string","display":true,"required":false,"displayName":"LinkedIn Content ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn URL","type":"string","display":true,"required":false,"displayName":"LinkedIn URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Image URL","type":"string","display":true,"required":false,"displayName":"Image URL","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Source URL"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Append or update row in sheet","type":"n8n-nodes-base.googleSheets","position":[-4160,496],"typeVersion":4.6,"id":"d42e090d-4469-436b-b858-5e57bcb4abe6"},{"parameters":{"content":"🔐 Credentials\nThis template uses n8n Credentials.\n- Facebook/Instagram: `facebookGraph`\n- Supabase: `supabase`\n- Google Sheets: OAuth2\n- OpenAI/Gemini: API key\nNo API keys are stored inside the template.","height":172,"width":360},"name":"Credentials","type":"n8n-nodes-base.stickyNote","position":[-5392,816],"typeVersion":1,"id":"4df3feb5-5665-4b87-8a78-16fa87c04cdd"},{"parameters":{"content":"🧪 Input assumption\nSend a Telegram message with a single URL. The workflow extracts the URL and processes the article.","height":388,"width":360},"name":"Input","type":"n8n-nodes-base.stickyNote","position":[-4960,368],"typeVersion":1,"id":"e6022c57-41c2-499f-b1d8-42fa897b048a"},{"parameters":{"content":"🖼️ Image handling\nGenerates an image with OpenAI and uploads it to Supabase Storage.\nSet your bucket name in the Set node or via JSON.","height":284,"width":920},"name":"Image pipeline","type":"n8n-nodes-base.stickyNote","position":[-2592,640],"typeVersion":1,"id":"654562ce-d4aa-4e62-9441-aefd796dde06"},{"parameters":{"content":"📊 Sheet mapping\nUpdate `YOUR_GOOGLE_SHEET_ID` and `Sheet1`.\nColumns will be created automatically on first run.","height":340,"width":232},"name":"Sheets mapping","type":"n8n-nodes-base.stickyNote","position":[-4224,320],"typeVersion":1,"id":"2b79fd98-5a9e-4875-88f7-6dfd7140ffa4"},{"parameters":{"options":{}},"name":"Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-3072,992],"typeVersion":1,"id":"ccc4f8e3-71e9-495d-bc60-ca9513376079"},{"parameters":{"content":"# Final step \nUpdates Google Sheets with post details and sends a Telegram message with image + direct post links as confirmation.","height":652,"width":400},"name":"Publishing Phase1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"fd9ce7b7-b026-436b-b6fa-423f87c1ca8c"},{"parameters":{"method":"POST","url":"={{ ($json.supabase_base_url || '').trim().replace(/\\/+$/,'') + '/storage/v1/object/' + ($json.bucket || 'social-media-ai-generated') + '/' + $json.filename }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"=={{ $binary.data?.mimeType || 'application/octet-stream' }}"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Supabase (uses credentials)","type":"n8n-nodes-base.httpRequest","position":[-2112,768],"typeVersion":4.2,"id":"495d26f9-0287-430f-816d-a5d5f8fc1e36"},{"parameters":{"assignments":{"assignments":[{"id":"1dbcf7c4-2e01-4df2-874e-93868b74a519","name":"bucket","type":"string","value":"social-media-ai-generated"},{"id":"4e88d63f-01de-4265-8271-fd0ed637b5fd","name":"filename","type":"string","value":"={{ $json.filename }}"},{"id":"b5579b42-bc9e-44d9-b997-2f1e505c0692","name":"link_ttl_seconds","type":"string","value":"3600"},{"id":"ab260017-3161-4cbf-ad86-84d23a94e780","name":"supabase_base_url","type":"string","value":"https://api.supabase.smartcamp.ai"}]},"includeOtherFields":true,"options":{"stripBinary":false}},"name":"Supabase Config","type":"n8n-nodes-base.set","position":[-2336,768],"typeVersion":3.4,"id":"e525097e-5346-4cd9-ac5e-993b4a50e4c0"},{"parameters":{"assignments":{"assignments":[{"id":"cdc9fb52-3d91-4af4-9ff4-8fb15e6543c4","name":"public_url","type":"string","value":"={{ $node[\"Supabase Config\"].json.supabase_base_url.toString().trim().replace(/\\/+$/,'') + \"/storage/v1/object/public/\" + encodeURIComponent($node[\"Supabase Config\"].json.bucket) + \"/\" + encodeURIComponent($node[\"Supabase Config\"].json.filename) }}"}]},"options":{}},"name":"Supabase Public URL","type":"n8n-nodes-base.set","position":[-1872,768],"typeVersion":3.4,"id":"b2c6e1a9-c3fc-4cfe-83e2-a4353a3ed0fc"},{"parameters":{"content":"# Instagram & Facebook Site IDs\n\nRemember to replace the palceholder with your respective site IDs","height":652,"width":432},"name":"Publishing Phase2","type":"n8n-nodes-base.stickyNote","position":[-1376,32],"typeVersion":1,"id":"2f77a913-ba8d-4b16-8627-661abdc4d158"}],"connections":{"Code":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Code2":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Code3":{"main":[[{"node":"Final Status Update","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Post to Facebook","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Post to Instagram","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Binary File","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Binary File":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase Config","type":"main","index":0}]]},"Extract URL":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Get Post URL":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Facebook Post":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Gemini":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"LinkedIn Post":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Instagram Post":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Supabase Config":{"main":[[{"node":"Upload to Supabase (uses credentials)","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Generate an image1","type":"main","index":0}]]},"Post to Facebook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Fetch URL Content":{"main":[[{"node":"Extract Text Content","type":"main","index":0}]]},"Post to Instagram":{"main":[[{"node":"Post to Instagram1","type":"main","index":0}]]},"Generate an image1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Post to Instagram1":{"main":[[{"node":"Get Post URL","type":"main","index":0}]]},"Final Status Update":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Supabase Public URL":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"Merge1","type":"main","index":1},{"node":"Merge","type":"main","index":1}]]},"Extract Text Content":{"main":[[{"node":"Facebook Post","type":"main","index":0},{"node":"Instagram Post","type":"main","index":0},{"node":"LinkedIn Post","type":"main","index":0}]]},"Telegram Bot Trigger":{"main":[[{"node":"If message contains URL","type":"main","index":0}]]},"If message contains URL":{"main":[[{"node":"Extract URL","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Fetch URL Content","type":"main","index":0}]]},"Upload to Supabase (uses credentials)":{"main":[[{"node":"Supabase Public URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e234f401-9624-4084-b630-5e87351f3560","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:52:09.930Z","createdAt":"2026-01-06T04:52:09.930Z","role":"workflow:owner","workflowId":"9hwHtsqPLthf3TIh","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]