n8n-workflows1/Automate Reddit Monitoring with GPT-5-Mini, Notion, and Gmail.json
[{"updatedAt":"2025-12-03T05:34:16.184Z","createdAt":"2025-12-03T05:34:16.184Z","id":"a49qX9dXiOQyWFME","name":"Automate Reddit Monitoring with GPT-5-Mini, Notion, and Gmail","active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"your-mail@example.com","subject":"New Reddit Discussions Found","message":"={{ $json.htmlEmail }}","options":{}},"id":"f171e9bb-3905-4a30-a024-f41fa566b6f4","name":"Send a message","type":"n8n-nodes-base.gmail","position":[752,352],"webhookId":"79db7ca5-4ca6-4148-aaea-09fff0751663","typeVersion":2.1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"keywords\": [\n    \"competitor\",\n    \"intelligence\"\n  ],\n  \"search_all_subs\": false,\n  \"subreddits\": \n  [\n    \"saas\", \n    \"solopreneur\", \n    \"b2bsaas\", \n    \"indiehackers\"\n  ]\n}\n","options":{}},"id":"a544a08e-29e2-4c5a-b643-9fcade4fe8dd","name":"Define Keywords And Subreddits","type":"n8n-nodes-base.set","position":[-5152,16],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"ada8880a-aacc-43b3-b309-0a2489c588df","name":"RELEVANCE_CRITERIA","type":"string","value":"Discussions should be related to competitive intelligence."}]},"options":{}},"id":"54addef9-a387-4269-8526-bf0cdf2fcbd9","name":"Define Relevance Criteria","type":"n8n-nodes-base.set","position":[-4352,16],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"933d9c72-1296-45bf-a453-ae4a27c398e4","name":"COMMENT_INSTRUCTIONS","type":"string","value":"Acknowledge the challenges users face and offer clear, helpful solutions. Generate a brief comment and don't use em dash or hyphens."}]},"options":{}},"id":"b40146b8-135e-475a-9467-542d8154a1d1","name":"Define Instructions For Generating Comments","type":"n8n-nodes-base.set","position":[-3968,16],"typeVersion":3.4},{"parameters":{"rule":{"interval":[{}]}},"id":"0af8f77f-58cc-4c75-b7d9-375271a1694c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-5632,16],"typeVersion":1.2},{"parameters":{"fieldToSplitOut":"keywords","options":{}},"id":"1882a757-071c-4f89-bd23-b7576ba41b6b","name":"Split Out Keywords","type":"n8n-nodes-base.splitOut","position":[-4720,16],"typeVersion":1},{"parameters":{"url":"={{ $(\"Define Keywords And Subreddits\").item.json.search_all_subs\n\t? \"https://www.reddit.com/search.json\"\n\t: \"https://www.reddit.com/r/\" + $(\"Define Keywords And Subreddits\").item.json.subreddits.join(\"+\") + \"/search.json\"\n}}","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Split Out Keywords').item.json.keywords }}"},{"name":"restrict_sr","value":"on"},{"name":"sort","value":"new"},{"name":"t","value":"day"}]},"options":{}},"id":"d13e56ba-a520-4550-97dd-512b975566fa","name":"Search Reddit","type":"n8n-nodes-base.httpRequest","position":[-3584,16],"typeVersion":4.2},{"parameters":{"jsCode":"const keywords = $('Define Keywords And Subreddits').first().json.keywords.map(k => k.toLowerCase());\nconst subreddits = $('Define Keywords And Subreddits').first().json.subreddits;\nconst searchAllSubs = $('Define Keywords And Subreddits').first().json.search_all_subs;\nconst posts = $input.first().json.posts;\n\n// Convert subreddit list or show \"All Subreddits\"\nconst subList = searchAllSubs\n  ? 'All subreddits on Reddit'\n  : subreddits.map(s => `r/${s}`).join(', ');\n\n// Helper: highlight all keywords in a text\nfunction highlightAll(text, keywords) {\n  let result = text;\n  keywords.forEach(k => {\n    const re = new RegExp(`(${k})`, 'gi');\n    result = result.replace(re, '<span style=\"background-color:#ffeb3b; color:#111; font-weight:600;\">$1</span>');\n  });\n  return result;\n}\n\n// Helper: find first keyword occurrence and extract snippet\nfunction snippetAroundKeywords(text, keywords, radius = 120) {\n  const lower = text.toLowerCase();\n  let firstIndex = -1;\n  let matchedKeyword = null;\n\n  for (const k of keywords) {\n    const i = lower.indexOf(k);\n    if (i !== -1 && (firstIndex === -1 || i < firstIndex)) {\n      firstIndex = i;\n      matchedKeyword = k;\n    }\n  }\n\n  if (firstIndex === -1) return null;\n\n  const start = Math.max(0, firstIndex - radius);\n  const end = Math.min(text.length, firstIndex + matchedKeyword.length + radius);\n\n  let snippet = text.substring(start, end);\n  return highlightAll(snippet, keywords) + (end < text.length ? '...' : '');\n}\n\n// Start modern container\nlet htmlContent = `\n<div style=\"font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial; \n            max-width: 680px; margin: 0 auto; padding: 32px; \n            background-color: #f5f7fa; color: #2b2b2b;\">\n\n  <div style=\"text-align: center; margin-bottom: 28px;\">\n    <h2 style=\"font-size: 26px; font-weight: 700; color: #111; margin-bottom: 6px;\">\n      New Reddit Discussions Identified\n    </h2>\n    <div style=\"font-size: 15px; color: #444; margin-bottom: 4px;\">\n      Keywords tracked: <span style=\"font-weight: 600; color: #0066ff;\">${keywords.join(', ')}</span>\n    </div>\n    <div style=\"font-size: 13px; color: #666;\">\n      Checked across: <span style=\"color: #222;\">${subList}</span>\n    </div>\n  </div>\n`;\n\nposts.forEach(post => {\n  const data = post.data;\n  const relevance = post.relevanceScore;\n  const aiComment = post.generatedComment;\n\n  // Highlight keywords in title\n  let title = data.title;\n  const titleLower = title.toLowerCase();\n  keywords.forEach(k => {\n    if (titleLower.includes(k)) {\n      const re = new RegExp(`(${k})`, 'gi');\n      title = title.replace(re, '<span style=\"color:#ff5722; font-weight:700;\">$1</span>');\n    }\n  });\n\n  // Extract snippet from selftext\n  let snippet = '';\n  if (data.selftext) {\n    const extracted = snippetAroundKeywords(data.selftext, keywords);\n    snippet = extracted || data.selftext.substring(0, 180) + '...';\n  }\n\n  htmlContent += `\n    <div style=\"background-color: #ffffff; padding: 22px; margin-bottom: 22px;\n                border-radius: 14px; border: 1px solid #e4e7ec;\n                box-shadow: 0 3px 10px rgba(0,0,0,0.05);\">\n\n      <div style=\"font-size: 13px; color: #666; margin-bottom: 10px;\">\n        <span style=\"color: #ff4500; font-weight: 600;\">${data.subreddit_name_prefixed}</span>\n        • u/${data.author}\n      </div>\n\n      <a href=\"https://www.reddit.com${data.permalink}\" target=\"_blank\"\n        style=\"font-size: 18px; font-weight: 700; color: #1a73e8; line-height: 1.4; text-decoration: none;\">\n        ${title}\n      </a>\n\n      ${\n        snippet\n          ? `<p style=\"font-size: 14px; margin-top: 14px; line-height: 1.6; color:#333;\">\n               ${snippet}\n             </p>`\n          : ''\n      }\n\n      <div style=\"margin-top: 12px; font-size: 13px; color: #444;\">\n        Relevance score: <strong>${relevance}/10</strong>\n      </div>\n\n      ${\n        aiComment\n          ? `<div style=\"margin-top: 10px; padding: 12px; background: #f0f4ff; border-radius: 10px; font-size: 13px; line-height: 1.5; color: #333;\">\n               <strong>AI Generated Comment:</strong><br>${aiComment}\n             </div>`\n          : ''\n      }\n\n      <div style=\"margin-top: 16px; font-size: 12px; color: #777; padding-top: 10px; border-top: 1px solid #eee;\">\n        👍 ${data.ups} • 💬 ${data.num_comments} comments\n      </div>\n    </div>\n  `;\n});\n\nhtmlContent += `</div>`;\n\nreturn [\n  {\n    json: {\n      htmlEmail: htmlContent\n    },\n    pairedItem: 0\n  }\n];\n"},"id":"9da78b5a-e922-4f40-823b-cac911a32bcc","name":"Generate HTML Email","type":"n8n-nodes-base.code","position":[288,352],"typeVersion":2},{"parameters":{"jsCode":"\n// Get the children array from the first input item\nconst children = $input.first().json.children;\n\n// Flatten all child arrays into a single array\nconst combinedPosts = children.flat();\n\n// Return combined posts in a single array\nreturn [{\n  json: {\n    posts: combinedPosts\n  },\n  pairedItem: 0\n}];"},"id":"44d43013-1d7c-47ad-86ce-fb0c8de1308f","name":"Combine Posts Into A Single Array","type":"n8n-nodes-base.code","position":[-2320,16],"typeVersion":2},{"parameters":{"jsCode":"const openAIMessages = $input.all();\nconst posts = $('Split Out Posts').all();\n\nreturn openAIMessages.map((msg, i) => ({\n  json: {\n    ...posts[i].json,\n    relevanceScore: msg.json.message.content.relevance_score,\n    generatedComment: msg.json.message.content.comment\n  },\n  pairedItem: i\n}));"},"id":"22d9366b-2d8e-4f2e-865b-185f856824a7","name":"Add Relevance Score And Comment To Each Post","type":"n8n-nodes-base.code","position":[-816,16],"typeVersion":2},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"mode":"list","value":"2adc5676-4824-80cc-bce6-e96af0ea07c1","cachedResultUrl":"https://www.notion.so/2adc5676482480ccbce6e96af0ea07c1","cachedResultName":"Reddit Automation"},"title":"={{ $json.data.title }}","propertiesUi":{"propertyValues":[{"key":"Body|rich_text","textContent":"={{ ($json.data.selftext || '').slice(0, 2000) }}"},{"key":"Relevance Score|number","numberValue":"={{ $json.relevanceScore }}"},{"key":"Generated Comment|rich_text","textContent":"={{ $json.generatedComment }}"},{"key":"Subreddit|select","selectValue":"={{ $json.data.subreddit }}"},{"key":"Upvote Ratio|number","numberValue":"={{ $json.data.upvote_ratio }}"},{"key":"Upvotes|number","numberValue":"={{ $json.data.ups }}"},{"key":"Down Votes|number","numberValue":"={{ $json.data.downs }}"},{"key":"Created At|date","date":"={{ new Date($json.data.created * 1000).toISOString() }}"},{"key":"Post ID|rich_text","textContent":"={{ $json.data.id }}"},{"key":"Author|rich_text","textContent":"={{ $json.data.author }}"},{"key":"Link|url","urlValue":"={{ `https://www.reddit.com${$json.data.permalink}` }}"}]},"options":{}},"id":"b403bfcb-2d1e-4b8e-8b14-041ff19d7141","name":"Add Each Post to Notion Database","type":"n8n-nodes-base.notion","position":[752,16],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0da1a4b0-47ea-429b-92fc-28562eec5ec4","operator":{"type":"number","operation":"notEquals"},"leftValue":"={{ $json.data.dist }}","rightValue":0}]},"options":{}},"id":"e0b9cb3b-2aaa-4717-aabc-b98aaae12168","name":"Filter Reddit Items With No Posts","type":"n8n-nodes-base.filter","position":[-3168,16],"typeVersion":2.2},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data.children"}]},"options":{}},"id":"e25b6bb1-7db2-411d-80ae-447d387fa825","name":"Aggregate Reddit Items","type":"n8n-nodes-base.aggregate","position":[-2752,16],"typeVersion":1},{"parameters":{"fieldToSplitOut":"posts","options":{}},"id":"3084817e-2187-4ec7-802a-d69b47f00bdd","name":"Split Out Posts","type":"n8n-nodes-base.splitOut","position":[-1888,16],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"posts","options":{}},"id":"f105a522-f29c-4995-9c04-b362892f524e","name":"Aggregate Posts","type":"n8n-nodes-base.aggregate","position":[-256,16],"typeVersion":1},{"parameters":{"fieldToSplitOut":"posts","options":{}},"id":"c10d30a4-d6bb-4473-ac20-e508148d6ab0","name":"Split Out Posts Into Items","type":"n8n-nodes-base.splitOut","position":[288,16],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5-mini","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Analyze the following Reddit post and provide a relevance assessment and comment strictly in JSON format. Do not include any extra text outside the JSON. \n\nUse the provided Relevance Criteria to determine how relevant the post is to the topic and assign a relevance score from 1 (low) to 10 (high). \n\nThen, using the provided Comments Instructions, generate an appropriate comment for the post.\n\nOutput format:\n\n{\n  \"reasoning\": \"brief explanation of why this post is relevant or not according to the criteria\",\n  \"relevance_score\": <number from 1 to 10>,\n  \"comment\": \"comment generated based on the instructions\"\n}\n\nInputs:\n\nRelevance Criteria: {{ $('Define Relevance Criteria').first().json.RELEVANCE_CRITERIA }}\n\nComments Instructions: {{ $('Define Instructions For Generating Comments').first().json.COMMENT_INSTRUCTIONS }}\n\nPost Title: {{ $json.data.title }}\n\nPost Body: {{ $json.data.selftext }}\n"}]},"jsonOutput":true,"options":{}},"id":"f98b9f49-363a-4999-ae4c-c00cdcbbe01c","name":"Analyze Each Post","type":"@n8n/n8n-nodes-langchain.openAi","position":[-1440,16],"typeVersion":1.8},{"parameters":{"content":"## How it works\nThis workflow runs daily to scan Reddit for posts matching your keywords—in specific subreddits or site-wide. It pulls new posts via the Reddit API (no credentials needed), then uses GPT-4o-mini to analyze each: scoring relevance based on your criteria and generating a tailored comment suggestion. Results save to a Notion database for tracking. Optionally, it emails a summary of findings in HTML format.\n\n## Setup steps\n1. **Keywords & Subreddits**: Edit the first node to add your search terms and subreddits (or leave blank for all Reddit).\n2. **OpenAI**: Add your API key in the AI node credentials. Customize prompts for relevance scoring (e.g., \"Score 1-10 on lead potential\") and comment generation (e.g., \"Suggest a helpful reply for engagement\").\n3. **Notion**: Duplicate the template database, get your integration secret, and paste it into the Notion node's credentials. Map fields like title, score, and comment.\n4. **Email (optional)**: Set up Gmail credentials, add your recipient email, and test the summary format.\n5. **Trigger**: Activate the schedule node for daily runs—adjust time if needed.\nTest end-to-end with a manual trigger before going live.\n\n\n**Need Help with This Template? Feel free to reach out. Our DMs are always open!**\n\n**Email:** [hello@scoutnow.app](mailto:hello@scoutnow.app)\n**X (Twitter):** [@ScoutNowApp](https://x.com/ScoutNowApp) \n\nNo question is too small. We’re here to help!\n","height":880,"width":480},"id":"bb2ecf7e-7ee5-4102-9a0c-8dbdecc212cf","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-6512,-256],"typeVersion":1},{"parameters":{"content":"## 1. Fetch Latest Posts Matching Keywords from Subreddits\n\nSet your keywords, subreddits, relevance rules, and comment generation instructions in the **Define** nodes below. To search across all subreddits instead of a selected list, switch the `search_all_subs` variable to true.","height":880,"width":4064,"color":7},"id":"10d667b8-efdc-48c7-ab47-07d91cf563c6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-5776,-256],"typeVersion":1},{"parameters":{"content":"## 2. Analyze Each Post Using GPT-5-Mini for Relevance and Comments, Save to Notion, and Optionally Send Email\n\nUse the following Notion page as your template: [Notion Page](https://scoutnow.notion.site/2adc5676482480ccbce6e96af0ea07c1)","height":880,"width":2640,"color":7},"id":"e451930f-8263-45c5-a19f-1a19c49870e7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-1584,-256],"typeVersion":1}],"connections":{"Search Reddit":{"main":[[{"node":"Filter Reddit Items With No Posts","type":"main","index":0}]]},"Aggregate Posts":{"main":[[{"node":"Generate HTML Email","type":"main","index":0},{"node":"Split Out Posts Into Items","type":"main","index":0}]]},"Split Out Posts":{"main":[[{"node":"Analyze Each Post","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Define Keywords And Subreddits","type":"main","index":0}]]},"Analyze Each Post":{"main":[[{"node":"Add Relevance Score And Comment To Each Post","type":"main","index":0}]]},"Split Out Keywords":{"main":[[{"node":"Define Relevance Criteria","type":"main","index":0}]]},"Generate HTML Email":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Aggregate Reddit Items":{"main":[[{"node":"Combine Posts Into A Single Array","type":"main","index":0}]]},"Define Relevance Criteria":{"main":[[{"node":"Define Instructions For Generating Comments","type":"main","index":0}]]},"Split Out Posts Into Items":{"main":[[{"node":"Add Each Post to Notion Database","type":"main","index":0}]]},"Define Keywords And Subreddits":{"main":[[{"node":"Split Out Keywords","type":"main","index":0}]]},"Combine Posts Into A Single Array":{"main":[[{"node":"Split Out Posts","type":"main","index":0}]]},"Filter Reddit Items With No Posts":{"main":[[{"node":"Aggregate Reddit Items","type":"main","index":0}]]},"Define Instructions For Generating Comments":{"main":[[{"node":"Search Reddit","type":"main","index":0}]]},"Add Relevance Score And Comment To Each Post":{"main":[[{"node":"Aggregate Posts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e099596-9140-4a1e-b93e-13b509639dd5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T05:34:16.238Z","createdAt":"2025-12-03T05:34:16.238Z","role":"workflow:owner","workflowId":"a49qX9dXiOQyWFME","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]