n8n-workflows1/Chat with PDF via Telegram.json
[{"updatedAt":"2025-10-26T04:46:15.702Z","createdAt":"2025-10-26T04:46:15.702Z","id":"B7T55kqTuy6gIAad","name":"Chat with PDF via Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"dataType":"binary","options":{}},"id":"1f6f3b71-5f12-48d0-9285-8479564f7c1b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[128,320],"typeVersion":1},{"parameters":{"chunkSize":3000,"chunkOverlap":200,"options":{}},"id":"40337c9b-854c-4457-85c0-8cf0976ddfda","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[192,480],"typeVersion":1},{"parameters":{"errorMessage":"An error occurred"},"id":"76c1f13b-65bc-46dd-8d36-6f0da5d62a4d","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[480,1040],"typeVersion":1},{"parameters":{"promptType":"define","text":"=**INSTRUCTIONS:**\nYou are an expert RAG system. Answer the user's question ONLY using the provided context.\n\n1.  **Format Mode:** Your response MUST be formatted for Telegram's **HTML Parse Mode**.\n2.  **Formatting:**\n    * Use the bold tag (<b>) for all titles and key benefits.\n    * **CRITICAL LINE BREAK RULE:** For all line breaks, lists, and spacing, use the **newline character (\\n)** instead of any HTML tags like <br/> or <br>.\n    * Ensure the list is clearly structured with a single newline after each key item.\n\n**CONTEXT:** (The retrieved information follows here)\nSearch the database with the retriever for information for the answer\n\n**USER QUESTION:**\n{{ $json.message.text }}","options":{}},"id":"b2b2ffa9-344f-442c-b83d-3b0b0035be9c","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[-448,864],"typeVersion":1.3},{"parameters":{},"id":"71c2106f-6269-43fa-b72c-9b9b66065e78","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[-384,1056],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"telegram","cachedResultName":"telegram"},"options":{}},"id":"4b495868-0122-4d1c-bfa4-257ecd4547a6","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-464,1248],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8839993b-9fe7-4e1e-a1cc-fe5de6b0bb62","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.document }}","rightValue":""}]},"options":{}},"id":"6be864f6-7976-42a3-a320-c80a10d469fe","name":"Check If is a document","type":"n8n-nodes-base.if","position":[-1168,720],"typeVersion":2},{"parameters":{"jsCode":"// Função para modificar os metadados do arquivo binário\nfunction modifyBinaryMetadata(items) {\n for (const item of items) {\n if (item.binary && item.binary.data) {\n // Modifica o tipo MIME\n item.binary.data.mimeType = 'application/pdf';\n \n // Garante que o nome do arquivo termine com .pdf\n if (!item.binary.data.fileName.toLowerCase().endsWith('.pdf')) {\n item.binary.data.fileName += '.pdf';\n }\n \n // Atualiza o contentType no fileType (se existir)\n if (item.binary.data.fileType) {\n item.binary.data.fileType.contentType = 'application/pdf';\n }\n }\n }\n return items;\n}\n\n// Aplica a modificação e retorna os itens atualizados\nreturn modifyBinaryMetadata($input.all());"},"id":"e7e0b04f-5677-4940-9565-07e869b0680b","name":"Change to application/pdf","type":"n8n-nodes-base.code","position":[-384,448],"typeVersion":2},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"id":"9913ed8a-bcfb-445d-bda9-ca93ec9fff51","name":"Telegram get File","type":"n8n-nodes-base.telegram","position":[-704,448],"webhookId":"911eeb6b-d6c2-4d35-9433-24b7ec4886ef","typeVersion":1.2},{"parameters":{"chatId":"={{ $('Telegram Message Trigger').item.json.message.chat.id }}","text":"={{ $json.response.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"f89f6abe-73b2-4349-bad8-100a3b4a0110","name":"Telegram Response","type":"n8n-nodes-base.telegram","position":[96,864],"webhookId":"a5b324f8-649f-4a3a-b26f-57cd0eb341ec","typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Message Trigger').item.json.message.chat.id }}","text":"={{ $json.metadata.pdf.totalPages }} pages saved on Pinecone","additionalFields":{"appendAttribution":false}},"id":"1f4d2d10-9327-4002-865a-6a87aaf9679d","name":"Telegram Response about Database","type":"n8n-nodes-base.telegram","position":[720,144],"webhookId":"52437171-bdad-408c-bced-5ffec75b851d","typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"An error occurred."},"id":"3d5fa4a1-e0f9-4c15-90bd-bc1757aa2d0c","name":"Stop and Error1","type":"n8n-nodes-base.stopAndError","position":[992,240],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"telegram","cachedResultName":"telegram"},"options":{}},"id":"c815c33f-2769-4376-be6c-14998aaea38d","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[32,144],"typeVersion":1},{"parameters":{},"id":"902775ab-3445-4a92-940f-9f7370edcf10","name":"Limit to 1","type":"n8n-nodes-base.limit","position":[448,144],"typeVersion":1},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"a1ec7aaf-1078-47db-862f-84c0f879fba7","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[0,368],"typeVersion":1},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"11c9f7c6-f19e-4929-9a3a-0f8fdd2a2582","name":"Embeddings Google Gemini1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-432,1392],"typeVersion":1},{"parameters":{"options":{}},"id":"676fc4eb-3903-4e9d-865b-580c1c5257c8","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-576,1072],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"076150d6-3bfa-4e7e-952b-233c50b59518","name":"Telegram Message Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1536,720],"webhookId":"b178f034-9997-4832-9bb4-a43c3015506e","typeVersion":1.1},{"parameters":{"content":"## 1. **Trigger & Router**\n**Task:** This node is the starting point. It listens for *any* message on the configured Telegram bot.\n\n**Output:**\n- **Text:** User's question (goes to the RAG chain).\n- **Document:** Binary file data (goes to the indexing process).\n\n**Next Stop:** Routes the message to the **\"Check If is a document\"** node.","height":272,"width":368,"color":5},"id":"8dd62272-8ded-4ccb-b992-3a4ce0ab2e8e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1680,432],"typeVersion":1},{"parameters":{"content":"## 2. **Router Node**\n**Task:** Determines the message type to route the workflow.\n\n**Condition:** Checks if `{{ $json.message.document }}` **exists**.\n- **TRUE (Top Branch):** A file was uploaded. Proceed to **Indexing** (download the file).\n- **FALSE (Bottom Branch):** It is a plain text question. Proceed to **Querying** (run the RAG Chain).","height":256,"width":384,"color":6},"id":"bb93a824-e766-4343-8139-73982ea93435","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1280,432],"typeVersion":1},{"parameters":{"content":"## 5. **Text Splitter**\n**Task:** Breaks the large PDF text into small, manageable chunks for indexing.\n\n**Configuration:**\n- **Chunk Size:** 3000\n- **Chunk Overlap:** 200 (Ensures context overlaps between chunks for better retrieval).\n\n**Purpose:** This configuration is key for **Retrieval-Augmented Generation (RAG)** accuracy.","height":272,"width":336},"id":"d6875f7d-c1ff-4c77-bb99-4e4daea7b299","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[368,320],"typeVersion":1},{"parameters":{"content":"## 4. **Embeddings (Indexing)**\n**Task:** Converts the split text chunks into high-dimensional numerical **vectors**.\n\n**Model:** `models/gemini-embedding-001`\n\n**Purpose:** These vectors are what the Pinecone database stores and uses for fast, semantic similarity searches when a user asks a question.","height":336,"width":368,"color":3},"id":"ec97694a-8d71-41d3-b6a1-e26990121e42","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-48,-80],"typeVersion":1},{"parameters":{"content":"## 6. **Vector Store: Indexing**\n**Task:** **Inserts** the Gemini embeddings and their associated text content into the configured Pinecone index (`telegram`).\n\n**Mode:** **`insert`**\n\n**Result:** The PDF is now fully indexed and searchable. The workflow then sends a confirmation to the user via **\"Telegram Response about Database\"**.","height":256,"width":368,"color":2},"id":"e87cce7a-f48a-4b33-b9e2-88ba2f670992","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-208,1152],"typeVersion":1},{"parameters":{"content":"## 7. **Core RAG Engine**\n**Task:** Generates the final, context-based answer.\n\n**Connections:**\n- **LLM:** Google Gemini Chat Model (for generation).\n- **Retriever:** Vector Store Retriever (for context lookup).\n\n**CRITICAL PROMPT:** The prompt strictly enforces:\n1.  Answer **ONLY** using provided context.\n2.  Response must be in **Telegram HTML Parse Mode** (`<b>` and `\\n`).","height":368,"width":416,"color":3},"id":"b6175170-0eb4-4ffb-bb6e-9e3b177b7f04","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-544,608],"typeVersion":1},{"parameters":{"content":"## 8. **Final Telegram Response**\n**Task:** Sends the RAG result back to the user.\n\n**Text Input:** `={{ $json.response.text }}`\n\n**CRITICAL SETTING:**\n- **Parse Mode:** **HTML**\nThis is required to properly display the bold tags (`<b>`) and newline characters (`\\n`) formatted by the Question and Answer Chain.","height":336,"width":432,"color":4},"id":"ced8c6a4-0160-441c-b71a-aa2fe6ecf1e0","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-80,640],"typeVersion":1}],"connections":{"Limit to 1":{"main":[[{"node":"Telegram Response about Database","type":"main","index":0}]]},"Telegram Response":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Telegram get File":{"main":[[{"node":"Change to application/pdf","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Limit to 1","type":"main","index":0}]]},"Check If is a document":{"main":[[{"node":"Telegram get File","type":"main","index":0}],[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Telegram Message Trigger":{"main":[[{"node":"Check If is a document","type":"main","index":0}]]},"Change to application/pdf":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Question and Answer Chain":{"main":[[{"node":"Telegram Response","type":"main","index":0}]]},"Telegram Response about Database":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"81dcd635-9d7b-4184-99c9-5c445219c2fd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-26T04:46:15.710Z","createdAt":"2025-10-26T04:46:15.710Z","role":"workflow:owner","workflowId":"B7T55kqTuy6gIAad","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]