n8n-workflows1/Convert Telegram messages to professional LinkedIn posts with Gemini AI & approval workflow.json
[{"updatedAt":"2026-01-06T04:56:38.508Z","createdAt":"2026-01-06T04:56:38.508Z","id":"cXVaBxTbvuESqY8X","name":"Convert Telegram messages to professional LinkedIn posts with Gemini AI & approval workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{"download":true,"imageSize":"extraLarge"}},"id":"57ff988b-77b1-42e5-8bcb-0ac90f16ab35","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-2560,1136],"webhookId":"c5b3b922-1355-41d4-8f9f-10d8fc803218","typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Fetch authorized users configuration\nconst authorizedUsers = {\n  telegram_ids: $json.telegram_ids,\n  usernames: $json.usernames\n};\n\nconst userId = $('Switch').item.json.message.from.id.toString();\nconst username = $('Switch').item.json.message.from.username;\n\n// Check if user is authorized (by id or username)\nconst isAuthorized =\n  authorizedUsers.telegram_ids.includes(userId) ||\n  authorizedUsers.usernames.includes(username);\n\n// Return user info and original message\nreturn {\n  json: {\n    user_id: userId,\n    username: username,\n    message_text: $('Switch').item.json.message.text,\n    chat_id: $('Switch').item.json.message.chat.id,\n    message_id: $('Switch').item.json.message.message_id,\n    timestamp: new Date().toISOString(),\n    authorized: isAuthorized\n  }\n};\n"},"id":"d5a540e8-948e-431b-b4fd-ab26057670b9","name":"User Validation","type":"n8n-nodes-base.code","position":[-1888,880],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Generate unique post ID\nconst now = new Date();\nconst dateStr = now.toISOString().replace(/[-:T]/g, '').slice(0, 14);\nconst random = Math.floor(Math.random() * 1000).toString().padStart(3, '0');\nconst postId = `${dateStr}_${random}`;\n\nreturn {\n  json: {\n    ...$input.item.json,\n    post_id: postId,\n    created_at: now.toISOString()\n  }\n};"},"id":"79de3116-16a6-4a23-a068-87bca869f67b","name":"Generate Post ID","type":"n8n-nodes-base.code","position":[-1440,768],"typeVersion":2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit?usp=drivesdk","cachedResultName":"LinekedIn Posts"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit#gid=0","cachedResultName":"Posts_Master"},"columns":{"value":{"post_id":"={{ $json.post_id }}","user_id":"={{ $json.user_id }}","timestamp":"={{ $json.timestamp }}","user_name":"={{ $json.username }}","original_message":"={{ $json.message_text }}"},"schema":[{"id":"post_id","type":"string","display":true,"removed":false,"required":false,"displayName":"post_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_name","type":"string","display":true,"required":false,"displayName":"user_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"input_type","type":"string","display":true,"required":false,"displayName":"input_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_message","type":"string","display":true,"required":false,"displayName":"original_message","defaultMatch":false,"canBeUsedToMatch":true},{"id":"extracted_urls","type":"string","display":true,"required":false,"displayName":"extracted_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"identified_topics","type":"string","display":true,"required":false,"displayName":"identified_topics","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_queries","type":"string","display":true,"required":false,"displayName":"search_queries","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_results_summary","type":"string","display":true,"required":false,"displayName":"search_results_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scraped_content_summary","type":"string","display":true,"required":false,"displayName":"scraped_content_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"content_sources","type":"string","display":true,"required":false,"displayName":"content_sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"initial_generated_post","type":"string","display":true,"required":false,"displayName":"initial_generated_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_approved_post","type":"string","display":true,"required":false,"displayName":"final_approved_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hashtags_used","type":"string","display":true,"required":false,"displayName":"hashtags_used","defaultMatch":false,"canBeUsedToMatch":true},{"id":"character_count","type":"string","display":true,"required":false,"displayName":"character_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"has_media","type":"string","display":true,"required":false,"displayName":"has_media","defaultMatch":false,"canBeUsedToMatch":true},{"id":"media_urls","type":"string","display":true,"required":false,"displayName":"media_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rejection_reason","type":"string","display":true,"required":false,"displayName":"rejection_reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"edit_iterations","type":"string","display":true,"required":false,"displayName":"edit_iterations","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time_to_approval","type":"string","display":true,"required":false,"displayName":"time_to_approval","defaultMatch":false,"canBeUsedToMatch":true},{"id":"posted_datetime","type":"string","display":true,"required":false,"displayName":"posted_datetime","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scheduled_time","type":"string","display":true,"required":false,"displayName":"scheduled_time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin_post_url","type":"string","display":true,"required":false,"displayName":"linkedin_post_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"post_type","type":"string","display":true,"required":false,"displayName":"post_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_1h","type":"string","display":true,"required":false,"displayName":"impressions_1h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_24h","type":"string","display":true,"required":false,"displayName":"impressions_24h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_7d","type":"string","display":true,"required":false,"displayName":"impressions_7d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_30d","type":"string","display":true,"required":false,"displayName":"impressions_30d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reactions_total","type":"string","display":true,"required":false,"displayName":"reactions_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"likes","type":"string","display":true,"required":false,"displayName":"likes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"celebrates","type":"string","display":true,"required":false,"displayName":"celebrates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"loves","type":"string","display":true,"required":false,"displayName":"loves","defaultMatch":false,"canBeUsedToMatch":true},{"id":"comments_total","type":"string","display":true,"required":false,"displayName":"comments_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"shares_total","type":"string","display":true,"required":false,"displayName":"shares_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clicks_total","type":"string","display":true,"required":false,"displayName":"clicks_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"viral_score","type":"string","display":true,"required":false,"displayName":"viral_score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"follower_growth","type":"string","display":true,"required":false,"displayName":"follower_growth","defaultMatch":false,"canBeUsedToMatch":true},{"id":"performance_tier","type":"string","display":true,"required":false,"displayName":"performance_tier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_metrics_update","type":"string","display":true,"required":false,"displayName":"last_metrics_update","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["post_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9bb3c260-f92a-43b6-8ff5-2648f03aa5c1","name":"Log Initial Request","type":"n8n-nodes-base.googleSheets","position":[-1152,768],"executeOnce":false,"notesInFlow":false,"typeVersion":4,"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Enhanced Parse Classification for better integration\nconst inputJson = $input.item.json;\n\n// Extract classification results\nconst classificationResult = {\n  input_type: $json.output.input_type || 'Topic',\n  urls: $json.output.urls || [],\n  topics: $json.output.topics || [],\n  content: $json.output.content || '',\n  processing_instructions: $json.output.processing_instructions || ''\n};\n\n// Preserve original request data for tracking\nconst originalRequestData = {\n  post_id: $('Log Initial Request').item.json.post_id,\n  chat_id:$('Generate Post ID').item.json.chat_id,\n  message_id:$('Generate Post ID').item.json.message_id,\n  timestamp: inputJson.timestamp || new Date().toISOString(),\n  user_id: $('Log Initial Request').item.json.user_id || '',\n  username: $('Log Initial Request').item.json.user_name || '',\n  original_message: $('Log Initial Request').item.json.original_message || inputJson.message_text || ''\n};\n\n// Add processing metadata\nconst processingMetadata = {\n  classification_timestamp: new Date().toISOString(),\n  has_urls: classificationResult.urls.length > 0,\n  has_topics: classificationResult.topics.length > 0,\n  has_content: classificationResult.content.length > 0,\n  url_count: classificationResult.urls.length,\n  topic_count: classificationResult.topics.length,\n  content_length: classificationResult.content.length,\n  requires_scraping: classificationResult.urls.length > 0,\n  requires_search: classificationResult.topics.length > 0,\n  processing_complexity: determineComplexity(classificationResult)\n};\n\n// Determine processing complexity\nfunction determineComplexity(result) {\n  const factors = [\n    result.urls.length > 0,\n    result.topics.length > 0,\n    result.content.length > 0\n  ].filter(Boolean).length;\n  \n  if (factors === 0) return 'simple';\n  if (factors === 1) return 'moderate';\n  if (factors >= 2) return 'complex';\n}\n\n// Return comprehensive data for downstream processing\nreturn {\n  json: {\n    ...originalRequestData,\n    ...classificationResult,\n    ...processingMetadata,\n    \n    // Add routing hints for Content Router\n    route_to_scraper: classificationResult.urls.length > 0,\n    route_to_search: classificationResult.topics.length > 0,\n    route_to_direct: classificationResult.urls.length === 0 && \n                     classificationResult.topics.length === 0,\n    \n    // Prepare data for Google Sheets tracking\n    extracted_urls: classificationResult.urls.join(', '),\n    identified_topics: classificationResult.topics.join(', '),\n    input_classification: classificationResult.input_type,\n    processing_stage: 'classified'\n  }\n};"},"id":"6d9ab54b-77da-4af6-852a-554f8b8d12b0","name":"Parse Classification","type":"n8n-nodes-base.code","position":[-416,768],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"url-only","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.input_type }}","rightValue":"URL"},{"id":"topic-only","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.input_type }}","rightValue":"Topic"},{"id":"mixed","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.input_type }}","rightValue":"URL+Topic"}]},"options":{}},"id":"3375b92a-5408-4dd4-8f25-300eaf1d6fb9","name":"Content Router","type":"n8n-nodes-base.if","position":[-192,576],"typeVersion":2},{"parameters":{"jsCode":"const urls = $input.item.json.output?.urls || $input.item.json.urls || [];\n\nif (urls.length === 0) {\n  // No URLs to process, pass through original data\n  return {\n    json: {\n      ...$input.item.json,\n      urls_to_process: [],\n      total_urls: 0,\n      processing_stage: 'no_urls'\n    }\n  };\n}\n\n// Create individual items for each URL to be processed\nconst urlItems = urls.map((url, index) => ({\n  json: {\n    ...$input.item.json,\n    ...$input.item.json.output,\n    current_url: url,\n    url_index: index,\n    total_urls: urls.length,\n    processing_stage: 'url_extraction'\n  }\n}));\n// Return array of items for processing\nreturn urlItems;"},"id":"1bae7d3a-0486-4cf5-8ba1-fdd38127d2ac","name":"Extract URLs for Processing","type":"n8n-nodes-base.code","position":[256,336],"notesInFlow":false,"typeVersion":2,"alwaysOutputData":false},{"parameters":{"batchSize":"={{ $json.total_urls }}","options":{}},"id":"541debb9-f4f3-48b0-a77e-1dabc579a024","name":"Loop Over URLs","type":"n8n-nodes-base.splitInBatches","position":[480,336],"typeVersion":3,"alwaysOutputData":false},{"parameters":{"jsCode":"// Get all inputs from the loop\nconst allInputs = $input.all();\nconsole.log(\"Processing all loop outputs:\", allInputs.length, \"items\");\n\nlet mergedContent = '';\nlet allSourceUrls = [];\nlet allMetadataUrls = [];\nlet overallSuccess = true;\n\n// Process each input from the loop\nfor (const inputItem of allInputs) {\n  const scrapedData = inputItem.json;\n  let processedContent = '';\n  let scrapingSuccess = false;\n  let metadataUrl = '';\n  \n  try {\n    // Handle Firecrawl response structure\n    if (scrapedData.data && scrapedData.data.markdown) {\n      processedContent = scrapedData.data.markdown;\n      \n      // Extract URL from metadata if available\n      if (scrapedData.data.metadata && scrapedData.data.metadata.ogUrl) {\n        metadataUrl = scrapedData.data.metadata.ogUrl;\n        allMetadataUrls.push(metadataUrl);\n      }\n      \n      scrapingSuccess = true;\n    }\n    // Handle alternative response structure\n    else if (scrapedData.markdown) {\n      processedContent = scrapedData.markdown;\n      \n      // Extract URL from metadata if available\n      if (scrapedData.metadata && scrapedData.metadata.ogUrl) {\n        metadataUrl = scrapedData.metadata.ogUrl;\n        allMetadataUrls.push(metadataUrl);\n      }\n      \n      scrapingSuccess = true;\n    }\n    // Handle plain text content\n    else if (scrapedData.content) {\n      processedContent = scrapedData.content;\n      \n      // Extract URL from metadata if available\n      if (scrapedData.metadata && scrapedData.metadata.ogUrl) {\n        metadataUrl = scrapedData.metadata.ogUrl;\n        allMetadataUrls.push(metadataUrl);\n      }\n      \n      scrapingSuccess = true;\n    }\n    else {\n      throw new Error('No content found in Firecrawl response');\n    }\n  } catch (error) {\n    processedContent = `Error scraping ${scrapedData.current_url}: ${error.message}`;\n    scrapingSuccess = false;\n  }\n  \n  // Use metadata URL if available, otherwise fall back to current_url\n  const sourceUrl = metadataUrl || scrapedData.current_url;\n  \n  // Add to merged content with source separator\n  if (sourceUrl) {\n    mergedContent += `\\n\\n--- Source: ${sourceUrl} ---\\n\\n`;\n    allSourceUrls.push(sourceUrl);\n  }\n  mergedContent += processedContent;\n  \n  // Update overall success (false if any scraping failed)\n  if (!scrapingSuccess) {\n    overallSuccess = false;\n  }\n}\n\n// Remove duplicate URLs and create final source URL list\nconst uniqueSourceUrls = [...new Set(allSourceUrls)];\nconst uniqueMetadataUrls = [...new Set(allMetadataUrls)];\n\nconsole.log(\"Extracted metadata URLs:\", uniqueMetadataUrls);\nconsole.log(\"All source URLs:\", uniqueSourceUrls);\n\n// Return only the required fields\nreturn {\n  json: {\n    merged_content: mergedContent.trim(),\n    scraping_success: overallSuccess,\n    source_url: uniqueSourceUrls.join(', '),\n    metadata_urls: uniqueMetadataUrls.join(', '), // Additional field with metadata URLs\n    processing_stage: 'content_merged'\n  }\n};"},"id":"8878f646-5880-4e3a-8e6f-e6b4793beb5f","name":"Process Scraped Content","type":"n8n-nodes-base.code","position":[704,464],"typeVersion":2},{"parameters":{"jsCode":"// Optimized for direct JSON access without looping\nconst allInputs = $input.all();\n\nconsole.log(\"Total inputs received:\", allInputs.length);\n\n// Initialize the complete output structure\nlet processedData = {\n  // Original input data\n  post_id: '',\n  user_id: '',\n  username: '',\n  chat_id: '',\n  message_id:'',\n  message_text: '',\n  input_type: '',\n  urls: [],\n  topics: [],\n  content: '',\n  processing_instructions: '',\n  \n  // Scraped content from URLs\n  scraped_content: '',\n  scraped_urls: [],\n  scraped_summary: '',\n  \n  // Brave search results\n  brave_search_results: '',\n  brave_search_performed: false,\n  brave_search_query: '',\n  \n  // Processing metadata\n  content_sources: [],\n  total_scraped_urls: 0,\n  successful_scrapes: 0,\n  failed_scrapes: 0,\n  processing_timestamp: new Date().toISOString(),\n  routes_taken: [],\n  \n  // Final merged content for LLM\n  merged_content_for_llm: ''\n};\n\n// Direct access to specific inputs based on expected structure\nconsole.log(\"Processing inputs with direct JSON access...\");\nconsole.log(\"Input structures:\", allInputs.map((input, index) => ({\n  index,\n  keys: Object.keys(input.json || {}).slice(0, 10),\n  hasArray: Array.isArray(input.json),\n  jsonType: typeof input.json\n})));\n\n// Look for Parse Classification data in any input\nconst parseInput = allInputs.find(input => {\n  if (!input.json) return false;\n  \n  // Handle array structure\n  if (Array.isArray(input.json)) {\n    return input.json.some(item => \n      item.post_id !== undefined || \n      item.input_type !== undefined || \n      item.processing_stage === 'classified'\n    );\n  }\n  \n  // Handle direct object\n  return input.json.post_id !== undefined || \n         input.json.input_type !== undefined || \n         input.json.processing_stage === 'classified';\n});\n\nif (parseInput) {\n  console.log(\"Found Parse Classification data\");\n  \n  let parseData;\n  if (Array.isArray(parseInput.json)) {\n    // Find the classification data in the array\n    parseData = parseInput.json.find(item => \n      item.post_id !== undefined || \n      item.input_type !== undefined || \n      item.processing_stage === 'classified'\n    );\n  } else {\n    parseData = parseInput.json;\n  }\n  \n  if (parseData) {\n    console.log(\"Processing Parse Classification data:\", Object.keys(parseData));\n    \n    processedData.post_id = parseData.post_id || '';\n    processedData.chat_id = parseData.chat_id || '';\n    processedData.message_id = parseData.message_id || '';\n    processedData.user_id = parseData.user_id || '';\n    processedData.username = parseData.username || '';\n    processedData.chat_id = parseData.chat_id || '';\n    processedData.message_text = parseData.original_message || parseData.message_text || '';\n    processedData.input_type = parseData.input_type || '';\n    \n    // Handle URLs - could be array or string\n    if (parseData.urls && Array.isArray(parseData.urls)) {\n      processedData.urls = parseData.urls;\n    } else if (parseData.extracted_urls) {\n      processedData.urls = Array.isArray(parseData.extracted_urls) ? \n        parseData.extracted_urls : [parseData.extracted_urls];\n    } else {\n      processedData.urls = [];\n    }\n    \n    // Handle topics - could be array or string  \n    if (parseData.topics && Array.isArray(parseData.topics)) {\n      processedData.topics = parseData.topics;\n    } else if (parseData.identified_topics) {\n      processedData.topics = Array.isArray(parseData.identified_topics) ? \n        parseData.identified_topics : [parseData.identified_topics];\n    } else {\n      processedData.topics = [];\n    }\n    \n    processedData.content = parseData.content || '';\n    processedData.processing_instructions = parseData.processing_instructions || '';\n    processedData.routes_taken.push('Parse Classification');\n  }\n}\n\n// Input 2: Scraped Content (look for merged_content or scraped_content)\nconst scrapedInput = allInputs.find(input => {\n  if (!input.json) return false;\n  \n  // Handle array structure\n  if (Array.isArray(input.json)) {\n    return input.json.some(item => \n      item.merged_content || \n      item.scraped_content || \n      item.processing_stage === 'content_merged'\n    );\n  }\n  \n  // Handle direct object\n  return input.json.merged_content || \n         input.json.scraped_content || \n         input.json.processing_stage === 'content_merged';\n});\n\nif (scrapedInput) {\n  console.log(\"Found Scraped Content\");\n  \n  let scrapedData;\n  if (Array.isArray(scrapedInput.json)) {\n    // Find the scraped data in the array\n    scrapedData = scrapedInput.json.find(item => \n      item.merged_content || item.scraped_content || item.processing_stage === 'content_merged'\n    ) || scrapedInput.json[0]; // fallback to first item if structure is different\n  } else {\n    scrapedData = scrapedInput.json;\n  }\n  \n  if (scrapedData) {\n    console.log(\"Processing Scraped Content:\", Object.keys(scrapedData).slice(0, 10));\n    \n    // Use either scraped_content or merged_content\n    processedData.scraped_content = scrapedData.scraped_content || scrapedData.merged_content || '';\n    \n    // Handle URLs from various sources\n    if (scrapedData.scraped_urls && Array.isArray(scrapedData.scraped_urls)) {\n      processedData.scraped_urls = scrapedData.scraped_urls;\n    } else if (scrapedData.source_url) {\n      processedData.scraped_urls = scrapedData.source_url.split(', ').filter(url => url.trim());\n    } else if (scrapedData.metadata_urls) {\n      processedData.scraped_urls = Array.isArray(scrapedData.metadata_urls) ? \n        scrapedData.metadata_urls : [scrapedData.metadata_urls];\n    } else {\n      processedData.scraped_urls = [];\n    }\n    \n    processedData.successful_scrapes = scrapedData.scraping_success !== false ? processedData.scraped_urls.length : 0;\n    processedData.total_scraped_urls = processedData.scraped_urls.length;\n    processedData.scraped_summary = `Successfully scraped ${processedData.successful_scrapes} URLs`;\n    \n    if (scrapedData.scraping_success !== false && processedData.scraped_urls.length > 0) {\n      processedData.content_sources.push(`Web Scraping (${processedData.scraped_urls.length} URLs)`);\n    } else {\n      processedData.content_sources.push('Web Scraping (Failed)');\n    }\n    processedData.routes_taken.push('URL Processing');\n  }\n}\n\n// Input 3: Brave Search Results (look for web.results)\nconst searchInput = allInputs.find(input => {\n  if (!input.json) return false;\n  \n  // Handle array structure\n  if (Array.isArray(input.json)) {\n    return input.json.some(item => item.web && item.web.results);\n  }\n  \n  // Handle direct object\n  return input.json.web && input.json.web.results;\n});\n\nif (searchInput) {\n  console.log(\"Found Brave Search Results\");\n  \n  let searchData;\n  if (Array.isArray(searchInput.json)) {\n    searchData = searchInput.json.find(item => item.web && item.web.results);\n  } else {\n    searchData = searchInput.json;\n  }\n  \n  if (searchData) {\n    console.log(\"Processing Brave Search Results\");\n    \n    processedData.brave_search_performed = true;\n    processedData.brave_search_query = searchData.query || processedData.topics.join(' ');\n    \n    if (searchData.web.results && searchData.web.results.length > 0) {\n      const formattedResults = searchData.web.results.slice(0, 5).map((result, index) => {\n        return [\n          `**Result ${index + 1}:**`,\n          `Title: ${result.title}`,\n          `URL: ${result.url}`,\n          `Description: ${result.description || 'No description available'}`,\n          result.age ? `Published: ${result.age}` : ''\n        ].filter(line => line).join('\\n');\n      }).join('\\n\\n');\n      \n      processedData.brave_search_results = formattedResults;\n      processedData.content_sources.push(`Brave Search (${searchData.web.results.length} results)`);\n    }\n    processedData.routes_taken.push('Topic Search');\n  }\n}\n\n// Input 4: Content Router False route (look for bypass_reason or similar markers)\nconst routerInput = allInputs.find(input => {\n  if (!input.json) return false;\n  \n  // Handle array structure\n  if (Array.isArray(input.json)) {\n    return input.json.some(item => \n      item.bypass_reason || \n      item.route_taken === 'false' || \n      item.processing_stage === 'bypassed'\n    );\n  }\n  \n  // Handle direct object\n  return input.json.bypass_reason || \n         input.json.route_taken === 'false' ||\n         input.json.processing_stage === 'bypassed';\n});\n\nif (routerInput) {\n  console.log(\"Found Content Router False route\");\n  \n  let routerData;\n  if (Array.isArray(routerInput.json)) {\n    routerData = routerInput.json.find(item => \n      item.bypass_reason || item.route_taken === 'false' || item.processing_stage === 'bypassed'\n    );\n  } else {\n    routerData = routerInput.json;\n  }\n  \n  if (routerData) {\n    processedData.routes_taken.push('Content Router (False)');\n    if (routerData.bypass_reason) {\n      processedData.bypass_reason = routerData.bypass_reason;\n    }\n  }\n}\n\n// Build the final merged content for LLM\nlet llmContent = [];\nlet sectionCount = 0;\n\n// Add processing instructions if available\nif (processedData.processing_instructions) {\n  llmContent.push(`## PROCESSING INSTRUCTIONS\\n${processedData.processing_instructions}`);\n  sectionCount++;\n}\n\n// Add original content if provided\nif (processedData.content) {\n  llmContent.push(`## ORIGINAL CONTENT TO ENHANCE\\n${processedData.content}`);\n  sectionCount++;\n}\n\n// Add topics if provided\nif (processedData.topics && processedData.topics.length > 0) {\n  const topicsText = Array.isArray(processedData.topics) ? \n    processedData.topics.filter(topic => topic).join('\\n- ') : \n    processedData.topics;\n  llmContent.push(`## TOPICS TO COVER\\n- ${topicsText}`);\n  sectionCount++;\n}\n\n// Add scraped content with source attribution\nif (processedData.scraped_content) {\n  llmContent.push(`## WEB CONTENT (Scraped from URLs)\\n${processedData.scraped_content}`);\n  sectionCount++;\n}\n\n// Add Brave search results\nif (processedData.brave_search_results) {\n  llmContent.push(`## SEARCH RESULTS (Latest Information)\\n${processedData.brave_search_results}`);\n  sectionCount++;\n}\n\n// Create context summary for LLM\nconst contextSummary = [\n  `Input Type: ${processedData.input_type || 'Not specified'}`,\n  `Routes Processed: ${processedData.routes_taken.join(', ')}`,\n  `Content Sources: ${processedData.content_sources.join(', ') || 'None'}`,\n  `Sections Available: ${sectionCount}`\n].join('\\n');\n\n// Add context summary at the beginning\nif (sectionCount > 0) {\n  processedData.merged_content_for_llm = [\n    `## CONTEXT SUMMARY\\n${contextSummary}`,\n    ...llmContent\n  ].join('\\n\\n---\\n\\n');\n} else {\n  // Fallback content if no data was gathered\n  if (processedData.topics && processedData.topics.length > 0) {\n    const topicsText = Array.isArray(processedData.topics) ? \n      processedData.topics.filter(topic => topic).join('\\n- ') : \n      processedData.topics;\n    processedData.merged_content_for_llm = `Please generate content about the following topics:\\n- ${topicsText}`;\n    processedData.content_sources.push('Topic-based Generation Request');\n  } else if (processedData.content) {\n    processedData.merged_content_for_llm = `Please enhance and format the following content:\\n\\n${processedData.content}`;\n    processedData.content_sources.push('Content Enhancement Request');\n  } else {\n    processedData.merged_content_for_llm = 'Please generate relevant LinkedIn content based on current trends.';\n    processedData.content_sources.push('General Generation Request');\n  }\n}\n\n// Add processing statistics\nprocessedData.scraping_success_rate = processedData.total_scraped_urls > 0 ? \n  `${((processedData.successful_scrapes / processedData.total_scraped_urls) * 100).toFixed(1)}%` : 'N/A';\n\n// Log final summary\nconsole.log(\"=== PROCESSING COMPLETE ===\");\nconsole.log(\"Routes taken:\", processedData.routes_taken);\nconsole.log(\"Content sources used:\", processedData.content_sources);\nconsole.log(\"Total content length:\", processedData.merged_content_for_llm.length, \"characters\");\nconsole.log(\"Sections included:\", sectionCount);\nconsole.log(\"Processing summary:\", {\n  totalInputs: allInputs.length,\n  routesTaken: processedData.routes_taken.length,\n  contentSources: processedData.content_sources.length,\n  hasScrapedContent: !!processedData.scraped_content,\n  hasSearchResults: !!processedData.brave_search_results,\n  finalContentLength: processedData.merged_content_for_llm.length\n});\n\nreturn { json: processedData };"},"id":"2325ec23-f8ed-4d07-8a29-dc5772df575f","name":"Merge Content Sources","type":"n8n-nodes-base.code","position":[1152,704],"executeOnce":false,"typeVersion":2,"alwaysOutputData":false},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse Gemini response and format preview\nlet generatedPost;\ntry {\n  const responseText = $input.item.json.text;\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/); // Find JSON in response\n  \n  if (jsonMatch) {\n    generatedPost = JSON.parse(jsonMatch[0]);\n  } else {\n    // Fallback if JSON parsing fails\n    generatedPost = {\n      post_content: responseText,\n      hashtags: ['#LinkedIn', '#Professional'],\n      character_count: responseText.length,\n      hook: responseText.substring(0, 50),\n      cta: 'What do you think?',\n      key_points: ['Generated content']\n    };\n  }\n} catch (error) {\n  // Ultimate fallback\n  generatedPost = {\n    post_content: $input.item.json.text || 'Content generation failed',\n    hashtags: ['#LinkedIn'],\n    character_count: ($input.item.json.text || '').length,\n    hook: 'Content preview',\n    cta: 'Please try again',\n    key_points: ['Error in generation']\n  };\n}\n\n// Create preview text\nconst preview = `📝 **LinkedIn Post Preview**\n━━━━━━━━━━━━━━━━━━━━\n\n${generatedPost.post_content}\n\n━━━━━━━━━━━━━━━━━━━━\n📊 **Post Analytics:**\n• Characters: ${generatedPost.character_count}/2800\n• Hashtags: ${generatedPost.hashtags.join(', ')}\n• Hook: \"${generatedPost.hook.substring(0, 50)}...\"\n\n🎯 **Key Points:**\n${generatedPost.key_points.map(p => '• ' + p).join('\\n')}\n\n━━━━━━━━━━━━━━━━━━━━\n**Choose an action:**`;\n\nreturn {\n  json: {\n    ...$input.item.json,\n    ...generatedPost,\n    preview_text: preview,\n    approval_pending: true,\n    generation_timestamp: new Date().toISOString()\n  }\n};"},"id":"8ce6f163-dc56-49c4-b154-f2b0a6b97788","name":"Format Preview","type":"n8n-nodes-base.code","position":[1728,704],"typeVersion":2},{"parameters":{"chatId":"={{ $('Merge Content Sources').item.json.chat_id }}","text":"={{ $json.preview_text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Approve","additionalFields":{"callback_data":"=approve_{{ $('Merge Content Sources').item.json.post_id || $json.post_id || 'default' }}"}},{"text":"Edit","additionalFields":{"callback_data":"=edit_{{ $('Merge Content Sources').item.json.post_id || $json.post_id || 'default' }}"}}]}},{"row":{"buttons":[{"text":"Reject","additionalFields":{"callback_data":"=reject_{{ $('Merge Content Sources').item.json.post_id || $json.post_id || 'default' }}"}}]}}]},"additionalFields":{"parse_mode":"HTML","reply_to_message_id":"={{ $('Merge Content Sources').item.json.message_id }}"}},"id":"ba19bdc9-93f2-4645-91b8-6b1a6c41447c","name":"Send Preview to Telegram","type":"n8n-nodes-base.telegram","position":[1952,704],"webhookId":"db5637e5-c376-4926-8416-dbaa1be9f796","typeVersion":1.2,"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"de6e0737-7f17-4336-92d2-a71c5bca8131","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.output.topics }}","rightValue":""}]},"options":{}},"id":"a408b630-391f-483d-84b1-99f2e3161868","name":"If","type":"n8n-nodes-base.if","position":[480,656],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"=","messages":{"messageValues":[{"message":"=You are an expert LinkedIn content creator specializing in professional development and technology trends. Generate engaging, informative LinkedIn posts that provide genuine value to a professional audience.\n\nCONTENT REQUIREMENTS:\n\n-Start with a compelling, attention-grabbing hook related to the actual content\n-Provide specific, actionable insights directly from the source material\n-Include relevant statistics, data points, or key findings when available\n-Use short paragraphs (2-3 lines max) with line breaks for mobile readability\n-Write in third person perspective unless specified to use first person\n-Include 3-5 highly relevant hashtags aligned with the content topic\n-End with a meaningful call-to-action that encourages engagement\n-Keep content within 2800 characters maximum\n-Use 1-3 emojis strategically for emphasis, not decoration\n\nSOURCE ATTRIBUTION RULES:\n\n-If input_type contains \"URL\": Include \"Source: [URL]\" at the end before hashtags\n-If multiple URLs: List as \"Sources: [URL1], [URL2]\"\n-If content comes from web scraping: Extract and reference the actual article title and publication\n-Make it clear that insights are \"based on\" or \"according to\" the source\n\nCONTENT TONE:\n\n-Professional yet conversational and approachable\n-Authoritative but not preachy\n-Enthusiastic and focused on providing valuable insights\n-Credible while maintaining relatability\n\nTARGET AUDIENCE:\n\n-Industry professionals\n-Thought leaders\n-Individuals focused on career growth and staying current with industry trends\n\nCONTENT STRUCTURE:\n\n-Hook: 1-2 sentences that grab attention\n-Key insights or main content: 3-4 short paragraphs\n-Application or takeaway: 1-2 sentences\n-Call-to-action question to drive engagement\n-Source attribution (if applicable)\n-Hashtags\n\nEXAMPLES OF STRONG HOOKS:\n\n-The [industry/topic] landscape is shifting faster than ever…\n-Just discovered a comprehensive guide that could change how professionals approach [topic]…\n-The numbers don’t lie: [specific statistic] shows that [insight]…\n-[Surprising fact or trend] is reshaping [industry/field]…\n\nOUTPUT FORMAT: Return ONLY a JSON object with the following structure:\n{\n\"post_content\": \"the complete post including source attribution and hashtags\",\n\"hashtags\": [\"hashtag1\", \"hashtag2\", \"hashtag3\"],\n\"character_count\": 1234,\n\"hook\": \"the opening line that grabs attention\",\n\"cta\": \"the call-to-action question\",\n\"key_points\": [\"specific insight 1\", \"specific insight 2\", \"specific insight 3\"],\n\"source_urls\": [\"url1\", \"url2\"] // if applicable\n}\n\nBased on the following information, create a LinkedIn post that transforms the source content into engaging, valuable insights for your professional network:"},{"type":"HumanMessagePromptTemplate","message":"=Input Type: {{ $json.input_type }}\nURLS: {{ $json.scraped_urls }}\nTopics: {{ $json.topics }} \nProcessing Instructions: {{ $json.processing_instructions }} \nScraped Content: {{ $json.scraped_content }}\nSearch Results: {{ $json.brave_search_results }}"}]},"batching":{}},"id":"c6e50ecb-8c3b-4a30-9c82-4e5a51d74343","name":"Initial LinkedIn Post","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1376,704],"executeOnce":true,"typeVersion":1.7},{"parameters":{"resource":"Default","operation":"scrape"},"id":"de63434f-fd6e-4afe-9c68-25522ff8390c","name":"Scrape a url and get its content","type":"@mendable/n8n-nodes-preview-firecrawl.firecrawl","position":[704,272],"typeVersion":1,"credentials":{}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6cc58f5a-cc9b-4698-8bfe-3a8a08394cb5","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.input_type }}","rightValue":"URL"}]},"options":{}},"id":"5eb17473-c9d0-4b17-8aa9-3033eabfd562","name":"If1","type":"n8n-nodes-base.if","position":[32,336],"typeVersion":2.2},{"parameters":{"numberInputs":4},"id":"5f3982a1-8cde-4b80-bdf7-c33b1a5c404c","name":"Merge","type":"n8n-nodes-base.merge","position":[928,672],"typeVersion":3.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit?usp=drivesdk","cachedResultName":"LinekedIn Posts"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit#gid=0","cachedResultName":"Posts_Master"},"columns":{"value":{"post_id":"={{ $('Merge Content Sources').item.json.post_id }}","timestamp":"={{ $('Merge Content Sources').item.json.processing_timestamp }}","hashtags_used":"={{ $('Format Preview').item.json.hashtags }}","extracted_urls":"={{ $('Merge Content Sources').item.json.urls }}","search_queries":"={{ $('Merge Content Sources').item.json.brave_search_query }}","character_count":"={{ $('Format Preview').item.json.character_count }}","content_sources":"={{ $('Merge Content Sources').item.json.content_sources }}","identified_topics":"={{ $('Merge Content Sources').item.json.topics }}","final_approved_post":"={{ $('Format Preview').item.json.post_content }}","initial_generated_post":"={{ $('Format Preview').item.json.post_content }}","search_results_summary":"={{ $('Merge Content Sources').item.json.brave_search_results }}","scraped_content_summary":"={{ $('Merge Content Sources').item.json.scraped_summary }}"},"schema":[{"id":"post_id","type":"string","display":true,"removed":false,"required":false,"displayName":"post_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_name","type":"string","display":true,"required":false,"displayName":"user_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"input_type","type":"string","display":true,"required":false,"displayName":"input_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_message","type":"string","display":true,"required":false,"displayName":"original_message","defaultMatch":false,"canBeUsedToMatch":true},{"id":"extracted_urls","type":"string","display":true,"required":false,"displayName":"extracted_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"identified_topics","type":"string","display":true,"required":false,"displayName":"identified_topics","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_queries","type":"string","display":true,"required":false,"displayName":"search_queries","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_results_summary","type":"string","display":true,"required":false,"displayName":"search_results_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scraped_content_summary","type":"string","display":true,"required":false,"displayName":"scraped_content_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"content_sources","type":"string","display":true,"required":false,"displayName":"content_sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"initial_generated_post","type":"string","display":true,"required":false,"displayName":"initial_generated_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_approved_post","type":"string","display":true,"required":false,"displayName":"final_approved_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hashtags_used","type":"string","display":true,"required":false,"displayName":"hashtags_used","defaultMatch":false,"canBeUsedToMatch":true},{"id":"character_count","type":"string","display":true,"required":false,"displayName":"character_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"has_media","type":"string","display":true,"required":false,"displayName":"has_media","defaultMatch":false,"canBeUsedToMatch":true},{"id":"media_urls","type":"string","display":true,"required":false,"displayName":"media_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"removed":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rejection_reason","type":"string","display":true,"required":false,"displayName":"rejection_reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"edit_iterations","type":"string","display":true,"required":false,"displayName":"edit_iterations","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time_to_approval","type":"string","display":true,"required":false,"displayName":"time_to_approval","defaultMatch":false,"canBeUsedToMatch":true},{"id":"posted_datetime","type":"string","display":true,"required":false,"displayName":"posted_datetime","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scheduled_time","type":"string","display":true,"required":false,"displayName":"scheduled_time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin_post_url","type":"string","display":true,"required":false,"displayName":"linkedin_post_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"post_type","type":"string","display":true,"required":false,"displayName":"post_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_1h","type":"string","display":true,"required":false,"displayName":"impressions_1h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_24h","type":"string","display":true,"required":false,"displayName":"impressions_24h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_7d","type":"string","display":true,"required":false,"displayName":"impressions_7d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_30d","type":"string","display":true,"required":false,"displayName":"impressions_30d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reactions_total","type":"string","display":true,"required":false,"displayName":"reactions_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"likes","type":"string","display":true,"required":false,"displayName":"likes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"celebrates","type":"string","display":true,"required":false,"displayName":"celebrates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"loves","type":"string","display":true,"required":false,"displayName":"loves","defaultMatch":false,"canBeUsedToMatch":true},{"id":"comments_total","type":"string","display":true,"required":false,"displayName":"comments_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"shares_total","type":"string","display":true,"required":false,"displayName":"shares_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clicks_total","type":"string","display":true,"required":false,"displayName":"clicks_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"viral_score","type":"string","display":true,"required":false,"displayName":"viral_score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"follower_growth","type":"string","display":true,"required":false,"displayName":"follower_growth","defaultMatch":false,"canBeUsedToMatch":true},{"id":"performance_tier","type":"string","display":true,"required":false,"displayName":"performance_tier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_metrics_update","type":"string","display":true,"required":false,"displayName":"last_metrics_update","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["post_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"af94dd46-cbc6-4236-bf73-7ce9f026f83b","name":"Update row in sheet","type":"n8n-nodes-base.googleSheets","position":[2176,704],"typeVersion":4.7},{"parameters":{"jsCode":"// Process callback query and determine action\nconst rawCallbackData = $input.item.json.callback_query.data;\nconsole.log('Raw callback data:', rawCallbackData);\n\n// Remove surrounding quotes and clean the callback data\nlet callbackData = rawCallbackData;\nif (typeof callbackData === 'string') {\n  // Remove surrounding quotes (both single and double)\n  callbackData = callbackData.replace(/^[\"']+|[\"']+$/g, '');\n  // Remove any remaining quotes inside\n  callbackData = callbackData.replace(/[\"']/g, '');\n}\n\nconsole.log('Cleaned callback data:', callbackData);\nconst [action, postId_1,postId_2] = callbackData.split('_');\nconst postId = postId_1 + '_' + postId_2\nconst queryId = $input.item.json.callback_query.id;\nconst userId = $input.item.json.callback_query.from.id;\nconst messageId = $input.item.json.callback_query.message.message_id;\nconst chatId = $input.item.json.callback_query.message.chat.id;\nconst userName = $input.item.json.callback_query.from.first_name || 'User';\n\n// Get original post content from message text\nconst originalText = $input.item.json.callback_query.message.text;\n\n// Extract just the post content (remove any previous instructions)\nconst contentLines = originalText.split('\\n');\nlet postContent = '';\nfor (let line of contentLines) {\n  if (line.includes('📋') || line.includes('Actions:') || line.includes('👆')) {\n    break;\n  }\n  postContent += line + '\\n';\n}\npostContent = postContent.trim();\n\nlet response = {\n  post_id: postId || 'default',\n  action: action,\n  queryId:queryId,\n  user_id: userId,\n  chat_id: chatId,\n  message_id: messageId,\n  user_name: userName,\n  original_content: postContent,\n  timestamp: new Date().toISOString()\n};\n\nswitch(action) {\n  case 'approve':\n    response.status = 'approved';\n    response.next_step = 'publish';\n    response.linkedin_content = postContent;\n    response.message = `✅ Post approved by ${userName}! Publishing to LinkedIn...`;\n    break;\n    \n  case 'edit':\n    response.status = 'editing';\n    response.next_step = 'rewrite';\n    response.edit_instruction = 'Please improve this post by making it more engaging, professional, and LinkedIn-appropriate. Keep the core message but enhance the tone and structure.';\n    response.message = `✏️ ${userName} requested edits. Rewriting with Gemini...`;\n    break;\n    \n  case 'reject':\n    response.status = 'rejected';\n    response.next_step = 'complete';\n    response.message = `❌ Post rejected by ${userName}.`;\n    break;\n    \n  case 'regenerate':\n    response.status = 'regenerating';\n    response.next_step = 'regenerate';\n    response.regenerate_prompt = 'Create a completely new LinkedIn post on the same topic with a fresh perspective and different approach.';\n    response.message = `🔄 ${userName} requested regeneration. Creating new version...`;\n    break;\n    \n  case 'schedule':\n    response.status = 'scheduling';\n    response.next_step = 'request_schedule_time';\n    response.linkedin_content = postContent;\n    response.message = `⏰ ${userName} wants to schedule this post. When would you like it published?\\n\\nExamples:\\n• \"tomorrow 9am\"\\n• \"2024-12-25 14:30\"\\n• \"next monday 10:00\"`;\n    break;\n    \n  default:\n    response.status = 'error';\n    response.message = '❓ Unknown action.';\n}\n\nreturn { json: response };"},"id":"2a8bd16c-000c-4583-b621-cc673721da32","name":"Process Callback","type":"n8n-nodes-base.code","position":[-2112,1472],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45e826e8-9f56-4ab9-a373-451c8175849d","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Process Callback').item.json.action }}","rightValue":"approve"}]}},{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"69c0bb23-fbec-4659-ae7b-c6a31499c946","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Process Callback').item.json.action }}","rightValue":"edit"}]}},{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4268d714-1ad7-41e3-9003-6261ffb5e61f","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Process Callback').item.json.action }}","rightValue":"reject"}]}}]},"options":{"ignoreCase":true}},"id":"8efc9200-8418-4517-9d04-759a988f31a5","name":"Route Actions","type":"n8n-nodes-base.switch","position":[-1664,1456],"typeVersion":3,"alwaysOutputData":false},{"parameters":{"chatId":"={{ $('Process Callback').item.json.chat_id }}","text":"Approved the post and ready to post to linkedIn","replyMarkup":"forceReply","forceReply":{},"additionalFields":{"parse_mode":"HTML"}},"id":"03dcedfd-7b18-4107-b914-5a9e7e262a14","name":"Send Status (Approve)","type":"n8n-nodes-base.telegram","position":[-1136,1280],"webhookId":"a4e1e719-2120-4877-b087-a900797b2b7d","typeVersion":1.2},{"parameters":{"chatId":"={{ $('Process Callback').item.json.chat_id }}","text":"=🎉 Post Published Successfully!\n✅ Your LinkedIn post is now live\n{{ $json.urn }}\n📊 Engagement tracking enabled","additionalFields":{"parse_mode":"HTML"}},"id":"b20afe5f-faee-44b5-a040-daf596c4b3a1","name":"Confirm Publish","type":"n8n-nodes-base.telegram","position":[-112,1280],"webhookId":"89ab4048-4f71-4431-b9dd-0da3b05aa318","typeVersion":1.2},{"parameters":{"jsCode":"// Process the rewritten content and prepare for approval\nconst rewrittenContent = $input.item.json.text || $input.item.json.response;\nconst originalData = $('Process Callback').item.json;\n\nreturn {\n  json: {\n    ...originalData,\n    rewritten_content: rewrittenContent,\n    status: 'rewritten',\n    message: `✏️ <b>Post Rewritten!</b>\\n\\n<i>Here's the improved version:</i>\\n\\n${rewrittenContent}\\n\\n<b>📋 Actions:</b>`,\n    linkedin_content: rewrittenContent\n  }\n};"},"id":"b93aa1ae-1bb5-48c3-a4df-ce3ffc349638","name":"Process Rewrite","type":"n8n-nodes-base.code","position":[-544,2080],"typeVersion":2},{"parameters":{"chatId":"={{ $('Process Callback').item.json.chat_id }}","text":"={{ $json.final_approved_post }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Approve Rewrite","additionalFields":{"callback_data":"=approve_{{ $json.post_id }}"}},{"text":"✏️ Edit Again","additionalFields":{"callback_data":"=edit_{{ $json.post_id }}"}}]}},{"row":{"buttons":[{"text":"❌ Reject","additionalFields":{"callback_data":"=reject_{{ $json.post_id }}"}}]}}]},"additionalFields":{"parse_mode":"HTML"}},"id":"78bb531e-cfe5-470d-8769-c5a173385f32","name":"Send Rewrite for Approval","type":"n8n-nodes-base.telegram","position":[16,2080],"webhookId":"033e2a7d-8f5a-44a4-bf61-e5d5b278775a","typeVersion":1.2},{"parameters":{"chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}","text":"LinkedIn post has been rejected.","additionalFields":{"parse_mode":"HTML"}},"id":"10b68d44-3b78-474a-a6eb-d7b2c0534279","name":"Send Rejection","type":"n8n-nodes-base.telegram","position":[-1232,2384],"webhookId":"5d999c74-deb2-47d3-aa36-bf994e17d9f1","typeVersion":1.2},{"parameters":{"resource":"callback","queryId":"={{ $json.queryId }}","additionalFields":{"show_alert":true,"text":"Processing your action.."}},"id":"4e60c471-566e-47a3-99d9-24e6a957438f","name":"Answer Query a callback","type":"n8n-nodes-base.telegram","position":[-1888,1472],"webhookId":"56d17f3a-fa25-4615-bfe8-4e802f1ef3d2","notesInFlow":false,"typeVersion":1.2,"onError":"continueRegularOutput"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}","message":"=Please add the instructions","responseType":"freeText","options":{"messageButtonLabel":"Submit","responseFormTitle":"Edit Instructions"}},"id":"e80318ec-c61b-4aa5-ab1d-f93c38327d74","name":"Send message and wait for response","type":"n8n-nodes-base.telegram","position":[-1232,2080],"webhookId":"524bdf9a-82a3-4186-8a39-52f66f678b84","typeVersion":1.2,"alwaysOutputData":false},{"parameters":{"person":"2pXvRPsqOC","text":"={{ $json.final_approved_post }}","additionalFields":{"visibility":"PUBLIC"}},"id":"cb618776-b5c7-4971-a189-0ee8ae285195","name":"Create a post","type":"n8n-nodes-base.linkedIn","position":[-448,1280],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Instructions: \n{{ $json.data.text }}","messages":{"messageValues":[{"message":"=You are a professional LinkedIn content writer. Rewrite the following post to make it more engaging, professional, and suitable for LinkedIn as per the user's instructions.\n\nCONTENT REQUIREMENTS:\n\nDeliver only the rewritten LinkedIn post content, without additional commentary or formatting.\n\nOutput should be in plain text, not markdown.\n\nStructure content for mobile readability with short paragraphs (2-3 lines).\n\nUse a compelling opening line that grabs attention.\n\nMake the content conversational yet professional, authoritative but approachable.\n\nInclude clear, actionable insights or takeaways.\n\nEnsure flow with smooth transitions between ideas.\n\nEnd with a meaningful call-to-action that encourages engagement.\n\nUse emojis sparingly (1-3 maximum) only for emphasis.\n\nIncorporate relevant hashtags (3-5) to increase reach.\n\nDo not exceed 2800 characters.\n\nINSTRUCTIONS:\n\nRewrite only the LinkedIn post section provided.\n\nDo not include explanations, notes, or additional commentary.\n\nMaintain third person perspective unless first person is explicitly requested."},{"type":"HumanMessagePromptTemplate","message":"=Original Post: \n{{ $('Switch').item.json.callback_query.message.text }}\n"}]},"batching":{}},"id":"e2bebfd3-f7cb-4eb8-9afe-734293dc5195","name":"Re-Editing Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-1008,1984],"typeVersion":1.7},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit?usp=drivesdk","cachedResultName":"LinekedIn Posts"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit#gid=0","cachedResultName":"Posts_Master"},"filtersUI":{"values":[{"lookupColumn":"post_id","lookupValue":"={{ $('Process Callback').item.json.post_id }}"}]},"options":{"returnFirstMatch":true}},"id":"92f06da9-319a-4671-9fc6-a02b92821199","name":"Get row(s) in sheet1","type":"n8n-nodes-base.googleSheets","position":[-848,1280],"typeVersion":4.7,"alwaysOutputData":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit?usp=drivesdk","cachedResultName":"LinekedIn Posts"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit#gid=0","cachedResultName":"Posts_Master"},"columns":{"value":{"post_id":"={{ $json.post_id }}","final_approved_post":"={{ $json.rewritten_content }}"},"schema":[{"id":"post_id","type":"string","display":true,"removed":false,"required":false,"displayName":"post_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_name","type":"string","display":true,"required":false,"displayName":"user_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"input_type","type":"string","display":true,"required":false,"displayName":"input_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_message","type":"string","display":true,"required":false,"displayName":"original_message","defaultMatch":false,"canBeUsedToMatch":true},{"id":"extracted_urls","type":"string","display":true,"required":false,"displayName":"extracted_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"identified_topics","type":"string","display":true,"required":false,"displayName":"identified_topics","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_queries","type":"string","display":true,"required":false,"displayName":"search_queries","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_results_summary","type":"string","display":true,"required":false,"displayName":"search_results_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scraped_content_summary","type":"string","display":true,"required":false,"displayName":"scraped_content_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"content_sources","type":"string","display":true,"required":false,"displayName":"content_sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"initial_generated_post","type":"string","display":true,"required":false,"displayName":"initial_generated_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_approved_post","type":"string","display":true,"required":false,"displayName":"final_approved_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hashtags_used","type":"string","display":true,"required":false,"displayName":"hashtags_used","defaultMatch":false,"canBeUsedToMatch":true},{"id":"character_count","type":"string","display":true,"required":false,"displayName":"character_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"has_media","type":"string","display":true,"required":false,"displayName":"has_media","defaultMatch":false,"canBeUsedToMatch":true},{"id":"media_urls","type":"string","display":true,"required":false,"displayName":"media_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rejection_reason","type":"string","display":true,"required":false,"displayName":"rejection_reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"edit_iterations","type":"string","display":true,"required":false,"displayName":"edit_iterations","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time_to_approval","type":"string","display":true,"required":false,"displayName":"time_to_approval","defaultMatch":false,"canBeUsedToMatch":true},{"id":"posted_datetime","type":"string","display":true,"required":false,"displayName":"posted_datetime","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scheduled_time","type":"string","display":true,"required":false,"displayName":"scheduled_time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin_post_url","type":"string","display":true,"required":false,"displayName":"linkedin_post_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"post_type","type":"string","display":true,"required":false,"displayName":"post_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_1h","type":"string","display":true,"required":false,"displayName":"impressions_1h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_24h","type":"string","display":true,"required":false,"displayName":"impressions_24h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_7d","type":"string","display":true,"required":false,"displayName":"impressions_7d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_30d","type":"string","display":true,"required":false,"displayName":"impressions_30d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reactions_total","type":"string","display":true,"required":false,"displayName":"reactions_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"likes","type":"string","display":true,"required":false,"displayName":"likes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"celebrates","type":"string","display":true,"required":false,"displayName":"celebrates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"loves","type":"string","display":true,"required":false,"displayName":"loves","defaultMatch":false,"canBeUsedToMatch":true},{"id":"comments_total","type":"string","display":true,"required":false,"displayName":"comments_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"shares_total","type":"string","display":true,"required":false,"displayName":"shares_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clicks_total","type":"string","display":true,"required":false,"displayName":"clicks_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"viral_score","type":"string","display":true,"required":false,"displayName":"viral_score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"follower_growth","type":"string","display":true,"required":false,"displayName":"follower_growth","defaultMatch":false,"canBeUsedToMatch":true},{"id":"performance_tier","type":"string","display":true,"required":false,"displayName":"performance_tier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_metrics_update","type":"string","display":true,"required":false,"displayName":"last_metrics_update","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["post_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0e1c0631-71f3-4a00-ad20-a964db2b2454","name":"Update row in sheet1","type":"n8n-nodes-base.googleSheets","position":[-208,2080],"typeVersion":4.7},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit?usp=drivesdk","cachedResultName":"LinekedIn Posts"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit#gid=0","cachedResultName":"Posts_Master"},"columns":{"value":{"post_id":"={{ $('Process Callback').item.json.post_id }}","approval_status":"Rejected","final_approved_post":"={{ $json.rewritten_content }}"},"schema":[{"id":"post_id","type":"string","display":true,"removed":false,"required":false,"displayName":"post_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_name","type":"string","display":true,"required":false,"displayName":"user_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"input_type","type":"string","display":true,"required":false,"displayName":"input_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_message","type":"string","display":true,"required":false,"displayName":"original_message","defaultMatch":false,"canBeUsedToMatch":true},{"id":"extracted_urls","type":"string","display":true,"required":false,"displayName":"extracted_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"identified_topics","type":"string","display":true,"required":false,"displayName":"identified_topics","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_queries","type":"string","display":true,"required":false,"displayName":"search_queries","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_results_summary","type":"string","display":true,"required":false,"displayName":"search_results_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scraped_content_summary","type":"string","display":true,"required":false,"displayName":"scraped_content_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"content_sources","type":"string","display":true,"required":false,"displayName":"content_sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"initial_generated_post","type":"string","display":true,"required":false,"displayName":"initial_generated_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_approved_post","type":"string","display":true,"required":false,"displayName":"final_approved_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hashtags_used","type":"string","display":true,"required":false,"displayName":"hashtags_used","defaultMatch":false,"canBeUsedToMatch":true},{"id":"character_count","type":"string","display":true,"required":false,"displayName":"character_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"has_media","type":"string","display":true,"required":false,"displayName":"has_media","defaultMatch":false,"canBeUsedToMatch":true},{"id":"media_urls","type":"string","display":true,"required":false,"displayName":"media_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rejection_reason","type":"string","display":true,"required":false,"displayName":"rejection_reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"edit_iterations","type":"string","display":true,"required":false,"displayName":"edit_iterations","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time_to_approval","type":"string","display":true,"required":false,"displayName":"time_to_approval","defaultMatch":false,"canBeUsedToMatch":true},{"id":"posted_datetime","type":"string","display":true,"required":false,"displayName":"posted_datetime","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scheduled_time","type":"string","display":true,"required":false,"displayName":"scheduled_time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin_post_url","type":"string","display":true,"required":false,"displayName":"linkedin_post_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"post_type","type":"string","display":true,"required":false,"displayName":"post_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_1h","type":"string","display":true,"required":false,"displayName":"impressions_1h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_24h","type":"string","display":true,"required":false,"displayName":"impressions_24h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_7d","type":"string","display":true,"required":false,"displayName":"impressions_7d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_30d","type":"string","display":true,"required":false,"displayName":"impressions_30d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reactions_total","type":"string","display":true,"required":false,"displayName":"reactions_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"likes","type":"string","display":true,"required":false,"displayName":"likes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"celebrates","type":"string","display":true,"required":false,"displayName":"celebrates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"loves","type":"string","display":true,"required":false,"displayName":"loves","defaultMatch":false,"canBeUsedToMatch":true},{"id":"comments_total","type":"string","display":true,"required":false,"displayName":"comments_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"shares_total","type":"string","display":true,"required":false,"displayName":"shares_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clicks_total","type":"string","display":true,"required":false,"displayName":"clicks_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"viral_score","type":"string","display":true,"required":false,"displayName":"viral_score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"follower_growth","type":"string","display":true,"required":false,"displayName":"follower_growth","defaultMatch":false,"canBeUsedToMatch":true},{"id":"performance_tier","type":"string","display":true,"required":false,"displayName":"performance_tier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_metrics_update","type":"string","display":true,"required":false,"displayName":"last_metrics_update","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["post_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6076f580-3f50-4d1e-bec1-30c517078965","name":"Update row in sheet2","type":"n8n-nodes-base.googleSheets","position":[-944,2384],"typeVersion":4.7},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit?usp=drivesdk","cachedResultName":"LinekedIn Posts"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RvHyWEvEZR5etmq1KfzTOkSIXY5tUT5TLVgDSUfAr5c/edit#gid=0","cachedResultName":"Posts_Master"},"columns":{"value":{"post_id":"={{ $('Process Callback').item.json.post_id }}","timestamp":"=","approval_status":"Approved","final_approved_post":"={{ $json.rewritten_content }}"},"schema":[{"id":"post_id","type":"string","display":true,"removed":false,"required":false,"displayName":"post_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_name","type":"string","display":true,"required":false,"displayName":"user_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"input_type","type":"string","display":true,"required":false,"displayName":"input_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_message","type":"string","display":true,"required":false,"displayName":"original_message","defaultMatch":false,"canBeUsedToMatch":true},{"id":"extracted_urls","type":"string","display":true,"required":false,"displayName":"extracted_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"identified_topics","type":"string","display":true,"required":false,"displayName":"identified_topics","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_queries","type":"string","display":true,"required":false,"displayName":"search_queries","defaultMatch":false,"canBeUsedToMatch":true},{"id":"search_results_summary","type":"string","display":true,"required":false,"displayName":"search_results_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scraped_content_summary","type":"string","display":true,"required":false,"displayName":"scraped_content_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"content_sources","type":"string","display":true,"required":false,"displayName":"content_sources","defaultMatch":false,"canBeUsedToMatch":true},{"id":"initial_generated_post","type":"string","display":true,"required":false,"displayName":"initial_generated_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"final_approved_post","type":"string","display":true,"required":false,"displayName":"final_approved_post","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hashtags_used","type":"string","display":true,"required":false,"displayName":"hashtags_used","defaultMatch":false,"canBeUsedToMatch":true},{"id":"character_count","type":"string","display":true,"required":false,"displayName":"character_count","defaultMatch":false,"canBeUsedToMatch":true},{"id":"has_media","type":"string","display":true,"required":false,"displayName":"has_media","defaultMatch":false,"canBeUsedToMatch":true},{"id":"media_urls","type":"string","display":true,"required":false,"displayName":"media_urls","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rejection_reason","type":"string","display":true,"required":false,"displayName":"rejection_reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"edit_iterations","type":"string","display":true,"required":false,"displayName":"edit_iterations","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time_to_approval","type":"string","display":true,"required":false,"displayName":"time_to_approval","defaultMatch":false,"canBeUsedToMatch":true},{"id":"posted_datetime","type":"string","display":true,"required":false,"displayName":"posted_datetime","defaultMatch":false,"canBeUsedToMatch":true},{"id":"scheduled_time","type":"string","display":true,"required":false,"displayName":"scheduled_time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin_post_url","type":"string","display":true,"required":false,"displayName":"linkedin_post_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"post_type","type":"string","display":true,"required":false,"displayName":"post_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_1h","type":"string","display":true,"required":false,"displayName":"impressions_1h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_24h","type":"string","display":true,"required":false,"displayName":"impressions_24h","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_7d","type":"string","display":true,"required":false,"displayName":"impressions_7d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"impressions_30d","type":"string","display":true,"required":false,"displayName":"impressions_30d","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reactions_total","type":"string","display":true,"required":false,"displayName":"reactions_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"likes","type":"string","display":true,"required":false,"displayName":"likes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"celebrates","type":"string","display":true,"required":false,"displayName":"celebrates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"loves","type":"string","display":true,"required":false,"displayName":"loves","defaultMatch":false,"canBeUsedToMatch":true},{"id":"comments_total","type":"string","display":true,"required":false,"displayName":"comments_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"shares_total","type":"string","display":true,"required":false,"displayName":"shares_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clicks_total","type":"string","display":true,"required":false,"displayName":"clicks_total","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"viral_score","type":"string","display":true,"required":false,"displayName":"viral_score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"follower_growth","type":"string","display":true,"required":false,"displayName":"follower_growth","defaultMatch":false,"canBeUsedToMatch":true},{"id":"performance_tier","type":"string","display":true,"required":false,"displayName":"performance_tier","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_metrics_update","type":"string","display":true,"required":false,"displayName":"last_metrics_update","defaultMatch":false,"canBeUsedToMatch":true},{"id":"engagement_rate","type":"string","display":true,"required":false,"displayName":"engagement_rate","defaultMatch":false,"canBeUsedToMatch":true},{"id":"approval_status","type":"string","display":true,"required":false,"displayName":"approval_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"number","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["post_id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"139fba2c-018b-452f-a6d1-0bd58eb580cb","name":"Update row in sheet3","type":"n8n-nodes-base.googleSheets","position":[112,1280],"typeVersion":4.7},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d188e181-85e5-4bfb-bf3e-246fa29fbc0f","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{$json[\"message\"] ? true : false}}","rightValue":"true"}]}},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"daf43db7-93b4-47de-a666-22ba7cf90243","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{$json[\"callback_query\"] ? true : false}}","rightValue":""}]}}]},"options":{}},"id":"f8cd2916-ba7a-4f7d-899e-8bcd9d15bbfb","name":"Switch","type":"n8n-nodes-base.switch","position":[-2336,1136],"typeVersion":3.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e1622adb-df46-4c6a-bc95-dd5ff2ef2951","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.authorized }}","rightValue":""}]},"options":{}},"id":"5aaa1ddb-d564-472b-abab-897ad15dee3a","name":"Authorize Check","type":"n8n-nodes-base.if","position":[-1664,880],"typeVersion":2.2},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=⚠️ <b>Access Denied</b>\n\nHey {{ $json.username }},\nYou are not authorized to use this service, Reach out to your admin to know more.","replyMarkup":"=none","forceReply":{},"replyKeyboardOptions":{},"replyKeyboardRemove":{},"additionalFields":{"parse_mode":"HTML","reply_to_message_id":"={{ $json.message_id }}"}},"id":"0210e7d1-5936-46a5-8055-1e1a8031d780","name":"Send a text message","type":"n8n-nodes-base.telegram","position":[-1440,976],"webhookId":"64c87731-9baa-425f-aa91-9e1a4df18af8","typeVersion":1.2},{"parameters":{"promptType":"define","text":"={{ $json.original_message }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a content classifier for LinkedIn automation.\n\nAnalyze the input message and classify it into one of these categories:\n\n1. URL - Contains only URLs to scrape\n2. Topic - Contains only topics to search\n3. Content - Contains ready-to-post content\n4. URL+Topic - Contains both URLs and topic\n5. URL+Content - Contains URLs with additional content\n6. Topic+Content - Contains topics with content\n\nAlso extract:\n- All URLs found\n- Topics/keywords identified\n- Any direct content provided\n\nReturn a JSON object with this structure:\n{\n\"input_type\": \"category\",\n\"urls\": [\"url1\", \"url2\"],\n\"topics\": [\"topic1\", \"topic2\"],\n\"content\": \"any direct content\",\n\"processing_instructions\": \"specific instructions for processing\"\n}\n\nAnalyze this message: {{$json.message_text}}"}]},"batching":{}},"id":"176baa03-b6ba-4074-b8c3-0c73c056cef8","name":"Intent Categorization","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-864,560],"typeVersion":1.7},{"parameters":{"query":"={{ $json.topics.join(' ') }} latest news 2024","additionalParameters":{}},"id":"53700a13-3ede-45cd-a26e-a9df3976d5d6","name":"Web Search for the related content","type":"@brave/n8n-nodes-brave-search.braveSearch","position":[704,656],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n\"input_type\": \"category\",\n\"urls\": [\"url1\", \"url2\"],\n\"topics\": [\"topic1\", \"topic2\"],\n\"content\": \"any direct content\",\n\"processing_instructions\": \"specific instructions for processing\"\n}","autoFix":true},"id":"61153d01-02bb-4056-8b35-b1d3d08ecb65","name":"Extract the output in JSON Format","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-784,784],"typeVersion":1.3},{"parameters":{"options":{}},"id":"57f9fcae-d506-4ac0-b6c7-2727d0b4ef89","name":"Google Gemini Model With Parser","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-800,1008],"typeVersion":1},{"parameters":{"options":{}},"id":"9ddc6b40-2b90-4943-9b0c-e514d931e802","name":"Gemini Model to Generate Post","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1456,928],"typeVersion":1},{"parameters":{"options":{}},"id":"77a55c9a-6200-43b6-85d9-d88ca265a916","name":"Gemini Model to Regenerate the Post","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-944,2208],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"telegram_ids\": [\"593214004\", \"987654321\", \"555666777\"],\n  \"usernames\": [\"varun_k\", \"Sateesh_Yavarna\", \"john_doe\"]\n}","options":{}},"id":"a35b4fb8-90b8-419d-bdc1-43549a5af4ea","name":"Authorized Telegram Users","type":"n8n-nodes-base.set","position":[-2112,880],"typeVersion":3.4},{"parameters":{"content":"🔍 SMART CONTENT ANALYSIS\n\nUses AI to classify input message:\n- URL: Links to scrape content from\n- Topic: Keywords to search for\n- Content: Ready-to-post text\n- Mixed: Combination of above\n\nExtracts URLs, topics, and processing instructions\nNext: Dynamic routing based on content type","height":240,"width":384},"id":"0aea96ab-d7e3-41c3-8368-14a33fe79202","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-976,288],"typeVersion":1},{"parameters":{"content":"🎯 TELEGRAM INPUT & VALIDATION\n\n- Receives messages from authorized Telegram users\n- Validates user permissions against whitelist\n- Generates unique post ID for tracking\n- Routes messages vs callback queries to appropriate paths\n\nNext: Content analysis and classification","height":272,"width":432},"id":"9c2c5c41-c033-41c9-a23c-d2e72c90fecc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2496,624],"typeVersion":1},{"parameters":{"content":"⚡ INTELLIGENT CONTENT ROUTING\n\nRoutes content based on classification:\n- URL Path → Web scraping pipeline\n- Topic Path → Search engine pipeline  \n- Direct Path → Immediate processing\n- Mixed → Multiple pipelines\n\nSmart branching ensures optimal content gathering\nNext: Content collection from various sources","height":256,"width":400},"id":"f83e9cbb-4348-44e6-9f1c-9dbdbb26dbf4","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"📄 CONTENT EXTRACTION\n\n- Processes each URL individually\n- Uses Firecrawl to extract article content\n- Handles multiple URLs with batch processing\n- Merges all scraped content with source attribution\n\nExtracts: Article text, metadata, source URLs\nNext: Content synthesis with other sources\n","height":224,"width":400},"id":"be192cf7-d95a-46a9-ae85-9e1b3adc5b63","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[688,16],"typeVersion":1},{"parameters":{"content":"📰 REAL-TIME INFORMATION GATHERING\n\n- Uses Brave Search for latest industry trends\n- Queries based on identified topics\n- Fetches current news and relevant information\n- Formats results for AI processing\n\nProvides: Recent articles, trending topics, fresh insights\nNext: Content synthesis with scraped data","height":272,"width":336},"id":"12267b56-32e8-4217-8ffe-22b21fd98068","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[544,864],"typeVersion":1},{"parameters":{"content":"⚙️ MULTI-SOURCE DATA MERGER\n\nCombines all gathered information:\n- Original user message and instructions\n- Scraped web content with sources\n- Search results and trending data\n- Processing metadata and context\n\nCreates comprehensive content brief for AI generation\nNext: LinkedIn post creation","height":256,"width":336},"id":"e9ef295a-637d-426c-8145-92232d525567","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[944,400],"typeVersion":1},{"parameters":{"content":"✍️ PROFESSIONAL POST CREATION\n\nGoogle Gemini generates LinkedIn-optimized content:\n- Professional tone and structure\n- Mobile-friendly formatting\n- Strategic hashtags and CTAs\n- Source attribution when applicable\n- Character limit compliance (2800 max)\n\nOutput: Complete LinkedIn post with metadata\nNext: User preview and approval","height":288,"width":336},"id":"06103650-18d2-4bd9-a082-9a6b7e02829f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1360,400],"typeVersion":1},{"parameters":{"content":"👀 INTERACTIVE PREVIEW & APPROVAL\n\nSends formatted preview to Telegram with:\n- Complete post content preview\n- Character count and hashtag analysis\n- Interactive buttons: Approve/Edit/Reject\n- Post analytics and key points summary\n\nUser controls final content before publishing\nNext: Action processing based on user choice","height":256,"width":384},"id":"42ab3324-ca3e-4458-b50b-7573619c25a9","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1936,384],"typeVersion":1},{"parameters":{"content":"⚡ USER ACTION HANDLER\n\nProcesses user decisions:\n- APPROVE → Direct LinkedIn publishing\n- EDIT → AI rewriting with user instructions\n- REJECT → Workflow termination with logging\n\nHandles approval workflow and edit iterations\nNext: Final action execution","height":192,"width":368},"id":"5c14b129-7e18-47d6-a9ea-afa920318ee1","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-1728,1232],"typeVersion":1},{"parameters":{"content":"🔧 AI-POWERED CONTENT REFINEMENT\n\nWhen user requests edits:\n- Prompts for specific edit instructions\n- Uses AI to rewrite based on feedback\n- Maintains original intent and sources\n- Shows new version for re-approval\n\nIterative improvement until user satisfaction\nNext: Re-approval or publishing","height":224,"width":368},"id":"d5f38bcc-9f00-4771-b7d1-cf07abb11f6d","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-1136,1504],"typeVersion":1},{"parameters":{"content":"📤 LINKEDIN POST PUBLICATION\n\nFinal publishing process:\n- Retrieves approved content from tracking sheet\n- Posts directly to LinkedIn via API\n- Confirms successful publication\n- Updates tracking with post status\n\nOutput: Live LinkedIn post with confirmation","height":224,"width":384},"id":"50e86796-54a2-4a9f-9d77-25ea2eac3649","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-464,1520],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Web Search for the related content","type":"main","index":0}]]},"If1":{"main":[[{"node":"Extract URLs for Processing","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge Content Sources","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Authorized Telegram Users","type":"main","index":0}],[{"node":"Process Callback","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Confirm Publish","type":"main","index":0}]]},"Route Actions":{"main":[[{"node":"Send Status (Approve)","type":"main","index":0}],[{"node":"Send message and wait for response","type":"main","index":0}],[{"node":"Send Rejection","type":"main","index":0}]]},"Content Router":{"main":[[{"node":"If","type":"main","index":0},{"node":"If1","type":"main","index":0}],[{"node":"Merge","type":"main","index":2}]]},"Format Preview":{"main":[[{"node":"Send Preview to Telegram","type":"main","index":0}]]},"Loop Over URLs":{"main":[[{"node":"Process Scraped Content","type":"main","index":0}],[{"node":"Scrape a url and get its content","type":"main","index":0}]]},"Send Rejection":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"Authorize Check":{"main":[[{"node":"Generate Post ID","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Confirm Publish":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"Process Rewrite":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"User Validation":{"main":[[{"node":"Authorize Check","type":"main","index":0}]]},"Generate Post ID":{"main":[[{"node":"Log Initial Request","type":"main","index":0}]]},"Process Callback":{"main":[[{"node":"Answer Query a callback","type":"main","index":0}]]},"Re-Editing Chain":{"main":[[{"node":"Process Rewrite","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Log Initial Request":{"main":[[{"node":"Intent Categorization","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Content Router","type":"main","index":0},{"node":"Merge","type":"main","index":3}]]},"Update row in sheet1":{"main":[[{"node":"Send Rewrite for Approval","type":"main","index":0}]]},"Initial LinkedIn Post":{"main":[[{"node":"Format Preview","type":"main","index":0}]]},"Intent Categorization":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Merge Content Sources":{"main":[[{"node":"Initial LinkedIn Post","type":"main","index":0}]]},"Send Status (Approve)":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Answer Query a callback":{"main":[[{"node":"Route Actions","type":"main","index":0}]]},"Process Scraped Content":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Send Preview to Telegram":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Authorized Telegram Users":{"main":[[{"node":"User Validation","type":"main","index":0}]]},"Extract URLs for Processing":{"main":[[{"node":"Loop Over URLs","type":"main","index":0}]]},"Gemini Model to Generate Post":{"ai_languageModel":[[{"node":"Initial LinkedIn Post","type":"ai_languageModel","index":0}]]},"Google Gemini Model With Parser":{"ai_languageModel":[[{"node":"Intent Categorization","type":"ai_languageModel","index":0},{"node":"Extract the output in JSON Format","type":"ai_languageModel","index":0}]]},"Scrape a url and get its content":{"main":[[{"node":"Loop Over URLs","type":"main","index":0}]]},"Extract the output in JSON Format":{"ai_outputParser":[[{"node":"Intent Categorization","type":"ai_outputParser","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Re-Editing Chain","type":"main","index":0}]]},"Web Search for the related content":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Gemini Model to Regenerate the Post":{"ai_languageModel":[[{"node":"Re-Editing Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"63af87e4-df34-4926-b631-69e63797ac33","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:56:38.513Z","createdAt":"2026-01-06T04:56:38.513Z","role":"workflow:owner","workflowId":"cXVaBxTbvuESqY8X","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]