n8n-workflows1/Extract Business Emails from Google Maps Listings for Lead Generation.json
[{"updatedAt":"2026-01-02T07:15:39.398Z","createdAt":"2026-01-02T07:15:28.693Z","id":"rzUu9w3JX0leUF78","name":"Extract Business Emails from Google Maps Listings for Lead Generation","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"43f4ddab-7154-4de9-90b9-83cef133be0c","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2400,384],"typeVersion":1,"notes":"Entry point — manually start the workflow via the Test button."},{"parameters":{"url":"https://www.google.YOUR_AWS_SECRET_KEY_HERE/@41.1402229,1.0832014,56063m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MTAwMS4wIKXMDSoASAFQAw%3D%3D","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"id":"4d4f8022-cbc5-4ffe-acd7-0213e749c675","name":"Scrape Google Maps","type":"n8n-nodes-base.httpRequest","position":[-2176,384],"typeVersion":4.2,"notes":"Fetches the Google Maps search results page for 'calgary dentists'."},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input?.match?.(regex) || []\nreturn websites.map(website => ({ json: { website } }))"},"id":"5f6af96e-1c13-4dff-bd90-2588761c5fc2","name":"Extract URLs","type":"n8n-nodes-base.code","position":[-1952,384],"typeVersion":2,"notes":"Extracts all URLs from the HTML response and returns one item per URL."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bf0a5053-9660-457c-9581-964793bb6d7d","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"schema"},{"id":"9110b9e0-12aa-45cc-bde0-9eda8c10970e","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"google"},{"id":"fb9b6ed6-96a5-4560-ab10-b8a4b9a61a2b","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"gg"},{"id":"10500c0b-cdbd-4816-aba3-df60d69845dc","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"gstatic"},{"id":"c0f78219-b32c-4483-8596-22628a28acf7","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"sentry.wixpress.com"},{"id":"d162a4cf-02f3-492e-adb7-333bf6cd152b","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"sentry.io"},{"id":"1e88aa52-44e3-459e-bcec-e18bd3de3d2a","operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.website }}","rightValue":"sentry-next.wixpress.com"}]},"options":{}},"id":"6d078c7c-bebf-4e26-9d75-e82afc137401","name":"Filter Google URLs","type":"n8n-nodes-base.filter","position":[-1728,384],"typeVersion":2.2,"notes":"Removes unwanted Google-related or tracking URLs."},{"parameters":{"options":{}},"id":"94a69c80-9e44-4193-b7f6-ee7958a3d645","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[-1504,384],"typeVersion":2,"notes":"Removes duplicate website URLs."},{"parameters":{"maxItems":100},"id":"0eac2e3d-f690-4b6d-8c1d-01715c36fb41","name":"Limit","type":"n8n-nodes-base.limit","position":[-1280,384],"typeVersion":1,"notes":"Limits the number of websites processed per run to 10."},{"parameters":{"options":{}},"id":"6eb27d21-292d-40cf-bf6d-27af9cf4352c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1056,384],"typeVersion":3,"notes":"Processes websites one at a time (batch processing)."},{"parameters":{},"id":"d06e7ffa-c5ca-466d-8645-28f652662a63","name":"Wait1","type":"n8n-nodes-base.wait","position":[-832,192],"webhookId":"0fe34756-6e43-4603-8891-5747a9a6500a","typeVersion":1.1,"notes":"Adds a delay between requests to avoid server blocking."},{"parameters":{"url":"={{ $json.website }}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"id":"68c65390-4cbc-471d-80bb-72c14df78936","name":"Scrape Site","type":"n8n-nodes-base.httpRequest","position":[-832,384],"typeVersion":4.2,"onError":"continueRegularOutput","notes":"Fetches the website HTML (does not follow redirects)."},{"parameters":{"amount":1},"id":"c8885d3e-c138-4d9b-afab-1c1757a794e4","name":"Wait","type":"n8n-nodes-base.wait","position":[-608,384],"webhookId":"19cc6ed4-4fe7-485b-b879-c679e4b3374d","typeVersion":1.1,"notes":"Short wait before parsing to prevent hitting rate limits."},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input?.match?.(regex) || []\nreturn { json: { emails } }"},"id":"b56ec51e-e11f-4903-b7ed-30250f10fed3","name":"Extract Emails","type":"n8n-nodes-base.code","position":[-384,464],"typeVersion":2,"alwaysOutputData":true,"onError":"continueRegularOutput","notes":"Extracts email addresses from the website HTML."},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a6786c58-424a-409a-b87f-8a7592cb7944","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $json.emails }}","rightValue":""}]},"options":{}},"id":"b00247f0-ab02-40cb-8f38-430e74161f54","name":"Filter Out Empties","type":"n8n-nodes-base.filter","position":[-608,192],"typeVersion":2.2,"notes":"Passes through only items where 'emails' exists and is not empty."},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"359298f0-b452-4420-94e1-876dbab67e0b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[-384,192],"typeVersion":1,"notes":"Splits multiple emails into separate items (one per row)."},{"parameters":{"options":{}},"id":"9827a7c8-3292-466b-9d45-ad2aed2fbf39","name":"Remove Duplicates (2)","type":"n8n-nodes-base.removeDuplicates","position":[-160,192],"typeVersion":2,"notes":"Removes duplicate emails before saving."},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1mlBYMLXdNNp3yTVJHpt3nKgVmTUR4fi09dBpp3k41r8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mlBYMLXdNNp3yTVJHpt3nKgVmTUR4fi09dBpp3k41r8/edit?usp=drivesdk","cachedResultName":"ideas"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mlBYMLXdNNp3yTVJHpt3nKgVmTUR4fi09dBpp3k41r8/edit#gid=0","cachedResultName":"Hoja 1"},"columns":{"value":{},"schema":[{"id":"Título","type":"string","display":true,"required":false,"displayName":"Título","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Texto","type":"string","display":true,"required":false,"displayName":"Texto","defaultMatch":false,"canBeUsedToMatch":true},{"id":"HECHO","type":"string","display":true,"required":false,"displayName":"HECHO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"TIKTOK","type":"string","display":true,"required":false,"displayName":"TIKTOK","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SHORTS","type":"string","display":true,"required":false,"displayName":"SHORTS","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Fecha","type":"string","display":true,"required":false,"displayName":"Fecha","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"df3bbde9-8e38-4147-9894-4b166c81a70e","name":"Add to Sheet","type":"n8n-nodes-base.googleSheets","position":[64,192],"typeVersion":4.5,"notes":"Appends the extracted emails into the specified Google Sheet."},{"parameters":{"content":"## Manual Trigger\nStarts the workflow when you click “Test Workflow”.\nUse this to manually run the scraper whenever you need fresh results.","height":192,"width":272},"id":"fc36947b-3926-4d98-95b5-3b7d0945365e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2512,592],"typeVersion":1},{"parameters":{"content":"## Scrape Google Maps + Extract URLs\nFetches the HTML from your chosen Google Maps search, then extracts all website links from the page.","height":192,"width":304},"id":"3e8da410-d41e-485e-b210-fb00cdb521f8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2128,576],"typeVersion":1},{"parameters":{"content":"## Filter Google URLs + Remove Duplicates + Limit\nRemoves unwanted Google/tracking links, keeps only unique websites, and limits total results to 100 for safe execution.","width":448},"id":"be979d4d-f588-4cad-8d04-703328eb550e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1648,176],"typeVersion":1},{"parameters":{"content":"## Scrape Site + Extract Emails\nVisits each website, extracts visible email addresses, and prepares them for export.","height":112,"width":384},"id":"4c4f584b-14ba-49d4-bdef-57416564a67a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-880,688],"typeVersion":1},{"parameters":{"content":"## Add to Google Sheet\nSaves all extracted emails directly into your Google Sheet (optional step).","width":288},"id":"21e99507-47d9-4f93-8e93-e1bf641b868b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter Out Empties","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates (2)","type":"main","index":0}]]},"Scrape Site":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extract URLs":{"main":[[{"node":"Filter Google URLs","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Scrape Site","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Filter Google URLs":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Filter Out Empties":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Scrape Google Maps":{"main":[[{"node":"Extract URLs","type":"main","index":0}]]},"Remove Duplicates (2)":{"main":[[{"node":"Add to Sheet","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Scrape Google Maps","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"19a78746-0b3b-4995-92b1-268002e00fe6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T07:15:28.699Z","createdAt":"2026-01-02T07:15:28.699Z","role":"workflow:owner","workflowId":"rzUu9w3JX0leUF78","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]