n8n-workflows1/Extract Google Map Business Leads with Bright Data.json
[{"updatedAt":"2025-10-10T08:47:37.460Z","createdAt":"2025-10-10T08:47:37.460Z","id":"UD4d2KPT2FuM7tSF","name":"Extract Google Map Business Leads with Bright Data","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Extract Business Data Using Service Name and Location","formDescription":"Fill details to extract business leads","formFields":{"values":[{"fieldLabel":"Service","placeholder":"Laptop Store","requiredField":true},{"fieldLabel":"State","placeholder":"Texas","requiredField":true},{"fieldLabel":"Country","fieldType":"dropdown","fieldOptions":{"values":[{"option":"US"},{"option":"India"}]},"requiredField":true}]},"options":{}},"id":"5611eeeb-1409-4c39-affb-52d6232070f5","name":"Form Submission Trigger","type":"n8n-nodes-base.formTrigger","position":[-1376,480],"webhookId":"2dff254d-a8e3-4d27-9871-e9803e342d4e","typeVersion":2.2},{"parameters":{"content":"## Extract Google My Business Leads by Service and Location\n**Description:** \nExtract Google business listings by service type and geographic location using Bright Data's Google Maps dataset. Automatically processes cities, removes duplicates, and saves results to Google Sheets.","height":276,"width":300},"id":"d32c79f8-2283-44d7-8983-009a9f59e542","name":"Workflow Description","type":"n8n-nodes-base.stickyNote","position":[-1488,176],"typeVersion":1},{"parameters":{"jsCode":"// Get values from input expressions\nconst serviceName = $('Form Submission Trigger').first().json.Service;\nconst state = $('Form Submission Trigger').first().json.State;\nconst country = $('Form Submission Trigger').first().json.Country;\nconst citiesString = $('Generate City List').first().json.output;\n\n// Validate required fields\nif (!serviceName || !state || !country || !citiesString) {\n  throw new Error(\"Missing required input data (Service, State, Country, or City list)\");\n}\n\n// Split cities string by newline and clean extra spaces\nconst cities = citiesString.split('\\n').map(city => city.trim()).filter(city => city.length > 0);\n\n// Generate output items dynamically for each city\nconst output = cities.map(city => ({\n  json: {\n    name: serviceName,\n    country: country,\n    state: state,\n    city: city,\n    category: serviceName\n  }\n}));\n\nreturn output;\n"},"id":"e42e20e0-74d4-4f77-813d-d7dc9fe74797","name":"Separate Data by City","type":"n8n-nodes-base.code","position":[-368,480],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Provide a list of cities or sub areas located inside the Location of {{ $json.State }}, within the country {{ $json.Country }}. This data will be used to search on Google maps for businesses in that region.\nThe output should be a plain text list, without bullets, numbering, or any special characters.\nDo not include any introduction, explanation, or concluding text—only the list of city names.","options":{}},"id":"574f52e2-f40f-42d2-ae5d-c6090e27f910","name":"Generate City List","type":"@n8n/n8n-nodes-langchain.agent","position":[-1136,480],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Determine the appropriate category based on the following input: \"{{ $('Form Submission Trigger').item.json.Service }}\"\n\nThe output must contain only the category name that best describes the given service.\nExamples of categories include but are not limited to: Electronics, Healthcare, Education, Food & Beverage, Automotive, Finance, Real Estate, etc.","options":{}},"id":"c7b701db-ef21-47f5-b98b-3bbd38827cb4","name":"Categorize Service Type","type":"@n8n/n8n-nodes-langchain.agent","position":[-768,480],"typeVersion":2},{"parameters":{"content":"Separate each search by city name for comprehensive coverage","height":80,"width":272},"id":"3612dd76-7a84-496f-9fe1-3c1a6f498db9","name":"City Processing Note","type":"n8n-nodes-base.stickyNote","position":[-448,384],"typeVersion":1},{"parameters":{"options":{}},"id":"d651347c-dd3c-40ac-94e1-47161fe24630","name":"Process Cities in Batches","type":"n8n-nodes-base.splitInBatches","position":[-96,480],"typeVersion":3},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"YOUR_GOOGLE_SHEET_ID","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit","cachedResultName":"Business Leads Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0","cachedResultName":"Business Leads"},"options":{}},"id":"6e59d07d-881b-473d-849b-3c0bfa285c74","name":"Get Existing Business Data","type":"n8n-nodes-base.googleSheets","position":[208,192],"typeVersion":4.6},{"parameters":{"jsCode":"const items = $input.all();\n\nconst seen = new Map();\nconst duplicates = [];\n\nfor (const item of items) {\n  const businessName = String(item.json['Business Name'] || '').trim().toLowerCase();\n  const phoneNumber = String(item.json['Phone Number'] || '').trim();\n  const address = item.json['Address'];\n  const mapsUrl = item.json['Google Maps URL'];\n\n  if (!businessName) continue;\n\n  const key = businessName;\n\n  if (seen.has(key)) {\n    const previous = seen.get(key);\n\n    if (!phoneNumber || phoneNumber === previous.phoneNumber) {\n      duplicates.push({\n        json: {\n          Address: address,\n          'Google Maps URL': mapsUrl\n        }\n      });\n    }\n\n  } else {\n    seen.set(key, { phoneNumber });\n  }\n}\n\nreturn duplicates;\n"},"id":"defc482e-3044-47ea-b369-16b2384c23d8","name":"Check for Duplicate Entries","type":"n8n-nodes-base.code","position":[384,192],"typeVersion":2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"YOUR_GOOGLE_SHEET_ID","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit","cachedResultName":"Business Leads Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0","cachedResultName":"Business Leads"},"filtersUI":{"values":[{"lookupColumn":"Address","lookupValue":"={{ $json.Address }}"},{"lookupColumn":"Google Maps URL","lookupValue":"={{ $json['Google Maps URL'] }}"}]},"options":{"returnFirstMatch":true}},"id":"3130e6ec-3998-4d28-abea-12debc0404e4","name":"Find Duplicate Row Number","type":"n8n-nodes-base.googleSheets","position":[864,208],"executeOnce":true,"typeVersion":4.6},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ae36c72f-a772-499f-a1d7-92cf8a8d640c","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message }}","rightValue":""}]},"options":{}},"id":"48e75058-3560-4a1f-ba11-60f8a38e4863","name":"Check Scraping Status","type":"n8n-nodes-base.if","position":[416,752],"typeVersion":2.2},{"parameters":{"operation":"delete","documentId":{"__rl":true,"mode":"list","value":"YOUR_GOOGLE_SHEET_ID","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit","cachedResultName":"Business Leads Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0","cachedResultName":"Business Leads"},"startIndex":"={{ $json.row_number }}"},"id":"acc300b4-6d87-40f2-90ce-d6c4b8a83a61","name":"Delete Duplicate Row","type":"n8n-nodes-base.googleSheets","position":[1152,208],"executeOnce":true,"typeVersion":4.6},{"parameters":{"options":{}},"id":"ef8eddd4-338e-4338-9756-28544766c4ce","name":"Process Duplicates in Batches","type":"n8n-nodes-base.splitInBatches","position":[608,192],"typeVersion":3},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1UIJtCT72XqEkhwoS6QL8tfEcUPUb3fM-C-dGjRi5r0k","mode":"list","cachedResultName":"Copy of Business Leads Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UIJtCT72XqEkhwoS6QL8tfEcUPUb3fM-C-dGjRi5r0k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LnXdO5TPw4dStGo319V_TilZ-3gGEMEtq50LTUqxIOw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Business Name":"={{ $json.name }}","Category":"={{ $json.category }}","Address":"={{ $json.address }}","Phone Number":"={{ $json.phone_number }}","Website URL":"={{ $json.open_website }}","Google Rating":"={{ $json.rating }}","Operating Hours":"={{ $json.open_hours }}","Google Maps URL":"={{ $json.url }}"},"matchingColumns":[],"schema":[{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Operating Hours","displayName":"Operating Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Rating","displayName":"Google Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Maps URL","displayName":"Google Maps URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2961b5c4-f204-487c-abff-52d0e901789a","name":"Save Business Data to Sheet","type":"n8n-nodes-base.googleSheets","position":[1600,768],"typeVersion":4.6},{"parameters":{"url":"=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshot_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"json"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.BRIGHTDATA_API_TOKEN}}"}]},"options":{}},"id":"72e743cb-72d3-4727-a2a5-0c153c8ed592","name":"Fetch Scraped Data","type":"n8n-nodes-base.httpRequest","position":[1376,576],"typeVersion":4.2},{"parameters":{"url":"=https://api.brightdata.com/datasets/v3/progress/{{ $json.snapshot_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{$env.BRIGHTDATA_API_TOKEN}}"}]},"options":{}},"id":"3a0a9995-faa2-4481-b2fe-f9ebc21e6607","name":"Check Data Collection Status","type":"n8n-nodes-base.httpRequest","position":[640,592],"typeVersion":4.2,"alwaysOutputData":true},{"parameters":{"amount":25},"id":"564b2374-882e-4f67-ae84-f46180a4b460","name":"Wait for Rate Limiting","type":"n8n-nodes-base.wait","position":[880,592],"webhookId":"10b45556-5e91-4387-abd0-f9078b220286","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"35ed620d-b5d5-4e97-bcc5-52b283d85616","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"ready"}]},"options":{}},"id":"69ff4764-d809-43b1-a277-2c529cd5b0e9","name":"Check if Data Ready","type":"n8n-nodes-base.if","position":[1152,592],"typeVersion":2.2},{"parameters":{"content":"## Data Collection Monitoring\n### Monitors Bright Data scraping progress and fetches results when ready\n### Polls the API until scraping completes, then retrieves the final dataset","height":480,"width":1500,"color":6},"id":"2265052a-2ec7-4b68-883d-02561b45edf7","name":"Data Collection Notes","type":"n8n-nodes-base.stickyNote","position":[384,464],"typeVersion":1},{"parameters":{"content":"## Duplicate Removal Process\n### Identifies and removes duplicate business entries\n### Compares business names and phone numbers to eliminate redundant data","height":380,"width":1500,"color":6},"id":"19121dea-bfea-4205-afe8-e0fe1df31a93","name":"Duplicate Removal Notes","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1280,688],"id":"e5876ddb-a9f2-4e7e-99e2-e673b2c663b3","name":"OpenAI Chat Model"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-768,704],"id":"f5515bb9-71ea-43f0-a0d1-e527a1e1f2ff","name":"OpenAI Chat Model1"},{"parameters":{},"id":"f0eab39e-d0cc-4fe1-939e-7d8fe6a3a398","name":"Scrape Business Data from Google Maps2","type":"@brightdata/n8n-nodes-brightdata.brightData","position":[160,752],"typeVersion":1,"alwaysOutputData":true,"credentials":{}}],"connections":{"Fetch Scraped Data":{"main":[[{"node":"Save Business Data to Sheet","type":"main","index":0}]]},"Generate City List":{"main":[[{"node":"Categorize Service Type","type":"main","index":0}]]},"Check if Data Ready":{"main":[[{"node":"Fetch Scraped Data","type":"main","index":0}],[{"node":"Check Data Collection Status","type":"main","index":0}]]},"Delete Duplicate Row":{"main":[[{"node":"Process Duplicates in Batches","type":"main","index":0}]]},"Check Scraping Status":{"main":[[{"node":"Check Data Collection Status","type":"main","index":0}],[{"node":"Save Business Data to Sheet","type":"main","index":0}]]},"Separate Data by City":{"main":[[{"node":"Process Cities in Batches","type":"main","index":0}]]},"Wait for Rate Limiting":{"main":[[{"node":"Check if Data Ready","type":"main","index":0}]]},"Categorize Service Type":{"main":[[{"node":"Separate Data by City","type":"main","index":0}]]},"Form Submission Trigger":{"main":[[{"node":"Generate City List","type":"main","index":0}]]},"Find Duplicate Row Number":{"main":[[{"node":"Delete Duplicate Row","type":"main","index":0}]]},"Process Cities in Batches":{"main":[[{"node":"Get Existing Business Data","type":"main","index":0}]]},"Get Existing Business Data":{"main":[[{"node":"Check for Duplicate Entries","type":"main","index":0}]]},"Check for Duplicate Entries":{"main":[[{"node":"Process Duplicates in Batches","type":"main","index":0}]]},"Save Business Data to Sheet":{"main":[[{"node":"Process Cities in Batches","type":"main","index":0}]]},"Check Data Collection Status":{"main":[[{"node":"Wait for Rate Limiting","type":"main","index":0}]]},"Process Duplicates in Batches":{"main":[[],[{"node":"Find Duplicate Row Number","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate City List","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Categorize Service Type","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Generate City List":[{"json":{"output":"Albany\nAmsterdam\nAuburn\nBatavia\nBeacon\nBinghamton\nBuffalo\nCanandaigua\nCohoes\nCorning\nCortland\nDunkirk\nElmira\nFulton\nGeneva\nGlen Cove\nGlens Falls\nGloversville\nHornell\nHudson\nIthaca\nJamestown\nJohnstown\nKingston\nLackawanna\nLittle Falls\nLockport\nLong Beach\nMechanicville\nMiddletown\nMount Vernon\nNew Rochelle\nNew York\nNewburgh\nNiagara Falls\nNorth Tonawanda\nNorwich\nOgdensburg\nOlean\nOneida\nOneonta\nOswego\nPeekskill\nPlattsburgh\nPort Jervis\nPoughkeepsie\nRensselaer\nRochester\nRome\nRye\nSalamanca\nSaratoga Springs\nSchenectady\nSherrill\nSyracuse\nTonawanda\nTroy\nUtica\nWatertown\nWatervliet\nWhite Plains\nYonkers"}}],"Categorize Service Type":[{"json":{"output":"Healthcare"}}]},"versionId":"a9826fb4-7e8c-4f27-b18e-9f52e923125b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-10T08:47:37.464Z","createdAt":"2025-10-10T08:47:37.464Z","role":"workflow:owner","workflowId":"UD4d2KPT2FuM7tSF","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]