n8n-workflows1/Free Lead Generation Workflow.json
[{"updatedAt":"2025-11-14T16:26:52.000Z","createdAt":"2025-11-13T13:53:17.595Z","id":"7neXtIkLE6RN0uch","name":"Free Lead Generation Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"cd7811f8-1abc-4e26-9c90-267ff2c22982","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4240,1424]},{"parameters":{"url":"=https://www.googleapis.com/customsearch/v1?key={{$json.googleApiKey}}&cx={{$json.googleCseId}}&q={{encodeURIComponent($json.searchQuery)}}&num={{$json.maxResults}}","options":{}},"id":"585aef73-3566-4671-b7ef-0348e9697992","name":"Google Search - Find Companies","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3792,1424],"notes":"FREE: Google Custom Search API\n100 queries per day free"},{"parameters":{"jsCode":"// Extract company information from Google search results\nconst items = $input.item.json.items || [];\nconst companies = [];\n\nfor (const item of items) {\n  const title = item.title || '';\n  const snippet = item.snippet || '';\n  const link = item.link || '';\n  \n  // Extract domain from URL\n  let domain = '';\n  try {\n    const url = new URL(link);\n    domain = url.hostname.replace('www.', '');\n  } catch (e) {\n    domain = link;\n  }\n  \n  // Skip non-company results\n  if (domain.includes('linkedin.com') || \n      domain.includes('facebook.com') || \n      domain.includes('wikipedia.org') ||\n      domain.includes('youtube.com')) {\n    continue;\n  }\n  \n  // Extract company name from title\n  let companyName = title.split('|')[0].split('-')[0].trim();\n  \n  companies.push({\n    companyName: companyName,\n    domain: domain,\n    website: link,\n    description: snippet,\n    searchQuery: $input.item.json.searchQuery,\n    location: $input.item.json.location,\n    hunterApiKey: $input.item.json.hunterApiKey\n  });\n}\n\nreturn companies.map(company => ({ json: company }));"},"id":"411b1d56-3690-4d35-8fe6-e23764ac4220","name":"Parse Company Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3568,1424]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.domain}}","operation":"isNotEmpty"}]}},"id":"2857ab4c-7a74-4aa8-acde-bd8b6dc7ec3a","name":"Has Valid Domain?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-3344,1424]},{"parameters":{"url":"=https://api.hunter.io/v2/domain-search?domain={{$json.domain}}&api_key={{$json.hunterApiKey}}&limit=10","options":{"timeout":10000}},"id":"7ef7840b-1614-4256-9c88-70cb57dba274","name":"Hunter.io - Find Emails","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2896,1328],"notes":"FREE: 25 searches per month\nFinds verified emails for domain"},{"parameters":{"url":"={{$json.website}}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":8000}},"id":"777ae2d6-b20b-42d2-8ea5-7d6ee1f69f93","name":"Scrape Company Website","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3120,1328],"notes":"FREE: Unlimited web scraping\nBackup method to find emails"},{"parameters":{"jsCode":"// Combine Hunter.io emails with scraped data\nconst hunterData = $input.first().json.data || {};\nconst websiteData = $input.last().json.data || '';\nconst companyInfo = $input.first().json;\n\n// Extract Hunter.io emails\nconst hunterEmails = hunterData.emails || [];\nconst decisionMakers = hunterEmails\n  .filter(e => e.value && e.confidence > 50)\n  .map(e => ({\n    email: e.value,\n    firstName: e.first_name,\n    lastName: e.last_name,\n    fullName: `${e.first_name} ${e.last_name}`,\n    position: e.position || 'Unknown',\n    department: e.department,\n    seniority: e.seniority,\n    confidence: e.confidence,\n    verified: e.verification?.status === 'valid',\n    source: 'Hunter.io'\n  }));\n\n// Extract additional emails from website HTML\nconst emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/gi;\nconst scrapedEmails = (websiteData.match(emailRegex) || [])\n  .filter(email => {\n    const lower = email.toLowerCase();\n    return email.includes(companyInfo.domain.split('.')[0]) &&\n           !lower.includes('example') &&\n           !lower.includes('test') &&\n           email.length < 100;\n  });\n\n// Remove duplicates\nconst uniqueScraped = [...new Set(scrapedEmails)]\n  .filter(email => !hunterEmails.some(h => h.value === email))\n  .slice(0, 5);\n\n// Extract phone numbers from website\nconst phoneRegex = /(?:\\+\\d{1,3}[-.\\s]?)?(?:\\(?\\d{1,4}\\)?[-.\\s]?)?\\d{1,4}[-.\\s]?\\d{1,4}[-.\\s]?\\d{1,9}/g;\nconst phones = (websiteData.match(phoneRegex) || [])\n  .filter(p => p.length >= 10 && p.length <= 20)\n  .slice(0, 3);\n\n// Categorize emails\nconst genericPatterns = /^(info|contact|hello|support|sales|admin|inquiry|service|help)@/i;\nconst allEmails = [...hunterEmails.map(e => e.value), ...uniqueScraped];\nconst genericEmails = allEmails.filter(e => genericPatterns.test(e));\nconst personalEmails = allEmails.filter(e => !genericPatterns.test(e));\n\n// Categorize decision makers by seniority\nconst executives = decisionMakers.filter(dm => \n  dm.seniority === 'executive' || \n  dm.position?.match(/CEO|Founder|President|Owner|Chief/i)\n);\n\nconst directors = decisionMakers.filter(dm => \n  dm.seniority === 'director' ||\n  dm.position?.match(/Director|VP|Vice President/i)\n);\n\nconst managers = decisionMakers.filter(dm => \n  dm.seniority === 'manager' ||\n  dm.position?.match(/Manager|Head of|Lead/i)\n);\n\nreturn {\n  // Company Info\n  companyName: companyInfo.companyName,\n  domain: companyInfo.domain,\n  website: companyInfo.website,\n  description: companyInfo.description,\n  location: companyInfo.location,\n  \n  // Contact Info\n  phones: phones,\n  primaryPhone: phones[0] || 'Not found',\n  \n  // Email Data\n  allEmails: allEmails,\n  genericEmails: genericEmails,\n  personalEmails: personalEmails,\n  scrapedEmails: uniqueScraped,\n  \n  // Decision Makers\n  decisionMakers: decisionMakers,\n  executives: executives,\n  directors: directors,\n  managers: managers,\n  \n  // Stats\n  totalContacts: decisionMakers.length,\n  totalEmails: allEmails.length,\n  verifiedEmails: decisionMakers.filter(dm => dm.verified).length,\n  hunterCreditsUsed: 1,\n  \n  // Organization\n  organization: hunterData.organization || companyInfo.companyName,\n  pattern: hunterData.pattern || 'Unknown',\n  \n  // Metadata\n  source: 'Google Search + Hunter.io + Web Scraping',\n  timestamp: new Date().toISOString()\n};"},"id":"397e8a96-7c80-4538-8d42-802f3d9e1bba","name":"Combine All Data Sources","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2672,1328]},{"parameters":{"url":"=https://company.clearbit.com/v1/domains/find?name={{$json.domain}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_CLEARBIT_API_KEY"}]},"options":{"response":{"response":{"neverError":true}},"timeout":8000}},"id":"3843481a-6434-4c2e-8f5c-0a624b83a912","name":"Clearbit - Enrich Company Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2448,1328],"notes":"FREE: 50 requests per month\nAdds company size, industry, tech stack"},{"parameters":{"jsCode":"// Add Clearbit enrichment data\nconst mainData = $input.first().json;\nconst clearbitData = $input.last().json;\n\n// Extract Clearbit info if available\nlet enrichedData = { ...mainData };\n\nif (clearbitData && !clearbitData.error) {\n  enrichedData = {\n    ...mainData,\n    industry: clearbitData.category?.industry || mainData.industry,\n    subIndustry: clearbitData.category?.subIndustry,\n    employeeCount: clearbitData.metrics?.employees || 'Unknown',\n    employeeRange: clearbitData.metrics?.employeesRange,\n    foundedYear: clearbitData.foundedYear,\n    revenue: clearbitData.metrics?.estimatedAnnualRevenue,\n    revenueRange: clearbitData.metrics?.annualRevenue,\n    techStack: clearbitData.tech || [],\n    description: clearbitData.description || mainData.description,\n    logo: clearbitData.logo,\n    linkedin: clearbitData.linkedin?.handle,\n    twitter: clearbitData.twitter?.handle,\n    facebook: clearbitData.facebook?.handle,\n    clearbitEnriched: true\n  };\n} else {\n  enrichedData.clearbitEnriched = false;\n}\n\nreturn enrichedData;"},"id":"78e7914d-b586-42b2-9574-aa576529970a","name":"Merge Clearbit Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,1328]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Company":"={{$json.companyName}}","Domain":"={{$json.domain}}","Website":"={{$json.website}}","Phone":"={{$json.primaryPhone}}","All_Phones":"={{$json.phones?.join(', ')}}","Location":"={{$json.location}}","Industry":"={{$json.industry}}","Employees":"={{$json.employeeCount}}","Founded":"={{$json.foundedYear}}","Revenue_Range":"={{$json.revenueRange}}","Description":"={{$json.description}}","Total_Contacts":"={{$json.totalContacts}}","Total_Emails":"={{$json.totalEmails}}","Verified_Emails":"={{$json.verifiedEmails}}","All_Emails":"={{$json.allEmails?.join(', ')}}","Personal_Emails":"={{$json.personalEmails?.join(', ')}}","Generic_Emails":"={{$json.genericEmails?.join(', ')}}","Executives":"={{$json.executives?.map(e => e.fullName + ' (' + e.position + ') - ' + e.email).join(' | ')}}","Directors":"={{$json.directors?.map(e => e.fullName + ' (' + e.position + ') - ' + e.email).join(' | ')}}","Managers":"={{$json.managers?.map(e => e.fullName + ' (' + e.position + ') - ' + e.email).join(' | ')}}","Tech_Stack":"={{$json.techStack?.join(', ')}}","LinkedIn":"={{$json.linkedin}}","Twitter":"={{$json.twitter}}","Email_Pattern":"={{$json.pattern}}","Data_Sources":"={{$json.source}}","Clearbit_Used":"={{$json.clearbitEnriched}}","Hunter_Credits_Used":"={{$json.hunterCreditsUsed}}","Timestamp":"={{$json.timestamp}}"}},"options":{}},"id":"43e1ae92-e509-4174-8d9a-0da1b329e242","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-2000,1328],"notes":"FREE: Unlimited storage in Google Sheets"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"companyName","value":"={{$json.companyName}}"},{"name":"website","value":"={{$json.website}}"},{"name":"location","value":"={{$json.location}}"},{"name":"description","value":"={{$json.description}}"},{"name":"status","value":"No valid domain - needs manual research"}]},"options":{}},"id":"e48757d2-ed01-424b-9575-06d3c50d59a8","name":"No Domain - Basic Data","type":"n8n-nodes-base.set","typeVersion":1,"position":[-3120,1520]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Manual_Review","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Company":"={{$json.companyName}}","Website":"={{$json.website}}","Location":"={{$json.location}}","Description":"={{$json.description}}","Status":"={{$json.status}}","Timestamp":"={{new Date().toISOString()}}"}},"options":{}},"id":"a7e7afd2-ef90-4ba4-b873-61f214727082","name":"Save for Manual Review","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-2896,1520]},{"parameters":{"jsCode":"// Generate campaign statistics\nconst items = $input.all();\n\nconst totalCompanies = items.length;\nconst withEmails = items.filter(i => (i.json.totalEmails || 0) > 0).length;\nconst totalContacts = items.reduce((sum, i) => sum + (i.json.totalContacts || 0), 0);\nconst totalEmails = items.reduce((sum, i) => sum + (i.json.totalEmails || 0), 0);\nconst verifiedEmails = items.reduce((sum, i) => sum + (i.json.verifiedEmails || 0), 0);\nconst hunterCredits = items.reduce((sum, i) => sum + (i.json.hunterCreditsUsed || 0), 0);\nconst clearbitUsed = items.filter(i => i.json.clearbitEnriched).length;\n\n// Calculate cost savings vs Apollo\nconst apolloCostPerContact = 0.15; // Apollo charges ~$0.15 per contact\nconst savedAmount = totalContacts * apolloCostPerContact;\n\nreturn {\n  summary: {\n    totalCompaniesSearched: totalCompanies,\n    companiesWithEmails: withEmails,\n    successRate: ((withEmails / totalCompanies) * 100).toFixed(1) + '%',\n    \n    totalContactsFound: totalContacts,\n    totalEmailsFound: totalEmails,\n    verifiedEmails: verifiedEmails,\n    verificationRate: totalEmails > 0 ? ((verifiedEmails / totalEmails) * 100).toFixed(1) + '%' : '0%',\n    \n    averageContactsPerCompany: (totalContacts / totalCompanies).toFixed(2),\n    averageEmailsPerCompany: (totalEmails / totalCompanies).toFixed(2),\n    \n    // API Usage\n    googleSearchesUsed: 1,\n    hunterCreditsUsed: hunterCredits,\n    clearbitRequestsUsed: clearbitUsed,\n    \n    // Limits\n    googleSearchesRemaining: 99, // 100 per day\n    hunterCreditsRemaining: 25 - hunterCredits, // 25 per month\n    clearbitRequestsRemaining: 50 - clearbitUsed, // 50 per month\n    \n    // Cost Comparison\n    apolloEquivalentCost: '$' + savedAmount.toFixed(2),\n    actualCost: '$0.00 (FREE)',\n    moneySaved: '$' + savedAmount.toFixed(2),\n    \n    timestamp: new Date().toISOString(),\n    \n    recommendation: hunterCredits > 20 ? \n      '⚠️ Hunter.io credits running low. Consider slowing down searches.' : \n      '✅ All systems go! You have plenty of free credits remaining.'\n  }\n};"},"id":"5cf246ea-4e80-405f-802d-c541da7539e8","name":"Generate Campaign Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1776,1328]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Campaign_Stats","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{$json.summary.timestamp}}","Companies_Searched":"={{$json.summary.totalCompaniesSearched}}","Success_Rate":"={{$json.summary.successRate}}","Total_Contacts":"={{$json.summary.totalContactsFound}}","Total_Emails":"={{$json.summary.totalEmailsFound}}","Verified_Emails":"={{$json.summary.verifiedEmails}}","Verification_Rate":"={{$json.summary.verificationRate}}","Google_Searches_Used":"={{$json.summary.googleSearchesUsed}}","Hunter_Credits_Used":"={{$json.summary.hunterCreditsUsed}}","Clearbit_Requests_Used":"={{$json.summary.clearbitRequestsUsed}}","Money_Saved":"={{$json.summary.moneySaved}}","Status":"={{$json.summary.recommendation}}"}},"options":{}},"id":"b1f962fa-94a5-48e5-9add-c300088f0e02","name":"Save Campaign Stats","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1552,1328]},{"parameters":{"values":{"string":[{"name":"searchQuery","value":"IT companies in Pune"},{"name":"location","value":"Pune, India"},{"name":"maxResults","value":"10"},{"name":"googleApiKey","value":"YOUR_GOOGLE_API_KEY"},{"name":"googleCseId","value":"YOUR_GOOGLE_CSE_ID"},{"name":"hunterApiKey","value":"YOUR_HUNTER_API_KEY"}]},"options":{}},"id":"6a7d3f2f-0785-43d0-8d55-30fdc3c5cfca","name":"Configure Search1","type":"n8n-nodes-base.set","typeVersion":1,"position":[-4016,1424],"notes":"FREE API Keys needed:\n- Google Custom Search (100/day)\n- Hunter.io (25/month)\nBoth have generous free tiers!"}],"connections":{"Manual Trigger":{"main":[[{"node":"Configure Search1","type":"main","index":0}]]},"Google Search - Find Companies":{"main":[[{"node":"Parse Company Data","type":"main","index":0}]]},"Parse Company Data":{"main":[[{"node":"Has Valid Domain?","type":"main","index":0}]]},"Has Valid Domain?":{"main":[[{"node":"Scrape Company Website","type":"main","index":0}],[{"node":"No Domain - Basic Data","type":"main","index":0}]]},"Hunter.io - Find Emails":{"main":[[{"node":"Combine All Data Sources","type":"main","index":0}]]},"Combine All Data Sources":{"main":[[{"node":"Clearbit - Enrich Company Data","type":"main","index":0}]]},"Clearbit - Enrich Company Data":{"main":[[{"node":"Merge Clearbit Data","type":"main","index":0}]]},"Merge Clearbit Data":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]},"Save to Google Sheets":{"main":[[{"node":"Generate Campaign Stats","type":"main","index":0}]]},"No Domain - Basic Data":{"main":[[{"node":"Save for Manual Review","type":"main","index":0}]]},"Generate Campaign Stats":{"main":[[{"node":"Save Campaign Stats","type":"main","index":0}]]},"Configure Search1":{"main":[[{"node":"Google Search - Find Companies","type":"main","index":0}]]},"Scrape Company Website":{"main":[[{"node":"Hunter.io - Find Emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a0f96428-d29b-4f37-924d-8c49c3da5887","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-13T13:53:17.625Z","createdAt":"2025-11-13T13:53:17.625Z","role":"workflow:owner","workflowId":"7neXtIkLE6RN0uch","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]