n8n-workflows1/Generate AI LinkedIn Posts with Human Approval via Telegram and GPT.json
[{"updatedAt":"2026-01-10T03:40:11.000Z","createdAt":"2026-01-06T04:58:04.237Z","id":"nC0EUL6ZTgFLSjI6","name":"Generate AI LinkedIn Posts with Human Approval via Telegram and GPT","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"8bff7685-18e5-4cfc-999c-5b5cdb964df3","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[80,240],"webhookId":"6ab6d9c3-588a-4ccc-8ab1-25c853646551","typeVersion":1.2},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Overview\nYou are a linkedin post generator. You will be given a topic to write about and your role is to search the web using the tavily tool and write the final post ready for launch.\n\n## Instructions\n-the post must be valuable and not only talknig about some general information\n-the post must contain atleast 5 hashtags at the bottom related to the topic the post is about."}},"id":"44eccc59-7de3-4d87-b255-55ef64e3bf7f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[288,240],"typeVersion":2.2},{"parameters":{},"id":"2d57d2d7-e0bc-4761-9b10-3296ef452046","name":"Tavily Tool","type":"@tavily/n8n-nodes-tavily.tavilyTool","position":[400,432],"typeVersion":1,"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"5b135ea8-7c59-4042-b266-c34fdac1130e","name":"post","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"ea596a0f-662f-457d-8f32-b3f68df3dc48","name":"Edit Fields","type":"n8n-nodes-base.set","position":[640,240],"typeVersion":3.4},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message":"=Good to go?\n\n\n{{ $json.post }}","responseType":"freeText","options":{"appendAttribution":false}},"id":"54d9601c-8eab-45bc-9d90-55ff2f59e116","name":"Send a text message","type":"n8n-nodes-base.telegram","position":[848,240],"webhookId":"54f47618-2173-4b1d-8d57-439e86fbb4ab","typeVersion":1.2},{"parameters":{"inputText":"={{ $json.data.text }}","categories":{"categories":[{"category":"Approved","description":"=the post has been reviewed and got approval by the user and no feedback given. The approval from user maybe something like: Good to go, Send it, OK, etc."},{"category":"Denied","description":"=The post got reviewed and the user gave feedback to edit the post or didn't like the post. It maybe something like: Make it shorter, delete part, add something, etc."}]},"options":{}},"id":"39a3f08c-d910-4cb2-ba6b-09484445cdcc","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[1056,240],"typeVersion":1.1},{"parameters":{"promptType":"define","text":"=the post to revise:{{ $('Edit Fields').item.json.post }}\n\nthe human feedback:{{ $('Send a text message').item.json.data.text }}","messages":{"messageValues":[{"message":"=# Overview\nYou are a linkedin expert writer. Your job is to take the incoming post and revise it based on the human feedback.\n\n## Instructions\nOnly output the body of the post"}]},"batching":{}},"id":"e6abafe3-897b-4e22-ba6e-63ebe796996d","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1504,432],"typeVersion":1.7},{"parameters":{"assignments":{"assignments":[{"id":"3241fcbd-2947-48d2-b847-288d2165a151","name":"output","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"c5e738c1-c1b1-4d47-8d94-a58c4b51cd9d","name":"Edit Fields1","type":"n8n-nodes-base.set","position":[1824,432],"typeVersion":3.4},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"148yOBNcRTo7-xTwlz_KnCiJRiVh7dVyo7CN3THPi0sU","cachedResultUrl":"https://docs.google.com/spreadsheets/d/148yOBNcRTo7-xTwlz_KnCiJRiVh7dVyo7CN3THPi0sU/edit?usp=drivesdk","cachedResultName":"contacts demo"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/148yOBNcRTo7-xTwlz_KnCiJRiVh7dVyo7CN3THPi0sU/edit#gid=0","cachedResultName":"الورقة1"},"columns":{"value":{},"schema":[{"id":"Name","type":"string","display":true,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"812b7f63-b1f3-48a3-84e8-0eae284f25c0","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","position":[1440,128],"typeVersion":4.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"id":"80c8f8a4-ac31-49b2-a673-5959566315d2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[864,464],"typeVersion":1.2},{"parameters":{"content":"","height":128,"width":176},"id":"7ba50c4e-daee-48d0-9d2c-ab43677ff087","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[816,448],"typeVersion":1},{"parameters":{"content":"## This template creates LinkedIn posts with AI + human feedback directly in Telegram.","height":208,"color":5},"id":"9e06d5e4-dc40-497a-a24c-3172a4a51cd2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Trigger \nStart by sending a message to your Telegram bot (e.g. “Write a LinkedIn post about AI”).","height":112},"id":"9169a386-4ea5-41c9-968a-9ad37c220fab","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-32,416],"typeVersion":1},{"parameters":{"content":"## AI Agent \nSearches the web for fresh insights to enrich the post and Drafts a professional LinkedIn post using OpenAI or any LLM model you want"},"id":"376c925c-bff5-4243-996a-18d0bfa48bed","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[336,48],"typeVersion":1},{"parameters":{"content":"## Approved?\nThe bot asks “Good to go?” — you can approve or give feedback. Once you approve, the post is appended to a Google Sheet — ready to publish.","height":112,"width":432},"id":"cc4fbda6-1fd2-4ee2-9853-09f2942b0199","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[848,96],"typeVersion":1},{"parameters":{"content":"## Revision Agent \nIf not approved, another AI refines the post based on your feedback.","height":112},"id":"37a4c8b9-3dea-41ac-807b-e2251ab36bff","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1520,304],"typeVersion":1}],"connections":{"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Tavily Tool":{"ai_tool":[[]]},"Edit Fields1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Send a text message":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f11ebbb6-1fd5-431a-a921-da89247a3261","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:58:04.245Z","createdAt":"2026-01-06T04:58:04.245Z","role":"workflow:owner","workflowId":"nC0EUL6ZTgFLSjI6","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]