n8n-workflows1/Google Maps Email Scraper Template.json
[{"updatedAt":"2026-01-02T07:12:31.498Z","createdAt":"2026-01-02T07:12:31.498Z","id":"nh3BC09IW6jhrqPk","name":"Google Maps Email Scraper Template","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"571f794c-7efd-4496-9050-f5f31542524a","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[1504,752],"typeVersion":1.1},{"parameters":{"options":{}},"id":"efe42b7b-4f8f-424b-9a90-df2a0f537720","name":"Loop over queries","type":"n8n-nodes-base.splitInBatches","position":[1200,272],"typeVersion":3},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{"allowUnauthorizedCerts":false}},"id":"e4b6b034-cba9-4115-8eda-f9026034d8a4","name":"Search Google Maps with query","type":"n8n-nodes-base.httpRequest","position":[912,752],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"},"id":"cae14143-1214-4b18-8413-152f2dc57afa","name":"Scrape URLs from results","type":"n8n-nodes-base.code","position":[1104,752],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.url }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"},{"id":"eb499a7e-17bc-453c-be08-a47286f726dd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"options":{}},"id":"8ebbd64a-6370-42aa-9d93-9c50575c3e27","name":"Filter irrelevant URLs","type":"n8n-nodes-base.filter","position":[1312,752],"typeVersion":2.2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"5bbc4372-9f48-4405-995b-665e0227a576","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[1904,832],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"id":"ec584abd-de23-468a-abab-b3e5fc69d4e2","name":"Loop over URLs","type":"n8n-nodes-base.splitInBatches","position":[1712,752],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"af579936-1ecf-4182-8b6f-4af294b6c143","name":"Loop over pages","type":"n8n-nodes-base.splitInBatches","position":[1920,480],"typeVersion":3,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"},"id":"00113f21-36c5-4708-9541-b0531bc7eb3d","name":"Scrape emails from page","type":"n8n-nodes-base.code","position":[2080,592],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":true}},"id":"81f42cf3-9071-469f-bc0d-48c0fc13ddb2","name":"Aggregate arrays of emails","type":"n8n-nodes-base.aggregate","position":[2240,464],"typeVersion":1},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"02180b1f-4d24-4ef8-a7b6-b5a890157991","name":"Split out into default data structure","type":"n8n-nodes-base.splitOut","position":[2464,464],"typeVersion":1},{"parameters":{"compare":"selectedFields","fieldsToCompare":"emails","options":{}},"id":"4d5fa56f-94f5-40d7-9e39-fdc51bde59c8","name":"Remove duplicate emails","type":"n8n-nodes-base.removeDuplicates","position":[2688,464],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.emails }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"}]},"options":{}},"id":"efa61159-ef5a-421a-b75d-c88cd2cc2251","name":"Filter irrelevant emails","type":"n8n-nodes-base.filter","position":[2880,464],"typeVersion":2.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"672a9ec7-434a-4a61-8274-a9686f6fbefe","name":"Save emails to Google Sheet","type":"n8n-nodes-base.googleSheets","position":[3088,464],"typeVersion":4.5},{"parameters":{},"id":"d3c6c565-da62-4a2b-a3b6-93547563bd43","name":"Starts scraper workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[688,752],"typeVersion":1},{"parameters":{},"id":"fae94bc7-e4f0-43dd-a2a3-21b9263c672f","name":"Run workflow","type":"n8n-nodes-base.manualTrigger","position":[960,272],"typeVersion":1},{"parameters":{"amount":2},"id":"6c53232c-1bdd-485a-b4f9-d3fe50e04272","name":"Wait between executions","type":"n8n-nodes-base.wait","position":[1584,368],"webhookId":"40eb11a9-0f7d-4932-993e-0052b69dbf9b","typeVersion":1.1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":false}},"id":"178569c3-7e15-4574-a2dd-cd4bbcf2dbc8","name":"Execute scraper for query","type":"n8n-nodes-base.executeWorkflow","position":[1408,368],"typeVersion":1.1},{"parameters":{"content":"## 🛠 Setup\n1. Setup your list of queries in the \"Run workflow\" manual trigger node. Watch  this [video](https://youtu.be/HaiO-UeiKBA) on how to generate the queries with ChatGPT.\n3. Choose a sheet to populate with data in the **Google Sheets node**\n4. Run the workflow and start getting leads into your Google Sheets document","height":180,"width":740,"color":5},"id":"d61a9b2e-038c-4b74-b5ac-bee3cd20d781","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,224],"typeVersion":1},{"parameters":{"content":"**Optional** 👇\nSet wait time between each query workflow execution. Default is 2 seconds.","height":100,"color":6},"id":"15526765-cb4a-4ec2-93d3-153a708b43fc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1584,240],"typeVersion":1},{"parameters":{"content":"### Scraper 👇\nThis workflow will be executed in the background for each query. Click the **All executions** tab in the left sidebar to see the executions running.","height":100,"width":480},"id":"739dd99f-16c1-47b0-8865-f02cbfa3f925","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[688,624],"typeVersion":1},{"parameters":{"content":"👆 \n1. Setup your **credentials**. Here's a [video tutorial](https://youtu.be/O5RnWDM27M8) on how to do that.\n\n2. Choose which document and sheet to save the scraped emails to. ","height":180,"color":4},"id":"548036a6-56e0-4ab2-9497-7b46578a4f3a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3104,672],"typeVersion":1},{"parameters":{"content":" ## ⚠️ Note\n\nA [video tutorial](https://youtu.be/HaiO-UeiKBA) for this workflow guide is available on my [Youtube channel](https://www.youtube.com/channel/UCn8xmUBunez1SsDVRfZDUGA)","color":3},"id":"a69f9abb-c64e-4d87-bdae-4487f51519f5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[528,0],"typeVersion":1},{"parameters":{"content":"## Google Maps Automatic Email Scraper\n\nThis workflow automatically scrapes emails from businesses on Google Maps based on a list of queries that you provide.","height":140,"width":480,"color":7},"id":"acc89066-1ff0-431b-bfd3-f793c219d994","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"**Optional** 👆\nAdd or change the regex for filtering irrelevant URLs.","height":100,"width":160,"color":6},"id":"32b740aa-4942-4939-affa-b135893502f6","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1280,912],"typeVersion":1},{"parameters":{"content":"**Optional** 👆\nAdd or change the regex for filtering irrelevant/incorrect email addresses.","height":100,"width":200,"color":6},"id":"037dd312-81c7-4bc3-89bf-4752ecfe07b3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[2864,624],"typeVersion":1}],"connections":{"Run workflow":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Loop over URLs":{"main":[[{"node":"Loop over pages","type":"main","index":0}],[{"node":"Request web page for URL","type":"main","index":0}]]},"Loop over pages":{"main":[[{"node":"Aggregate arrays of emails","type":"main","index":0}],[{"node":"Scrape emails from page","type":"main","index":0}]]},"Loop over queries":{"main":[[],[{"node":"Execute scraper for query","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Filter irrelevant URLs":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Remove duplicate emails":{"main":[[{"node":"Filter irrelevant emails","type":"main","index":0}]]},"Scrape emails from page":{"main":[[{"node":"Loop over pages","type":"main","index":0}]]},"Starts scraper workflow":{"main":[[{"node":"Search Google Maps with query","type":"main","index":0}]]},"Wait between executions":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Filter irrelevant emails":{"main":[[{"node":"Save emails to Google Sheet","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Scrape URLs from results":{"main":[[{"node":"Filter irrelevant URLs","type":"main","index":0}]]},"Execute scraper for query":{"main":[[{"node":"Wait between executions","type":"main","index":0}]]},"Aggregate arrays of emails":{"main":[[{"node":"Split out into default data structure","type":"main","index":0}]]},"Search Google Maps with query":{"main":[[{"node":"Scrape URLs from results","type":"main","index":0}]]},"Split out into default data structure":{"main":[[{"node":"Remove duplicate emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Run workflow":[{"json":{"query":"hollywood+dentist"}},{"json":{"query":"downtown+los+angeles+dentist"}},{"json":{"query":"santa+monica+dentist"}},{"json":{"query":"westwood+dentist"}},{"json":{"query":"west+l.a.+dentist"}},{"json":{"query":"the+valley+dentist"}},{"json":{"query":"echo+park+dentist"}},{"json":{"query":"culver+city+dentist"}},{"json":{"query":"pasadena+dentist"}},{"json":{"query":"silver+lake+dentist"}},{"json":{"query":"mid-wilshire+dentist"}},{"json":{"query":"beverly+hills+dentist"}},{"json":{"query":"north+hills+dentist"}},{"json":{"query":"south+los+angeles+dentist"}}]},"versionId":"0049e2df-72bb-4833-95b0-818638f0bb50","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T07:12:31.540Z","createdAt":"2026-01-02T07:12:31.540Z","role":"workflow:owner","workflowId":"nh3BC09IW6jhrqPk","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]