n8n-workflows1/Google Maps Email Scraper.json
[{"updatedAt":"2026-01-02T07:19:35.413Z","createdAt":"2026-01-02T07:19:35.413Z","id":"pYHWiH5pgC1lwLZv","name":"Google Maps Email Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Olostep lead generation","formDescription":"enter the required fields to start!","formFields":{"values":[{"fieldLabel":"City","placeholder":"London","requiredField":true},{"fieldLabel":"business","placeholder":"Dentist","requiredField":true}]},"options":{}},"id":"453fe8cd-3e0c-4de0-b75c-5da0cec5e47f","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[704,304],"webhookId":"b42402a7-85c8-48f4-8e75-0b450da6d70c","typeVersion":2.3},{"parameters":{"method":"POST","url":"https://api.olostep.com/v1/scrapes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer <token>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url_to_scrape\": \"https://www.google.com/maps/search/{{ $json.City }}+{{ $json.business }}\",\n  \"wait_before_scraping\": 100000,\n  \"formats\": [\n    \"json\"\n  ],\n  \"remove_css_selectors\": \"default\",\n  \"actions\": [\n      {\n        \"type\": \"wait\",\n        \"milliseconds\": 10000\n    },\n    {\n        \"type\": \"click\",\n        \"selector\": \".PLbyfe\"\n    },\n    {\n        \"type\": \"scroll\",\n        \"direction\": \"down\",\n        \"amount\": 100\n    },\n    {\n        \"type\": \"wait\",\n        \"milliseconds\": 10000\n    },\n    {\n        \"type\": \"scroll\",\n        \"direction\": \"down\",\n        \"amount\": 1000\n    }\n  ],\n  \"country\": \"US\",\n  \"transformer\": \"none\",\n  \"remove_images\": false,\n  \"remove_class_names\": [],\n  \"parser\": {},\n  \"llm_extract\": {\n    \"schema\": {\n      \"type\": \"array\",\n      \"description\": \"A list of businesses found on the Google Maps search results page.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the business or place.\"\n          },\n          \"website\": {\n            \"type\": \"string\",\n            \"description\": \"The official website URL for the business.\"\n          },\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"A short snippet of the business address or location.\"\n          },\n          \"phone_number\": {\n            \"type\": \"string\",\n            \"description\": \"The phone number of the business or place.\"\n          }\n        },\n        \"required\": [\n          \"name\",\n          \"website_url\"\n        ]\n      }\n    }\n  },\n  \"links_on_page\": {\n    \"absolute_links\": true,\n    \"query_to_order_links_by\": \"\",\n    \"include_links\": [],\n    \"exclude_links\": []\n  },\n  \"screen_size\": {\n    \"screen_type\": \"desktop\",\n    \"screen_width\": 1920,\n    \"screen_height\": 1080\n  },\n  \"screenshot\": {\n    \"full_page\": true\n  },\n  \"metadata\": {}\n}","options":{"allowUnauthorizedCerts":true}},"id":"7abea82e-4099-4f2c-843d-e288963e506e","name":"scrape information","type":"n8n-nodes-base.httpRequest","maxTries":5,"position":[880,304],"retryOnFail":true,"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"21d26317-c9bc-4a56-a3ca-962254a23329","name":"parsedJson","type":"array","value":"={{ $json.result.json_content.replace(/\\\\/g, '') }}"}]},"options":{}},"id":"e60c330c-8d2a-4977-bbef-492871f24623","name":"parsedInfo","type":"n8n-nodes-base.set","position":[1072,304],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"parsedJson","options":{}},"id":"b6091ae5-3f45-4ea8-821f-ff547a7415ac","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1264,304],"typeVersion":1},{"parameters":{"options":{}},"id":"6a42f029-f4a7-4f8f-bfef-990f5d93363f","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[1472,304],"typeVersion":2},{"parameters":{"options":{}},"id":"49015f82-e609-417e-a0e6-9a44213839e4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[704,640],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.olostep.com/v1/scrapes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer <token>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url_to_scrape\": \"{{ $json.website}}\",\n  \"wait_before_scraping\": 10000,\n  \"formats\": [\n    \"json\"\n  ],\n  \"remove_css_selectors\": \"default\",\n  \"actions\": [],\n  \"country\": \"US\",\n  \"transformer\": \"none\",\n  \"remove_images\": false,\n  \"remove_class_names\": [],\n  \"parser\": {},\n  \"llm_extract\": {\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"firstName\": {\n          \"type\": \"string\",\n          \"description\": \"The first name of the CEO or the decision maker in the business.\"\n        },\n        \"lastName\": {\n          \"type\": \"string\",\n          \"description\": \"The last name of the CEO or the decision maker in the business.\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"description\": \"The email of the business.\"\n        }\n      },\n      \"required\": [\n        \"firstName\",\n        \"lastName\"\n      ]\n    }\n  },\n  \"links_on_page\": {\n    \"absolute_links\": true,\n    \"query_to_order_links_by\": \"\",\n    \"include_links\": [],\n    \"exclude_links\": []\n  },\n  \"screen_size\": {\n    \"screen_type\": \"default\",\n    \"screen_width\": 123,\n    \"screen_height\": 123\n  },\n  \"screenshot\": {\n    \"full_page\": true\n  },\n  \"metadata\": {}\n}","options":{}},"id":"1760d48a-33e0-42d2-974e-dc42d3e3b7a3","name":"scrape the name","type":"n8n-nodes-base.httpRequest","maxTries":5,"position":[912,656],"retryOnFail":true,"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"84418856-fc82-4eb7-9df8-767acb3a073d","name":"parsedJson","type":"object","value":"={{ $json.result.json_content.replace(/\\\\/g, '') }}"}]},"options":{}},"id":"1718d915-023f-4c00-96ee-98f27a0421bf","name":"name","type":"n8n-nodes-base.set","position":[1136,656],"typeVersion":3.4},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1IoiN3ISmNrxOOWcfw1bQQb6Ru2GV0aN4wbXxGA73LCY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IoiN3ISmNrxOOWcfw1bQQb6Ru2GV0aN4wbXxGA73LCY/edit?usp=drivesdk","cachedResultName":"Olostep leads"},"sheetName":{"__rl":true,"mode":"list","value":900434725,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IoiN3ISmNrxOOWcfw1bQQb6Ru2GV0aN4wbXxGA73LCY/edit#gid=900434725","cachedResultName":"leads"},"columns":{"value":{"name":"={{ $('Loop Over Items').item.json.name || \"not found\" }}","website":"={{ $('Loop Over Items').item.json.website || \"not found\" }}","location":"={{ $('Loop Over Items').item.json.location || \"locaation\" }}","phoneNumber":"=\"{{ $('Loop Over Items').item.json.phone_number || \"not found\" }}\"","contactEmail":"={{ $json.parsedJson.email || \"not found\"}}","decisionMaker name":"={{ $('name').item.json.parsedJson.firstName || \"not found\" }} {{ $('name').item.json.parsedJson.lastName || \"\" }}"},"schema":[{"id":"name","type":"string","display":true,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"location","type":"string","display":true,"required":false,"displayName":"location","defaultMatch":false,"canBeUsedToMatch":true},{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phoneNumber","type":"string","display":true,"required":false,"displayName":"phoneNumber","defaultMatch":false,"canBeUsedToMatch":true},{"id":"decisionMaker name","type":"string","display":true,"required":false,"displayName":"decisionMaker name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"contactEmail","type":"string","display":true,"removed":false,"required":false,"displayName":"contactEmail","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5a97a330-bec7-4a47-84e9-e0e96c29f99f","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","maxTries":5,"position":[1328,656],"retryOnFail":true,"typeVersion":4.7},{"parameters":{},"id":"f3dcc3be-fa69-49a9-8b05-54e5eb045dc3","name":"Wait","type":"n8n-nodes-base.wait","position":[1504,656],"webhookId":"67bf13db-4568-466a-81e1-6310d9793ef0","typeVersion":1.1},{"parameters":{"content":"## Form Trigger  \nEnter city + business type to begin scraping.","height":304,"width":192,"color":7},"id":"820de9c9-6def-4d7f-910f-094a01d0991d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[656,160],"typeVersion":1},{"parameters":{"content":"## Google Maps Scrape  \nExtracts business name, location, website, phone number.","height":304,"width":192,"color":7},"id":"94a62002-c6fa-48ff-9dc8-5774eb8156d9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[864,160],"typeVersion":1},{"parameters":{"content":"## Clean Data  \nSplit JSON → Remove duplicates → Loop through businesses.","height":288,"width":528,"color":7},"id":"03bb013a-4fd9-4ff8-a662-56c6da46817e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1072,160],"typeVersion":1},{"parameters":{"content":"## Website Scrape  \nScrapes each business's website to find CEO / Founder info.","height":272,"width":400,"color":7},"id":"bd9b38f7-ecb7-4629-9313-0a2b9ac43b0c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[672,544],"typeVersion":1},{"parameters":{"content":"## Save Lead  \nAppends results to Google Sheets with all captured fields.","height":256,"width":320,"color":7},"id":"ae55f55e-a836-4aa1-abcb-1a7a03e6225d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1312,560],"typeVersion":1},{"parameters":{"content":"## Clean Data \nset first name, last name, and email each in it's proper field. ","height":272,"width":208,"color":7},"id":"cb03d7b7-5124-4b7a-a2ed-dcfa06c07c70","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1088,544],"typeVersion":1},{"parameters":{"content":"# Olostep Google Maps Lead Generation Automation  \n\nThis n8n template automates lead generation by scraping Google Maps using the Olostep API.  \nIt extracts **business names, locations, websites, phone numbers, and decision-maker names** (CEO, Founder, etc.) directly from the business website — and saves everything into a Google Sheet.\n\n## How it works / What it does  \n1. **Form Trigger:**  \n   - User submits a form with: **City** + **Business Type** (e.g., \"Dentist in Miami\").\n\n2. **Google Maps Scraping:**  \n   - The workflow sends the query to the Olostep scraping API.  \n   - Extracts:  \n     - Business name  \n     - Location  \n     - Website  \n     - Phone number  \n\n3. **Clean the Data:**  \n   - Parsed JSON is split into items.  \n   - A Remove Duplicates node ensures only unique leads continue.\n\n4. **Loop Through Each Business:**  \n   - For every business, the workflow triggers a second Olostep scrape — this time on the **business’s website**.  \n   - It extracts:  \n     - First name of decision-maker  \n     - Last name of decision-maker  \n     - (Optional) general contact email found on the website\n\n5. **Store the Lead:**  \n   - The final combined lead is appended to a Google Sheet with these fields:  \n     - Business Name  \n     - Location  \n     - Website  \n     - Phone Number  \n     - Decision-Maker Name  \n     - Contact Email (if found)  \n\n6. **Loop & Wait:**  \n   - A wait step ensures you stay within rate limits while scraping multiple websites.\n\nThis produces a clean, enriched list of leads ready for outreach or CRM import.\n\n## How to set up  \n1. Import the template into your n8n workspace.  \n2. Add your **Olostep API key**.  \n3. Connect **Google Sheets** for output storage.  \n4. Publish your form to collect search requests.  \n5. Run the workflow — leads will appear automatically in your sheet.","height":1264,"width":608},"id":"a64055c3-96c7-4650-8c3f-fb084db7949a","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## WARNING\nIf the http request runs through a 504 gateway timeout error, that's because the \"llm_extract\".\n\nYou can remove all the fields in the schema (inside the llm_extract) and then use an information extractor node or llm node to extract the desired information.","height":176,"width":384,"color":3},"id":"1466767b-c580-4156-b577-90cd0b0cfdfd","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[672,848],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"name":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"parsedInfo":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"scrape the name","type":"main","index":0}]]},"scrape the name":{"main":[[{"node":"name","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"scrape information","type":"main","index":0}]]},"scrape information":{"main":[[{"node":"parsedInfo","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cae69152-d0b8-4e21-8d9c-df55bd632ed2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T07:19:35.422Z","createdAt":"2026-01-02T07:19:35.422Z","role":"workflow:owner","workflowId":"pYHWiH5pgC1lwLZv","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]