n8n-workflows1/HR Emails Automation.json
[{"updatedAt":"2025-11-28T10:57:19.000Z","createdAt":"2025-10-10T08:47:54.548Z","id":"c8GsZJyBQZa45oKb","name":"HR Emails Automation","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 📧 HR Email Automation Workflow\n\n### 🚀 Quick Setup (5 Steps)\n\n**STEP 1: Connect Accounts**\n- Gmail OAuth2 → For sending emails\n- Google Sheets OAuth2 → For contacts & tracking\n\n**STEP 2: Prepare Google Sheets**\n\n**Sheet 1 - HR Contacts** (Required columns):\n- Name\n- Email\n- Company\n- Title\n\n**Sheet 2 - Email Tracking Log** (Leave empty, auto-populated)\n\n**STEP 3: Configure Nodes with ⚠️ UPDATE tags**\n\n1️⃣ **Rate Limiter** → Change `RAMP_START` date to today\n\n2️⃣ **Email Creator** → Replace all `[PLACEHOLDERS]` with your info:\n   - [YOUR NAME]\n   - [YOUR_EMAIL]\n   - [YOUR_PORTFOLIO]\n   - [YOUR_LINKEDIN]\n   - Update achievements & skills\n\n3️⃣ **Download Resume** → Add your Google Drive resume link\n   - Right-click resume → Share → \"Anyone with link\"\n   - Use format: `https://drive.google.com/uc?export=download&id=FILE_ID`\n\n4️⃣ **Google Sheets - Read HR Data** → Connect Sheet 1\n\n5️⃣ **Log to Google Sheets** → Connect Sheet 2\n\n6️⃣ **Schedule Trigger** → Set daily send time (default: 10:30 AM)\n\n**STEP 4: Test Run**\n- Create test sheet with 2-3 contacts\n- Run workflow manually\n- Verify: email sent + resume attached + logged\n\n**STEP 5: Activate**\n- Switch to real contact sheet\n- Toggle workflow ON\n- Check logs daily first week\n\n---\n\n### ⚙️ How It Works\n\n**Daily Process:**\n1. Reads contacts from Google Sheet\n2. Removes duplicates\n3. Validates email formats\n4. Filters generic emails (info@, support@, etc.)\n5. Applies rate limiting (gradual ramp-up)\n6. Creates personalized emails\n7. Sends with 3-min delays\n8. Logs all attempts\n\n**Rate Limiting Schedule:**\n- Week 1: 20 emails/day\n- Week 2: 50 emails/day\n- Week 3: 100 emails/day\n- Week 4+: 150 emails/day\n\n**Safety Features:**\n- 3-minute delay between emails\n- Generic email filtering\n- Duplicate prevention\n- Failed send tracking\n- Gmail rate limit compliance\n\n---\n\n### 💡 Pro Tips\n\n✅ Test with dummy emails first\n✅ Keep HR sheet updated\n✅ Monitor tracking sheet daily\n✅ Adjust rate limits if needed\n✅ A/B test subject lines\n\n❌ Don't send to personal contacts without permission\n❌ Don't exceed Gmail's 500/day limit\n❌ Don't use for spam","height":1052,"width":976,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3776,592],"typeVersion":1,"id":"8b5d21f5-8c91-4326-b3ff-2f62b349195c","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88d7ea8a-c3c3-4b6f-ac8a-aac877f13bda","leftValue":"={{$json[\"Email\"]}}","rightValue":"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$","operator":{"type":"string","operation":"regex"}},{"id":"07f8bfdf-368f-46a9-9600-be3556706046","leftValue":"={{$json[\"Email\"]}}","rightValue":"^(?:info|support|sales|admin|no[-.]?reply|noreply|contact|help|service|marketing|team|hello|hi)@","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"id":"cb6c55fb-0ac2-4070-8ab1-96f735932c2b","name":"Email Validation","type":"n8n-nodes-base.if","position":[-4048,1848],"typeVersion":2.2,"notes":"Validates email format and filters generic emails"},{"parameters":{"jsCode":"// Get input items\nconst items = $input.all();\n\n// Config - Updated to start from current date\nconst RAMP_START = new Date('2025-09-21'); // Changed from '2025-09-28'\nconst LIMIT_BY_WEEK = [150];  // weeks 1..4+, capped at last\n\n// Week since start (1-based, clamped)\nconst msPerWeek = 7 * 24 * 60 * 60 * 1000;\nconst weeksSinceStart = Math.floor((Date.now() - RAMP_START.getTime()) / msPerWeek) + 1;\nconst dailyLimit = LIMIT_BY_WEEK[Math.min(weeksSinceStart, LIMIT_BY_WEEK.length) - 1];\n\n// Local \"today\" to avoid UTC boundary surprises (00:00 local)\nconst now = new Date();\nconst today = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')}`;\n\n// Get/reset counter\nlet sentToday = $getWorkflowStaticData('node');\nif (!sentToday.date || sentToday.date !== today) {\n  sentToday.date = today;\n  sentToday.count = 0;\n}\n\n// Calculate how many emails we can still send today\nconst remainingToday = Math.max(0, dailyLimit - sentToday.count);\n\nconsole.log('Rate limiting info:', { \n  today, \n  currentCount: sentToday.count, \n  dailyLimit, \n  remainingToday, \n  weeksSinceStart,\n  totalInputEmails: items.length\n});\n\n// If no emails can be sent today, return empty array\nif (remainingToday === 0) {\n  console.log('Daily limit reached - no emails will be sent');\n  return [];\n}\n\n// Take only the emails we can send today\nconst emailsToSend = items.slice(0, remainingToday);\n\n// DON'T UPDATE COUNTER HERE - wait until emails are actually sent\nconsole.log(`Preparing to send ${emailsToSend.length} emails. Current count: ${sentToday.count}/${dailyLimit}`);\n\n// Return ALL emails to send with metadata\nreturn emailsToSend.map((item, index) => ({\n  json: { \n    ...item.json, \n    canSend: true, \n    currentSentToday: sentToday.count,\n    dailyLimit, \n    weeksSinceStart,\n    batchSize: emailsToSend.length,\n    emailIndex: index + 1,\n    totalToSend: emailsToSend.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3824,1848],"id":"7f46110d-5ec1-4030-baea-d20e4842ecc9","name":"Rate Limiter1"},{"parameters":{"jsCode":"// Updated Email Creator without footer\nconst items = $input.all();\n\nreturn items.map(inputItem => {\n  const item = inputItem.json;\n\n  const firstName = item.Name ? item.Name.split(' ')[0] : 'there';\n  const company = item.Company || 'your organization';\n  const title = item.Title || 'hiring manager';\n\n  // Check if this is a follow-up email\n  const followUpCount = item.follow_up_count || 0;\n  const isFollowUp = followUpCount > 0;\n\n  // Follow-up email templates\n  const getFollowUpTemplate = (count, firstName, company) => {\n    const templates = {\n      1: {\n        subject: `Re: Frontend/Full-Stack Developer role at ${company}`,\n        body: `<p>Hi ${firstName},</p>\n        <p>I wanted to follow up on my previous email about the developer role at ${company}.</p>\n        <p>I understand you're busy, but I'm genuinely excited about the possibility of contributing to your team with my experience in React, PostgreSQL, and automation workflows.</p>\n        <p>Would a brief 10-minute call this week work for you?</p>\n        <p>Best,<br>Panth</p>`\n      },\n      2: {\n        subject: `Quick question about ${company}'s tech team`,\n        body: `<p>Hi ${firstName},</p>\n        <p>I've been following ${company}'s work and I'm impressed by your technical approach.</p>\n        <p>Given my experience building scalable applications and automation systems, I'd love to explore how I might contribute to your technical challenges.</p>\n        <p>If now isn't the right time, I completely understand. Would you prefer I reach back out in a few months?</p>\n        <p>Thanks,<br>Panth</p>`\n      },\n      3: {\n        subject: `Final check-in - ${firstName}`,\n        body: `<p>Hi ${firstName},</p>\n        <p>I'll keep this brief - I've reached out a few times about developer opportunities at ${company}.</p>\n        <p>If you're not the right person to speak with, could you kindly point me in the right direction? Or if there's no current fit, no worries at all!</p>\n        <p>Either way, I won't take up any more of your time after this.</p>\n        <p>Best wishes,<br>Panth</p>`\n      }\n    };\n    \n    return templates[count] || templates[1];\n  };\n\n  let subject, emailBody;\n\n  if (isFollowUp && followUpCount <= 3) {\n    const template = getFollowUpTemplate(followUpCount, firstName, company);\n    subject = template.subject;\n    emailBody = template.body;\n  } else {\n    const subjects = [\n      `Excited about Frontend/Full-Stack Developer role at ${company}`,\n      `Applying for Full-Stack Developer/Frontend Developer role at ${company}`,\n      `Passionate about building scalable web apps at ${company}`,\n      `Frontend Developer reaching out for potential role at ${company}`,\n    ];\n    subject = subjects[Math.floor(Math.random() * subjects.length)];\n\n    emailBody = `<p>Hi ${firstName},</p>\n\n<p>I'm Panth Shah, a Computer Science graduate with 1+ years of experience in <strong>No-Code and Full-Stack Web Design & Development</strong>, while also learning and building <strong>AI automation workflows</strong> as an added skill.</p>\n\n<p><strong>What I've delivered:</strong></p>\n<ul>\n  <li>Engineered responsive React + PostgreSQL applications, boosting engagement by 30–35%</li>\n  <li>Optimized backend APIs, reducing latency by 30% and improving user satisfaction</li>\n  <li>Designed user-friendly web interfaces and no-code solutions using Webflow</li>\n  <li>Built automation workflows with N8N, OpenAI & Supabase – enabling smarter systems as a bonus capability</li>\n</ul>\n\n<p>I believe my technical skills align well with ${company}'s innovative direction.</p>\n\n<p><strong>My profiles:</strong></p>\n<ul>\n  <li>Portfolio: <a href=\"https://bento.me/panth\">https://bento.me/panth</a></li>\n  <li>LinkedIn: <a href=\"https://www.linkedin.com/in/panth1823/\">https://www.linkedin.com/in/panth1823/</a></li>\n  <li>GitHub: <a href=\"https://github.com/Panth1823\">https://github.com/Panth1823</a></li>\n</ul>\n\n<p>I've attached my resume for your review. Would you be open to a brief 10-minute conversation about where my skills in frontend, full-stack, and automation could contribute at ${company}?</p>\n\n<p>Best regards,<br>\nPanth Shah<br>\n<a href=\"mailto:panthshah242@gmail.com\">panthshah242@gmail.com</a></p>`;\n  }\n\n  const subjectType = isFollowUp ? `followup_${followUpCount}` : 'initial';\n\n  return {\n    json: {\n      ...item,\n      emailSubject: subject,\n      emailBody: emailBody,\n      firstName: firstName,\n      subjectType: subjectType,\n      senderName: \"Panth Shah\",\n      senderEmail: \"panthshah242@gmail.com\",\n      isFollowUp: isFollowUp,\n      followUpCount: followUpCount,\n      emailHeaders: {\n        'X-Priority': '3',\n        'Importance': 'Normal',\n        'X-Mailer': 'N8N-Automation',\n        'Reply-To': 'panthshah242@gmail.com'\n      }\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3600,1848],"id":"5fa93a7a-15dc-4853-b212-b92a4f20e71c","name":"Email Creator1"},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=1lcVI2WjCH0gleXTLgWWm78s7yVFRKitT","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2928,1776],"id":"a4dea67d-7b0b-480e-9f0b-6edb8bd0d49b","name":"Download Resume1","alwaysOutputData":true,"executeOnce":true,"notes":"Downloads resume as binary data"},{"parameters":{"sendTo":"={{$json.Email}}","subject":"={{ $json.emailSubject }}","message":"={{ $json.emailBody }}","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"id":"67fd71af-493a-4833-b436-56cc90fff55b","name":"Send Gmail1","type":"n8n-nodes-base.gmail","position":[-2704,1776],"typeVersion":2.1,"webhookId":"cb664c42-26d3-42c9-813d-5b7797c0ae26","alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"z08Sj11tWDdxgaDr","name":"Gmail account"}},"continueOnFail":true,"notes":"Send email to actual recipient with resume"},{"parameters":{"documentId":{"__rl":true,"value":"1ppnhORx-3hJaYJql5jI48Zzijvn1zFKAHH2ifMrk3O8","mode":"list","cachedResultName":"Company Wise HR Contacts - HR Contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ppnhORx-3hJaYJql5jI48Zzijvn1zFKAHH2ifMrk3O8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1121278036,"mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ppnhORx-3hJaYJql5jI48Zzijvn1zFKAHH2ifMrk3O8/edit#gid=1121278036"},"options":{}},"id":"5d87ea8d-5d8c-4777-86be-0abd07d14e25","name":"Google Sheets - Read HR Data1","type":"n8n-nodes-base.googleSheets","position":[-4496,1848],"typeVersion":4.7,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}},"notes":"Import your HR contacts CSV to Google Sheets first"},{"parameters":{"options":{}},"id":"1ce6c5c3-7c31-4143-a725-a4508b71d47e","name":"Remove Duplicates1","type":"n8n-nodes-base.removeDuplicates","position":[-4272,1848],"typeVersion":2,"notes":"Removes duplicate email addresses"},{"parameters":{"jsCode":"// Update the counter for successfully sent email\nconst item = $input.first();\n\n// Get today's date\nconst now = new Date();\nconst today = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')}`;\n\n// Get/update counter\nlet sentToday = $getWorkflowStaticData('node');\nif (!sentToday.date || sentToday.date !== today) {\n  sentToday.date = today;\n  sentToday.count = 0;\n}\n\n// Increment counter by 1 for this successfully sent email\nsentToday.count += 1;\n\nconsole.log(`Email sent successfully to: ${item.json.Email}`);\nconsole.log(`Total sent today: ${sentToday.count}`);\n\n// Return the item with success status\nreturn [{\n  json: {\n    ...item.json,\n    emailStatus: 'sent',\n    totalSentToday: sentToday.count,\n    sentDate: new Date().toISOString(),\n    success: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2256,1680],"id":"3a5b1189-5bbb-4253-8464-bf88c3d6982f","name":"Update Counter","alwaysOutputData":true},{"parameters":{"jsCode":"// Handle failed email\nconst item = $input.first();\n\n// Extract error message if available\nlet errorMessage = 'Unknown error';\nif (item.json.error) {\n  errorMessage = typeof item.json.error === 'string' ? item.json.error : JSON.stringify(item.json.error);\n} else if (item.json.message) {\n  errorMessage = item.json.message;\n}\n\nconsole.log(`Email failed to send to: ${item.json.Email}`);\nconsole.log(`Error: ${errorMessage}`);\n\n// Return item with failed status\nreturn [{\n  json: {\n    ...item.json,\n    emailStatus: 'failed',\n    failureReason: errorMessage,\n    failedDate: new Date().toISOString(),\n    success: false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2256,1872],"id":"9efaa870-37d6-441e-8926-77e5c337edbe","name":"Handle Failures","alwaysOutputData":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nO5qulxBJVXZSSdqqeZNqNCBPMQNDUibBvZGwO6G-Wo","mode":"list","cachedResultName":"HR Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nO5qulxBJVXZSSdqqeZNqNCBPMQNDUibBvZGwO6G-Wo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nO5qulxBJVXZSSdqqeZNqNCBPMQNDUibBvZGwO6G-Wo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"emailSubject":"={{ $json.emailSubject }}","email ":"={{ $json.Email }}","Name ":"={{ $json.Name }}","Company ":"={{ $json.Company }}","status ":"={{ $json.emailStatus }}","sentDate ":"={{ $now.format('MM-DD HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"email ","displayName":"email ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name ","displayName":"Name ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company ","displayName":"Company ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status ","displayName":"status ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sentDate ","displayName":"sentDate ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailSubject","displayName":"emailSubject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"21b2033c-e953-4f10-90d9-3d53ba7aab92","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[-1808,1848],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}},"notes":"Log sent emails for tracking"},{"parameters":{"assignments":{"assignments":[{"id":"5afe75fb-0362-442c-b2d5-25873059a159","name":"emailStatus","value":"={{ $json.emailStatus }}","type":"string"},{"id":"63ca4777-d636-4bbc-8e90-84b13485b820","name":"failureReason","value":"={{ $json.failureReason }}","type":"string"},{"id":"8d5ea9a4-b935-492a-913c-7e3b644bb1de","name":"SNo","value":"={{ $('Download Resume1').item.json.SNo }}","type":"number"},{"id":"cd380045-b087-441f-9207-916ad351b779","name":"Name","value":"={{ $('Download Resume1').item.json.Name }}","type":"string"},{"id":"f897bb52-37a1-4979-b042-00bdbea25470","name":"Email","value":"={{ $('Download Resume1').item.json.Email }}","type":"string"},{"id":"3ac6efb9-23c2-4810-ad72-28a9bd1fdc01","name":"Title","value":"={{ $('Download Resume1').item.json.Title }}","type":"string"},{"id":"044f8868-2669-461f-ba70-bd067489d37b","name":"Company","value":"={{ $('Download Resume1').item.json.Company }}","type":"string"},{"id":"7cd30591-5fa5-497b-8eac-0732afd712db","name":"emailSubject","value":"={{ $('Download Resume1').item.json.emailSubject }}","type":"string"},{"id":"cf53b800-264f-4813-9da9-8c072f46356a","name":"firstName","value":"={{ $('Download Resume1').item.json.firstName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,1776],"id":"2f058c20-e4a6-405e-bb62-f38148e4e4d6","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4720,1848],"id":"9c4edaaf-1522-4785-ae95-50543a47b6a1","name":"Schedule Trigger1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88364e2e-629a-43b0-8c40-30196f20b27c","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2480,1776],"id":"0d09439d-11a6-46e0-9fff-5719fd184332","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3376,1848],"id":"4ab5f6fb-9f7f-4ed9-b6ca-fb024eb334b0","name":"Loop Over Items1"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3152,1776],"id":"d9d28b87-4cd3-4b61-bf62-262ed79d43e4","name":"Wait1","webhookId":"7078e9b8-78dc-4808-9fd5-d845bcdb5c0a"}],"connections":{"Email Validation":{"main":[[{"node":"Rate Limiter1","type":"main","index":0}]]},"Rate Limiter1":{"main":[[{"node":"Email Creator1","type":"main","index":0}]]},"Email Creator1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Download Resume1":{"main":[[{"node":"Send Gmail1","type":"main","index":0}]]},"Send Gmail1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets - Read HR Data1":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Email Validation","type":"main","index":0}]]},"Update Counter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Handle Failures":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Log to Google Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets - Read HR Data1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update Counter","type":"main","index":0}],[{"node":"Handle Failures","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Download Resume1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Rate Limiter":{"date":"2025-10-23","count":0}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0cb9e99f-2711-4bb4-a601-ac2aba5b3b9f","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-10T08:47:54.552Z","createdAt":"2025-10-10T08:47:54.552Z","role":"workflow:owner","workflowId":"c8GsZJyBQZa45oKb","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]