n8n-workflows1/Job search ultimate workflow.json
[{"updatedAt":"2025-10-15T03:05:19.000Z","createdAt":"2025-10-13T16:45:52.378Z","id":"DQzsTsZp2PjfLL9k","name":"Job search ultimate workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/1lcVI2WjCH0gleXTLgWWm78s7yVFRKitT/view?usp=sharing","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-432,624],"id":"273e88d7-06a2-4bc7-a6eb-e6d6b14f53d6","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"7rveCmWhR6Y9Hbo7","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-224,624],"id":"1734c20b-67a0-47fd-98fd-fe235d210c09","name":"Extract from File"},{"parameters":{"documentId":{"__rl":true,"value":"1-ct_BiYfYwhkljKRCblFsDry8Q9LIddwmLGcFYtYsdg","mode":"list","cachedResultName":"Copy of Job Search N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ct_BiYfYwhkljKRCblFsDry8Q9LIddwmLGcFYtYsdg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Filter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-ct_BiYfYwhkljKRCblFsDry8Q9LIddwmLGcFYtYsdg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,624],"id":"0d5588f0-47d9-44ed-90fc-7d48ec03cd5e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\nconst keyword = $input.first().json.Keyword\nconst location = $input.first().json.Location\nconst experienceLevel = $input.first().json['Experience Level']\nconst remote = $input.first().json.Remote\nconst easyApply = $input.first().json['Easy Apply']\n\nif (keyword != \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location != \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel !== \"\") {\n  // Transform experience levels to LinkedIn codes\n  // Internship -> 1, Entry level -> 2, Associate -> 3\n  // Mid-Senior level -> 4, Director -> 5, Executive -> 6\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"3\";\n        case \"Entry level\": return \"1\";\n        case \"New Grad\": return \"2\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (remote.length != \"\") {\n  // Transform remote options to LinkedIn codes\n  // On-Site -> 1, Remote -> 2, Hybrid -> 3\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (easyApply != \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,624],"id":"cdbe2b73-8944-4f1e-a5ac-15c51f9e388a","name":"LinkedIn Search URL"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,624],"id":"2a53471d-a2a0-4caa-b108-2d418402f6d1","name":"Fetch jobs from LinkedIn"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"jobs","cssSelector":"ul.jobs-search__results-list li div a[class*=\"base-card\"]","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[608,624],"id":"f97f76c9-2ae5-4a19-8ce2-6779e1b5c944","name":"HTML"},{"parameters":{"fieldToSplitOut":"jobs","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[816,624],"id":"9360956e-5065-4289-8107-912a2b20d744","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[928,1440],"id":"92075b52-5816-4834-8dcd-548e31bae6e8","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-672,832],"id":"cc3a285c-2f2c-464c-b6c5-8a497bc833f7","name":"Wait","webhookId":"12409f66-fbe7-48bd-b9d7-68449f197264"},{"parameters":{"url":"={{ $json.jobs }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,832],"id":"d6f5a857-da2b-445d-b2d3-5c22cdfe35a7","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Title","cssSelector":"div h1"},{"key":"Company","cssSelector":"div span a"},{"key":"Location","cssSelector":"div span[class*='topcard__flavor topcard__flavor--bullet']"},{"key":"Description","cssSelector":"div.description__text.description__text--rich"},{"key":"Job ID","cssSelector":"a[data-item-type='semaphore']","returnValue":"attribute","attribute":"data-semaphore-content-urn"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-256,832],"id":"bed39929-bdd2-40d5-b98f-67b33406e44d","name":"HTML1"},{"parameters":{"assignments":{"assignments":[{"id":"240418dc-3349-48d5-ba59-3aa590d71950","name":"Description","value":"={{ $json.Description.replaceAll(/\\s+/g, \" \")}}","type":"string"},{"id":"7b24938f-8b47-488d-9f65-54d036dcffd5","name":"Job ID","value":"={{ $json['Job ID'].split(\":\").last() }}","type":"string"},{"id":"d6addada-9e01-464f-a768-c19f6224c491","name":"Apply Link","value":"={{ \"https://www.linkedin.com/jobs/view/\"+ $json['Job ID'].split(\":\").last()  }}","type":"string"},{"id":"21c89d3a-c8b6-44eb-9719-9ae5716a7c76","name":"Title","value":"={{ $json.Title }}","type":"string"},{"id":"da713845-9a81-486e-bff2-1613105e424d","name":"Company","value":"={{ $json.Company }}","type":"string"},{"id":"1a9a31dd-8d51-4f35-b6b6-ca8a348de5d7","name":"Location","value":"={{ $json.Location }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,832],"id":"5b2723bd-5a09-46eb-a52d-4fac1b7d432d","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are a precise job-matching assistant.\n\nReturn ONE JSON object wrapped in ```json fences, followed by the line END_OF_JSON.\nNo extra prose. No Markdown inside the JSON. No comments.\n\nINPUTS\njob_description: {{ $json.Description }}\nmy_resume: {{ $('Extract from File').item.json.text }}\n\nTASKS\n1) Parse job_description → job_analysis with keys:\n   title (string), company (string), must_have_skills (string[]), nice_to_have_skills (string[]),\n   responsibilities (string[]), years_of_experience (string), education_certifications (string),\n   location_constraints (string), domain_industry_focus (string), tech_stack (string[]), measurable_kpis (string[])\n\n2) Parse my_resume → resume_analysis:\n   core_skills (string[]),\n   tools_tech { programming_languages[], frontend_technologies[], backend_technologies[], databases_devops[] },\n   years_of_experience_key_areas (object of short strings),\n   accomplishments_with_metrics (string[]),\n   education_certs (string[]), domains (string[]), roles_titles (string[]),\n   leadership_collaboration (string[]), location_work_auth (string)\n\n3) Scoring (integer 0–100):\n   - Skills/Tools overlap: 40\n   - Relevant experience & seniority: 25\n   - Responsibilities alignment: 15\n   - Education/Certs fit: 10\n   - Domain/industry fit: 5\n   - Logistics (location/work auth/availability): 5\n   Allow partial credit; deduct up to 10 via red_flags. Clamp to [0,100], integer.\n\n4) Explain the score:\n   For each bucket, provide 1–3 concise evidence bullets. Cite \"JD\" or \"Resume\" and include short quoted fragments (escape quotes).\n\n5) Gaps & Suggestions:\n   List missing/weak requirements with 1–2 concrete upskilling steps per gap.\n\n6) Cover letter:\n   150–220 words (2–4 short paragraphs), tailored to the role/company.\n   Concrete impacts; no greeting/signature. JSON-safe: escape all \" as \\\", use \\n for newlines.\n\nSTRICT CONTENT RULES (to prevent invalid JSON)\n- Do NOT paste raw paragraphs, markdown (**bold**, lists), headings, or multi-line blocks into any array fields.\n- Every array element must be a short phrase (≤ 140 characters), single line, no line breaks, no asterisks, no bullets.\n- If a JD section is long, summarize into short phrases before placing into arrays.\n- Do NOT include unrelated job text inside arrays or objects. Keep each value semantically atomic.\n- Never invent company/title; use \"\" if unknown.\n- No trailing commas anywhere.\n\nSTRICT OUTPUT RULES\n- Output exactly the following schema (keys and types). No extra keys.\n\nSCHEMA\n```json\n{\n  \"job_analysis\": {\n    \"title\": \"\",\n    \"company\": \"\",\n    \"must_have_skills\": [],\n    \"nice_to_have_skills\": [],\n    \"responsibilities\": [],\n    \"years_of_experience\": \"\",\n    \"education_certifications\": \"\",\n    \"location_constraints\": \"\",\n    \"domain_industry_focus\": \"\",\n    \"tech_stack\": [],\n    \"measurable_kpis\": []\n  },\n  \"resume_analysis\": {\n    \"core_skills\": [],\n    \"tools_tech\": {\n      \"programming_languages\": [],\n      \"frontend_technologies\": [],\n      \"backend_technologies\": [],\n      \"databases_devops\": []\n    },\n    \"years_of_experience_key_areas\": {},\n    \"accomplishments_with_metrics\": [],\n    \"education_certs\": [],\n    \"domains\": [],\n    \"roles_titles\": [],\n    \"leadership_collaboration\": [],\n    \"location_work_auth\": \"\"\n  },\n  \"match_score\": 0,\n  \"score_explanation\": [\n    { \"category\": \"Skills/Tools overlap (40 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Relevant experience depth & seniority (25 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Responsibilities alignment (15 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Education/Certs fit (10 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Domain/industry fit (5 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Logistics (location, work auth, availability) (5 points)\", \"score\": 0, \"evidence\": [] }\n  ],\n  \"red_flags\": [],\n  \"gaps_and_suggestions\": [\n    { \"gap\": \"\", \"suggestion\": \"\" }\n  ],\n  \"cover_letter\": \"\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-608,1088],"id":"b361ac7c-c590-441f-9c4c-653618dca976","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-608,1264],"id":"3e1ccd40-6173-4a16-99f2-c4926fd538de","name":"Google Gemini Chat Model"},{"parameters":{"mode":"raw","jsonOutput":"={{ (() => {\n  // 0) Read model output from AI Agent node\n  const raw = String(($('AI Agent').item.json.output ?? ''));\n\n  // 1) Strip code fences\n  let s = raw\n    .replace(/`{2,3}(?:json)?\\s*/gi, '')\n    .replace(/\\s*`{3}\\s*$/gi, '');\n\n  // 1b) Normalize curly quotes (Gemini sometimes emits them)\n  s = s.replace(/[\\u201C\\u201D]/g, '\"').replace(/\\u2019/g, \"'\");\n\n  // 2) Cut at END_OF_JSON if present\n  const endIdx = s.indexOf('END_OF_JSON');\n  if (endIdx !== -1) s = s.slice(0, endIdx);\n\n  // 3) Extract first complete { ... } by brace counting\n  const start = s.indexOf('{');\n  if (start < 0) return {};\n  let depth = 0, inStr = false, esc = false, end = -1;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) { esc = false; }\n      else if (ch === '\\\\') { esc = true; }\n      else if (ch === '\"') { inStr = false; }\n    } else {\n      if (ch === '\"') inStr = true;\n      else if (ch === '{') depth++;\n      else if (ch === '}') { depth--; if (depth === 0) { end = i + 1; break; } }\n    }\n  }\n  if (end < 0) return {};\n\n  const cleaned = s.slice(start, end).trim();\n\n  try {\n    return JSON.parse(cleaned);   // JSON mode expects an OBJECT\n  } catch (e) {\n    // As a last resort, return an empty object to keep the run alive\n    return {};\n  }\n})() }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,1280],"id":"db8d7b66-04c1-4056-a92f-e221170ef448","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"Give me a point wise output of what I can change and improve on my resume to do the same.\n\n\n* `job_description`: {{ $json.Description }}\n* `my_resume`: {{ $('Extract from File').item.json.text }}\n\n\njust give me points, nothing else, no fluff, the points should be super crisp and not verbose\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[96,1280],"id":"f802fd6a-ec34-47d2-b343-e56a9bc5f6e1","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,1440],"id":"7eca5c87-cae1-4dd3-b2d4-f4ab2885335c","name":"Google Gemini Chat Model1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g","mode":"list","cachedResultName":"Job Search N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":11035642,"mode":"list","cachedResultName":"Result","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit#gid=11035642"},"columns":{"mappingMode":"defineBelow","value":{"Link":"={{ $('Edit Fields').item.json['Apply Link'] }}","Title":"={{ $('Edit Fields').item.json.Title }}","Company ":"={{ $('Edit Fields').item.json.Company }}","Locaton":"={{ $('Edit Fields').item.json.Location }}","Cover Letter":"={{ $('Edit Fields1').item.json.cover_letter }}","Score":"={{ $('Edit Fields1').item.json.match_score }}","Skills":"={{ $('Edit Fields1').item.json.resume_analysis.core_skills }}","Improvements":"={{ $json.output }}"},"matchingColumns":["Link"],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company ","displayName":"Company ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Locaton","displayName":"Locaton","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cover Letter","displayName":"Cover Letter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Improvements","displayName":"Improvements","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,1280],"id":"0bebd64c-9b99-4835-abcb-82ba846d0faf","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"sendTo":"<your e-mail address>","subject":"Job search results","emailType":"text","message":"Hey, your job search results with resume changes are ready in your sheet for today","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1344,1424],"id":"69a19509-69ba-4378-a651-bdaffcf1cdfe","name":"Send a message","webhookId":"f0d6158b-a72b-4e84-8f3e-0e8ecfaeda72"},{"parameters":{"content":"## Add Google Cloud Credentials\n\n1. sign in with google\n2. Upload your resume and change to anyone can view\n3. Paste your link\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[-528,384],"typeVersion":1,"id":"c8584429-ef3d-4249-9b2d-2b969aced74f","name":"Sticky Note"},{"parameters":{"content":"## Add Google Cloud Credentials\n\n1. sign in with google\n2. Prepare your sheet filter\n3. Add your sheet Link","height":176},"type":"n8n-nodes-base.stickyNote","position":[-64,400],"typeVersion":1,"id":"05b131ee-fd27-43c8-ad07-9a3cf8ae796f","name":"Sticky Note1"},{"parameters":{"content":"## Add Google Cloud Credentials\n\n- sign in with google\n- Enter your e-mail address"},"type":"n8n-nodes-base.stickyNote","position":[1264,1216],"typeVersion":1,"id":"34a9c67a-3cf3-4216-a15b-b7706b8dfea5","name":"Sticky Note2"},{"parameters":{"content":"## Add Google Cloud Credentials\n\n1. sign in with google\n2. Select your sheet and sub sheet","height":176},"type":"n8n-nodes-base.stickyNote","position":[368,1072],"typeVersion":1,"id":"c1e73714-7c5f-46c5-9a9d-9ee384151b04","name":"Sticky Note3"},{"parameters":{"content":"## Add Gemini Free tier api key\n\n1. sign in with google\n2. Create API key and project\n3. Add Free Tier key","height":176},"type":"n8n-nodes-base.stickyNote","position":[-656,1408],"typeVersion":1,"id":"01672916-f6cc-4407-b9c0-85e19406f67d","name":"Sticky Note4"},{"parameters":{"content":"## Add Gemini Free tier api key\n\n1. sign in with google\n2. Create API key and project\n3. Add Free Tier key","height":176},"type":"n8n-nodes-base.stickyNote","position":[0,1088],"typeVersion":1,"id":"4c2d1eab-ffc5-4bf4-b345-a71bb6d22386","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,624],"id":"4c8a9ca5-053b-47f3-9d8e-0f5310abd7f9","name":"Schedule Trigger"},{"parameters":{"content":"# Job search ultimate workflow\n\n1. Takes about 1 hour to run\n2. Finds all relevant jobs posted in last one day, runs at 5 AM everyday\n3. Sends you an e-mail when complete","width":512},"type":"n8n-nodes-base.stickyNote","position":[-192,160],"typeVersion":1,"id":"540892eb-f985-47a2-b85e-320611080936","name":"Sticky Note6"}],"connections":{"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"LinkedIn Search URL","type":"main","index":0}]]},"LinkedIn Search URL":{"main":[[{"node":"Fetch jobs from LinkedIn","type":"main","index":0}]]},"Fetch jobs from LinkedIn":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Append or update row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"9b9eb659-09ae-4a26-9b07-809ce0e6065b","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-13T16:45:52.383Z","createdAt":"2025-10-13T16:45:52.383Z","role":"workflow:owner","workflowId":"DQzsTsZp2PjfLL9k","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]