n8n-workflows1/LinkedIn Automation Random Prompts.json
[{"updatedAt":"2026-01-07T05:08:21.404Z","createdAt":"2026-01-06T04:47:42.477Z","id":"zXgL98HKDr7IiYVB","name":"LinkedIn Automation Random Prompts","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-4"}]}},"id":"5ab3417a-c922-48eb-bd33-170d0e0631f2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-64,-960],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"5a22e09b-59ba-4c9d-98a4-1558025fe417","name":"prompt1","type":"string","value":"Create engaging, thought-provoking LinkedIn posts that drive engagement, increase followers, and establish authority in UCaaS, AI, Contact Center, and tech business spaces.\n\nTone & Style:\n- Conversational, but professional\n- Human—not robotic or overly polished\n- Incorporates strategic questions to drive comments\n- Uses emojis thoughtfully to add personality, not clutter\n- Mixes storytelling, insights, trends, and opinions\n- Do not use Markdown or any formatting symbols (such as ** for bold or _ for italics). Write plain text only.\n- Don't summarize the type of post; this is going straight to LinkedIn, and I won't be editing it. Don't add \"post format\", \"tone\", \"focus\", etc.\n- Remember prior articles and focus on not reusing similar topics frequently\n\n1.Start with a strong hook or bold statement\n2.Share insight, observation, or story (1-3 short paragraphs max)\n3.End with a question or call-to-engage\n4.Rotate between formats: POV, predictions, lessons, thought-starters, fun/engagement posts\n\nContextual Guidance:\n-Emphasize trends shaping the industry (AI, CX, UCaaS)\n-Show awareness of how AI is changing work but balance hype with practicality\n-Encourage industry peers to comment by asking reflective or polarizing questions\n\nAvoid sounding AI-generated or generic—write like someone who’s been in the meetings, in the trenches.\nIncorporate emojis to keep it visually engaging but not juvenile.\n\nThe post should feel like it's written by a tech-savvy executive or thought leader who understands current trends in AI, contact centers, and unified communications.\n\nWrite a thought leadership post about the future of AI in CX. Keep it under 150 words."},{"id":"5e4a38a3-9ab6-4eaa-a670-e0403d1f5593","name":"prompt2","type":"string","value":"Create engaging, thought-provoking LinkedIn posts that drive engagement, increase followers, and establish authority in UCaaS, AI, Contact Center, and tech business spaces.\n\nTone & Style:\n- Conversational, but professional\n- Human—not robotic or overly polished\n- Incorporates strategic questions to drive comments\n- Uses emojis thoughtfully to add personality, not clutter\n- Mixes storytelling, insights, trends, and opinions\n- Do not use Markdown or any formatting symbols (such as ** for bold or _ for italics). Write plain text only.\n- Don't summarize the type of post; this is going straight to LinkedIn, and I won't be editing it. Don't add \"post format\", \"tone\", \"focus\", etc.\n- Remember prior articles and focus on not reusing similar topics frequently\n\n1.Start with a strong hook or bold statement\n2.Share insight, observation, or story (1-3 short paragraphs max)\n3.End with a question or call-to-engage\n4.Rotate between formats: POV, predictions, lessons, thought-starters, fun/engagement posts\n\nContextual Guidance:\n-Emphasize trends shaping the industry (AI, CX, UCaaS)\n-Show awareness of how AI is changing work but balance hype with practicality\n-Encourage industry peers to comment by asking reflective or polarizing questions\n\nAvoid sounding AI-generated or generic—write like someone who’s been in the meetings, in the trenches.\nIncorporate emojis to keep it visually engaging but not juvenile.\n\nThe post should feel like it's written by a tech-savvy executive or thought leader who understands current trends in AI, contact centers, and unified communications.\n\nCreate a LinkedIn post about how AI is transforming customer support. Make it conversational."},{"id":"26a18c26-dd92-4288-90ba-2b6c0ec239a0","name":"prompt3","type":"string","value":"Create engaging, thought-provoking LinkedIn posts that drive engagement, increase followers, and establish authority in UCaaS, AI, Contact Center, and tech business spaces.\n\nTone & Style:\n- Conversational, but professional\n- Human—not robotic or overly polished\n- Incorporates strategic questions to drive comments\n- Uses emojis thoughtfully to add personality, not clutter\n- Mixes storytelling, insights, trends, and opinions\n- Don't summarize the type of post; this is going straight to LinkedIn, and I won't be editing it. Don't add \"post format\", \"tone\", \"focus\", etc.\n- Remember prior articles and focus on not reusing similar topics frequently\n\n1.Start with a strong hook or bold statement\n2.Share insight, observation, or story (1-3 short paragraphs max)\n3.End with a question or call-to-engage\n4.Rotate between formats: POV, predictions, lessons, thought-starters, fun/engagement posts\n\nContextual Guidance:\n-Emphasize trends shaping the industry (AI, CX, UCaaS)\n-Show awareness of how AI is changing work but balance hype with practicality\n-Encourage industry peers to comment by asking reflective or polarizing questions\n\nAvoid sounding AI-generated or generic—write like someone who’s been in the meetings, in the trenches.\nIncorporate emojis to keep it visually engaging but not juvenile.\n\nThe post should feel like it's written by a tech-savvy executive or thought leader who understands current trends in AI, contact centers, and unified communications.\n\nDraft a short, engaging post about the importance of integrating AI platforms for better CX insights."},{"id":"f1f1c721-2e48-4243-9094-3b9b264ed680","name":"prompt4","type":"string","value":"Create engaging, thought-provoking LinkedIn posts that drive engagement, increase followers, and establish authority in UCaaS, AI, Contact Center, and tech business spaces.\n\nTone & Style:\n- Conversational, but professional\n- Human—not robotic or overly polished\n- Incorporates strategic questions to drive comments\n- Uses emojis thoughtfully to add personality, not clutter\n- Mixes storytelling, insights, trends, and opinions\n- Do not use Markdown or any formatting symbols (such as ** for bold or _ for italics). Write plain text only.\n- Don't summarize the type of post; this is going straight to LinkedIn, and I won't be editing it. Don't add \"post format\", \"tone\", \"focus\", etc.\n- Remember prior articles and focus on not reusing similar topics frequently\n\n1.Start with a strong hook or bold statement\n2.Share insight, observation, or story (1-3 short paragraphs max)\n3.End with a question or call-to-engage\n4.Rotate between formats: POV, predictions, lessons, thought-starters, fun/engagement posts\n\nContextual Guidance:\n-Emphasize trends shaping the industry (AI, CX, UCaaS)\n-Show awareness of how AI is changing work but balance hype with practicality\n-Encourage industry peers to comment by asking reflective or polarizing questions\n\nAvoid sounding AI-generated or generic—write like someone who’s been in the meetings, in the trenches.\nIncorporate emojis to keep it visually engaging but not juvenile.\n\nThe post should feel like it's written by a tech-savvy executive or thought leader who understands current trends in AI, contact centers, and unified communications.\n\nWrite a professional yet informal post about AI trends for customer engagement."},{"id":"3f5c12e4-769b-4be7-ba32-a88f9f714325","name":"prompt5","type":"string","value":"Create engaging, thought-provoking LinkedIn posts that drive engagement, increase followers, and establish authority in UCaaS, AI, Contact Center, and tech business spaces.\n\nTone & Style:\n- Conversational, but professional\n- Human—not robotic or overly polished\n- Incorporates strategic questions to drive comments\n- Uses emojis thoughtfully to add personality, not clutter\n- Mixes storytelling, insights, trends, and opinions\n- Do not use Markdown or any formatting symbols (such as ** for bold or _ for italics). Write plain text only.\n- Don't summarize the type of post; this is going straight to LinkedIn, and I won't be editing it. Don't add \"post format\", \"tone\", \"focus\", etc.\n- Remember prior articles and focus on not reusing similar topics frequently\n\n1.Start with a strong hook or bold statement\n2.Share insight, observation, or story (1-3 short paragraphs max)\n3.End with a question or call-to-engage\n4.Rotate between formats: POV, predictions, lessons, thought-starters, fun/engagement posts\n\nContextual Guidance:\n-Emphasize trends shaping the industry (AI, CX, UCaaS)\n-Show awareness of how AI is changing work but balance hype with practicality\n-Encourage industry peers to comment by asking reflective or polarizing questions\n\nAvoid sounding AI-generated or generic—write like someone who’s been in the meetings, in the trenches.\nIncorporate emojis to keep it visually engaging but not juvenile.\n\nThe post should feel like it's written by a tech-savvy executive or thought leader who understands current trends in AI, contact centers, and unified communications.\n\nShare insights on why AI-driven data is becoming critical for CX leaders in 2025."},{"id":"0d689205-46d9-46de-b296-056c7c5832f0","name":"Prompt6","type":"string","value":"Create engaging, thought-provoking LinkedIn posts that drive engagement, increase followers, and establish authority in UCaaS, AI, Contact Center, and tech business spaces.\n\nTone & Style:\n- Conversational, but professional\n- Human—not robotic or overly polished\n- Incorporates strategic questions to drive comments\n- Uses emojis thoughtfully to add personality, not clutter\n- Mixes storytelling, insights, trends, and opinions\n- Do not use Markdown or any formatting symbols (such as ** for bold or _ for italics). Write plain text only.\n- Don't summarize the type of post; this is going straight to LinkedIn, and I won't be editing it. Don't add \"post format\", \"tone\", \"focus\", etc.\n- Remember prior articles and focus on not reusing similar topics frequently\n\n1.Start with a strong hook or bold statement\n2.Share insight, observation, or story (1-3 short paragraphs max)\n3.End with a question or call-to-engage\n4.Rotate between formats: POV, predictions, lessons, thought-starters, fun/engagement posts\n\nContextual Guidance:\n-Emphasize trends shaping the industry (AI, CX, UCaaS)\n-Show awareness of how AI is changing work but balance hype with practicality\n-Encourage industry peers to comment by asking reflective or polarizing questions\n\nAvoid sounding AI-generated or generic—write like someone who’s been in the meetings, in the trenches.\nIncorporate emojis to keep it visually engaging but not juvenile.\n\nThe post should feel like it's written by a tech-savvy executive or thought leader who understands current trends in AI, contact centers, and unified communications.\n\nWrite a post around the CX, CX AI, and UCaaS industry from a business perspective. Use knowledge from the web to stay up to date."}]},"options":{}},"id":"88de9283-03c6-4f28-b5d9-773ccdcd8531","name":"Prompts","type":"n8n-nodes-base.set","position":[592,-848],"typeVersion":3.4},{"parameters":{"jsCode":"const prompts = [\n  $json.prompt1,\n  $json.prompt2,\n  $json.prompt3,\n  $json.prompt4,\n  $json.prompt5,\n  $json.prompt6\n];\nconst randomIndex = Math.floor(Math.random() * prompts.length);\nreturn [{ json: { selectedPrompt: prompts[randomIndex] } }];"},"id":"c281d021-7adb-4a88-a9e5-c5e13037edb9","name":"Random Prompt","type":"n8n-nodes-base.code","position":[752,-848],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c668e57a-7239-4ba5-94e3-b988ba801a5e","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"0c97e7d5-5237-484e-96a0-714dee236c6d","name":"Telegram Approved","type":"n8n-nodes-base.if","position":[400,-528],"typeVersion":2.2},{"parameters":{"operation":"sendAndWait","chatId":"7524624821","message":"=Here is your AI-generated LinkedIn post draft:\n\n{{ $('Message a model').item.json.content.parts[0].text }}\n\nScheduled Post Time (Central Time): {{ $json.postTimeCentral }}\n\nApprove?\n","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"id":"fda056e0-ca54-431f-ab5e-e8b7e44c04f1","name":"Send message and wait for response","type":"n8n-nodes-base.telegram","position":[192,-528],"webhookId":"404b51a4-af26-4d98-aacf-01969d2000ec","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}},"notes":"Here is your AI-generated LinkedIn post draft:\n\n{{ $('OpenAI Message').item.json.message.content }}\n\nApprove?"},{"parameters":{},"id":"f46b6228-7a9a-4685-923b-343712f1fd65","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-64,-736],"typeVersion":1},{"parameters":{"person":"aCRYRHVnBg","text":"={{ $('Message a model').item.json.content.parts[0].text }}","additionalFields":{}},"id":"12cc8de8-663f-4d1a-9586-d4fac15a2965","name":"Create a post","type":"n8n-nodes-base.linkedIn","position":[608,-544],"typeVersion":1,"credentials":{"linkedInOAuth2Api":{"id":"57kkCTCqz4KGc1Tw","name":"LinkedIn account"}}},{"parameters":{"chatId":"7524624821","text":"Personal LinkedIn Post Active","additionalFields":{}},"id":"c80bb198-af7f-4911-b675-ea4fce583ff8","name":"Notify Post Active","type":"n8n-nodes-base.telegram","position":[800,-544],"webhookId":"7522fe51-a9dd-4e86-aa56-1cfda7d01ee4","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a347036c-523f-44a1-ba1b-01b5fa002018","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{$json[\"skipToday\"]}}","rightValue":""}]},"options":{}},"id":"82e981a5-0150-460a-8aab-474b82f98ee0","name":"Check Day","type":"n8n-nodes-base.if","position":[384,-848],"typeVersion":2.2},{"parameters":{"content":"Check to see if this is a day we want to run the workflow. We are set to avoid Friday-Sunday. We also convert UTC to Central Time"},"id":"dc7ac8ee-fe82-43b0-be5b-1bf25cdf05af","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[96,-1040],"typeVersion":1},{"parameters":{"jsCode":"const now = new Date();\nconst utcDay = now.getUTCDay(); // Sunday = 0, Saturday = 6\n\n// Convert UTC day to Central time (-5 hours)\nconst utcHour = now.getUTCHours();\nconst centralHour = utcHour - 5;\n\n// If converting to previous day (before midnight Central)\nlet centralDay = utcDay;\nif (centralHour < 0) {\n  centralDay = utcDay - 1;\n  if (centralDay < 0) centralDay = 6; // Wrap Sunday (0) back to Saturday (6)\n}\n\nconst skipDays = [0, 5, 6]; // Sunday, Friday, Saturday\nconsole.log('UTC Day:', utcDay);\nconsole.log('Central Day:', centralDay);\nreturn [{ json: { skipToday: skipDays.includes(centralDay) } }];\n"},"id":"cea97457-178f-4dd5-ade3-766e1730473c","name":"Get Day","type":"n8n-nodes-base.code","position":[160,-848],"typeVersion":2},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $('Random Prompt').item.json.selectedPrompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[928,-848],"id":"58eba70a-07ae-4206-8faf-1c2f3da3e055","name":"Message a model","credentials":{"googlePalmApi":{"id":"1Emq4pE5SX55ruIi","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const times = ['09:00', '11:00', '15:00']; // Central Time Options\nconst selectedTime = times[Math.floor(Math.random() * times.length)];\n\n// Extract hours and minutes\nconst [hour, minute] = selectedTime.split(':').map(Number);\n\n// Get current date\nconst now = new Date();\n\n// Create a UTC Date corresponding to selected Central Time\n// Central is UTC-5\nconst postDateUTC = new Date(Date.UTC(\n    now.getFullYear(),\n    now.getMonth(),\n    now.getDate(),\n    hour + 5, // Convert from Central to UTC\n    minute,\n    0,\n    0\n));\n\nreturn [{\n    json: {\n        postTimeCentral: selectedTime,\n        postTimeUTC_ISO: postDateUTC.toISOString()\n    }\n}];"},"id":"56a63194-f0c7-40eb-8738-bcc113cac445","name":"Random Time","type":"n8n-nodes-base.code","position":[1008,-1120],"typeVersion":2},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Random Time').item.json.postTimeUTC_ISO }}"},"id":"27bd286d-16b6-4a89-b112-7bc903404580","name":"Wait for Time Selected","type":"n8n-nodes-base.wait","position":[1232,-1120],"webhookId":"50f8954c-e21e-4a44-a465-4ec02919a65b","typeVersion":1.1,"notes":"At Specified Time expression\n\n{{ new Date().toISOString().split('T')[0] + 'T' + $('Random Time').item.json.postTime + ':00Z' }}\n\nTo test change to wait for 5 seconds then revert back"}],"connections":{"Get Day":{"main":[[{"node":"Check Day","type":"main","index":0}]]},"Prompts":{"main":[[{"node":"Random Prompt","type":"main","index":0}]]},"Check Day":{"main":[[],[{"node":"Prompts","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Notify Post Active","type":"main","index":0}]]},"Random Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Day","type":"main","index":0}]]},"Telegram Approved":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Telegram Approved","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Day","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Random Time":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f6eb69bb-23ab-464d-a739-2393e03ac7d8","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:47:42.553Z","createdAt":"2026-01-06T04:47:42.553Z","role":"workflow:owner","workflowId":"zXgL98HKDr7IiYVB","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]