n8n-workflows1/LinkedIn DM Automation System.json
[{"updatedAt":"2025-12-12T07:46:12.643Z","createdAt":"2025-12-12T07:46:12.643Z","id":"7PR5QLpZD4R8obKr","name":"LinkedIn DM Automation System","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"basicAuth","formTitle":"LinkedIn Lead Outreach Trigger","formDescription":"Insert an audience for your LinkedIn Outreach Campaign here.","formFields":{"values":[{"fieldLabel":"Describe your audience in plain English.","fieldType":"textarea","placeholder":"Company type, location, etc","requiredField":true}]},"options":{}},"id":"0db0009d-7260-42c5-8f51-655c60228182","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[0,0],"webhookId":"ecb5116a-1434-45b5-8f38-31393735a1b8","typeVersion":2.2},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer {{$env.APIFY_API_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.message.content.searchUrl }}\"\n}","options":{}},"id":"8be7a34d-8086-4a73-af0b-2462a864d868","name":"Run Apify Actor & Get Results","type":"n8n-nodes-base.httpRequest","position":[592,0],"typeVersion":4.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.5-preview","cachedResultName":"GPT-4.5-PREVIEW"},"messages":{"values":[{"content":"You're a helpful, intelligent sales assistant.","role":"system"},{"content":"Your task is to take as input a natural language description of a prospect audience, and turn that into an Apollo Search URL.\n\nHere's an example of an Apollo Search URL:\n\nhttps://app.apollo.io/#/people?personLocations[]=United%20States&sortAscending=false&sortByField=%5Bnone%5D&personTitles[]=owner&personTitles[]=ceo&personTitles[]=founder&personTitles[]=partner&page=1&qKeywords=creative%20agency&organizationNumEmployeesRanges[]=1%2C200\n\nThis URL describes a search for people that are\n- Located in the United States.\n- Hold the titles: Owner, CEO, Founder, or Partner.\n- Have a keyword association with “creative agency”.\n\nThese are the fields you can change:\n\norganizationLocations[], Keywords, personTitles[], and organizationNumEmployeesRanges[]\n\nDo not add or change any other fields. Use the above template\n\nReturn your response in JSON using this format:\n\n{\"searchUrl\":\"search url goes here\"}"},{"content":"={{ $json['Describe your audience in plain English.'] }}"}]},"jsonOutput":true,"options":{}},"id":"7bfa1125-ea87-4377-bae0-54b0e4bd64a8","name":"Generate Search URL","type":"@n8n/n8n-nodes-langchain.openAi","position":[224,0],"typeVersion":1.6},{"parameters":{"maxItems":3},"id":"16dde0f6-f523-44ab-84d3-9c98586757d5","name":"Limit","type":"n8n-nodes-base.limit","position":[784,0],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.phantombuster.com/api/v2/agents/launch","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Phantombuster-Key","value":"mGBCk0W7hbnK6v58FpI2MSttntCpFqjS9Pp1xHZrRZM"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"4108795702201397"}]},"options":{}},"id":"fb5c78b2-28a4-46f8-b6c4-a4257e944928","name":"Trigger PhantomBuster Agent","type":"n8n-nodes-base.httpRequest","position":[1792,0],"typeVersion":4.2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"12VzSF9drN_kWYsGhNjir9hAGCE0k56N7HkfAV8EuI7Q","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12VzSF9drN_kWYsGhNjir9hAGCE0k56N7HkfAV8EuI7Q/edit?usp=drivesdk","cachedResultName":"Leads"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12VzSF9drN_kWYsGhNjir9hAGCE0k56N7HkfAV8EuI7Q/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"id":"={{ $('Limit').item.json.id }}","name":"={{ $('Limit').item.json.name }}","title":"={{ $('Limit').item.json.title }}","last_name":"={{ $('Limit').item.json.last_name }}","photo_url":"={{ $('Limit').item.json.photo_url }}","first_name":"={{ $('Limit').item.json.first_name }}","icebreaker":"={{ $json.message.content.icebreaker }}","email_status":"={{ $('Limit').item.json.email_status }}","linkedin_url":"={{ $('Limit').item.json.linkedin_url }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"required":false,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"first_name","type":"string","display":true,"removed":false,"required":false,"displayName":"first_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_name","type":"string","display":true,"removed":false,"required":false,"displayName":"last_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"name","type":"string","display":true,"removed":false,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin_url","type":"string","display":true,"removed":false,"required":false,"displayName":"linkedin_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"removed":false,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email_status","type":"string","display":true,"removed":false,"required":false,"displayName":"email_status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"photo_url","type":"string","display":true,"removed":false,"required":false,"displayName":"photo_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"icebreaker","type":"string","display":true,"removed":false,"required":false,"displayName":"icebreaker","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"]},"options":{"useAppend":true}},"id":"bca4d19a-36a5-479b-920c-5428bd68ea35","name":"Add to Google Sheet","type":"n8n-nodes-base.googleSheets","position":[1344,0],"typeVersion":4.5},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful, intelligent writing assistant.","role":"system"},{"content":"Your task is to take as input a bunch of LinkedIn profile information of a user, and then generate a very short, very punchy icebreaker that I can use as a variable in my connection request.\n\nReturn your results in this format:\n\n{\"icebreaker\":\"Icebreaker goes here\"}\n\nIn order to ensure icebreakers are punchy and high-quality, make them follow this template:\n\nHey {{name}}, loved seeing {{thingAboutThem}}. I'm also into {{plausibleTieIn}}, thought I'd connect.\n\nFor {{thingAboutThem}} and {{plausibleTieIn}}, never use the exact information provided in a LinkedIn field. Instead, always paraphrase. This makes it seem human written, instead of just an automated message. Also, make it super short. Don't say stuff like \"passionate about turning vision into reality\" or anything like that—be extremely laconic and spartan."},{"content":"{\"linkedInFields\":\"Danielle Morgan, Fort Lauderdale, Founder & CEO at DM Creative Agency, previous experience: Regional Sales Director at Out East Eyewear, Account Director at Radancy\"}"},{"content":"{\n  \"icebreaker\": \"Hey Danielle, loved seeing your creative agency journey. I'm also building brands, thought I'd connect.\"\n}","role":"assistant"},{"content":"={\"linkedInFields\":\"{{ $json.first_name }} {{ $json.last_name }}, {{ $json.city }}, {{ $json.title }} at {{ $json.employment_history[0].organization_name }}, previous experience: {{ $json.employment_history[1].title }} at {{ $json.employment_history[1].organization_name }}, {{ $json.employment_history[2].title }} at {{ $json.employment_history[2].organization_name }}\"} "}]},"jsonOutput":true,"options":{}},"id":"16983f8d-3205-41ff-9873-b92f799c6cfc","name":"Personalize Outreach","type":"@n8n/n8n-nodes-langchain.openAi","position":[992,0],"typeVersion":1.6},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"802ba745-94c3-4c0b-b64c-beeb71c3ea33","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[1568,0],"typeVersion":1}],"connections":{"Limit":{"main":[[{"node":"Personalize Outreach","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Trigger PhantomBuster Agent","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Generate Search URL","type":"main","index":0}]]},"Add to Google Sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Generate Search URL":{"main":[[{"node":"Run Apify Actor & Get Results","type":"main","index":0}]]},"Personalize Outreach":{"main":[[{"node":"Add to Google Sheet","type":"main","index":0}]]},"Run Apify Actor & Get Results":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"26446874-35bd-4e70-a10d-afae1b2905bf","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T07:46:12.648Z","createdAt":"2025-12-12T07:46:12.648Z","role":"workflow:owner","workflowId":"7PR5QLpZD4R8obKr","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]