n8n-workflows1/Linkedin Workflow.json
[{"updatedAt":"2025-11-10T13:20:04.000Z","createdAt":"2025-11-07T06:19:44.075Z","id":"pjUxvXZimcTTyxCP","name":"Linkedin Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"keywords","value":"={{ $json['Job title'] }}"},{"name":"location","value":"={{ $json.location }}"},{"name":"distance","value":"={{ $json.distance }}"},{"name":"f_WT","value":"={{ $json.is_remote }}"},{"name":"pageNum","value":"0"},{"name":"start","value":"={{ $json.iterations * 10 }}"},{"name":"f_TPR","value":"=r{{ $json[\"Hours Old\"] *3600}}"}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n    \"authority\": \"www.linkedin.com\",\n    \"accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\",\n    \"accept-language\": \"en-US,en;q=0.9\",\n    \"cache-control\": \"max-age=0\",\n    \"upgrade-insecure-requests\": \"1\",\n    \"user-agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\"\n}","options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,1088],"id":"a4e3f57a-fc31-476b-a0f0-dbd6e89846cc","name":"Get LinkedIn Jobs"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titles","cssSelector":"span.sr-only","returnArray":true},{}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1728,1456],"id":"7f18e221-71f4-404d-8c55-dca538eea7bb","name":"extract titles"},{"parameters":{"fieldToSplitOut":"titles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2000,1456],"id":"a30cc5e9-0e5c-44c7-97ac-89f65b0048c8","name":"Split Out"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"url","cssSelector":"a.base-card__full-link","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1728,1632],"id":"c7c0dbca-85d4-40f2-882b-42a324ae12f5","name":"Extract links"},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2000,1632],"id":"46942fa3-b056-4a6f-9531-66e408fe7cfa","name":"Split Out1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":6,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3696,1472],"id":"40a3343a-66bb-4a97-ba00-e86210d20e85","name":"Merge"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"location","cssSelector":"span.job-search-card__location","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1728,1792],"id":"b607e9a6-a33a-4d8e-ac8e-2c21846d274d","name":"Extract location"},{"parameters":{"fieldToSplitOut":"location","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2000,1792],"id":"c95af889-cdae-4b3a-abde-4f02db6e4dc4","name":"Split Out2"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"time","cssSelector":"time","returnValue":"attribute","attribute":"datetime","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1728,1968],"id":"2550fbaa-19f7-4cfc-aa83-ea84417c4f5e","name":"Extract post time"},{"parameters":{"fieldToSplitOut":"time","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2000,1968],"id":"a875a797-7456-423d-886f-726e44bbcd21","name":"Split Out3"},{"parameters":{"jsCode":"const fillers = Array.from({ length: Math.floor($input.first().json.amount/10) }, (_, index) => index);\n\n$input.first().json.iterations = fillers;\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,1008],"id":"bf72f0bb-72cc-44cf-8b1d-27f16189d5a7","name":"Code"},{"parameters":{"fieldToSplitOut":"iterations","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[752,1008],"id":"05dd0ce1-8538-40a5-bcb5-fca0293cf913","name":"Chunks"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[928,1008],"id":"efa72f28-e607-48e7-a900-bd32bab5deb8","name":"Loop Over Items"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4064,2032],"id":"fa4501a4-64eb-4f56-b7d6-c2c3fd399923","name":"Wait to not proc rate limit","webhookId":"602a262f-b89d-4fb3-b923-abec4f1ee860"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2ab5b4e-7d06-43be-b0aa-94ee145f0f88","leftValue":"={{ $input.all().length }}","rightValue":10,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4064,1536],"id":"92ce13b6-1de5-40f6-b68e-c150676b6f99","name":"Are we done early?"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"description","cssSelector":".show-more-less-html__markup"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3296,1408],"id":"3992b2a3-368c-4df2-85db-b1916497206e","name":"Extract job description"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"direct_url","cssSelector":"code#applyUrl","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2896,1248],"id":"53867c58-55e9-48c3-a5e1-5be5ec0f386d","name":"Extract external URL"},{"parameters":{"assignments":{"assignments":[{"id":"7292a0d8-1bb3-4bc3-8dbb-ce7662d97a11","name":"direct_url","value":"={{ $json.direct_url ? decodeURIComponent($json.direct_url.replace('<!--', '').replace('-->', '').replaceAll('\"', '').split('url=')[1]) : ''  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3312,1568],"id":"a7229c6c-af69-4dc8-bfe8-37e2ccbbb08e","name":"Parse external URL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdebc36c-c2c9-4fbe-ba49-5fbd92c9755c","leftValue":"={{ $('Loop Over Items').item.json['Get advanced data'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2432,1360],"id":"9dd97e67-d142-4eaa-8f2a-572dcc9385dd","name":"User wants advanced report"},{"parameters":{"assignments":{"assignments":[{"id":"e1a31380-f68f-4363-9e9e-6526f2abb6e2","name":"Job title","value":"Frontend Developer","type":"string"},{"id":"4e35fc29-71ce-4bbe-84be-20f3844dc232","name":"location","value":"India","type":"string"},{"id":"93fba91f-cef1-49b5-9434-06f9c515c000","name":"distance","value":"1000","type":"string"},{"id":"4bc0fed3-76d3-431d-8b2f-c039d45f6763","name":"is_remote","value":true,"type":"boolean"},{"id":"d5c6d58f-cad8-4890-81b1-9cdf7da39f7f","name":"Hours Old","value":"96","type":"string"},{"id":"41e71a18-da71-4828-b501-92a85b360b8d","name":"amount","value":"20","type":"string"},{"id":"7e5e7cca-601f-459a-bd1a-0b9e85a573c2","name":"Get advanced data","value":true,"type":"boolean"}]},"options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,1008],"id":"ca2b2cee-311d-4374-93fa-b843ff6504e2","name":"Set Job Search Parameters"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,1008],"id":"475c4dcd-4fd1-4850-acce-4fee31955a56","name":"Schedule Trigger"},{"parameters":{"content":"# Fetch the newest linked in jobs and post them to the google sheet","height":1596,"width":3576,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,640],"typeVersion":1,"id":"a9be6a50-61ec-4bed-b79e-0d8b6e56c36b","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"06611fd5-91d1-426e-9dbc-9688e2757f71","name":"cleaned_url","value":"={{ $json.url.split('?')[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,1664],"id":"e16a789c-2705-41bd-90a3-c145e31e4be7","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,1184],"id":"83682df7-e62c-44a9-b608-38ece6aa7af6","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"# Split into chunks\n\nWe need to split our request into multiple queries so that we can satisfy our scraping. We go for a chunk size of 10 as this is what LinkedIn provides. We then iterate through the results.\n","height":400,"width":592},"type":"n8n-nodes-base.stickyNote","position":[544,784],"typeVersion":1,"id":"8bee0368-d42a-4abf-a89f-51967c6cf659","name":"Sticky Note3"},{"parameters":{"content":"# The actual call to the LinkedIn API\n\nWe grab our results.","height":528,"width":352},"type":"n8n-nodes-base.stickyNote","position":[1248,768],"typeVersion":1,"id":"c8e42c99-0cef-465d-b73c-662d48068b69","name":"Sticky Note2"},{"parameters":{"content":"# Extracting Meta Information\n\nFrom each job we need to extract meta information.\n\nWe join it back later.\n\nThis way we have a nice Key/Value per information.","height":1120,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1664,1056],"typeVersion":1,"id":"34f19593-c626-4540-9df7-6a806cb58615","name":"Sticky Note4"},{"parameters":{"content":"# Advanced Data Magic\n\nIf we set Get advanced data to true we go for another round of scraping and visit the detail page of each job application to get further information","height":448,"width":848,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2304,1088],"typeVersion":1,"id":"85c6f0ed-2775-4ef3-84dc-5df1f19e6461","name":"Sticky Note5"},{"parameters":{"content":"### Tidy up the job link from linkedIn Tracking ...","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","position":[2304,1552],"typeVersion":1,"id":"89516823-f44e-49d0-8466-6ca4b6b0e149","name":"Sticky Note6"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n    \"authority\": \"www.linkedin.com\",\n    \"accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\",\n    \"accept-language\": \"en-US,en;q=0.9\",\n    \"cache-control\": \"max-age=0\",\n    \"upgrade-insecure-requests\": \"1\",\n    \"user-agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\"\n}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,1344],"id":"baa2e92d-7169-4d93-acd5-616aa774eb34","name":"Srape Job Details"},{"parameters":{"content":"# Merge Job Information into into one list","height":512,"width":320},"type":"n8n-nodes-base.stickyNote","position":[3216,1248],"typeVersion":1,"id":"89a9fdd6-0392-49c0-ab24-e01c3621eeb2","name":"Sticky Note7"},{"parameters":{"content":"# Are we done early?\n\nWe add an early exit condition in case we did not find enough jobs. \n","height":432},"type":"n8n-nodes-base.stickyNote","position":[3584,1280],"typeVersion":1,"id":"c9c1146e-1070-4cb6-a019-415aa1bd20ff","name":"Sticky Note8"},{"parameters":{"content":"# Wait a bit before we start our next round\n\nWe don't want LinkedIn to block us, so we will wait a bit so we do not get rate limited.","height":368,"width":288},"type":"n8n-nodes-base.stickyNote","position":[3616,1808],"typeVersion":1,"id":"c0543ffd-b9d3-4eea-825e-82f64ce8246b","name":"Sticky Note9"},{"parameters":{"content":"# Persist our results\n\nWe now persist the aggregated jobs somewhere. I decided to go for Google Sheets.\n\n## Create a Google Sheet with these Columns:\n**Job title\nLocation\nlinkedin url\nposted at\ndescription\njob url\norigin_url**","height":592,"width":592},"type":"n8n-nodes-base.stickyNote","position":[4048,432],"typeVersion":1,"id":"0fe0fb82-3924-4420-8772-6e6f48af921e","name":"Sticky Note10"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VMFCXTogMi8WAf5Hanb-AlCVS34PQN6tCSiarnrrmt0","mode":"list","cachedResultName":"LinkedIn Jobs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VMFCXTogMi8WAf5Hanb-AlCVS34PQN6tCSiarnrrmt0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Job posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WktKAPDKCOjGr22Hq45tKEgrngi7CHVNmxTP--nCias/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Job title":"={{ $json.titles }}","description":"={{ $json.description }}","job url":"={{ $json.direct_url }}","linkedin url":"={{ $json.cleaned_url }}","Location":"={{ $json.location }}","posted at":"={{ $json.time }}","origin_url":"={{ $json.url }}"},"matchingColumns":["linkedin url"],"schema":[{"id":"Job title","displayName":"Job title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin url","displayName":"linkedin url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"posted at","displayName":"posted at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job url","displayName":"job url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"origin_url","displayName":"origin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4320,816],"id":"d9bc4ac4-0736-4245-b67a-222fb8b5c9d5","name":"Update our Job List to google sheets","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"content":"# 🔍 Parameter Guide\n\n\nEach field in this node lets you filter results based on different criteria.\n\n\n\n## Field Explanations & Valid Options\n\n### Job title\nJob title or search keywords.\nUse terms like role names or skills.\nExample: \"Data Scientist\", \"Growth Marketing\"\n\n\n### location\nCity or region where the job is located.\nUse a city or region name.\nRegions must adhere to\n[Linkedin Locations](https://www.linkedin.com/help/recruiter/answer/a524054?lang=en-US)\nExample: \"Berlin\", \"New York\", \"Germany\", ...\n\n\n### Hours Old\nPosting date filter.\nLimits results based on how recently jobs were posted.\nTypically something recent that should match how often you want the scraper to run\nExample: 96, 24, ...\n\n\n### amount\nA maximum of jobs found for your keyword. It may always be less.\nI recommend not to go above 100.\nExample: 20\n\n\n### is_remote\nWhether you are looking for remote jobs only\n- (leave blank for no preference or set to true, in case you only want remote jobs to show up)\nExample: true\n\n\n### Get advanced data\nSetting this will scrape more detailed information, such as the origin url to apply for and a full job description\nTurning this on will make your scraping process take significantly longer.\nExample: true | false\n\n\n\n\n","height":1292,"width":492},"type":"n8n-nodes-base.stickyNote","position":[-192,-64],"typeVersion":1,"id":"117c7c30-7c50-4c16-8bee-ff731134bc98","name":"Sticky Note"},{"parameters":{"content":"# Workflow Assistance\n\nFor any questions, write me on discord: twiyu.\n\n\n","height":320,"width":340,"color":4},"id":"c0189d00-a6d9-48b2-bf5e-0eed98f30592","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-784,608],"typeVersion":1},{"parameters":{"content":"# LinkedIn Job Data Scraper to Google Sheets","height":96,"width":848,"color":2},"type":"n8n-nodes-base.stickyNote","position":[400,528],"typeVersion":1,"id":"97ddb031-1e5b-46e6-83a3-79747fbd2da7","name":"Sticky Note12"},{"parameters":{"content":"\n![Source example](https://i.ibb.co/GvZ0277v/image.png)","height":304,"width":656},"type":"n8n-nodes-base.stickyNote","position":[400,144],"typeVersion":1,"id":"60fbe479-9822-40e1-93db-6606089d10f1","name":"Sticky Note13"}],"connections":{"Get LinkedIn Jobs":{"main":[[{"node":"Extract links","type":"main","index":0},{"node":"extract titles","type":"main","index":0},{"node":"Extract location","type":"main","index":0},{"node":"Extract post time","type":"main","index":0}]]},"extract titles":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Extract links":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"User wants advanced report","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Extract location":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Extract post time":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Merge":{"main":[[{"node":"Are we done early?","type":"main","index":0}]]},"Code":{"main":[[{"node":"Chunks","type":"main","index":0}]]},"Chunks":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Update our Job List to google sheets","type":"main","index":0}],[{"node":"Get LinkedIn Jobs","type":"main","index":0}]]},"Wait to not proc rate limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Are we done early?":{"main":[[{"node":"Update our Job List to google sheets","type":"main","index":0}],[{"node":"Wait to not proc rate limit","type":"main","index":0}]]},"Extract job description":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Extract external URL":{"main":[[{"node":"Parse external URL","type":"main","index":0}]]},"Parse external URL":{"main":[[{"node":"Merge","type":"main","index":2}]]},"User wants advanced report":{"main":[[{"node":"Srape Job Details","type":"main","index":0}]]},"Set Job Search Parameters":{"main":[[{"node":"Code","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Job Search Parameters","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":3}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Job Search Parameters","type":"main","index":0}]]},"Srape Job Details":{"main":[[{"node":"Extract job description","type":"main","index":0},{"node":"Extract external URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85e2893f-152a-451b-9bd5-04e9ac2435bd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-07T06:19:44.087Z","createdAt":"2025-11-07T06:19:44.087Z","role":"workflow:owner","workflowId":"pjUxvXZimcTTyxCP","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]