n8n-workflows1/LinkedIn content creator system.json
[{"updatedAt":"2026-01-10T04:55:20.721Z","createdAt":"2026-01-06T04:54:50.689Z","id":"LSegd1QD7XHWwJUA","name":"LinkedIn content creator system","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Generate a New Post Idea and All Materials","height":480,"width":980,"color":6},"id":"fcf518fc-c0f7-4bc9-b1fa-3845b97595a6","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[688,0],"typeVersion":1},{"parameters":{"content":"## Generate an Image and Save","height":480,"width":1140,"color":6},"id":"25225751-bf81-4d76-994f-e14e36b283fe","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1680,0],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n  \"about\": \"One-sentence summary of what the post is about\",\n  \"copy\": \"Full LinkedIn post in story format. Strong hook, clear pacing, valuable insight. Use spacing for readability.\",\n  \"image\": \"Renaissance-style visual metaphor of the idea. Simple, clear, symbolic.\"\n}"},"id":"b571d6b6-346a-4e94-a6e2-716fed9e6b37","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1504,304],"typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-7-sonnet-20250219","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"id":"f117f0ac-2830-44aa-80fe-813408f6248a","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[1168,304],"typeVersion":1.3},{"parameters":{"name":"web_search","description":"Call this tool to make a web search query using Perplexity AI. It will automatically look at multiple relevant websites and combine all the valuable information in one clean response.","workflowId":{"__rl":true,"mode":"list","value":"eALld0YaOZuUCU5q","cachedResultName":"Perplexity Research"},"workflowInputs":{"value":{},"schema":[{"id":"query","type":"string","display":true,"removed":false,"required":false,"displayName":"query","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["query"],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"ff2895b6-648c-40cd-94e9-c7dd9d8643d9","name":"Perplexity Research","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1328,320],"typeVersion":2.1},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"01ba13e5-8427-4e1f-980b-8f893e25fd10","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","position":[880,272],"typeVersion":1.2},{"parameters":{"jsCode":"// Get all incoming items\nconst items = $input.all();\n\n// Extract the text field from each item\nconst texts = items.map(item => item.json.idea);\n\n// Concatenate them (adjust the separator as needed)\nconst concatenated = texts.join(\", \");\n\n// Return a single item with the concatenated text\nreturn [{ json: { mergedText: concatenated } }];"},"id":"a723a70a-2ebd-4520-97cb-a532f9aedd67","name":"Join Ideas","type":"n8n-nodes-base.code","position":[1024,112],"typeVersion":2},{"parameters":{},"id":"8e0068c8-c177-43f4-a6de-5f0c42b6d5d7","name":"Pick One","type":"n8n-nodes-base.limit","position":[1120,608],"typeVersion":1},{"parameters":{"content":"## Auto Posting","height":300,"width":1340,"color":4},"id":"f08d3210-cd4d-4123-86b5-53f04502a2d1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[688,512],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit?usp=drivesdk","cachedResultName":"AI Content Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit#gid=0","cachedResultName":"LinkedIn Posts"},"options":{}},"id":"cab76ee6-7cd9-4e0a-8158-47628fdc733a","name":"Get Past Ideas","type":"n8n-nodes-base.googleSheets","position":[848,112],"typeVersion":4.5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit?usp=drivesdk","cachedResultName":"AI Content Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit#gid=0","cachedResultName":"LinkedIn Posts"},"columns":{"value":{"text":"={{ $('LinkedIn Creator Agent').item.json.output.copy }}","about":"={{ $('LinkedIn Creator Agent').item.json.output.about }}","image":"={{ $json.webViewLink.replace(/usp=[^&]+/, 'usp=sharing') }}","status":"review"},"schema":[{"id":"about","type":"string","display":true,"removed":false,"required":false,"displayName":"about","defaultMatch":false,"canBeUsedToMatch":true},{"id":"text","type":"string","display":true,"required":false,"displayName":"text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image","type":"string","display":true,"required":false,"displayName":"image","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"05030091-ba7f-4f81-8248-0b124eed0e84","name":"Save Post","type":"n8n-nodes-base.googleSheets","position":[1728,192],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3,"triggerAtHour":14}]}},"id":"a834cf7d-36d0-4824-b209-fdab2e0e64bd","name":"Schedule 2","type":"n8n-nodes-base.scheduleTrigger","position":[768,608],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit?usp=drivesdk","cachedResultName":"AI Content Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit#gid=0","cachedResultName":"LinkedIn Posts"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"ready"}]},"options":{}},"id":"2cda7329-5b88-4684-8ed5-8ecdef9e2fb0","name":"Get Ready Posts","type":"n8n-nodes-base.googleSheets","position":[944,608],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"person":"rBxbEv1ziJ","text":"={{ $json.text }}","shareMediaCategory":"IMAGE","additionalFields":{"visibility":"PUBLIC"}},"id":"239943b0-efa1-49a0-b249-48a62ed7c63e","name":"Publish Post","type":"n8n-nodes-base.linkedIn","position":[1344,608],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit?usp=drivesdk","cachedResultName":"AI Content Database"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S3vi0R9cjbB1A7ZXFz7jCwrBbBjn-lqEVP78QsfMS_A/edit#gid=0","cachedResultName":"LinkedIn Posts"},"columns":{"value":{"about":"={{ $('Pick One').item.json.about }}","status":"posted"},"schema":[{"id":"about","type":"string","display":true,"removed":false,"required":false,"displayName":"about","defaultMatch":false,"canBeUsedToMatch":true},{"id":"text","type":"string","display":true,"removed":true,"required":false,"displayName":"text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image","type":"string","display":true,"removed":true,"required":false,"displayName":"image","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["about"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1a51f6f4-eeea-4cfa-9ff3-ee77f7f5c4d1","name":"Update Status","type":"n8n-nodes-base.googleSheets","position":[1552,608],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Generate my next LinkedIn post.\n\nReturn only:\n\nabout (1-sentence summary)\n\ncopy (LinkedIn post content)\n\nimage (simple description for AI image generation)\n\nBegin:\n","hasOutputParser":true,"options":{"systemMessage":"=ROLE:\nYou are a world-class content strategist for Abdul, an agency owner who helps B2B businesses scale through smart AI automation.\n\nOBJECTIVE:\nYour mission is to write high-performing LinkedIn posts that:\n\n-Build Abdul’s authority and personal brand\n-Spark interest in his services\n-Deliver real value to startup founders, marketers, and B2B operators\n-Subtly showcase how automation is the smart growth edge of today\n\nABOUT BUILTBYABDUL:\nAbdul is the founder of BuiltByAbdul, an AI automation agency focused on helping businesses scale without burnout.\n\nHe builds & sells:\n-AI-powered personalized lead generation systems\n-Automated ClickUp CRMs and project management workflows\n-AI Content agents that repurpose and schedule high-volume content\n-Client onboarding automations (proposals, forms, contracts, etc.)\n-Other AI workflows that save founders dozens of hours per month\n\nYour content should feel valuable and entertaining—but also act like a Trojan horse for demand. Make readers go: “Damn, I should be using this.”\n\n\nAudience:\nStartup founders, marketing agency owners, B2B consultants, fractional CMOs, and solopreneurs trying to scale smarter.\n\nTone:\nSharp, clear, valuable. Feels like Hormozi meets Naval—wise, practical, and a little bold.\n\nThere are 2 CONTENT BUCKETS: \n1. Timeless Principles (Story Format)\nShare a story-driven post (not a quote dump or tweet-style list) based on a timeless principle from greats like Hormozi, Ogilvy, Naval, Munger, Housel, or Paul Graham\n• Use real examples, mini-narratives, or metaphors to make the lesson hit harder\n• Insight should relate to business, sales, leverage, brand, or growth\n\n2. Real-World AI/Automation Use Case\nTeach how smart businesses are saving time/money with automation\nExamples: AI cold outreach, ClickUp CRM builds, automated onboarding, content repurposing, proposal generation\nEmphasize time saved, hours unlocked, revenue gained\n\nMake the post:\n-Scroll-stopping from the first line\n-Easy to consume with line spacing\n-Tied to growth, marketing, or automation\n-Subtly highlight Abdul’s expertise through storytelling or lesson"}},"id":"fec0394e-176b-4c87-a72b-3e872c02851a","name":"LinkedIn Creator Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1312,112],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"content":"# Create and auto-post branded LinkedIn content with AI and Perplexity\n\n## Overview \nAutomate your entire LinkedIn content machine — from research and image generation to scheduling and posting — with this AI-powered workflow.\n\nThis workflow pulls in past content ideas, researches new ones using Perplexity, generates a new post (with image) using your brand's voice and style, saves the output to Google Sheets, and auto-posts twice a week to LinkedIn. It’s perfect for founders, creators, and marketers who want to stay consistent on LinkedIn without manually writing or designing every post.\n\n### Who’s it for\n- Solo founders or marketers building a LinkedIn presence  \n- Content creators growing their audience  \n- Agencies managing client content calendars  \n- Anyone who wants to post consistently without spending hours on content  \n\n### How it works\n- Pulls old ideas from a Google Sheet  \n- Schedules content creation using n8n’s cron node  \n- Uses Perplexity to research current topics and trends  \n- Feeds the data into an AI agent (like Claude or GPT) to generate post copy  \n- Creates a branded image using a reference style and OpenAI’s image model  \n- Saves post content + image URL into Google Sheets  \n- Twice a week, selects one ready post, downloads the image, and publishes it to LinkedIn\n\n### How to set up\n1. Add your Google Sheet ID and column names for posts  \n2. Connect your OpenAI (or Claude) and Perplexity API keys  \n3. Upload a brand-style reference image to Google Drive  \n4. Configure your LinkedIn account and connect the node  \n5. Adjust the cron schedule for both post creation and auto-posting  \n6. (Optional) Edit the AI prompt to match your personal voice or niche  \n\n### Requirements\n- Google Drive & Sheets access  \n- OpenAI or Claude API key  \n- Perplexity API key  \n- LinkedIn credentials (via n8n’s LinkedIn integration)\n\n### How to customize\n- Change the prompt for the AI to fit your voice or audience  \n- Swap out Perplexity for another research method  \n- Adjust how often you want posts scheduled or published  \n- Swap LinkedIn for Twitter, Slack, or another platform  \n- Add Notion or Airtable as your CMS backend\n","height":1180,"width":660},"id":"4a9b2b60-c5f7-4d1c-a4c7-42de06a10b74","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Hey, I'm Abdul 👋\n### I build growth systems for consultants & agencies. If you want to work together or need help automating your business, check out my website: \n### **https://www.builtbyabdul.com/**\n### Or email me at **abdul@buildabdul.com**\n### Have a lovely day ;)`","height":240,"width":440,"color":5},"id":"adc781a0-22cb-4c31-89ec-f15217640117","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[704,864],"typeVersion":1},{"parameters":{"inputDataFieldName":"=data","name":"={{ $('LinkedIn Creator Agent').item.json.output.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1e1USeEsOByu-n5cR5o1IeyzJFfkf8O4i","cachedResultUrl":"https://drive.google.com/drive/folders/1e1USeEsOByu-n5cR5o1IeyzJFfkf8O4i","cachedResultName":"LinkedIn AI Posts"},"options":{}},"id":"005e7e01-352c-4f7e-aac5-e308c11fc581","name":"Save Image","type":"n8n-nodes-base.googleDrive","position":[3104,544],"typeVersion":3},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","binaryPropertyName":"=data","options":{}},"id":"a1edeadb-47d3-4aab-adb0-9a92e0a922d2","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[2880,544],"typeVersion":1.1},{"parameters":{"method":"POST","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"prompt","value":"=You're a professional artist/designer.\n\nMake a new image in the style very very similar to the reference.\n\nCopy the art style, theme, painting look, etc.\n\nMake it vertical 3x4.\n\nIt will be an image for a LinkedIn post.\n\nHere is the description of the new image:\n{{ $('LinkedIn Creator Agent').item.json.output.image }}"}]},"options":{}},"id":"5f557eab-84b2-45f4-9786-459a62a08e4e","name":"OpenAI Image1","type":"n8n-nodes-base.httpRequest","position":[2672,544],"typeVersion":4.2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"=https://drive.google.com/file/d/1Bt2wh1a3IkWrf8VRIMJL4sRwiKDbWfhC/view?usp=sharing"},"options":{}},"id":"0cf2654a-c9f6-4613-92ea-603b9671710a","name":"Image Style","type":"n8n-nodes-base.googleDrive","position":[2432,544],"typeVersion":3}],"connections":{"Pick One":{"main":[[{"node":"Publish Post","type":"main","index":0}]]},"Schedule":{"main":[[{"node":"LinkedIn Creator Agent","type":"main","index":0}]]},"Schedule 2":{"main":[[{"node":"Get Ready Posts","type":"main","index":0}]]},"Publish Post":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Get Past Ideas":{"main":[[{"node":"Join Ideas","type":"main","index":0}]]},"Get Ready Posts":{"main":[[{"node":"Pick One","type":"main","index":0}]]},"Perplexity Research":{"ai_tool":[[{"node":"LinkedIn Creator Agent","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"LinkedIn Creator Agent","type":"ai_languageModel","index":0}]]},"LinkedIn Creator Agent":{"main":[[{"node":"Save Post","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"LinkedIn Creator Agent","type":"ai_outputParser","index":0}]]},"Save Image":{"main":[[]]},"Convert to File":{"main":[[{"node":"Save Image","type":"main","index":0}]]},"OpenAI Image1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Image Style":{"main":[[{"node":"OpenAI Image1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"LinkedIn Creator Agent":[{"json":{"output":{"copy":"I was working with a founder last week who was spending 3 hours every day on client communication and follow-ups.\n\n\"I don't have time for automation,\" he told me. \"I'm drowning in operational tasks.\"\n\nThis is like saying you're too thirsty to find water.\n\nHere's what we did instead:\n\n1) Mapped his entire client communication flow\n2) Built an AI responder for common questions\n3) Created automated follow-up sequences\n4) Set up a ClickUp dashboard that tracked it all\n\nTotal setup time: 7 hours\n\nResults after 30 days:\n• Client communication down from 3 hours to 40 minutes daily\n• 13 hours per week reclaimed\n• 52+ hours per month back in his calendar\n• First vacation in 2 years scheduled\n\nThe math is simple but profound:\n\nA one-time 7-hour investment → 624+ hours saved per year\n\nThat's a 8,914% ROI on time.\n\nThis is why Charlie Munger said: \"The first rule of compounding is to never interrupt it unnecessarily.\"\n\nThe same applies to your time and systems.\n\nMost founders focus on optimizing the wrong part of their business. They try to:\n\n• Work faster instead of building systems\n• Hire more instead of automating first\n• Sacrifice sleep instead of eliminating waste\n\nThe highest leverage activity isn't doing more work—it's building systems that multiply your output while reducing your input.\n\nWhat's one task you're doing daily that shouldn't require your time at all?","about":"A story-driven post about the compounding value of automating the right tasks in business, highlighting how small time savings accumulate into massive growth opportunities.","image":"A business owner sitting relaxed with coffee while robotic arms handle multiple tasks in the background, with a large clock showing time being saved"}}}]},"versionId":"125c07d8-d504-48f8-be31-65bddc222c0e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:54:50.699Z","createdAt":"2026-01-06T04:54:50.699Z","role":"workflow:owner","workflowId":"LSegd1QD7XHWwJUA","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]