n8n-workflows1/Local Businesses Reach out.json
[{"updatedAt":"2025-11-02T07:41:17.000Z","createdAt":"2025-10-10T08:47:01.713Z","id":"EdwzL5EhBPDrxbG6","name":"Local Businesses Reach out","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,272],"id":"90821d52-1e43-4c8d-90c7-74b32321337e","name":"When chat message received","webhookId":"6c052871-b965-43bc-a01e-0e3ae9345081","disabled":true},{"parameters":{"options":{"systemMessage":"You are a research agent that helps find contact information from Google Maps or websites.\nAfter searching, save your results to Google Sheets.\nWhen doing this, you must use this JSON format in a single call:\n[\n{\n  \"Name\": \"Company name\",\n  \"Address\": \"Company address\",\n  \"Number\": \"Company phone number\",\n  \"Website\": \"Company website\",\n  \"Rating\": \"Company rating\", \n  \"Opening Hours\": \"Company opening hours\",\n  \"Email\": \"Company email address\"\n},\n...\n]\n\nWhen sending the number to \"Add to Google Sheets\", remove the + at the beginning of each number.\n\nWhen going through multiple pages, call \"Add to Google Sheets\" after each \"Map Search\" call to save the data directly, without consolidating it.\n\nIf no email is found, pass it as N/A to \"Add to Google Sheets\".\n\nKeep searching in Map Search until you find no more pages or results.","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-16,272],"id":"28de7121-74c6-40d9-9ae6-953212cc1884","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,496],"id":"4b91d040-af8c-46ab-8d71-764a09735d88","name":"Simple Memory"},{"parameters":{"toolDescription":"=This bot helps you extract all contact information for lead generation from Google Maps.\nInput parameters:\n\"q\" for the search term (e.g., \"Dental Clinic Ahmedabad\").\n\"ll\" for geographic coordinates.\n\"page\" for the current search results page.","url":"https://google.serper.dev/maps","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"ll","valueProvider":"fieldValue","value":"@23.233247,77.416724,13z"},{"name":"page","valueProvider":"fieldValue","value":"4"},{"name":"hl","valueProvider":"fieldValue","value":"en"},{"name":"location","valueProvider":"fieldValue","value":"India"},{"name":"gl","valueProvider":"fieldValue","value":"in"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"X-API-KEY","valueProvider":"fieldValue","value":"a005d60f799985029d07e29076e7f4a28b72bce9"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[240,496],"id":"15695dd8-7828-4eb2-aa86-fd8727845280","name":"Map Search Tool"},{"parameters":{"content":"Map Search Agent","height":500,"width":900},"type":"n8n-nodes-base.stickyNote","position":[-320,208],"typeVersion":1,"id":"7a393d62-3f02-4a27-9ab4-8d023df71425","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo","mode":"list","cachedResultName":"Leads Gen - AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-416,736],"id":"b95adb4b-19cb-4bb0-8985-f0593141f96b","name":"Google Sheets Trigger","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b925ecd9-541f-4d3c-9bc1-0f683bd420cc","leftValue":"={{ $json.Name }}","rightValue":"Name","operator":{"type":"string","operation":"notEquals"}},{"id":"e241db34-fd92-468e-802d-b4485d260b85","leftValue":"={{ $json.Name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-192,736],"id":"545071bd-7180-4a57-ae75-0843d5649c49","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,736],"id":"6ed689b9-f45e-46b1-ab20-f79a28674fb7","name":"Loop Over Items"},{"parameters":{"jsCode":"const items = $input.all()[0].json.choices[0].message.content;\nconst cleaned = items.replace('```json', '').replace('```', '')\nconst parsed = JSON.parse(cleaned);\n\nreturn { data: parsed }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,752],"id":"40be5f8d-0bef-41c6-b82c-0143ae8794ba","name":"Code"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo","mode":"list","cachedResultName":"Leads Gen - AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.data.email }}","Background":"={{ $json.data.background }}","UUID":"={{ $('Loop Over Items').item.json.UUID }}"},"matchingColumns":["UUID"],"schema":[{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Opening Hours","displayName":"Opening Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Background","displayName":"Background","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,752],"id":"aee41333-90ec-4613-8ad3-c239a402b612","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,1072],"id":"57810865-34ba-474f-892d-b8bb5fc31f2a","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo","mode":"list","cachedResultName":"Leads Gen - AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opening Hours","displayName":"Opening Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[192,1072],"id":"d1dde4e8-cd98-4165-ad39-a68135d8d3b8","name":"Google Sheets1"},{"parameters":{"jsCode":"const v7 = () => {\n  return 'tttttttt-tttt-7xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c){\n    const r = Math.trunc(Math.random() * 16);\n    const v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  }).replace(/[t]{8}-[t]{4}/, function (){\n    const unixtimestamp = Date.now().toString(16).padStart(12, '0');\n    return unixtimestamp.slice(0, 8) + '-' + unixtimestamp.slice(8);\n  })\n}\n\nconst data = JSON.parse($input.all()[0].json.query);\nconst datawithId = data.map(i => {\n  const uuid = v7();\n  return { UUID: uuid, ... i}\n});\n\nreturn datawithId;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,1072],"id":"bee88f91-7344-4538-865c-2c07c9e3e8a0","name":"Code2"},{"parameters":{"jsCode":"return { json: { response: \"ok \"}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1072],"id":"318a1246-e5c3-4f83-9b92-cf24273cb998","name":"Code1"},{"parameters":{"content":"Keep this subworkflow in different workflow","height":320,"width":940,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-320,992],"typeVersion":1,"id":"bf7ee935-bd59-4807-8063-759f39ce117a","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-144,480],"id":"b2e9a06a-bd21-46b5-b6a4-b98c6bc77b74","name":"Google Gemini Chat Model"},{"parameters":{"name":"store_to_google_sheets","description":"=This is a tool to analyze the input and store it in Google Sheets columns, including:\n{\n  \"Name\": xxx,\n  \"Address\": xxx,\n  \"Number\": xxx,\n  \"Website\": xxx,\n  \"Rating\": xxx,\n  \"Opening Hours\": xxx,\n  \"Email\": xxx\n}","workflowId":{"__rl":true,"value":"K7uNaGXGdvgq0Y6f","mode":"list","cachedResultName":"My workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[448,496],"id":"4e59ad07-cbff-4766-a4c5-2b51b85ad7a6","name":"Call 'My workflow'"},{"parameters":{"content":"## Local Businesses Reach out","height":80,"width":544},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"3f48ed9b-2727-4910-9977-f5671eeb9495","name":"Sticky Note2"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Map Search Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Call 'My workflow'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"48cde2a9-7b06-4cb7-adaa-54639cb943ff","activeVersionId":"48cde2a9-7b06-4cb7-adaa-54639cb943ff","triggerCount":0,"shared":[{"updatedAt":"2025-10-10T08:47:01.720Z","createdAt":"2025-10-10T08:47:01.720Z","role":"workflow:owner","workflowId":"EdwzL5EhBPDrxbG6","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":{"updatedAt":"2025-12-22T05:47:02.941Z","createdAt":"2025-12-22T05:47:02.941Z","versionId":"48cde2a9-7b06-4cb7-adaa-54639cb943ff","workflowId":"EdwzL5EhBPDrxbG6","nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,272],"id":"90821d52-1e43-4c8d-90c7-74b32321337e","name":"When chat message received","webhookId":"6c052871-b965-43bc-a01e-0e3ae9345081","disabled":true},{"parameters":{"options":{"systemMessage":"You are a research agent that helps find contact information from Google Maps or websites.\nAfter searching, save your results to Google Sheets.\nWhen doing this, you must use this JSON format in a single call:\n[\n{\n  \"Name\": \"Company name\",\n  \"Address\": \"Company address\",\n  \"Number\": \"Company phone number\",\n  \"Website\": \"Company website\",\n  \"Rating\": \"Company rating\", \n  \"Opening Hours\": \"Company opening hours\",\n  \"Email\": \"Company email address\"\n},\n...\n]\n\nWhen sending the number to \"Add to Google Sheets\", remove the + at the beginning of each number.\n\nWhen going through multiple pages, call \"Add to Google Sheets\" after each \"Map Search\" call to save the data directly, without consolidating it.\n\nIf no email is found, pass it as N/A to \"Add to Google Sheets\".\n\nKeep searching in Map Search until you find no more pages or results.","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-16,272],"id":"28de7121-74c6-40d9-9ae6-953212cc1884","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,496],"id":"4b91d040-af8c-46ab-8d71-764a09735d88","name":"Simple Memory"},{"parameters":{"toolDescription":"=This bot helps you extract all contact information for lead generation from Google Maps.\nInput parameters:\n\"q\" for the search term (e.g., \"Dental Clinic Ahmedabad\").\n\"ll\" for geographic coordinates.\n\"page\" for the current search results page.","url":"https://google.serper.dev/maps","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"ll","valueProvider":"fieldValue","value":"@23.233247,77.416724,13z"},{"name":"page","valueProvider":"fieldValue","value":"4"},{"name":"hl","valueProvider":"fieldValue","value":"en"},{"name":"location","valueProvider":"fieldValue","value":"India"},{"name":"gl","valueProvider":"fieldValue","value":"in"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"X-API-KEY","valueProvider":"fieldValue","value":"a005d60f799985029d07e29076e7f4a28b72bce9"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[240,496],"id":"15695dd8-7828-4eb2-aa86-fd8727845280","name":"Map Search Tool"},{"parameters":{"content":"Map Search Agent","height":500,"width":900},"type":"n8n-nodes-base.stickyNote","position":[-320,208],"typeVersion":1,"id":"7a393d62-3f02-4a27-9ab4-8d023df71425","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo","mode":"list","cachedResultName":"Leads Gen - AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-416,736],"id":"b95adb4b-19cb-4bb0-8985-f0593141f96b","name":"Google Sheets Trigger","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b925ecd9-541f-4d3c-9bc1-0f683bd420cc","leftValue":"={{ $json.Name }}","rightValue":"Name","operator":{"type":"string","operation":"notEquals"}},{"id":"e241db34-fd92-468e-802d-b4485d260b85","leftValue":"={{ $json.Name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-192,736],"id":"545071bd-7180-4a57-ae75-0843d5649c49","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,736],"id":"6ed689b9-f45e-46b1-ab20-f79a28674fb7","name":"Loop Over Items"},{"parameters":{"jsCode":"const items = $input.all()[0].json.choices[0].message.content;\nconst cleaned = items.replace('```json', '').replace('```', '')\nconst parsed = JSON.parse(cleaned);\n\nreturn { data: parsed }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,752],"id":"40be5f8d-0bef-41c6-b82c-0143ae8794ba","name":"Code"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo","mode":"list","cachedResultName":"Leads Gen - AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.data.email }}","Background":"={{ $json.data.background }}","UUID":"={{ $('Loop Over Items').item.json.UUID }}"},"matchingColumns":["UUID"],"schema":[{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Opening Hours","displayName":"Opening Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Background","displayName":"Background","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,752],"id":"aee41333-90ec-4613-8ad3-c239a402b612","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,1072],"id":"57810865-34ba-474f-892d-b8bb5fc31f2a","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo","mode":"list","cachedResultName":"Leads Gen - AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1f0HpYChdF_9EaestzV7xPBgOgVNq0owaBggf8J5NFWo/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opening Hours","displayName":"Opening Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[192,1072],"id":"d1dde4e8-cd98-4165-ad39-a68135d8d3b8","name":"Google Sheets1"},{"parameters":{"jsCode":"const v7 = () => {\n  return 'tttttttt-tttt-7xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c){\n    const r = Math.trunc(Math.random() * 16);\n    const v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  }).replace(/[t]{8}-[t]{4}/, function (){\n    const unixtimestamp = Date.now().toString(16).padStart(12, '0');\n    return unixtimestamp.slice(0, 8) + '-' + unixtimestamp.slice(8);\n  })\n}\n\nconst data = JSON.parse($input.all()[0].json.query);\nconst datawithId = data.map(i => {\n  const uuid = v7();\n  return { UUID: uuid, ... i}\n});\n\nreturn datawithId;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,1072],"id":"bee88f91-7344-4538-865c-2c07c9e3e8a0","name":"Code2"},{"parameters":{"jsCode":"return { json: { response: \"ok \"}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1072],"id":"318a1246-e5c3-4f83-9b92-cf24273cb998","name":"Code1"},{"parameters":{"content":"Keep this subworkflow in different workflow","height":320,"width":940,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-320,992],"typeVersion":1,"id":"bf7ee935-bd59-4807-8063-759f39ce117a","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-144,480],"id":"b2e9a06a-bd21-46b5-b6a4-b98c6bc77b74","name":"Google Gemini Chat Model"},{"parameters":{"name":"store_to_google_sheets","description":"=This is a tool to analyze the input and store it in Google Sheets columns, including:\n{\n  \"Name\": xxx,\n  \"Address\": xxx,\n  \"Number\": xxx,\n  \"Website\": xxx,\n  \"Rating\": xxx,\n  \"Opening Hours\": xxx,\n  \"Email\": xxx\n}","workflowId":{"__rl":true,"value":"K7uNaGXGdvgq0Y6f","mode":"list","cachedResultName":"My workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[448,496],"id":"4e59ad07-cbff-4766-a4c5-2b51b85ad7a6","name":"Call 'My workflow'"},{"parameters":{"content":"## Local Businesses Reach out","height":80,"width":544},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"3f48ed9b-2727-4910-9977-f5671eeb9495","name":"Sticky Note2"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Map Search Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Call 'My workflow'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}]