n8n-workflows1/My workflow.json
[{"updatedAt":"2025-12-02T04:01:30.000Z","createdAt":"2025-12-02T04:00:42.052Z","id":"rFSwZGfRUW17SDh4","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-736,880],"id":"20ad642a-d91a-4837-8370-c8462f78589c","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=You are an expert cold-email copywriter specializing in niche-specific business outreach.\n\nCreate **separate email templates** for the following niches:\n\n1. **Dentists**\n2. **Real Estate Agents**\n\n**Each email must:**\n\n* Begin with a greeting using **{NAME}**\n* Gently introduce how I can set up **AI & automation workflows** for their niche\n* Highlight benefits:\n  • more clients\n  • better efficiency\n  • business scaling\n* Keep the tone warm, helpful, and professional\n* Include a compelling **subject line**\n* End with **“– Abhishek”**\n\n---\n\n### **After generating the emails, you MUST:**\n\n1. Prepare the data for Google Sheets in the following JSON format:\n\n```json\n[\n  { \"niche\": \"dentist\", \"subject\": \"…\", \"body\": \"…\" },\n  { \"niche\": \"realestate\", \"subject\": \"…\", \"body\": \"…\" }\n]\n```\n\n2. **Use the Google Sheets tool** with an **append** action to add each row of data to the connected sheet.\n\n**Your tasks must always be executed in this order:**\n\n1. Generate emails\n2. Generate JSON\n3. Execute the tool call to append the data\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[128,176],"id":"d539a6fa-d9ad-404e-aa2f-31b6e0452286","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[80,352],"id":"e2c1b7b9-318a-4a44-8072-24fb83ba01a7","name":"OpenAI Chat Model"},{"parameters":{"documentId":{"__rl":true,"value":"1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s","mode":"list","cachedResultName":"Cold Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,880],"id":"9270133c-8b09-4950-bfd6-2d16efbc7cc4","name":"Get Email IDs","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,656],"id":"002e0586-e8ed-4687-b524-90208e5f80c1","name":"Loop Over IDs"},{"parameters":{"documentId":{"__rl":true,"value":"1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s","mode":"list","cachedResultName":"Cold Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2014181656,"mode":"list","cachedResultName":"templates","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit#gid=2014181656"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,880],"id":"c89309d7-08c2-4758-99c4-5c29926f6c1b","name":"Get Email Templates","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8069bd4a-1916-4168-9670-e4d096ed4380","leftValue":"={{ $json.status }}","rightValue":"SENT","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,704],"id":"b02e47cc-f244-43a2-affa-4cc1edf1b86f","name":"If email not sent"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,912],"id":"1bf2fac5-2868-4a9e-99fa-24d86b34ceb9","name":"Wait for 20s","webhookId":"37386cdd-1d74-45ef-b3b5-62e442d801fc"},{"parameters":{"jsCode":"// Get templates from previous node\nconst templates = $(\"Get Email Templates\")\n  .all()\n  .map((item) => {\n    const { niche, subject, body } = item.json;\n    return {\n      niche,\n      subject,\n      body,\n    };\n  });\n\nconst template = templates.find(\n  (template) => template.niche === $input.first().json.niche,\n);\n\nif (!template) {\n  throw new Error(\"No template for given niche\");\n}\n\n// replace name witht he input name\nconst body = template.body.replace(\"{NAME}\", $input.first().json.name);\n\nreturn [\n  {\n    json: {\n      subject: template.subject,\n      body,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,720],"id":"b195c935-8a52-4197-a5ec-eeb460f9b855","name":"Code | create email body"},{"parameters":{"sendTo":"={{ $('If email not sent').item.json.email }}","subject":"={{ $json.subject }}","emailType":"text","message":"={{ $json.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[656,752],"id":"56978455-4f05-4c2d-8b41-1e2380c965bb","name":"Send Email","webhookId":"73f105a0-a497-47b0-b9a3-e5498cd963ea"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s","mode":"list","cachedResultName":"Cold Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If email not sent').item.json.row_number }}","status":"={{ $json.labelIds[0] }}"},"matchingColumns":["row_number"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,816],"id":"3b6e7720-ff6e-4064-9954-1f052f25bdc2","name":"Update status","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"content":"## Template Creator Agent\n\n#### This AI agent will create the templates and add to the sheet for the given niche","height":560,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"881b9dbe-6444-4085-ae0a-63b1d82fd314","name":"Sticky Note1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s","mode":"list","cachedResultName":"Cold Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2014181656,"mode":"list","cachedResultName":"templates","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MkvCzxLqnJD1tY6_ivuBYrxGgmLGF1kbqKMMLEVJf_s/edit#gid=2014181656"},"columns":{"mappingMode":"defineBelow","value":{"niche":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('niche', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subject', ``, 'string') }}","body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('body', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[304,352],"id":"b07ee737-c078-40e1-9048-3ee5c616d52e","name":"Add templates to sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"content":"## Email Sender Workflow\n#### Collects template and emails, modifies and sed them serially","height":608,"width":2128,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-800,608],"typeVersion":1,"id":"b8b51278-986e-467c-91ff-127a76978ba9","name":"Sticky Note"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Email Templates","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Email IDs":{"main":[[{"node":"Loop Over IDs","type":"main","index":0}]]},"Loop Over IDs":{"main":[[],[{"node":"If email not sent","type":"main","index":0}]]},"Get Email Templates":{"main":[[{"node":"Get Email IDs","type":"main","index":0}]]},"If email not sent":{"main":[[{"node":"Code | create email body","type":"main","index":0}],[{"node":"Loop Over IDs","type":"main","index":0}]]},"Wait for 20s":{"main":[[{"node":"Loop Over IDs","type":"main","index":0}]]},"Code | create email body":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update status","type":"main","index":0}]]},"Update status":{"main":[[{"node":"Wait for 20s","type":"main","index":0}]]},"Add templates to sheet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8d91f1b4-a433-4e06-8a3a-5b00c13b3e9a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-02T04:00:42.081Z","createdAt":"2025-12-02T04:00:42.081Z","role":"workflow:owner","workflowId":"rFSwZGfRUW17SDh4","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]