n8n-workflows1/N8N Workflow Template Maker.json
[{"updatedAt":"2025-11-28T10:40:58.000Z","createdAt":"2025-11-17T05:28:37.839Z","id":"5ku4eRw6xDF4QFvs","name":"N8N Workflow Template Maker","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-400,-240],"id":"7b55dfdd-3bda-45d3-868f-f048fd04872a","webhookId":"b14b3d60-7921-41b2-bfd6-b80195e20a47","alwaysOutputData":true},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{"mimeType":"={{ $json.message.document.mime_type }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,-336],"id":"e45062a1-466a-425a-b5d1-3351f6760638","name":"Get a file","webhookId":"f88fe268-09c9-4e0d-8693-89fd0f8837ed","alwaysOutputData":true},{"parameters":{"jsCode":"// COMPREHENSIVE WORKFLOW SCRUBBER & ANALYZER - ROBUST VERSION\n// Handles any workflow structure with defensive programming\n\n// ============ HELPER FUNCTIONS ============\n\nfunction safeGet(obj, path, defaultValue = null) {\n  try {\n    return path.split('.').reduce((acc, part) => acc?.[part], obj) ?? defaultValue;\n  } catch (e) {\n    return defaultValue;\n  }\n}\n\nfunction isValidArray(arr) {\n  return Array.isArray(arr) && arr.length > 0;\n}\n\nfunction isValidObject(obj) {\n  return obj && typeof obj === 'object' && !Array.isArray(obj);\n}\n\n// ============ INPUT HANDLING ============\n\ntry {\n  // 1. GET INPUT WITH MULTIPLE FALLBACKS\n  let rawInput = $input?.item?.json || $input?.first()?.json || {};\n  let w = rawInput.data || rawInput;\n  \n  // 2. DETECT AND NORMALIZE STRUCTURE\n  if (w.data) {\n    if (typeof w.data === 'string') {\n      try { w = JSON.parse(w.data); } catch(e) { w = w.data; }\n    } else if (w.data.nodes) {\n      w = w.data;\n    }\n  }\n  \n  // 3. VALIDATE WORKFLOW STRUCTURE\n  if (!isValidObject(w)) {\n    throw new Error('Invalid workflow: Input is not an object');\n  }\n  \n  if (!isValidArray(w.nodes)) {\n    throw new Error('Invalid workflow: Missing or empty nodes array');\n  }\n  \n  // ============ TRACKING & PATTERNS ============\n  \n  const scrubbed = {\n    credentials: 0,\n    webhooks: 0,\n    urls: 0,\n    emails: 0,\n    apiKeys: 0,\n    documentIds: 0,\n    phoneNumbers: 0,\n    sensitiveFields: 0\n  };\n  \n  const patterns = {\n    email: /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g,\n    phone: /\\+?[1-9]\\d{1,14}/g,\n    apiKey: /(api[_-]?key|token|secret|password|bearer|auth)\\s*[:=]\\s*['\"]?([a-zA-Z0-9_\\-\\.]+)['\"]?/gi,\n    url: /https?:\\/\\/[^\\s\"'<>]+/g,\n    uuid: /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/gi\n  };\n  \n  const sensitiveKeys = [\n    'webhookId', 'cachedResultUrl', 'cachedResultName', 'instanceId',\n    'apiKey', 'token', 'secret', 'password', 'accessToken', 'refreshToken',\n    'privateKey', 'clientSecret', 'sessionId'\n  ];\n  \n  // ============ RECURSIVE SCRUBBING ============\n  \n  function scrubObject(obj, path = '', depth = 0) {\n    // Prevent infinite recursion\n    if (depth > 50) return obj;\n    \n    if (!obj || typeof obj !== 'object') return obj;\n    \n    if (Array.isArray(obj)) {\n      return obj.map((item, idx) => scrubObject(item, `${path}[${idx}]`, depth + 1));\n    }\n    \n    const cleaned = {};\n    \n    for (const [key, value] of Object.entries(obj)) {\n      const currentPath = path ? `${path}.${key}` : key;\n      const lowerKey = key.toLowerCase();\n      \n      try {\n        // Handle credentials object\n        if (key === 'credentials' && isValidObject(value)) {\n          scrubbed.credentials++;\n          const credObj = {};\n          for (const credKey of Object.keys(value)) {\n            credObj[credKey] = { id: '' };\n          }\n          cleaned[key] = credObj;\n          continue;\n        }\n        \n        // Handle sensitive keys\n        if (sensitiveKeys.some(sk => lowerKey.includes(sk.toLowerCase()))) {\n          scrubbed.sensitiveFields++;\n          cleaned[key] = '';\n          continue;\n        }\n        \n        // Handle ResourceLocator objects\n        if (isValidObject(value) && value.__rl === true) {\n          scrubbed.documentIds++;\n          cleaned[key] = {\n            __rl: true,\n            mode: value.mode || 'id',\n            value: 'YOUR_RESOURCE_ID_HERE'\n          };\n          continue;\n        }\n        \n        // Handle string values\n        if (typeof value === 'string') {\n          let scrubbedValue = value;\n          let wasModified = false;\n          \n          // Skip empty strings\n          if (!value.trim()) {\n            cleaned[key] = value;\n            continue;\n          }\n          \n          // Scrub URLs (but preserve expressions)\n          if (patterns.url.test(value) && !value.includes('={{') && !value.includes('$json')) {\n            scrubbed.urls++;\n            if (value.includes('drive.google.com')) {\n              scrubbedValue = 'YOUR_GOOGLE_DRIVE_URL_HERE';\n            } else if (value.includes('webhook')) {\n              scrubbedValue = 'YOUR_WEBHOOK_URL_HERE';\n            } else if (value.includes('api')) {\n              scrubbedValue = 'YOUR_API_ENDPOINT_HERE';\n            } else {\n              scrubbedValue = 'YOUR_URL_HERE';\n            }\n            wasModified = true;\n          }\n          \n          // Scrub emails (preserve example.com)\n          if (!wasModified && patterns.email.test(value) && !value.includes('example.com')) {\n            scrubbed.emails++;\n            scrubbedValue = scrubbedValue.replace(patterns.email, 'YOUR_EMAIL_HERE');\n            wasModified = true;\n          }\n          \n          // Scrub API keys/tokens (but preserve expressions)\n          if (!wasModified && patterns.apiKey.test(value) && !value.includes('={{')) {\n            scrubbed.apiKeys++;\n            scrubbedValue = 'YOUR_API_KEY_HERE';\n            wasModified = true;\n          }\n          \n          // Scrub phone numbers\n          if (!wasModified && lowerKey.includes('phone') && patterns.phone.test(value)) {\n            scrubbed.phoneNumbers++;\n            scrubbedValue = 'YOUR_PHONE_NUMBER_HERE';\n            wasModified = true;\n          }\n          \n          cleaned[key] = scrubbedValue;\n        } else if (isValidObject(value)) {\n          cleaned[key] = scrubObject(value, currentPath, depth + 1);\n        } else {\n          cleaned[key] = value;\n        }\n      } catch (err) {\n        // If scrubbing fails for a field, preserve original\n        cleaned[key] = value;\n      }\n    }\n    \n    return cleaned;\n  }\n  \n  // ============ SPATIAL ANALYSIS WITH FALLBACKS ============\n  \n  let minX = Infinity, minY = Infinity, maxX = -Infinity, maxY = -Infinity;\n  let hasValidPositions = false;\n  let actionNodes = [], triggerNodes = [];\n  \n  w.nodes.forEach(n => {\n    try {\n      // Categorize nodes\n      if (n.type?.toLowerCase().includes('trigger')) {\n        triggerNodes.push(n.name || n.type || 'Unknown Trigger');\n      } else if (n.type !== 'n8n-nodes-base.stickyNote') {\n        actionNodes.push(n.name || n.type || 'Unknown Node');\n      }\n      \n      // Analyze positions (skip sticky notes)\n      if (n.position && Array.isArray(n.position) && n.position.length >= 2 && n.type !== 'n8n-nodes-base.stickyNote') {\n        const x = Number(n.position[0]);\n        const y = Number(n.position[1]);\n        \n        if (!isNaN(x) && !isNaN(y) && isFinite(x) && isFinite(y)) {\n          minX = Math.min(minX, x);\n          minY = Math.min(minY, y);\n          maxX = Math.max(maxX, x);\n          maxY = Math.max(maxY, y);\n          hasValidPositions = true;\n        }\n      }\n    } catch (err) {\n      // Skip problematic nodes\n    }\n  });\n  \n  // Apply default bounds if no valid positions found\n  if (!hasValidPositions || !isFinite(minX)) {\n    minX = 0;\n    minY = 0;\n    maxX = 800;\n    maxY = 600;\n  }\n  \n  // ============ SCRUB ALL NODES ============\n  \n  w.nodes = w.nodes.map((node, idx) => {\n    try {\n      const scrubbed = scrubObject(node);\n      \n      // Ensure node has required fields\n      if (!scrubbed.id) scrubbed.id = `node-${idx}-${Math.random().toString(36).substr(2, 9)}`;\n      if (!scrubbed.name) scrubbed.name = scrubbed.type || `Node ${idx + 1}`;\n      if (!scrubbed.type) scrubbed.type = 'n8n-nodes-base.noOp';\n      if (!scrubbed.position || !Array.isArray(scrubbed.position)) {\n        scrubbed.position = [minX + (idx * 200), minY];\n      }\n      \n      return scrubbed;\n    } catch (err) {\n      // Return minimal valid node if scrubbing fails\n      return {\n        id: `node-${idx}-fallback`,\n        name: node.name || `Node ${idx + 1}`,\n        type: node.type || 'n8n-nodes-base.noOp',\n        position: node.position || [minX + (idx * 200), minY],\n        parameters: {}\n      };\n    }\n  });\n  \n  // ============ CLEAN META FIELDS ============\n  \n  delete w.meta;\n  delete w.pinData;\n  delete w.instanceId;\n  delete w.versionId;\n  \n  // Ensure connections exist\n  if (!w.connections) w.connections = {};\n  \n  // ============ EXTRACT METADATA ============\n  \nconst chatId = safeGet($('Telegram Trigger').first(), 'json.message.chat.id') || \n               safeGet($('Telegram Trigger').first(), 'json.message.from.id') ||\n               'unknown';\n  \n  const originalFileName = safeGet(rawInput, 'originalFileName') || \n                          safeGet(rawInput, 'data.name') ||\n                          w.name || \n                          'workflow';\n  \n  // ============ OUTPUT ============\n  \n  return [{\n    json: {\n      cleanedWorkflow: w,\n      workflowString: JSON.stringify(w),\n      chatId: chatId,\n      originalFileName: originalFileName,\n      analysis: {\n        totalNodes: w.nodes.length,\n        actionNodes: actionNodes.length,\n        triggerNodes: triggerNodes.length,\n        workflowBounds: { minX, minY, maxX, maxY },\n        hasValidPositions: hasValidPositions,\n        scrubbedItems: scrubbed,\n        totalScrubbed: Object.values(scrubbed).reduce((a, b) => a + b, 0)\n      }\n    }\n  }];\n  \n} catch (error) {\n  // ============ ERROR HANDLING ============\n  return [{\n    json: {\n      error: true,\n      errorMessage: error.message || 'Unknown error occurred',\n      errorStack: error.stack,\n      cleanedWorkflow: null,\n      workflowString: null,\n      chatId: 'error',\n      originalFileName: 'error',\n      analysis: {\n        totalNodes: 0,\n        workflowBounds: { minX: 0, minY: 0, maxX: 0, maxY: 0 },\n        scrubbedItems: {},\n        totalScrubbed: 0\n      }\n    }\n  }];\n}"},"name":"Scrub & Analyze Workflow1","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-336],"id":"6e3cb3bf-b471-4978-8eaa-a401b1f6a359"},{"parameters":{"options":{}},"name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[736,-112],"id":"9025fcc2-814f-43ba-b316-4e5a7a190b3d"},{"parameters":{"jsonSchemaExample":"{\"mainSticky\":{\"parameters\":{\"content\":\"string\",\"height\":560,\"width\":500,\"color\":2},\"id\":\"string\",\"name\":\"Sticky Note\",\"type\":\"n8n-nodes-base.stickyNote\",\"position\":[-1232,-112],\"typeVersion\":1},\"sectionStickies\":[{\"parameters\":{\"content\":\"string\",\"height\":300,\"width\":600,\"color\":7},\"id\":\"string\",\"name\":\"string\",\"type\":\"n8n-nodes-base.stickyNote\",\"position\":[0,0],\"typeVersion\":1}],\"titleSuggestions\":[\"string\",\"string\"],\"templateDescription\":\"string\",\"tags\":[\"string\"],\"validationResults\":{\"titleFormat\":true,\"descriptionLength\":true,\"hasStickyNotes\":true,\"credentialsRemoved\":true}}"},"name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[864,-112],"id":"daf89631-2858-4ded-9106-8ce8ae179451"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.document }}","operation":"isNotEmpty"}]}},"name":"Check Input Type","type":"n8n-nodes-base.if","typeVersion":1,"position":[-176,-240],"id":"81f30143-8c7b-4ec3-bdba-fe61d2accd27"},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"=⚠️ **Text Not Accepted**\n\nn8n workflows are too large for Telegram text messages (limit: 4096 chars).\n\n👉 Please **drag and drop the .json file** instead.","additionalFields":{}},"name":"Send a text message","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,-144],"id":"8f9e60b5-4e6c-486e-8cfe-389d07d2535e","webhookId":"8d9ba029-469a-40a1-bc1b-d6a6d459f991"},{"parameters":{"operation":"fromJson","options":{}},"name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[272,-336],"id":"e0b0f0e3-d583-4a91-b3de-65f2ef295001","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=You are an expert n8n Template Engineer. Your task is to analyze a raw n8n workflow JSON and generate documentation that strictly adheres to the n8n Template Guidelines.\n\n### INPUT DATA:\n{{ $json.workflowString }}\n\n### GLOBAL RULES:\n1. NO Markdown code blocks in the output (return raw JSON).\n2. NO HTML tags.\n3. Language: Clear, professional English.\n\n### TASK 1: GENERATE MAIN STICKY NOTE\n**Requirements:**\n- **Color:** Yellow (ID: 2)\n- **Dimensions:** Width: 500px, Height: 600px.\n- **Content Structure (Markdown):**\n  1. **## Title**: format \"Action Verb + Thing + Context\" (e.g., \"Sync Contacts from HubSpot to Google Sheets\").\n  2. ****Description****: A 1-sentence value proposition.\n  3. **### How it works**: A numbered list of the logical steps. Keep bullet points short (max 10 words per bullet).\n  4. **### Setup**: A checklist of requirements (e.g., \"1. Configure Google Sheets credentials\").\n  5. **### Customization**: 1 tip on how to adapt the workflow.\n\n### TASK 2: GENERATE SECTION STICKIES\n**Requirements:**\n- **Condition:** Only generate if workflow has 5+ nodes.\n- **Color:** White (ID: 7).\n- **Content:** A short **## Heading** (e.g., \"## 1. Webhook Trigger\", \"## 2. Data Processing\").\n- **Goal:** Create logical groups (Trigger area, Action area).\n\n### TASK 3: METADATA & VALIDATION\n- **Title Suggestions:** 3 SEO-friendly titles.\n- **Description:** A STRICTLY CONCISE summary (Max 3 sentences or 60 words). Focus on the \"Why\" and \"Result\", not the \"How\". Do not list steps here.\n- **Tags:** 3-5 relevant tags.\n- **Security Check:** Set `credentialsRemoved` to false if hardcoded secrets are found.\n\n### OUTPUT SCHEMA:\nReturn ONLY a JSON object matching this structure:\n{\n  \"mainSticky\": {\n    \"parameters\": { \"content\": \"string\", \"height\": 600, \"width\": 500, \"color\": 2 },\n    \"name\": \"Main Sticky\",\n    \"type\": \"n8n-nodes-base.stickyNote\",\n    \"typeVersion\": 1\n  },\n  \"sectionStickies\": [\n    {\n      \"parameters\": { \"content\": \"## Header\", \"height\": 200, \"width\": 300, \"color\": 7 },\n      \"name\": \"Section 1\",\n      \"type\": \"n8n-nodes-base.stickyNote\",\n      \"typeVersion\": 1\n    }\n  ],\n  \"titleSuggestions\": [\"Title 1\", \"Title 2\"],\n  \"templateDescription\": \"string\",\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"validationResults\": {\n    \"titleFormat\": true,\n    \"descriptionLength\": true,\n    \"hasStickyNotes\": true,\n    \"credentialsRemoved\": true\n  }\n}","hasOutputParser":true},"name":"AI Template Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[720,-336],"id":"d4d657ab-e26c-4ccf-8f97-cc54f75b40fc"},{"parameters":{"jsCode":"// ASSEMBLE FINAL TEMPLATE - ROBUST VERSION\n// Handles any workflow structure with intelligent positioning\n\n// ============ HELPER FUNCTIONS ============\n\nfunction safeGet(obj, path, defaultValue = null) {\n  try {\n    return path.split('.').reduce((acc, part) => acc?.[part], obj) ?? defaultValue;\n  } catch (e) {\n    return defaultValue;\n  }\n}\n\nfunction isValidArray(arr) {\n  return Array.isArray(arr) && arr.length > 0;\n}\n\nfunction isValidObject(obj) {\n  return obj && typeof obj === 'object' && !Array.isArray(obj);\n}\n\nfunction ensureValidPosition(pos, fallback = [0, 0]) {\n  if (!Array.isArray(pos) || pos.length < 2) return fallback;\n  const x = Number(pos[0]);\n  const y = Number(pos[1]);\n  return [isFinite(x) ? x : fallback[0], isFinite(y) ? y : fallback[1]];\n}\n\n// ============ INPUT VALIDATION ============\n\ntry {\n  // 1. GET INPUTS WITH FALLBACKS\n  const cleanData = safeGet($('Scrub & Analyze Workflow1'), 'item.json', {});\n  const triggerData = safeGet($('Telegram Trigger'), 'first.json', {});\n  const aiData = safeGet($input, 'item.json', {});\n  \n  // Check for errors from previous node\n  if (cleanData.error) {\n    throw new Error(`Previous node error: ${cleanData.errorMessage}`);\n  }\n  \n  // Validate required data\n  if (!isValidObject(cleanData.cleanedWorkflow)) {\n    throw new Error('Missing cleaned workflow data');\n  }\n  \n  if (!isValidArray(cleanData.cleanedWorkflow.nodes)) {\n    throw new Error('Workflow has no nodes');\n  }\n  \n  // ============ PREPARE WORKFLOW ============\n  \n  const wf = JSON.parse(JSON.stringify(cleanData.cleanedWorkflow)); // Deep clone\n  const baseFileName = (cleanData.originalFileName || 'workflow').replace(/\\.json$/i, '');\n  const analysis = cleanData.analysis || {};\n  \n  // Get bounds with fallbacks\n  let bounds = analysis.workflowBounds || { minX: 0, minY: 0, maxX: 800, maxY: 600 };\n  \n  // Validate bounds\n  if (!isFinite(bounds.minX) || !isFinite(bounds.maxX)) {\n    bounds = { minX: 0, minY: 0, maxX: 800, maxY: 600 };\n  }\n  \n  // Recalculate bounds if needed\n  if (bounds.minX === Infinity || !analysis.hasValidPositions) {\n    let minX = Infinity, minY = Infinity, maxX = -Infinity, maxY = -Infinity;\n    let foundValid = false;\n    \n    wf.nodes.forEach(n => {\n      if (n.position && n.type !== 'n8n-nodes-base.stickyNote') {\n        const pos = ensureValidPosition(n.position);\n        minX = Math.min(minX, pos[0]);\n        minY = Math.min(minY, pos[1]);\n        maxX = Math.max(maxX, pos[0]);\n        maxY = Math.max(maxY, pos[1]);\n        foundValid = true;\n      }\n    });\n    \n    if (foundValid && isFinite(minX)) {\n      bounds = { minX, minY, maxX, maxY };\n    } else {\n      // Apply default grid layout\n      wf.nodes.forEach((n, idx) => {\n        if (n.type !== 'n8n-nodes-base.stickyNote') {\n          n.position = [idx * 220, 0];\n        }\n      });\n      bounds = { minX: 0, minY: 0, maxX: wf.nodes.length * 220, maxY: 400 };\n    }\n  }\n  \n  // ============ REMOVE OLD STICKIES ============\n  \n  wf.nodes = wf.nodes.filter(n => {\n    try {\n      return !(n.type === 'n8n-nodes-base.stickyNote' && [2, 7].includes(safeGet(n, 'parameters.color')));\n    } catch (e) {\n      return true;\n    }\n  });\n  \n  // ============ ADD MAIN STICKY ============\n  \n  const aiOutput = safeGet(aiData, 'output', {});\n  \n  if (isValidObject(aiOutput.mainSticky)) {\n    try {\n      const mainSticky = JSON.parse(JSON.stringify(aiOutput.mainSticky));\n      mainSticky.id = 'sticky-main-' + Math.random().toString(36).substring(7);\n      \n      // Ensure parameters\n      if (!mainSticky.parameters) mainSticky.parameters = {};\n      mainSticky.parameters.color = 2;\n      mainSticky.parameters.height = mainSticky.parameters.height || 600;\n      mainSticky.parameters.width = mainSticky.parameters.width || 500;\n      \n      // Position to the left\n      const offsetX = mainSticky.parameters.width + 40;\n      mainSticky.position = [bounds.minX - offsetX, bounds.minY];\n      \n      // Ensure required fields\n      mainSticky.name = mainSticky.name || 'Main Documentation';\n      mainSticky.type = 'n8n-nodes-base.stickyNote';\n      mainSticky.typeVersion = 1;\n      \n      wf.nodes.unshift(mainSticky);\n    } catch (err) {\n      // Skip if main sticky fails\n    }\n  }\n  \n  // ============ INTELLIGENT SECTION STICKY POSITIONING ============\n  \n  if (isValidArray(aiOutput.sectionStickies)) {\n    try {\n      const sectionStickies = JSON.parse(JSON.stringify(aiOutput.sectionStickies));\n      const numSections = sectionStickies.length;\n      \n      // Get workflow nodes (non-sticky, with valid positions)\n      const workflowNodes = wf.nodes\n        .filter(n => {\n          try {\n            return n.type !== 'n8n-nodes-base.stickyNote' && \n                   Array.isArray(n.position) && \n                   isFinite(n.position[0]);\n          } catch (e) {\n            return false;\n          }\n        })\n        .sort((a, b) => a.position[0] - b.position[0]);\n      \n      if (workflowNodes.length > 0 && numSections > 0) {\n        // ============ SMART GROUPING ALGORITHM ============\n        \n        // Calculate workflow width and density\n        const workflowWidth = bounds.maxX - bounds.minX;\n        const avgNodeSpacing = workflowWidth / Math.max(workflowNodes.length - 1, 1);\n        \n        // Detect natural groupings based on spacing\n        const groups = [];\n        let currentGroup = [workflowNodes[0]];\n        \n        for (let i = 1; i < workflowNodes.length; i++) {\n          const prevNode = workflowNodes[i - 1];\n          const currNode = workflowNodes[i];\n          const gap = currNode.position[0] - prevNode.position[0];\n          \n          // If gap is significantly larger than average, start new group\n          if (gap > avgNodeSpacing * 1.5 && groups.length < numSections - 1) {\n            groups.push(currentGroup);\n            currentGroup = [currNode];\n          } else {\n            currentGroup.push(currNode);\n          }\n        }\n        groups.push(currentGroup);\n        \n        // If we have fewer natural groups than stickies, divide evenly\n        if (groups.length < numSections) {\n          const nodesPerSection = Math.ceil(workflowNodes.length / numSections);\n          groups.length = 0;\n          for (let i = 0; i < numSections; i++) {\n            const start = i * nodesPerSection;\n            const end = Math.min(start + nodesPerSection, workflowNodes.length);\n            if (start < workflowNodes.length) {\n              groups.push(workflowNodes.slice(start, end));\n            }\n          }\n        }\n        \n        // If we have more groups than stickies, merge smallest groups\n        while (groups.length > numSections && groups.length > 1) {\n          groups.sort((a, b) => a.length - b.length);\n          const smallest = groups.shift();\n          groups[0] = [...smallest, ...groups[0]];\n        }\n        \n        // ============ POSITION STICKIES ============\n        \n        sectionStickies.forEach((sticky, index) => {\n          try {\n            sticky.id = `sticky-section-${index}-` + Math.random().toString(36).substring(7);\n            \n            // Ensure parameters\n            if (!sticky.parameters) sticky.parameters = {};\n            sticky.parameters.color = 7;\n            const stickyWidth = sticky.parameters.width || 600;\n            const stickyHeight = sticky.parameters.height || 200;\n            \n            // Ensure required fields\n            sticky.name = sticky.name || `Section ${index + 1}`;\n            sticky.type = 'n8n-nodes-base.stickyNote';\n            sticky.typeVersion = 1;\n            \n            if (groups[index] && groups[index].length > 0) {\n              const sectionNodes = groups[index];\n              \n              // Calculate section bounds\n              const positions = sectionNodes.map(n => ensureValidPosition(n.position));\n              const sectionMinX = Math.min(...positions.map(p => p[0]));\n              const sectionMaxX = Math.max(...positions.map(p => p[0]));\n              const sectionMinY = Math.min(...positions.map(p => p[1]));\n              \n              // Center sticky above section\n              const sectionCenterX = (sectionMinX + sectionMaxX) / 2;\n              const stickyX = sectionCenterX - (stickyWidth / 2);\n              const stickyY = sectionMinY - stickyHeight - 50;\n              \n              sticky.position = [Math.round(stickyX), Math.round(stickyY)];\n            } else {\n              // Fallback: distribute horizontally\n              const spacing = Math.max(400, workflowWidth / numSections);\n              sticky.position = [\n                Math.round(bounds.minX + (index * spacing)),\n                Math.round(bounds.minY - stickyHeight - 50)\n              ];\n            }\n            \n            wf.nodes.push(sticky);\n          } catch (err) {\n            // Skip problematic sticky\n          }\n        });\n      } else {\n        // Fallback: no workflow nodes or no sections\n        sectionStickies.forEach((sticky, index) => {\n          try {\n            sticky.id = `sticky-section-${index}-` + Math.random().toString(36).substring(7);\n            if (!sticky.parameters) sticky.parameters = {};\n            sticky.parameters.color = 7;\n            const stickyHeight = sticky.parameters.height || 200;\n            sticky.name = sticky.name || `Section ${index + 1}`;\n            sticky.type = 'n8n-nodes-base.stickyNote';\n            sticky.typeVersion = 1;\n            sticky.position = [\n              bounds.minX + (index * 400),\n              bounds.minY - stickyHeight - 50\n            ];\n            wf.nodes.push(sticky);\n          } catch (err) {\n            // Skip\n          }\n        });\n      }\n    } catch (err) {\n      // Skip section stickies if they fail\n    }\n  }\n  \n  // ============ GENERATE OUTPUT FILES ============\n  \n  const prettyJson = JSON.stringify(wf, null, 2);\n  const outFileName = `${baseFileName}_TEMPLATE.json`;\n  \n  const validationResults = safeGet(aiOutput, 'validationResults', {});\n  const titleSuggestions = safeGet(aiOutput, 'titleSuggestions', []);\n  const tags = safeGet(aiOutput, 'tags', []);\n  \n  const checklist = `✅ **Template Processed**\n${validationResults.credentialsRemoved ? '✅' : '❌'} Secrets scrubbed\n${aiOutput.mainSticky ? '✅' : '❌'} Documentation added\nNodes: ${analysis.totalNodes || wf.nodes.length}\nScrubbed: ${analysis.totalScrubbed || 0} items`;\n  \n  const guide = `📋 **Submission Guide**\n\n**Title Suggestions:**\n${isValidArray(titleSuggestions) ? titleSuggestions.map(t => `• ${t}`).join('\\n') : '• No suggestions generated'}\n\n**Description:**\n${aiOutput.templateDescription || 'No description generated.'}\n\n**Tags:** ${isValidArray(tags) ? tags.join(', ') : 'No tags generated'}`;\n  \n  // ============ RETURN OUTPUT ============\n  \n  return [{\n    json: {\n      chatId: cleanData.chatId || 'unknown',\n      triggerChatId: safeGet(triggerData, 'message.chat.id') || safeGet(triggerData, 'message.from.id') || cleanData.chatId || 'unknown',\n      fileName: outFileName,\n      checklist: checklist,\n      guide: guide,\n      success: true\n    },\n    binary: {\n      data: {\n        data: Buffer.from(prettyJson).toString('base64'),\n        mimeType: 'application/json',\n        fileName: outFileName\n      }\n    }\n  }];\n  \n} catch (error) {\n  // ============ ERROR HANDLING ============\n  \n  const errorMsg = `❌ **Template Generation Failed**\n\nError: ${error.message}\n\nPlease ensure you uploaded a valid n8n workflow JSON file.`;\n  \n  return [{\n    json: {\n      chatId: 'error',\n      triggerChatId: 'error',\n      fileName: 'error.json',\n      checklist: errorMsg,\n      guide: 'Error occurred during processing.',\n      success: false,\n      error: error.message,\n      errorStack: error.stack\n    },\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify({ error: error.message }, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'error.json'\n      }\n    }\n  }];\n}"},"name":"Assemble Final Template","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,-336],"id":"8e9af604-b72d-45c7-b2ea-8ca24b25a19f","alwaysOutputData":true},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Assemble Final Template').item.json.triggerChatId }}","binaryData":true,"additionalFields":{"caption":"🎉 Here is your standardized template:"}},"name":"Send Template File1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1296,-336],"id":"769064f3-62c1-498a-8086-7c1de5c5cebf","webhookId":"4cc171a5-8245-4baf-b8af-06cb0f472ed9"},{"parameters":{"chatId":"={{ $json.result.chat.id }}","text":"={{ $('Assemble Final Template').item.json.checklist }}","additionalFields":{}},"name":"Send Checklist","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,-336],"id":"445c3281-4c05-4a78-b73e-bec3ef229dcd","webhookId":"4cc171a5-8245-4baf-b8af-06cb0f472ed9"},{"parameters":{"chatId":"={{ $json.result.chat.id }}","text":"={{ $('Assemble Final Template').item.json.guide }}","additionalFields":{}},"name":"Send Guide","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1744,-336],"id":"305c8f2a-2083-4476-bf1d-54e180a4d617","webhookId":"4cc171a5-8245-4baf-b8af-06cb0f472ed9"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Check Input Type","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Scrub & Analyze Workflow1":{"main":[[{"node":"AI Template Generator","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Template Generator","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Template Generator","type":"ai_outputParser","index":0}]]},"Check Input Type":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Scrub & Analyze Workflow1","type":"main","index":0}]]},"AI Template Generator":{"main":[[{"node":"Assemble Final Template","type":"main","index":0}]]},"Assemble Final Template":{"main":[[{"node":"Send Template File1","type":"main","index":0}]]},"Send Checklist":{"main":[[{"node":"Send Guide","type":"main","index":0}]]},"Send Template File1":{"main":[[{"node":"Send Checklist","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aadc4da9-635c-41a8-b699-2efd209b4ef0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-17T05:28:37.913Z","createdAt":"2025-11-17T05:28:37.913Z","role":"workflow:owner","workflowId":"5ku4eRw6xDF4QFvs","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]