n8n-workflows1/N8N-Workflows-Daily-Backup.json
[{"updatedAt":"2025-11-30T05:55:21.000Z","createdAt":"2025-10-10T08:48:29.057Z","id":"YWqnVrMB9j7ynWvT","name":"N8N-Workflows-Daily-Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Daily n8n Workflow Backup\nAutomatically backs up all workflows to Google Drive daily.\n\n### How it works\n1. Creates a timestamped folder in Google Drive\n2. Fetches all workflows from n8n\n3. Converts workflows to JSON and uploads them\n4. Deletes backups older than 7 days\n\n### Setup steps\n1. Configure n8n API credentials\n2. Connect Google Drive OAuth2 account\n3. **Important:** Set your parent folder ID in the 'Cleanup Old Backups' node\n4. Adjust the Schedule Trigger (default: 11 PM daily)","height":604,"width":620},"type":"n8n-nodes-base.stickyNote","position":[-1504,944],"typeVersion":1,"id":"c2fe6f5a-d295-42c3-acf5-e7b44af1c72c","name":"Sticky Note"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[400,1232],"id":"b4991a62-36d4-40e4-baf1-54de7eb14643","name":"Convert to JSON1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-768,1040],"id":"80655ac3-d39e-493f-a8b7-20ea49f73436","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('yyyy-MM-dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://drive.google.com/drive/folders/1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-480,1152],"id":"0409987a-4d54-40cf-abff-8c3e8c28c4a2","name":"Create Backup Folder","credentials":{"googleDriveOAuth2Api":{"id":"7rveCmWhR6Y9Hbo7","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-768,1264],"id":"651003c0-0dc5-4e88-96ba-4b149cea6bbd","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-240,1152],"id":"2d676fb6-4929-4f45-957b-9c24061e2317","name":"Fetch Workflows","credentials":{"n8nApi":{"id":"Lssk8mBfX4ReRipH","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,1152],"id":"515b90f1-0f32-4628-85cd-d4223fe8e7ce","name":"Loop Workflows"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Create Backup Folder').item.json.id }}"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,1312],"id":"6cd2e0d1-5bb4-406f-a7e1-6c475e3a4c51","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"7rveCmWhR6Y9Hbo7","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Get all backup folders and delete those older than 7 days\nconst parentFolderId = '1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML';\nconst daysToKeep = 7;\n\ntry {\n  // List all folders in the backup directory\n  const options = {\n    qs: {\n      q: `'${parentFolderId}' in parents and mimeType='application/vnd.google-apps.folder' and name contains 'Workflow Backups'`,\n      fields: 'files(id,name,createdTime)'\n    }\n  };\n  \n  const response = await this.helpers.httpRequestWithAuthentication.call(\n    this,\n    'googleDriveOAuth2Api',\n    options\n  );\n  \n  const folders = response.files || [];\n  const cutoffDate = new Date();\n  cutoffDate.setDate(cutoffDate.getDate() - daysToKeep);\n  \n  const foldersToDelete = folders.filter(folder => {\n    const folderDate = new Date(folder.createdTime);\n    return folderDate < cutoffDate;\n  });\n  \n  console.log(`Found ${folders.length} backup folders, deleting ${foldersToDelete.length} old ones`);\n  \n  // Delete old folders\n  for (const folder of foldersToDelete) {\n    try {\n      await this.helpers.httpRequestWithAuthentication.call(\n        this,\n        'googleDriveOAuth2Api',\n        {\n          method: 'DELETE',\n          url: `https://www.googleapis.com/drive/v3/files/${folder.id}`\n        }\n      );\n      console.log(`Deleted folder: ${folder.name} (${folder.id})`);\n    } catch (error) {\n      console.error(`Failed to delete folder ${folder.id}:`, error.message);\n    }\n  }\n  \n  return [{ json: { deleted: foldersToDelete.length, remaining: folders.length - foldersToDelete.length } }];\n  \n} catch (error) {\n  console.error('Cleanup failed:', error.message);\n  return [{ json: { error: error.message, status: 'cleanup_failed' } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,1152],"id":"55d43e1d-9b36-44c3-86db-fc43b2241cb2","name":"Cleanup Old Backups"},{"parameters":{"content":"## 1. Initialization: Trigger & Setup\n","height":608,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-848,944],"typeVersion":1,"id":"f14f702a-07aa-4a79-9d05-6fbff2df2629","name":"Sticky Note1"},{"parameters":{"content":"## 2. Processing : Process & Upload","height":608,"width":848,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,944],"typeVersion":1,"id":"dc792b50-8450-4229-a448-ab0cc628efd1","name":"Sticky Note2"},{"parameters":{"content":"## 3. Maintenance : Cleanup ","height":608,"width":672,"color":7},"type":"n8n-nodes-base.stickyNote","position":[928,944],"typeVersion":1,"id":"9cd8fbfa-b490-47ae-b5a8-7438e1397215","name":"Sticky Note3"}],"connections":{"Convert to JSON1":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Backup Folder","type":"main","index":0}]]},"Create Backup Folder":{"main":[[{"node":"Fetch Workflows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create Backup Folder","type":"main","index":0}]]},"Fetch Workflows":{"main":[[{"node":"Loop Workflows","type":"main","index":0}]]},"Loop Workflows":{"main":[[{"node":"Cleanup Old Backups","type":"main","index":0}],[{"node":"Convert to JSON1","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Loop Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Daily Schedule":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b48c78d-b259-4d37-b505-e9079956744c","activeVersionId":"4b48c78d-b259-4d37-b505-e9079956744c","triggerCount":1,"shared":[{"updatedAt":"2025-10-10T08:48:29.070Z","createdAt":"2025-10-10T08:48:29.070Z","role":"workflow:owner","workflowId":"YWqnVrMB9j7ynWvT","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":{"updatedAt":"2025-11-30T05:55:21.455Z","createdAt":"2025-11-30T05:55:21.455Z","versionId":"4b48c78d-b259-4d37-b505-e9079956744c","workflowId":"YWqnVrMB9j7ynWvT","nodes":[{"parameters":{"content":"## Daily n8n Workflow Backup\nAutomatically backs up all workflows to Google Drive daily.\n\n### How it works\n1. Creates a timestamped folder in Google Drive\n2. Fetches all workflows from n8n\n3. Converts workflows to JSON and uploads them\n4. Deletes backups older than 7 days\n\n### Setup steps\n1. Configure n8n API credentials\n2. Connect Google Drive OAuth2 account\n3. **Important:** Set your parent folder ID in the 'Cleanup Old Backups' node\n4. Adjust the Schedule Trigger (default: 11 PM daily)","height":604,"width":620},"type":"n8n-nodes-base.stickyNote","position":[-1504,944],"typeVersion":1,"id":"c2fe6f5a-d295-42c3-acf5-e7b44af1c72c","name":"Sticky Note"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[400,1232],"id":"b4991a62-36d4-40e4-baf1-54de7eb14643","name":"Convert to JSON1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-768,1040],"id":"80655ac3-d39e-493f-a8b7-20ea49f73436","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('yyyy-MM-dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://drive.google.com/drive/folders/1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-480,1152],"id":"0409987a-4d54-40cf-abff-8c3e8c28c4a2","name":"Create Backup Folder","credentials":{"googleDriveOAuth2Api":{"id":"7rveCmWhR6Y9Hbo7","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-768,1264],"id":"651003c0-0dc5-4e88-96ba-4b149cea6bbd","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-240,1152],"id":"2d676fb6-4929-4f45-957b-9c24061e2317","name":"Fetch Workflows","credentials":{"n8nApi":{"id":"Lssk8mBfX4ReRipH","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,1152],"id":"515b90f1-0f32-4628-85cd-d4223fe8e7ce","name":"Loop Workflows"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Create Backup Folder').item.json.id }}"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,1312],"id":"6cd2e0d1-5bb4-406f-a7e1-6c475e3a4c51","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"7rveCmWhR6Y9Hbo7","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Get all backup folders and delete those older than 7 days\nconst parentFolderId = '1huM_c3I3CEF6eI9gesIvlkG5uIy4BgML';\nconst daysToKeep = 7;\n\ntry {\n  // List all folders in the backup directory\n  const options = {\n    qs: {\n      q: `'${parentFolderId}' in parents and mimeType='application/vnd.google-apps.folder' and name contains 'Workflow Backups'`,\n      fields: 'files(id,name,createdTime)'\n    }\n  };\n  \n  const response = await this.helpers.httpRequestWithAuthentication.call(\n    this,\n    'googleDriveOAuth2Api',\n    options\n  );\n  \n  const folders = response.files || [];\n  const cutoffDate = new Date();\n  cutoffDate.setDate(cutoffDate.getDate() - daysToKeep);\n  \n  const foldersToDelete = folders.filter(folder => {\n    const folderDate = new Date(folder.createdTime);\n    return folderDate < cutoffDate;\n  });\n  \n  console.log(`Found ${folders.length} backup folders, deleting ${foldersToDelete.length} old ones`);\n  \n  // Delete old folders\n  for (const folder of foldersToDelete) {\n    try {\n      await this.helpers.httpRequestWithAuthentication.call(\n        this,\n        'googleDriveOAuth2Api',\n        {\n          method: 'DELETE',\n          url: `https://www.googleapis.com/drive/v3/files/${folder.id}`\n        }\n      );\n      console.log(`Deleted folder: ${folder.name} (${folder.id})`);\n    } catch (error) {\n      console.error(`Failed to delete folder ${folder.id}:`, error.message);\n    }\n  }\n  \n  return [{ json: { deleted: foldersToDelete.length, remaining: folders.length - foldersToDelete.length } }];\n  \n} catch (error) {\n  console.error('Cleanup failed:', error.message);\n  return [{ json: { error: error.message, status: 'cleanup_failed' } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,1152],"id":"55d43e1d-9b36-44c3-86db-fc43b2241cb2","name":"Cleanup Old Backups"},{"parameters":{"content":"## 1. Initialization: Trigger & Setup\n","height":608,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-848,944],"typeVersion":1,"id":"f14f702a-07aa-4a79-9d05-6fbff2df2629","name":"Sticky Note1"},{"parameters":{"content":"## 2. Processing : Process & Upload","height":608,"width":848,"color":7},"type":"n8n-nodes-base.stickyNote","position":[16,944],"typeVersion":1,"id":"dc792b50-8450-4229-a448-ab0cc628efd1","name":"Sticky Note2"},{"parameters":{"content":"## 3. Maintenance : Cleanup ","height":608,"width":672,"color":7},"type":"n8n-nodes-base.stickyNote","position":[928,944],"typeVersion":1,"id":"9cd8fbfa-b490-47ae-b5a8-7438e1397215","name":"Sticky Note3"}],"connections":{"Convert to JSON1":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Backup Folder","type":"main","index":0}]]},"Create Backup Folder":{"main":[[{"node":"Fetch Workflows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create Backup Folder","type":"main","index":0}]]},"Fetch Workflows":{"main":[[{"node":"Loop Workflows","type":"main","index":0}]]},"Loop Workflows":{"main":[[{"node":"Cleanup Old Backups","type":"main","index":0}],[{"node":"Convert to JSON1","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Loop Workflows","type":"main","index":0}]]}},"authors":"Panth Shah","name":null,"description":null,"autosaved":false},"tags":[]}]