n8n-workflows1/Personal AI Assistant with Telegram Voice and Text.json
[{"updatedAt":"2025-10-26T05:01:37.000Z","createdAt":"2025-10-26T04:57:35.689Z","id":"ZUBxR99hK0OaWFH8","name":"Personal AI Assistant with Telegram Voice and Text","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"derekcheungsa@gmail.com","cachedResultName":"derekcheungsa@gmail.com"},"options":{"timeMin":"={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}","fields":"=items(summary, start(dateTime))"}},"id":"14be446a-22cc-4e84-b246-46fd51757bcc","name":"Google Calendar","type":"n8n-nodes-base.googleCalendarTool","position":[2000,576],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Listen for incoming events').first().json.message.from.id }}"},"id":"361db47a-8708-4d63-8259-a5b4494009ff","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1760,576],"typeVersion":1.2},{"parameters":{"operation":"getAll","filters":{"labelIds":["INBOX","UNREAD"],"readStatus":"unread","receivedAfter":"={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"}},"id":"3f506f2b-77c8-4110-bcbe-8037b0884aa5","name":"Get Email","type":"n8n-nodes-base.gmailTool","position":[1872,576],"webhookId":"abf7e707-2eb8-4063-a920-b8ed975b0d70","typeVersion":2.1},{"parameters":{"options":{}},"id":"94b2ef97-2e9b-4af3-ad81-2b64fd380992","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1632,576],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"c87684a2-3e24-4bb8-b4a7-b9fee9b54b09","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[832,256],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"0865a547-aba6-4e5c-af34-c6d221133858","name":"Telegram","type":"n8n-nodes-base.telegram","position":[2272,256],"webhookId":"e699405e-8e52-4d38-a06b-1fa8edf050bd","typeVersion":1.1,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0bf9719-4272-46f6-ab3b-eda6f7b44fd8","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"options":{}},"id":"7a9ef949-d586-4eed-a5e3-92218c394f9c","name":"If","type":"n8n-nodes-base.if","position":[1200,256],"typeVersion":2.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"15e31e41-aab5-4665-b21f-959618fedcaf","name":"Speech to Text","type":"@n8n/n8n-nodes-langchain.openAi","position":[1616,256],"typeVersion":1.3},{"parameters":{"fields":{"values":[{"name":"text","stringValue":"={{ $json?.message?.text || \"\" }}"}]},"options":{}},"id":"a2f2dcc3-73d8-429f-a56d-63de486fa916","name":"Voice or Text","type":"n8n-nodes-base.set","position":[1040,256],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Listen for incoming events').item.json.message.voice.file_id }}","additionalFields":{}},"id":"49f3322a-8c90-4786-87c1-7996e86dbf9a","name":"Get Voice File","type":"n8n-nodes-base.telegram","position":[1376,256],"webhookId":"24273e7e-6133-415e-8627-a9d6dc0f107c","typeVersion":1.1},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- When fetching emails, filter out any promotional emails. \n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- Use baserow tool to answer questions about tasks\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away"}},"id":"4512e0b0-c44d-48ac-97e7-e9bd2e9a6ed8","name":"Angie, AI Assistant 👩🏻‍🏫","type":"@n8n/n8n-nodes-langchain.agent","position":[1776,256],"typeVersion":1.6},{"parameters":{"content":"## Process Telegram Request\n","height":278.75,"width":496.25,"color":5},"id":"a9358236-bcab-444e-9f52-a4c6f2c5a5b4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1008,160],"typeVersion":1},{"parameters":{"databaseId":146496,"tableId":372174,"additionalOptions":{}},"id":"b47396ef-2a33-4e74-9f1e-f7b05f92bce5","name":"Tasks","type":"n8n-nodes-base.baserowTool","position":[2112,576],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Useful for getting contact information.  For example emails or phone numbers.","databaseId":146496,"tableId":372177,"additionalOptions":{}},"id":"8e86abe5-41d2-4b75-90b1-f50cfcbd4ab0","name":"Contacts","type":"n8n-nodes-base.baserowTool","position":[2240,576],"typeVersion":1},{"parameters":{"content":"## [Video Tutorial](https://youtu.be/pXjowPc6V2s)\n@[youtube](pXjowPc6V2s)\n\n\n## Overview\nMeet Angie - your personal AI assistant that handles voice & text via Telegram to manage your digital life.\n\n**To get started:**\n\n1. **Connect all credentials** (Telegram, OpenAI, Gmail, etc.)\n2. **Activate the workflow** and message your Telegram bot:\n   • \"What emails do I have today?\"\n   • \"Show me my calendar for tomorrow\"\n   • \"Craete new to-do item\"\n   • 🎤 Send voice messages for hands-free interaction\n\n## Questions or Need Help?\n\nFor setup assistance, customization, or workflow support, join my Skool community!\n\n## [AI Automation Engineering Community](https://www.skool.com/ai-automation-engineering-3014)\n\nHappy learning! -- Derek Cheung","height":960,"width":720,"color":5},"id":"1709c858-7684-48bf-82e7-54fe11e3f28d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Get Voice File","type":"main","index":0}],[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"main","index":0}]]},"Tasks":{"ai_tool":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"ai_tool","index":0}]]},"Contacts":{"ai_tool":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"ai_tool","index":0}]]},"Get Email":{"ai_tool":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"ai_tool","index":0}]]},"Voice or Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Voice File":{"main":[[{"node":"Speech to Text","type":"main","index":0}]]},"Speech to Text":{"main":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Angie, AI Assistant 👩🏻‍🏫","type":"ai_memory","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]},"Angie, AI Assistant 👩🏻‍🏫":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f39936de-28be-4842-8c95-4517d1ddc1e7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-26T04:57:35.697Z","createdAt":"2025-10-26T04:57:35.697Z","role":"workflow:owner","workflowId":"ZUBxR99hK0OaWFH8","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]