n8n-workflows1/Reddit Search Bot via Telegram.json
[{"updatedAt":"2025-12-03T06:28:37.000Z","createdAt":"2025-12-03T05:48:31.215Z","id":"KFKh0lmKlRcZap3D","name":"Reddit Search Bot via Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{}},"id":"464d9fe3-b139-4aea-b9cb-092304d577cd","name":"Send a text message","type":"n8n-nodes-base.telegram","position":[1488,16],"webhookId":"{{WEBHOOK_ID_PLACEHOLDER}}","typeVersion":1.2},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ed291897-d965-4e61-be99-a9654022b2b4","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1184,16],"webhookId":"{{WEBHOOK_ID_PLACEHOLDER}}","typeVersion":1.2},{"parameters":{"content":"## Cast a wide net\n\nWe're running four searches at once because Reddit ranks posts differently based on sorting method. Top shows highest upvotes, Hot tracks trending discussions, Relevance matches your keywords best, and New catches fresh content. This ensures we don't miss important posts just because they're ranked differently.","height":256,"width":320,"color":7},"id":"74c9e83e-e4cc-43bb-aa69-a19649a74294","name":"Reddit Search","type":"n8n-nodes-base.stickyNote","position":[-816,-544],"typeVersion":1},{"parameters":{"content":"## Filter out the noise\n\nFour searches means lots of duplicates and low-quality posts. We combine everything, remove posts that appear multiple times, grab only the data we need (title, upvotes, content, etc.), then filter for posts with real engagement at least 50 upvotes and posted within the last 15 days. This keeps results fresh and relevant while cutting out spam and dead threads.","height":156,"width":880,"color":2},"id":"d39d0956-4d6e-4627-8c88-1ee39624c999","name":"Data Processing","type":"n8n-nodes-base.stickyNote","position":[80,-176],"typeVersion":1},{"parameters":{"content":"## Let AI do the reading\n\nGoogle Gemini reads through all the filtered posts and creates a clean summary for you. It pulls out the key points, adds upvote counts and dates, includes direct links, and formats everything so it looks good in Telegram. No need to open dozens of tabs you get the best discussions delivered in one message.","height":156,"width":560,"color":4},"id":"f33e5ab8-267e-4c2b-9898-117b8d528add","name":"AI Summary","type":"n8n-nodes-base.stickyNote","position":[1040,-160],"typeVersion":1},{"parameters":{"operation":"search","location":"allReddit","keyword":"={{ $json.message.text }}","additionalFields":{"sort":"top"}},"id":"ed0fc487-1faa-4740-85ff-795ce57e5433","name":" Search: Top Posts","type":"n8n-nodes-base.reddit","position":[-672,-272],"typeVersion":1},{"parameters":{"operation":"search","location":"allReddit","keyword":"={{ $json.message.text }}","additionalFields":{"sort":"hot"}},"id":"26b4442f-bef9-4147-8946-7356ec9f03f0","name":"Search: Hot Posts","type":"n8n-nodes-base.reddit","position":[-672,-64],"typeVersion":1},{"parameters":{"operation":"search","location":"allReddit","keyword":"={{ $json.message.text }}","additionalFields":{"sort":"relevance"}},"id":"be125d6b-2c5a-489a-985d-09f6603fd383","name":" Search: Relevance","type":"n8n-nodes-base.reddit","position":[-656,128],"typeVersion":1},{"parameters":{"operation":"search","location":"allReddit","keyword":"={{ $json.message.text }}","additionalFields":{"sort":"new"}},"id":"69589121-5413-4ee6-9d1a-6e538d87ba48","name":"Search: new","type":"n8n-nodes-base.reddit","position":[-656,352],"typeVersion":1},{"parameters":{"numberInputs":4},"id":"ea7e8869-5a4e-4975-b43f-bb9189d42451","name":"Merge All Searches","type":"n8n-nodes-base.merge","position":[-144,-16],"typeVersion":3.2},{"parameters":{"jsCode":"// Code node: \"Remove Duplicates\"\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of $input.all()) {\n  const postId = item.json.id || item.json.name;\n  if (!seen.has(postId)) {\n    seen.add(postId);\n    uniqueItems.push(item);\n  }\n}\n\nreturn uniqueItems;"},"id":"075e323f-4128-4d02-9d46-8daf7c64b7f9","name":"Remove Duplicates","type":"n8n-nodes-base.code","position":[112,16],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"{{ASSIGNMENT_ID_1}}","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"{{ASSIGNMENT_ID_2}}","name":"upvotes","type":"string","value":"={{ $json.ups }}"},{"id":"{{ASSIGNMENT_ID_3}}","name":"subreddit_subscribers","type":"string","value":"={{ $json.subreddit_subscribers }}"},{"id":"{{ASSIGNMENT_ID_4}}","name":"subreddit","type":"string","value":"={{ $json.subreddit }}"},{"id":"{{ASSIGNMENT_ID_5}}","name":"date","type":"string","value":"={{ DateTime.fromSeconds($json.created).toLocaleString() }}"},{"id":"{{ASSIGNMENT_ID_6}}","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"{{ASSIGNMENT_ID_7}}","name":"content","type":"string","value":"={{ $json.selftext }}"}]},"options":{}},"id":"670eaf09-cd60-4037-b85b-2714a6a8cdbc","name":"Extract Post Data","type":"n8n-nodes-base.set","position":[352,16],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"{{CONDITION_ID_1}}","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.upvotes }}","rightValue":50},{"id":"{{CONDITION_ID_2}}","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"{{CONDITION_ID_3}}","operator":{"type":"dateTime","operation":"after"},"leftValue":"={{ $json.date }}","rightValue":"={{ $now.minus({days: 15}).toFormat('M/d/yyyy') }}"}]},"looseTypeValidation":true,"options":{}},"id":"86cc90c6-1723-4972-b150-da06554c6005","name":"Filter Quality Posts","type":"n8n-nodes-base.filter","position":[592,16],"typeVersion":2.2},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"58bab221-0841-4fec-bc15-b7237919de2c","name":"Combine for AI","type":"n8n-nodes-base.aggregate","position":[832,16],"typeVersion":1},{"parameters":{"promptType":"define","text":"=give summary to the user with links \n\nuser keyword :-  {{ $('Telegram Trigger').item.json.message.text }}\nreddit content :- \n{{ $json.data.toJsonString() }}","options":{"systemMessage":"You are a Reddit summarizer that creates clean, readable summaries for Telegram.\n\nFormat your response like this:\n\nHere are the top Reddit discussions about [keyword]:\n\n1. Title of post\nUpvotes: [number] | Posted: [date]\nBrief summary in 1-2 sentences\nLink: [reddit url]\n\n2. Title of post\nUpvotes: [number] | Posted: [date]\nBrief summary in 1-2 sentences\nLink: [reddit url]\n\nInclude 5-7 of the most relevant posts. Keep summaries concise and focus on the key information from each post. Use minimal formatting and avoid excessive symbols or emojis.\n\nIf no relevant posts are found, respond with: No recent popular posts found for this topic."}},"id":"3c45c7b0-bc32-49d7-8373-84d4c3fcf877","name":"Generate Summary","type":"@n8n/n8n-nodes-langchain.agent","position":[1136,16],"typeVersion":2.2},{"parameters":{"options":{}},"id":"a803f395-d7cf-48f0-8757-a4713cf8a38e","name":"Google Gemini Chat Model7","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1104,208],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}","contextWindowLength":500},"id":"17ad9300-1623-4b45-abc0-8fd975c07005","name":"Simple Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1232,240],"typeVersion":1.3},{"parameters":{"content":"## Reddit Search Bot via Telegram\n\nText your Telegram bot any topic and get back an AI-summarized list of the most relevant Reddit discussions complete with upvotes, dates, and links.\n\n**Why this workflow exists:** Searching Reddit manually means opening multiple tabs, dealing with different sorting options, and reading through dozens of posts. This bot does all that work for you in seconds.\n\n**Setup (5 minutes):**\n1. Add Reddit OAuth2 credentials to all Reddit nodes\n2. Connect your Google Gemini API key\n3. Create a bot via @BotFather on Telegram, add the token here\n4. Activate workflow\n5. Message your bot with any search term\n\n**What you'll get:** Top 5-7 discussions with context, sorted by relevance and engagement.","height":520,"width":400},"id":"3efa7b59-fde9-4e06-b895-d6f3580fb061","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1648,-128],"typeVersion":1}],"connections":{"Search: new":{"main":[[{"node":"Merge All Searches","type":"main","index":3}]]},"Combine for AI":{"main":[[{"node":"Generate Summary","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Generate Summary","type":"ai_memory","index":0}]]},"Generate Summary":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":" Search: Top Posts","type":"main","index":0},{"node":"Search: Hot Posts","type":"main","index":0},{"node":" Search: Relevance","type":"main","index":0},{"node":"Search: new","type":"main","index":0}]]},"Extract Post Data":{"main":[[{"node":"Filter Quality Posts","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Extract Post Data","type":"main","index":0}]]},"Search: Hot Posts":{"main":[[{"node":"Merge All Searches","type":"main","index":1}]]}," Search: Relevance":{"main":[[{"node":"Merge All Searches","type":"main","index":2}]]}," Search: Top Posts":{"main":[[{"node":"Merge All Searches","type":"main","index":0}]]},"Merge All Searches":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Filter Quality Posts":{"main":[[{"node":"Combine for AI","type":"main","index":0}]]},"Google Gemini Chat Model7":{"ai_languageModel":[[{"node":"Generate Summary","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a211a49a-681e-4313-8daf-0e5f7713bc65","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T05:48:31.220Z","createdAt":"2025-12-03T05:48:31.220Z","role":"workflow:owner","workflowId":"KFKh0lmKlRcZap3D","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]