n8n-workflows1/Save Workflows to Google Drive.json
[{"updatedAt":"2025-11-20T10:47:48.000Z","createdAt":"2025-10-10T08:47:13.470Z","id":"ZYfl7rczAwsghWsm","name":"Save Workflows to Google Drive","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"toJson","options":{"format":true,"fileName":"={{ $json.name + \".json\" }} "}},"id":"168ba32b-d821-43d1-97c9-f7848a351222","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[736,2064],"typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"10c819af-b1ed-47c9-8081-34a29b52f5c4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-160,2080],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('Create new folder').item.json.id }}"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"06fdd685-5e0a-4c2a-a3b0-f456438ff13d","name":"Filter","type":"n8n-nodes-base.filter","position":[736,1888],"typeVersion":2.2},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"568ba239-d201-42b2-918f-500c05550106","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[960,1888],"typeVersion":3},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"12V9t6LOQLc33-BjDPk3ShgDeW2DvN_ua","mode":"list","cachedResultName":"Workflow Backups","cachedResultUrl":"https://drive.google.com/drive/folders/12V9t6LOQLc33-BjDPk3ShgDeW2DvN_ua"}},"options":{}},"id":"0803a8e1-483c-4d9c-9340-4147546bf0f3","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[288,1888],"typeVersion":3},{"parameters":{},"id":"2b131486-ef04-4627-ab0e-00d88e9c98d1","name":"Manual trigger","type":"n8n-nodes-base.manualTrigger","position":[-160,1888],"typeVersion":1},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"12oEaUMItI7unIJ5NLizlXtn9F8liAxN5","mode":"list","cachedResultName":"N8N Workflows Backup","cachedResultUrl":"https://drive.google.com/drive/folders/12oEaUMItI7unIJ5NLizlXtn9F8liAxN5"},"options":{}},"id":"0c0c7d17-31d6-4836-b1e6-61aafe4b1e7d","name":"Create new folder","type":"n8n-nodes-base.googleDrive","position":[64,1984],"typeVersion":3},{"parameters":{"options":{}},"id":"4d8a8845-28c1-4d84-8278-12ac6647ca93","name":"Loop ","type":"n8n-nodes-base.splitInBatches","position":[512,2080],"typeVersion":3},{"parameters":{"name":"={{ $('Loop ').item.json.name + \".json\" }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Create new folder').item.json.id }}"},"options":{}},"id":"64bf7ba9-2ad6-40a2-b669-910c113d5bed","name":"Upload workflow","type":"n8n-nodes-base.googleDrive","position":[960,2080],"typeVersion":3},{"parameters":{},"id":"b71847e8-5ab6-440c-b512-eeb3c7294841","name":"Limit","type":"n8n-nodes-base.limit","position":[512,1888],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"0c68969a-9b03-4546-9416-fc95e3e0617c","name":"Get n8n workflow","type":"n8n-nodes-base.n8n","position":[288,2080],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":true},{"parameters":{"content":"# 🔄 Workflow Backup for n8n → Google Drive\n\nAn automated system to back up all your n8n workflows and store them as `.json` files in Google Drive.  \nPerfect for creators, teams, and agencies who want to protect their work without manual effort.\n\n---\n\n## ✨ What this workflow does\n\n- Creates a new folder in Google Drive named `Workflow Backups [date]`\n- Fetches all workflows from your n8n instance via the `n8n API`\n- Converts each workflow into a `.json` file\n- Uploads the files to the created backup folder\n- (Optionally) Deletes old backup folders to keep things tidy\n- Can run manually or automatically (e.g., weekly)\n\n---\n\n## 🛠 Requirements\n\n- A Google account with access to Google Drive\n- Connected `Google Drive OAuth2` credentials in n8n\n- Active `n8n API credentials`\n- Enabled trigger: `Manual` or `Schedule`\n\n---\n\n## ⚙️ Installation Instructions\n\n1. **Import the workflow** (`Workflow_Backup_copy.json`) into your n8n instance\n2. **Set up credentials:**\n   - Replace `Google demo` with your own `Google Drive OAuth2` in the following nodes:\n     - `Create new folder`\n     - `Get folders`\n     - `Upload workflow`\n     - `delete folder`\n   - Replace `n8n demo` with your `n8n API` credentials in `Get n8n workflow`\n3. **Replace the folder ID** in the `Create new folder` node with the target backup folder on your Drive (`folderId`)\n4. **Optional:** Configure `Schedule Trigger` to run weekly or at your preferred interval\n\n---\n\n## 📦 Workflow Structure\n\n```\nManual/Schedule Trigger\n      ↓\nCreate new folder (Google Drive)\n      ↓\nGet n8n workflows (via API)\n      ↓\nLoop through workflows\n      ↓\nConvert to .json files\n      ↓\nUpload to Drive\n      ↓\n(Optional) Delete old backup folders\n```\n\n---\n\n## ✅ Tips\n\n- Add logic to retain only the latest X backups (e.g., last 3).\n- The workflow can run fully hands-free once scheduled.\n- Want to store files elsewhere? Swap out the upload node for Dropbox, S3, etc.\n","height":1660,"width":1320,"color":4},"id":"70ef05ab-2378-4c66-a588-a38ddf314d15","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Manual trigger":{"main":[[{"node":"Create new folder","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create new folder","type":"main","index":0}]]},"Create new folder":{"main":[[{"node":"Get n8n workflow","type":"main","index":0},{"node":"Get folders","type":"main","index":0}]]},"Get n8n workflow":{"main":[[{"node":"Loop ","type":"main","index":0}]]},"Loop ":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Create new folder","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload workflow","type":"main","index":0}]]},"Get folders":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"delete folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ad9d2333-e77f-473d-9f50-752bd7efc26f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-10T08:47:13.476Z","createdAt":"2025-10-10T08:47:13.476Z","role":"workflow:owner","workflowId":"ZYfl7rczAwsghWsm","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]