n8n-workflows1/Scrape LinkedIn Competitors Posts.json
[{"updatedAt":"2025-12-12T05:29:55.000Z","createdAt":"2025-12-12T05:28:24.627Z","id":"B8Jb7Iuug4pGfxtG","name":"Scrape LinkedIn Competitors Posts","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,192],"id":"f8f629aa-93ed-420a-a7e0-717dfc3850b5","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk","mode":"list","cachedResultName":"Linkedin creators I like as well as are my competitors lol","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,192],"id":"3a5980c6-86cd-4060-bc63-6d1fe99e1c97","name":"Google Sheets"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/r4oNX7IHlW4RQAjKP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer {{$env.APIFY_API_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"usernames\": [\n        \"{{ $json['Linkedin url'] }}\"\n    ]\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,384],"id":"231d0b9d-1b23-4659-b0e5-918dea51fe1f","name":"Profile Scraping"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96a00fd4-c855-4b10-88ea-ee8d939ec849","leftValue":"={{ $json.stats.reposts }}","rightValue":20,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[912,384],"id":"fe1567a7-3567-43af-b729-0aac4fd7a49c","name":"Filter"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk","mode":"list","cachedResultName":"Linkedin creators I like as well as are my competitors lol","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1299977860,"mode":"list","cachedResultName":"Linkedin Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VefVC_KK4d3lAPdSvFCt4p4mB1U0f5mrVN3cjrT6GVk/edit#gid=1299977860"},"columns":{"mappingMode":"defineBelow","value":{"Creator Name":"={{ $json.author.first_name }} {{ $json.author.last_name }}","Linkedin Post URL":"={{ $json.url }}","Caption/Text/Copy":"={{ $json.text }}","Likes":"={{ $json.stats.total_reactions }}","Comments":"={{ $json.stats.comments }}","Reposts":"={{ $json.stats.reposts }}","Date and Time Published":"={{ $json.posted_at.date }}"},"matchingColumns":[],"schema":[{"id":"Linkedin Post URL","displayName":"Linkedin Post URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Name","displayName":"Creator Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Caption/Text/Copy","displayName":"Caption/Text/Copy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comments","displayName":"Comments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reposts","displayName":"Reposts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date and Time Published","displayName":"Date and Time Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1104,384],"id":"55b1a79a-02e0-4c8f-8560-f667cd808660","name":"Google Sheets2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,192],"id":"bab71d01-3829-431f-a616-0db85ab10986","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"4e3eb7ed-40c8-47d0-aa7e-5f3b1e43fc53","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Profile Scraping":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Profile Scraping","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cf3b9fdb-77ab-4775-96a0-7aa3d2e94b56","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T05:28:24.644Z","createdAt":"2025-12-12T05:28:24.644Z","role":"workflow:owner","workflowId":"B8Jb7Iuug4pGfxtG","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]