n8n-workflows1/Smart Geo-fence Alert Automation System.json
[{"updatedAt":"2025-11-02T07:40:58.000Z","createdAt":"2025-11-02T07:35:06.927Z","id":"ugjbj9djHvBdkGaj","name":"Smart Geo-fence Alert Automation System","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gps-update","responseMode":"responseNode","options":{}},"id":"501395f9-1ac3-4ff6-b930-0c3865200ed6","name":"Webhook - GPS Data","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-352,576],"webhookId":"gps-tracking-webhook"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"4b2b3af1-31cc-41ee-b7cf-1e48d6ce1e66","name":"Geo-fence Detection Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,480]},{"parameters":{},"id":"3edb142b-9bb7-4a5a-bab9-77367104e3a8","name":"Route by Alert Level","type":"n8n-nodes-base.switch","typeVersion":1,"position":[96,448]},{"parameters":{},"id":"3daa8866-aca7-4ad9-8825-d863986c04d4","name":"Format Critical Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,432]},{"parameters":{},"id":"a12732d7-9bcb-4a7d-ba6e-fcc4c4d2dca3","name":"Format Normal Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,912]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C1234567890","mode":"id"},"messageType":"block","blocksUi":"={{ $json.slackPayload.blocks }}","otherOptions":{}},"id":"f27463a8-bbac-4589-8141-ba67b4b8adc4","name":"Send to Slack - Critical","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[544,240],"webhookId":"925ffe4b-e6fe-40ab-8be6-dab3f2a48533"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0987654321","mode":"id"},"messageType":"block","blocksUi":"={{ $json.slackPayload.blocks }}","otherOptions":{}},"id":"82749a64-c977-4fe4-82d5-33413fdfb481","name":"Send to Slack - Normal","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[544,816],"webhookId":"54ad796e-4dba-4252-be15-84e69150d42e"},{"parameters":{"fromEmail":"alerts@geometris.com","toEmail":"={{ $json.alertLevel === 'critical' ? 'manager@company.com' : 'supervisor@company.com' }}","subject":"={{ $json.emailSubject }}","options":{}},"id":"927362b2-cc9f-4618-b50c-7c2fd3a556c2","name":"Send Email - Critical","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[544,432],"webhookId":"e303b0f2-c3eb-4c45-afa6-9b4d63315025"},{"parameters":{"fromEmail":"alerts@geometris.com","toEmail":"supervisor@company.com","subject":"={{ $json.emailSubject }}","options":{}},"id":"ff8c3c03-b15b-470d-acc8-bcb2f7f64c9d","name":"Send Email - Normal","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[544,1008],"webhookId":"a7a493eb-c733-43cb-ae91-e913873e5b26"},{"parameters":{"message":"={{ $json.smsBody }}","options":{}},"id":"83e4d851-31f3-4564-a97c-ff32290398b3","name":"Send SMS - Critical Only","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[544,624]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"alert_logs","mode":"list"},"options":{}},"id":"6c6e6103-a137-4d9c-bda1-aa594800d6b3","name":"Log Alert to Database","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[768,576]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.escalate }}","value2":true}]}},"id":"df2d3358-3797-4185-bd56-e7a48e15f410","name":"Check if Escalation Needed","type":"n8n-nodes-base.if","typeVersion":1,"position":[992,480]},{"parameters":{"amount":"={{ $json.escalationTime }}","unit":"seconds"},"id":"b06bc423-fe72-4455-8936-d0b9ff4f4597","name":"Wait for Escalation Time","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1216,480],"webhookId":"escalation-wait"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as count FROM alert_logs WHERE asset_id = '{{ $json.assetId }}' AND acknowledged = false AND timestamp >= '{{ $json.timestamp }}'","options":{}},"id":"4a891b48-943a-483a-bbdb-931b1a0b07f4","name":"Check if Alert Acknowledged","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,480]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.count }}","operation":"largerEqual","value2":1}]}},"id":"daa276d3-d60d-4289-9eb9-d0944aec0e39","name":"If Still Not Acknowledged","type":"n8n-nodes-base.if","typeVersion":1,"position":[1664,480]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C_ESCALATION","mode":"id"},"text":"🚨🚨 ESCALATED ALERT - NO ACKNOWLEDGMENT 🚨🚨\\n\\nAsset {{ $json.assetId }} alert has NOT been acknowledged after {{ $json.escalationTime / 60 }} minutes.\\n\\n@channel - IMMEDIATE ATTENTION REQUIRED","otherOptions":{}},"id":"6456dea5-083a-4ac5-9485-e4cb12222256","name":"Escalate to Management","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1888,432],"webhookId":"e1597651-5de4-4b1e-9a6b-929552c01371"},{"parameters":{"fromEmail":"critical-alerts@geometris.com","toEmail":"ceo@company.com,operations-director@company.com","subject":"🚨 ESCALATED: Unacknowledged Critical Alert - {{ $json.assetId }}","options":{}},"id":"94560395-8d86-48ed-b31b-0d66366d9361","name":"Escalate via Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1888,624],"webhookId":"85f42dcc-8b02-4fa6-93fb-366ab84059f2"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"GPS data processed\", \"alertsGenerated\": $json.alertsGenerated || 0 } }}","options":{}},"id":"52117b6c-d0de-4501-a84a-7300eb798559","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[992,672]},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"c397948c-7e07-49e3-aea7-5e2ac055fab1","name":"Schedule - Check Idle Assets","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-352,960]},{"parameters":{"operation":"executeQuery","query":"SELECT asset_id, MAX(timestamp) as last_update, MAX(latitude) as latitude, MAX(longitude) as longitude, EXTRACT(EPOCH FROM (NOW() - MAX(timestamp))) as idle_seconds FROM gps_data GROUP BY asset_id HAVING EXTRACT(EPOCH FROM (NOW() - MAX(timestamp))) > 1800","options":{}},"id":"66b7f767-55e9-468b-be3b-21c309d1795f","name":"Query Idle Assets","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-128,960]},{"parameters":{},"id":"8ebf2f59-62a1-4b3c-9ca8-bda1505ad876","name":"Format Idle Alerts","type":"n8n-nodes-base.code","typeVersion":2,"position":[96,960]},{"parameters":{"httpMethod":"POST","path":"acknowledge-alert","responseMode":"responseNode","options":{}},"id":"e2c2b965-77d3-4968-8b9f-07ab5f19d5a6","name":"Webhook - Acknowledge Alert","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-352,1232],"webhookId":"acknowledge-webhook"},{"parameters":{"operation":"executeQuery","query":"UPDATE alert_logs SET acknowledged = true, acknowledged_at = NOW(), acknowledged_by = '{{ $json.body.userId }}' WHERE asset_id = '{{ $json.body.assetId }}' AND timestamp = '{{ $json.body.timestamp }}' RETURNING *","options":{}},"id":"89983ffd-6ec1-47f6-a9a0-ea5643214fae","name":"Update Alert Acknowledgment","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-128,1232]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Alert acknowledged\", \"assetId\": $json.asset_id, \"acknowledgedAt\": $json.acknowledged_at } }}","options":{}},"id":"129df74f-9984-4ccf-aa07-826ef2636abb","name":"Respond Acknowledgment","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[96,1232]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO gps_data (asset_id, latitude, longitude, speed, heading, timestamp) VALUES ('{{ $json.assetId }}', {{ $json.latitude }}, {{ $json.longitude }}, {{ $json.speed }}, {{ $json.heading }}, '{{ $json.timestamp }}') ON CONFLICT (asset_id, timestamp) DO UPDATE SET latitude = EXCLUDED.latitude, longitude = EXCLUDED.longitude, speed = EXCLUDED.speed, heading = EXCLUDED.heading","options":{}},"id":"f09771c8-9761-4425-9700-85157a50cb3b","name":"Store GPS Data","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-128,720]}],"connections":{"Webhook - GPS Data":{"main":[[{"node":"Geo-fence Detection Logic","type":"main","index":0},{"node":"Store GPS Data","type":"main","index":0}]]},"Geo-fence Detection Logic":{"main":[[{"node":"Route by Alert Level","type":"main","index":0}]]},"Route by Alert Level":{"main":[[{"node":"Format Critical Alert","type":"main","index":0}],[{"node":"Format Normal Alert","type":"main","index":0}]]},"Format Critical Alert":{"main":[[{"node":"Send to Slack - Critical","type":"main","index":0},{"node":"Send Email - Critical","type":"main","index":0},{"node":"Send SMS - Critical Only","type":"main","index":0}]]},"Format Normal Alert":{"main":[[{"node":"Send to Slack - Normal","type":"main","index":0},{"node":"Send Email - Normal","type":"main","index":0}]]},"Send to Slack - Critical":{"main":[[{"node":"Log Alert to Database","type":"main","index":0}]]},"Send Email - Critical":{"main":[[{"node":"Log Alert to Database","type":"main","index":0}]]},"Send SMS - Critical Only":{"main":[[{"node":"Log Alert to Database","type":"main","index":0}]]},"Send to Slack - Normal":{"main":[[{"node":"Log Alert to Database","type":"main","index":0}]]},"Send Email - Normal":{"main":[[{"node":"Log Alert to Database","type":"main","index":0}]]},"Log Alert to Database":{"main":[[{"node":"Check if Escalation Needed","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"Check if Escalation Needed":{"main":[[{"node":"Wait for Escalation Time","type":"main","index":0}]]},"Wait for Escalation Time":{"main":[[{"node":"Check if Alert Acknowledged","type":"main","index":0}]]},"Check if Alert Acknowledged":{"main":[[{"node":"If Still Not Acknowledged","type":"main","index":0}]]},"If Still Not Acknowledged":{"main":[[{"node":"Escalate to Management","type":"main","index":0},{"node":"Escalate via Email","type":"main","index":0}]]},"Schedule - Check Idle Assets":{"main":[[{"node":"Query Idle Assets","type":"main","index":0}]]},"Query Idle Assets":{"main":[[{"node":"Format Idle Alerts","type":"main","index":0}]]},"Format Idle Alerts":{"main":[[{"node":"Format Normal Alert","type":"main","index":0}]]},"Webhook - Acknowledge Alert":{"main":[[{"node":"Update Alert Acknowledgment","type":"main","index":0}]]},"Update Alert Acknowledgment":{"main":[[{"node":"Respond Acknowledgment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"36759a65-8a38-4762-adef-3665a79c8102","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-02T07:35:06.957Z","createdAt":"2025-11-02T07:35:06.957Z","role":"workflow:owner","workflowId":"ugjbj9djHvBdkGaj","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]