n8n-workflows1/Social Media Auto-Poster (Fixed & Complete).json
[{"updatedAt":"2025-12-25T05:53:09.254Z","createdAt":"2025-12-22T09:12:03.708Z","id":"pa8jQ98Joj6369ul","name":"Social Media Auto-Poster (Fixed & Complete)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a408d5d9-9381-41aa-944c-6be78f71d561","name":"Manual Trigger (Test)","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[128,304]},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"d84b9ae5-1c4a-4e44-bef0-58a0e0a9157e","name":"Daily Schedule (9 AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[128,112]},{"parameters":{"documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"list","cachedResultName":"Linkedin X Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"row_number","lookupValue":"={{ $json.row_number }}"}]},"options":{"returnFirstMatch":true}},"id":"330a9694-ec9b-4c02-a47f-176c73dfe191","name":"Read Content Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,208],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json['Content Topic'] }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"4cb9c84a-91c2-4a59-8e07-48eb60659881","name":"Check Content Available","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[576,208]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Workflow Configuration').first().json.groqApiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert social media ghostwriter. Generate engaging, platform-specific content. Always return pure JSON without markdown code blocks or any additional text. Format: {\\\"linkedin_content\\\": \\\"...\\\", \\\"twitter_content\\\": \\\"...\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Transform this topic into engaging social media posts:\\n\\nTopic: {{ $json['Content Topic'] }}\\nContext: {{ $json.Notes || 'None provided' }}\\n\\nCreate:\\n1. LinkedIn post (200-300 words): Professional tone, compelling hook, clear value proposition, call-to-action, 3 relevant hashtags\\n2. Twitter post (250-280 characters): Casual tone, catchy, conversational, 2-3 hashtags\\n\\nReturn ONLY valid JSON: {\\\"linkedin_content\\\": \\\"...\\\", \\\"twitter_content\\\": \\\"...\\\"}\"\n    }\n  ],\n  \"max_tokens\": 600,\n  \"temperature\": 0.7\n}","options":{}},"id":"03161fc4-7ae7-4cb3-9eea-ec317463f860","name":"Generate Content with Groq AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[800,208]},{"parameters":{"jsCode":"// Get the Groq API response\nconst response = $input.first().json;\n\ntry {\n  // Extract the AI's message content\n  let aiContent = response.choices[0].message.content;\n  \n  // Clean up any potential markdown formatting\n  aiContent = aiContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Parse the JSON\n  const parsedContent = JSON.parse(aiContent);\n  \n  // Validate that we have both required fields\n  if (!parsedContent.linkedin_content || !parsedContent.twitter_content) {\n    throw new Error('Missing required content fields');\n  }\n  \n  // Get original data from Google Sheets\n  const originalData = $('Read Content Queue').first().json;\n  \n  // Return structured output\n  return {\n    json: {\n      linkedin_content: parsedContent.linkedin_content.trim(),\n      twitter_content: parsedContent.twitter_content.trim(),\n      original_topic: originalData['Content Topic'],\n      row_number: originalData.row_number,\n      timestamp: new Date().toISOString(),\n      parsing_success: true\n    }\n  };\n  \n} catch (error) {\n  // If parsing fails, return error data\n  return {\n    json: {\n      parsing_success: false,\n      error_message: error.message,\n      raw_response: response,\n      original_topic: $('Read Content Queue').first().json['Content Topic'],\n      row_number: $('Read Content Queue').first().json.row_number\n    }\n  };\n}"},"id":"3b5fa5d9-a602-47e7-a9f4-499196dd700f","name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,208]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.parsing_success }}","rightValue":"true","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"de4878af-88bf-4271-bc2c-852623bb36ca","name":"Check Generation Success","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1248,208]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn Content":"={{ $json.linkedin_content }}","Twitter Content":"={{ $json.twitter_content }}"},"matchingColumns":["row_number"],"schema":[{"id":"LinkedIn Content","displayName":"LinkedIn Content","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":true,"canBeUsedToMatch":true}]},"options":{}},"id":"e71046c5-de98-44b7-b1c5-2b175a8b091d","name":"Store Generated Content","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1472,112],"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $('Workflow Configuration').first().json.telegramChatId }}","text":"=📝 **New Content Generated - Please Review**\n\n🎯 **Topic:** {{ $json.original_topic }}\n\n━━━━━━━━━━━━━━━━━━━━\n\n**📱 LinkedIn Post:**\n{{ $json.linkedin_content }}\n\n━━━━━━━━━━━━━━━━━━━━\n\n**🐦 Twitter Post:**\n{{ $json.twitter_content }}\n\n━━━━━━━━━━━━━━━━━━━━\n\n✅ Approve to publish immediately\n❌ Reject to skip this post","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Approve & Post","additionalFields":{"callback_data":"=approve:{{ $json.row_number }}"}},{"text":"❌ Reject","additionalFields":{"callback_data":"=reject:{{ $json.row_number }}"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"id":"4dd0500d-6770-4787-aa61-b1ff8be5af78","name":"Send Approval Request to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1696,112],"webhookId":"15e67f32-871d-4daf-959d-61e9fd0d92b9","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Awaiting Approval","Date Posted":"={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date Posted","displayName":"Date Posted","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":true,"canBeUsedToMatch":true}]},"options":{}},"id":"2f438eb6-cad7-45de-9155-f5342a280353","name":"Update Status to Awaiting","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1920,112],"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"id":"9bb54f26-f0b7-43fa-89c6-207f2fc31526","name":"Telegram Button Response","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[128,720],"webhookId":"telegram-approval-webhook","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"jsCode":"// Extract callback data from Telegram button click\nconst callbackData = $input.first().json.callback_query.data;\n\n// Parse the callback data (format: \"approve:123\" or \"reject:123\")\nconst [action, rowNumber] = callbackData.split(':');\n\nreturn {\n  json: {\n    action: action,\n    row_number: parseInt(rowNumber),\n    chat_id: $input.first().json.callback_query.message.chat.id,\n    message_id: $input.first().json.callback_query.message.message_id\n  }\n};"},"id":"f839bfeb-8bb5-48dd-a26e-e20bb27786db","name":"Parse Telegram Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,720]},{"parameters":{"documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"filtersUI":{"values":[{"lookupColumn":"row_number","lookupValue":"={{ $json.row_number }}"}]},"options":{"returnFirstMatch":true}},"id":"4ec143de-6721-4cb6-b0ad-4568ceb52528","name":"Read Content from Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[576,720],"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $('Parse Telegram Response').first().json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5e3b48c5-cfec-4b07-a461-82e7c20d856c","name":"Check if Approved","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,720]},{"parameters":{"text":"={{ $json['LinkedIn Content'] }}","additionalFields":{}},"id":"6a036029-6eca-4b07-9171-35082f0fde23","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1024,528],"credentials":{"linkedInOAuth2Api":{"id":"57kkCTCqz4KGc1Tw","name":"LinkedIn account"}}},{"parameters":{"text":"={{ $json['Twitter Content'] }}","additionalFields":{}},"id":"35b088d6-1169-4c07-8cb5-2423eb943cf0","name":"Post to Twitter","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1024,720],"credentials":{"twitterOAuth2Api":{"id":"dITtqLZhPnCpKVpz","name":"X account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"623ad99e-925b-4855-afa8-4463f061d283","name":"Merge Post Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1248,624]},{"parameters":{"jsCode":"// Get posting results\nconst items = $input.all();\n\n// Get the row number from earlier in the workflow\nconst rowNumber = $('Parse Telegram Response').first().json.row_number;\n\n// Try to extract LinkedIn URL\nlet linkedinUrl = 'Posted successfully';\ntry {\n  const linkedinResult = items.find(item => \n    item.json.updateUrl || \n    item.json.id?.includes('urn:') ||\n    item.json.postUrl\n  );\n  if (linkedinResult) {\n    linkedinUrl = linkedinResult.json.updateUrl || \n                  linkedinResult.json.postUrl || \n                  'Posted successfully';\n  }\n} catch (e) {\n  console.log('LinkedIn URL extraction failed:', e.message);\n}\n\n// Try to extract Twitter URL\nlet twitterUrl = 'Posted successfully';\ntry {\n  const twitterResult = items.find(item => \n    item.json.id_str || \n    item.json.data?.id\n  );\n  if (twitterResult) {\n    const tweetId = twitterResult.json.id_str || twitterResult.json.data?.id;\n    if (tweetId) {\n      twitterUrl = `https://twitter.com/i/web/status/${tweetId}`;\n    }\n  }\n} catch (e) {\n  console.log('Twitter URL extraction failed:', e.message);\n}\n\n// Return formatted data for sheet update\nreturn {\n  json: {\n    Status: 'Posted',\n    'Date Posted': new Date().toISOString().split('T')[0] + ' ' + new Date().toTimeString().split(' ')[0],\n    'LinkedIn URL': linkedinUrl,\n    'Twitter URL': twitterUrl,\n    row_number: rowNumber\n  }\n};"},"id":"a99368af-0fdf-45af-9210-fb5979ff20c6","name":"Prepare Success Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,624]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.Status }}","Date Posted":"={{ $json['Date Posted'] }}","LinkedIn URL":"={{ $json['LinkedIn URL'] }}","Twitter URL":"={{ $json['Twitter URL'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date Posted","displayName":"Date Posted","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Twitter URL","displayName":"Twitter URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":true,"canBeUsedToMatch":true}]},"options":{}},"id":"656c22a6-58da-40c0-be55-cce1058aa00f","name":"Update Success Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,624],"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $('Parse Telegram Response').first().json.chat_id }}","text":"=✅ **Content Posted Successfully!**\n\n🔗 LinkedIn: {{ $json['LinkedIn URL'] }}\n🐦 Twitter: {{ $json['Twitter URL'] }}\n⏰ Posted at: {{ $json['Date Posted'] }}","additionalFields":{"parse_mode":"Markdown"}},"id":"c8569880-fd6c-4a49-b595-7ef590fdc971","name":"Send Success Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,624],"webhookId":"18d6587d-862b-4782-9964-11532c6f6a93","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Rejected","Date Posted":"={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date Posted","displayName":"Date Posted","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":true,"canBeUsedToMatch":true}]},"options":{}},"id":"48ac6816-0054-453d-8323-7137a2922557","name":"Update Rejected Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1024,912],"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"chatId":"={{ $('Parse Telegram Response').first().json.chat_id }}","text":"❌ **Content Rejected**\n\nStatus updated to \"Rejected\" in Google Sheets.","additionalFields":{"parse_mode":"Markdown"}},"id":"8b103970-c004-41ab-92b6-309c82e1b054","name":"Send Rejection Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1248,912],"webhookId":"791b6d86-53bf-4e0b-88d4-6779ffffd50e","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IzUPSExxerXekGYGavDXOtu2NqwzDg1vOvIwfknL6vU","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Status":"=Failed - {{ $json.error_message }}","Date Posted":"={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date Posted","displayName":"Date Posted","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":true,"canBeUsedToMatch":true}]},"options":{}},"id":"d8ebf477-8e30-4af4-a9bb-dd827d05fdf8","name":"Update Error Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1472,304],"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}}],"connections":{"Manual Trigger (Test)":{"main":[[{"node":"Read Content Queue","type":"main","index":0}]]},"Daily Schedule (9 AM)":{"main":[[{"node":"Read Content Queue","type":"main","index":0}]]},"Read Content Queue":{"main":[[{"node":"Check Content Available","type":"main","index":0}]]},"Check Content Available":{"main":[[{"node":"Generate Content with Groq AI","type":"main","index":0}]]},"Generate Content with Groq AI":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Check Generation Success","type":"main","index":0}]]},"Check Generation Success":{"main":[[{"node":"Store Generated Content","type":"main","index":0}],[{"node":"Update Error Status","type":"main","index":0}]]},"Store Generated Content":{"main":[[{"node":"Send Approval Request to Telegram","type":"main","index":0}]]},"Send Approval Request to Telegram":{"main":[[{"node":"Update Status to Awaiting","type":"main","index":0}]]},"Telegram Button Response":{"main":[[{"node":"Parse Telegram Response","type":"main","index":0}]]},"Parse Telegram Response":{"main":[[{"node":"Read Content from Sheet","type":"main","index":0}]]},"Read Content from Sheet":{"main":[[{"node":"Check if Approved","type":"main","index":0}]]},"Check if Approved":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0},{"node":"Post to Twitter","type":"main","index":0}],[{"node":"Update Rejected Status","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Merge Post Results","type":"main","index":0}]]},"Post to Twitter":{"main":[[{"node":"Merge Post Results","type":"main","index":1}]]},"Merge Post Results":{"main":[[{"node":"Prepare Success Update","type":"main","index":0}]]},"Prepare Success Update":{"main":[[{"node":"Update Success Status","type":"main","index":0}]]},"Update Success Status":{"main":[[{"node":"Send Success Notification","type":"main","index":0}]]},"Update Rejected Status":{"main":[[{"node":"Send Rejection Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5b88aa3c-c2a7-47dc-a74f-8dddacf490ae","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-22T09:12:03.722Z","createdAt":"2025-12-22T09:12:03.722Z","role":"workflow:owner","workflowId":"pa8jQ98Joj6369ul","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]