n8n-workflows1/Telegram Job Posting Extractor.json
[{"updatedAt":"2025-10-27T11:58:44.181Z","createdAt":"2025-10-27T11:58:44.181Z","id":"oAH9KGtZqhbS0RZ2","name":"Telegram Job Posting Extractor","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"4673ea9b-8dbc-4bfe-be8a-609f8d60bbf1","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-1408,32],"webhookId":"your-webhook-id"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","operation":"contains","value2":"hiring"},{"value1":"={{ $json.message.text }}","operation":"contains","value2":"job"},{"value1":"={{ $json.message.text }}","operation":"contains","value2":"opening"},{"value1":"={{ $json.message.text }}","operation":"contains","value2":"position"},{"value1":"={{ $json.message.text }}","operation":"contains","value2":"apply"}]},"combineOperation":"any"},"id":"82b004fa-2c4a-4b36-b2f8-89c0dd8f3f2b","name":"Filter Job Posts","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1184,32]},{"parameters":{"options":{}},"id":"618b8ec4-01a0-459b-973b-62e73cb2a597","name":"Prepare Data","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-960,32]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"You are a job posting parser. Extract structured information from job postings and return ONLY valid JSON, no additional text or markdown.","role":"system"},{"content":"=Extract job details from this posting:\n\n{{ $json.text }}\n\nReturn JSON with this exact structure:\n{\n  \"company\": \"company name or empty string\",\n  \"role\": \"job title/role or empty string\",\n  \"location\": \"location or empty string\",\n  \"experience\": \"experience required or empty string\",\n  \"skills\": [\"skill1\", \"skill2\"],\n  \"salary\": \"salary range or empty string\",\n  \"emails\": [\"email1@example.com\"],\n  \"apply_link\": \"application link or empty string\",\n  \"job_type\": \"full-time/part-time/contract/remote or empty string\",\n  \"summary\": \"brief summary\"\n}"}]},"options":{"temperature":0.3}},"id":"59bd1982-40fb-40bf-9779-45d795a18b77","name":"OpenAI Extract Job Details","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-736,32]},{"parameters":{"jsCode":"// Parse AI response and combine with original data\nconst inputData = $input.all()[0].json;\nconst aiResponse = $input.all()[1].json.message?.content || $input.all()[1].json.text;\n\nlet extractedData;\ntry {\n  // Remove markdown code blocks if present\n  const cleanJson = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  extractedData = JSON.parse(cleanJson);\n} catch (error) {\n  // Fallback: basic regex extraction\n  const text = inputData.text;\n  const emailRegex = /[\\w.-]+@[\\w.-]+\\.\\w+/g;\n  const emails = text.match(emailRegex) || [];\n  \n  extractedData = {\n    company: '',\n    role: '',\n    location: '',\n    experience: '',\n    skills: [],\n    salary: '',\n    emails: emails,\n    apply_link: '',\n    job_type: '',\n    summary: text.substring(0, 200)\n  };\n}\n\n// Combine with original data\nreturn {\n  ...extractedData,\n  channel_name: inputData.channel_name,\n  post_date: inputData.post_date,\n  message_id: inputData.message_id,\n  original_text: inputData.text,\n  extracted_at: new Date().toISOString()\n};"},"id":"82f8b30b-03bc-41bf-b6b5-51a039c22ec3","name":"Parse and Merge Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,32]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.emails }}","operation":"isNotEmpty"}],"number":[{"value1":"={{ $json.emails.length }}","operation":"larger"}]}},"id":"a6ff473e-652d-4db6-ae42-5d194e2d40a0","name":"Check Emails Exist","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,32]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"your-spreadsheet-id","mode":"list","cachedResultName":"Job Applications Tracker"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"list","cachedResultName":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Company":"={{ $json.company }}","Role":"={{ $json.role }}","Location":"={{ $json.location }}","Experience":"={{ $json.experience }}","Skills":"={{ $json.skills.join(', ') }}","Salary":"={{ $json.salary }}","Emails":"={{ $json.emails.join(', ') }}","Apply Link":"={{ $json.apply_link }}","Job Type":"={{ $json.job_type }}","Channel":"={{ $json.channel_name }}","Post Date":"={{ $json.post_date }}","Status":"Pending","Extracted At":"={{ $json.extracted_at }}"}},"options":{}},"id":"8c4d2d56-e59b-48ee-ac71-874de3f2d33f","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.2,"position":[64,-160]},{"parameters":{"workflowId":"your-email-workflow-id","mode":"workflowId","options":{}},"id":"5f01e8a8-8045-45a0-976e-de63b640319d","name":"Send to Email Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[64,32],"notes":"Replace 'your-email-workflow-id' with your actual email sending workflow ID"},{"parameters":{"options":{}},"id":"8f1c97b5-f7d4-408d-8d9b-095a0003880c","name":"No Email Found","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[64,224]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Filter Job Posts","type":"main","index":0}]]},"Filter Job Posts":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"OpenAI Extract Job Details","type":"main","index":0}]]},"OpenAI Extract Job Details":{"main":[[{"node":"Parse and Merge Data","type":"main","index":0}]]},"Parse and Merge Data":{"main":[[{"node":"Check Emails Exist","type":"main","index":0}]]},"Check Emails Exist":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0},{"node":"Send to Email Workflow","type":"main","index":0}],[{"node":"No Email Found","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1da81e9-1c3a-49ac-92b5-56e5cee61aa3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-27T11:58:44.255Z","createdAt":"2025-10-27T11:58:44.255Z","role":"workflow:owner","workflowId":"oAH9KGtZqhbS0RZ2","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]