n8n-workflows1/Twitter Build in Public Workflow.json
[{"updatedAt":"2025-11-19T06:20:07.000Z","createdAt":"2025-11-09T15:18:07.858Z","id":"cJDCgiNUF4RKF04J","name":"Twitter Build in Public Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=You are an expert social media manager for Intuz's Twitter account. Generate engaging tweets for C-suite executives, CTOs, and engineering leaders.\n\n🚨 ABSOLUTE CHARACTER LIMIT: 250 CHARACTERS MAXIMUM (including ALL text, spaces, hashtags, URLs)\n\nMANDATORY PROCESS:\n1. Draft tweet\n2. Count EVERY character (letters, spaces, punctuation, hashtags, URLs)\n3. If >250 characters: Shorten immediately\n4. Recount until ≤250 characters\n5. Never exceed 250 under any circumstances\n6. Check for existing same tweets from the Google Sheet, so as to avoid duplicate tweets\n\nOUTPUT FORMAT:\n{\n\"tweet_content\": \"[Your tweet here - max 280 chars]\",\n\"character_count\": \"[X/280]\",\n\"status\": \"Published\"\n}\n\nCONTENT FOCUS: AI trends, automation, cloud tech, RAG, ML innovations, MCP, n8n, Software Development\n\nREQUIREMENTS:\n- Always include #Intuz\n- Add 4-7 relevant hashtags\n- Include URL for https://www.mlopscrew.com/ if the tweet is cloud related otherwise add https://www.intuz.com/\n- Ask questions or add CTAs\n- Make each tweet unique\n- Keep tone: innovative, authoritative, educational\n\nCHARACTER BUDGET:\n- Core message: ~150-180 chars\n- Hashtags: ~40-60 chars\n- URL: ~20-30 chars\n- TOTAL: ≤250 chars\n\nTARGET: Drive leads, engagement, \"Contact Us\" inquiries\n\nFINAL CHECK: Confirm character count ≤280 before submitting!","options":{}},"id":"fa73eefa-57d7-443b-a6a5-81ab614376a0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2064,6160],"typeVersion":2.2},{"parameters":{"text":"={{ $json.tweet_content }}","additionalFields":{}},"id":"08fbf391-f7a9-422b-ae9d-3f5a07a40314","name":"Create Tweet","type":"n8n-nodes-base.twitter","position":[3680,6320],"typeVersion":2,"credentials":{"twitterOAuth2Api":{"id":"dITtqLZhPnCpKVpz","name":"X account"}}},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}","cachedResultUrl":"https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}/edit?usp=drivesdk","cachedResultName":"Twitter"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=0","cachedResultName":"Tweets"},"options":{}},"id":"1e5d68ee-07d9-482b-8542-85ba401b77cc","name":"Get Data from Google Sheet","type":"n8n-nodes-base.googleSheetsTool","position":[2544,6576],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Input: string with escaped or messy JSON\nconst inputString = $input.first().json.output;\n\nfunction safeParse(str) {\n  try {\n    // Try direct parse first\n    return JSON.parse(str);\n  } catch (e) {\n    // Try to extract JSON substring with regex\n    const match = str.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        return JSON.parse(match[0]);\n      } catch (err) {\n        return { error: \"Failed to parse extracted JSON\", raw: str };\n      }\n    }\n    return { error: \"Invalid JSON format\", raw: str };\n  }\n}\n\nconst parsed = safeParse(inputString);\n\n// Return cleaned output\nreturn [\n  {\n    json: parsed\n  }\n];\n"},"id":"41f81508-3a56-49b2-bdf0-a134aeaae70e","name":"Parse AI Response","type":"n8n-nodes-base.code","position":[3040,6560],"typeVersion":2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}","cachedResultUrl":"https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}/edit?usp=drivesdk","cachedResultName":"Twitter"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEETS_DOCUMENT_ID}/edit#gid=0","cachedResultName":"Tweets"},"columns":{"value":{"Status":"={{ $('Parse AI Response').item.json.status }}","Tweet Content":"={{ $('Parse AI Response').item.json.tweet_content }}"},"schema":[{"id":"Tweet Content","type":"string","display":true,"removed":false,"required":false,"displayName":"Tweet Content","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"removed":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Tweet Content"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"45416f93-7f74-49c6-9f35-31bd2692a3ee","name":"Add new Tweet to Google sheet","type":"n8n-nodes-base.googleSheets","position":[4448,6528],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"9VBOHfsYwrDCbXsi","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"0c78f787-ed3b-4182-9ba0-9bc64bb279d7","name":"Start Workflow","type":"n8n-nodes-base.scheduleTrigger","position":[1328,6640],"typeVersion":1.2},{"parameters":{"content":"## Need Help? \n\nWe develop tailored workflow to save youe valuable time. Should you have any questions or wish to explore more custom automation solutions, we would be happy to connect\n\n\n### Email: getstarted@intuz.com\n### Website: https://www.intuz.com/\n\n","height":240,"width":440,"color":2},"id":"e68797ae-c489-4a06-a553-f67b64596199","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","position":[2976,6912],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"TWEETS","contextWindowLength":15},"id":"095da888-a23e-41c1-9eac-c168b5b5e469","name":"Simple Memory2","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2160,7056],"typeVersion":1.3},{"parameters":{"content":"### Step 1: Scheduler Trigger  \nThis node acts as the workflow’s timer ⏱️.  \nIt is configured to automatically trigger the workflow every **6 hours**, ensuring that new tweet content is generated and posted consistently without requiring manual input.\n","height":496,"width":464},"id":"66c8460a-54f5-4533-bfd7-70154ee3944f","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1152,6496],"typeVersion":1},{"parameters":{"content":"### Step 2: AI Agent Node  \nThis node acts as the **content brain 🧠** of the workflow.  \nIt uses a carefully designed prompt to control the tweet generation process, ensuring that each post is relevant, professional, and aligned with the intended tone. The AI agent dynamically adapts content based on the given context, making every tweet unique and impactful.  \n","height":352,"width":560,"color":5},"id":"e9924cc9-1608-43b8-a52b-1514cd1ec498","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1888,6000],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n### Step 2.1: AI Agent Node  \nThis node acts as the **content brain 🧠** of the workflow.  \nIt uses a carefully designed prompt to control the tweet generation process, ensuring that each post is relevant, professional, and aligned with the intended tone. The AI agent dynamically adapts content based on the given context, making every tweet unique and impactful.  \n","height":368,"width":384,"color":3},"id":"42b05baa-31af-4396-ba28-59837067de03","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1680,6544],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n### Step 2.2: Simple Memory Node  \nThis node acts as a **context store 🧠**, holding the conversation history and relevant details passed from the AI Agent and Chat Model.  \nIt ensures continuity so that future tweet generations stay consistent in tone, style, and context.  \n","height":304,"width":464,"color":4},"id":"d0410c41-e4a4-4c43-9f36-813c2cf8445d","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[2000,7040],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n### Step 2.3: Get Rows from Google Sheet Node  \nThis node retrieves the list of **already published tweets 📑** from a connected Google Sheet.  \nBy keeping track of past posts, it ensures the workflow avoids publishing duplicate tweets and maintains fresh, engaging content each time.  \n","height":304,"width":496,"color":6},"id":"f6d198a4-e8a9-42c2-a1d7-9baa7eb5e8f9","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[2336,6560],"typeVersion":1},{"parameters":{"content":"### Step 3: Code Node  \nThis node parses the **raw string response 📝** generated by the AI model into a clean, structured **JSON format**.  \nBy converting the response into executable JSON, it ensures that the tweet content is easy to process and ready for further automation steps.  \n","height":352,"width":400},"id":"54f884aa-f359-4198-b93c-0d9afebb541f","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[2880,6368],"typeVersion":1},{"parameters":{"content":"### Step 4: X Create Tweet Node  \nThis node publishes the final tweet 🐦 generated by the AI directly to **X (Twitter)**.  \nIt ensures that the content parsed and validated in earlier steps is posted automatically on schedule, keeping your feed consistent and engaging.  \n","height":352,"width":432,"color":3},"id":"6b1882f5-86c5-44f4-87a4-5edc85e207e8","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[3504,6144],"typeVersion":1},{"parameters":{"content":"### Step 5: Add New Tweet to Google Sheet Node  \nThis node logs each newly published tweet into the connected **Google Sheet**.  \nIt records both the **tweet content** and its **status** (marked as *Published*) to maintain a structured history of all posts.  \n\nThis log is later referenced in **Step 2.3** (Get Rows from Google Sheet) to check for duplicates, ensuring that the AI never regenerates or reposts the same tweet — completing the cycle of tweet creation, publication, and validation.  \n","height":432,"width":496,"color":4},"id":"e34733c5-7513-4623-919d-1ba0e4d5b6a2","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[4240,6288],"typeVersion":1},{"parameters":{"content":"### Prerequisites  \n\n#### Google Sheets  \n- Connect your Google credentials with **Google Sheets** and **Google Drive** services enabled.  \n- Create a Google Sheet with the following column headers:  \n  - **Tweet Content**  \n  - **Status**  \n- Use this sheet in all Google Sheet nodes within the workflow.  \n\n#### OpenAI  \n- Add and connect your **OpenAI API Key** in the **OpenAI Chat Model node** to enable tweet generation.  \n\n#### X (Twitter)  \n- Connect your **Twitter (X) account credentials** in the **Create Tweet node** to allow automated posting.  \n","height":432,"width":528,"color":3},"id":"7911f5ac-c724-4508-9898-c35392a9b287","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","position":[1056,5920],"typeVersion":1},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,6576],"id":"436c1964-3f51-49b4-90ae-667cc0c71662","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"3bEkn5PQ9shVt2pP","name":"OpenRouter account"}}},{"parameters":{},"id":"386492ef-f5ca-438f-9eec-6853c6959528","name":"Collect Work Info","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2192,9536]},{"parameters":{"jsCode":"// Generate prompt for AI\nconst workData = $input.item.json;\n\nconst prompt = `Create a casual, human-like Twitter post about my daily work. Make it authentic and relatable.\n\nWork done: ${workData.work_description || 'Working on the project'}\nAchievement: ${workData.achievement || 'Made progress'}\nChallenges: ${workData.challenges || 'None mentioned'}\nTomorrow's focus: ${workData.tomorrow_focus || 'Continue building'}\n\nGuidelines:\n- Keep it under 280 characters\n- Use casual tone, like talking to friends\n- Include 1-2 relevant emojis naturally\n- Mention specific details\n- Show both wins and struggles (authentic)\n- Add 2-3 relevant hashtags at the end\n- NO generic motivational speak\n- NO corporate jargon\n- Make it feel personal and real\n\nGenerate 3 different variations separated by \"---\".`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    original_data: workData\n  }\n};"},"id":"b0ccd9ee-0cc2-4292-b0e8-67ed2cdb5925","name":"Build AI Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,9536]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","options":{}},"id":"7f4389d2-39da-4d03-9cfa-a0952d4942be","name":"Generate Posts with Claude","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2608,9536],"credentials":{"openRouterApi":{"id":"3bEkn5PQ9shVt2pP","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Parse AI response and extract tweet variations\nconst response = $input.item.json;\nconst content = response.content[0].text;\n\n// Split variations by common patterns\nlet variations = [];\n\n// Try multiple splitting patterns\nif (content.includes('---')) {\n  variations = content.split('---').map(v => v.trim()).filter(v => v.length > 0);\n} else if (content.match(/\\d+\\./)) {\n  variations = content.split(/\\d+\\./).map(v => v.trim()).filter(v => v.length > 0);\n} else {\n  // Fallback: split by double newlines\n  variations = content.split('\\n\\n').map(v => v.trim()).filter(v => v.length > 20);\n}\n\n// Take first 3 variations\nvariations = variations.slice(0, 3);\n\n// Ensure we have 3 variations\nwhile (variations.length < 3) {\n  variations.push('Generated tweet option ' + (variations.length + 1));\n}\n\nreturn {\n  json: {\n    variation_1: variations[0],\n    variation_2: variations[1],\n    variation_3: variations[2],\n    original_data: $json.original_data || {},\n    all_variations: variations\n  }\n};"},"id":"f3a2ff47-b0d1-4a86-800e-91c24384fc09","name":"Parse Tweet Variations","type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,9536]},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"🚀 *New Build-in-Public Post Ready!*\n\n*Your Daily Work:*\n{{ $json.original_data.work_description || 'Work logged' }}\n\n*Achievement:* {{ $json.original_data.achievement || 'Progress made' }}\n\n━━━━━━━━━━━━━━━\n\n*OPTION 1:*\n{{ $json.variation_1 }}\n\n*OPTION 2:*\n{{ $json.variation_2 }}\n\n*OPTION 3:*\n{{ $json.variation_3 }}\n\n━━━━━━━━━━━━━━━\n\n👇 Choose which one to post:","replyMarkup":"inlineKeyboard","additionalFields":{}},"id":"090e500e-1ad6-41aa-94e9-c976a1bb7a77","name":"Send to Telegram for Approval","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[3024,9536],"webhookId":"731095b5-d0f6-4096-99be-b6c82079197b","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"id":"5caee1d3-e258-469c-8eb6-c0373a32c75f","name":"Telegram Approval Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[2176,9872],"webhookId":"5a28d7fa-c441-4c10-b41a-60f56ee3157f","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.callback_query.data }}","operation":"contains","value2":"post_"}]}},"id":"438012fd-a54e-4e84-a1d1-e79d84a05af7","name":"Check if Approved","type":"n8n-nodes-base.if","typeVersion":1,"position":[2384,9872]},{"parameters":{"jsCode":"// Get the selected variation from callback data\nconst callbackData = $input.item.json.callback_query.data;\n\n// The callback data format is: post_X|||tweet_text\nconst parts = callbackData.split('|||');\nconst selectedTweet = parts.length > 1 ? parts[1] : '';\n\n// If empty, try to extract from message\nif (!selectedTweet) {\n  const message = $input.item.json.callback_query.message.text;\n  const varNum = callbackData.replace('post_', '').split('|||')[0];\n  \n  // Extract the selected tweet from message\n  const optionRegex = new RegExp(`\\\\*OPTION ${varNum}:\\\\*\\\\n([\\\\s\\\\S]*?)(?=\\\\n\\\\n\\\\*OPTION|━━━|$)`, 'i');\n  const match = message.match(optionRegex);\n  \n  if (match) {\n    return {\n      json: {\n        tweet_text: match[1].trim(),\n        approval_time: new Date().toISOString(),\n        selected_option: varNum\n      }\n    };\n  }\n}\n\nreturn {\n  json: {\n    tweet_text: selectedTweet.trim(),\n    approval_time: new Date().toISOString(),\n    selected_option: callbackData.split('_')[1]\n  }\n};"},"id":"b1ea9579-4b29-44e9-a828-1c83918c8f7a","name":"Extract Selected Tweet","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,9856]},{"parameters":{"text":"={{ $json.tweet_text }}","additionalFields":{}},"id":"678aa957-64ab-47cc-9b62-c705083d4211","name":"Post to Twitter/X","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[2816,9856],"credentials":{"twitterOAuth2Api":{"id":"dITtqLZhPnCpKVpz","name":"X account"}}},{"parameters":{"text":"✅ Tweet posted successfully! Check your Twitter feed.","additionalFields":{}},"id":"d2c2b074-0ca5-4cf6-8c8d-21cb8917a6cf","name":"Confirm to User","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[3024,9856],"webhookId":"19f57130-12ee-489d-981c-754fe9d6e571","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"text":"❌ Post cancelled. No tweet was published.","additionalFields":{}},"id":"13c9beb1-dd4e-4852-812b-ab69cc4e2d62","name":"Cancelled Notification","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2608,10048],"webhookId":"82fa929e-b206-4664-85bd-6ce63430641e","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Add new Tweet to Google sheet","type":"main","index":0}]]},"Start Workflow":{"main":[[]]},"Parse AI Response":{"main":[[{"node":"Create Tweet","type":"main","index":0}]]},"Get Data from Google Sheet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Collect Work Info":{"main":[[{"node":"Build AI Prompt","type":"main","index":0}]]},"Build AI Prompt":{"main":[[{"node":"Generate Posts with Claude","type":"main","index":0}]]},"Generate Posts with Claude":{"main":[[{"node":"Parse Tweet Variations","type":"main","index":0}]]},"Parse Tweet Variations":{"main":[[{"node":"Send to Telegram for Approval","type":"main","index":0}]]},"Telegram Approval Trigger":{"main":[[{"node":"Check if Approved","type":"main","index":0}]]},"Check if Approved":{"main":[[{"node":"Extract Selected Tweet","type":"main","index":0}],[{"node":"Cancelled Notification","type":"main","index":0}]]},"Extract Selected Tweet":{"main":[[{"node":"Post to Twitter/X","type":"main","index":0}]]},"Post to Twitter/X":{"main":[[{"node":"Confirm to User","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d58aec4d-5f50-428e-8e3c-c4598291979a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-09T15:18:07.865Z","createdAt":"2025-11-09T15:18:07.865Z","role":"workflow:owner","workflowId":"cJDCgiNUF4RKF04J","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]