n8n-workflows1/Universal Social Media Content Generator with AI.json
[{"updatedAt":"2026-01-10T03:39:32.167Z","createdAt":"2026-01-06T05:00:55.220Z","id":"hbhJibqMzuR9zQp8","name":"Universal Social Media Content Generator with AI","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":5,"triggerAtHour":9}]}},"id":"346ce35a-ad05-4e09-90aa-0cc6cb94cd2e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[192,-1376],"description":"This node triggers your content generation workflow on a schedule. Default is every 5 days at 9 AM, but you can adjust this to daily, weekly, or any custom schedule that fits your content strategy. The workflow will start automatically at the specified time.","typeVersion":1.2},{"parameters":{"chatId":"7524624821","text":"🚀 **Content Generation Time!**\n\nIt's time for your {{ $json.scheduleName }} content creation session.\n\nPlease reply with:\n- Your topic or theme\n- Type 'single' for one post or 'thread' for multiple connected posts\n\nExample responses:\n- 'sustainable living tips - single'\n- 'how to start a podcast - thread'\n- 'morning motivation - single'","additionalFields":{}},"id":"49a915cf-720b-4f83-9f04-d570f8719ab8","name":"Request Content Topic via Telegram","type":"n8n-nodes-base.telegram","position":[416,-1376],"webhookId":"3c293ac0-62b9-4fe3-b9f8-e3ce7b26e906","description":"Sends a message to your Telegram chat asking for the content topic and format. The message will appear in the Telegram chat/channel you've configured in the credentials. Make sure to set up your Telegram bot and add the chat ID in the credentials.","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"486d068f-b5cb-4af4-aee8-beb09dd02802","operator":{"type":"any","operation":"exists"},"leftValue":"={{ $json.message.reply_to_message }}"},{"id":"9b8ba1b0-008e-4749-b808-9b9cfd8480ae","operator":{"type":"string","operation":"isNotEmpty"},"leftValue":"={{ $json.message.text }}"}]},"options":{}},"id":"c65e1082-1482-4e65-b6d1-e9eb068573d1","name":"Validate Reply Format","type":"n8n-nodes-base.if","position":[400,-1120],"description":"Checks if the Telegram message is a valid reply to the bot's request. It ensures the message is not empty and is actually a reply to the bot's prompt. This prevents the workflow from processing random messages in the chat.","typeVersion":2},{"parameters":{"jsCode":"// This node parses the user input and validates the format\n// Expected format: 'topic - format' where format is 'single' or 'thread'\n// If no format is specified, it defaults to 'auto'\ntry {\n  const userInput = $json.message.text;\n  let topic, formatType;\n  \n  if (userInput.includes(' - ')) {\n    const parts = userInput.split(' - ');\n    topic = parts[0].trim();\n    formatType = parts[1].trim().toLowerCase();\n  } else {\n    // If no format specified, default to auto\n    topic = userInput.trim();\n    formatType = \"auto\";\n  }\n  \n  // Validate format type\n  const validFormats = ['single', 'thread', 'auto'];\n  if (!validFormats.includes(formatType)) {\n    throw new Error(`Invalid format type: ${formatType}. Use 'single', 'thread', or 'auto'`);\n  }\n  \n  // Validate topic length\n  if (topic.length < 3) {\n    throw new Error('Topic too short. Please provide a more detailed topic.');\n  }\n  \n  return [{\n    json: {\n      topic: topic,\n      format_type: formatType,\n      chat_id: $json.message.chat.id,\n      username: $json.message.from.username,\n      original_message: userInput,\n      validation_status: 'passed'\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      error: error.message,\n      validation_status: 'failed',\n      chat_id: $json.message.chat.id\n    }\n  }];\n}"},"id":"f150ad4d-90a4-451a-8163-0082367ce0b3","name":"Parse User Input","type":"n8n-nodes-base.code","position":[624,-1120],"description":"Extracts the topic and format from the user's message. Supports three formats: 'single' (one post), 'thread' (multiple connected posts), or 'auto' (let AI decide). The topic must be at least 3 characters long. If format is not specified, defaults to 'auto'.","typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.validation_status }}","rightValue":"passed","id":"ff1eee3e-a312-451d-b18f-217f372803d6"}],"combinator":"and"},"options":{}},"id":"43b35a2e-a9a9-4954-bb73-a40721f5ab7b","name":"Input Validation Check","type":"n8n-nodes-base.if","position":[848,-1120],"description":"Routes the workflow based on validation results. If the input passes validation, it proceeds to content generation. If validation fails, it sends an error message back to the user with instructions on the correct format.","typeVersion":2},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"❌ **Input Error**\n\n{{ $json.error }}\n\nPlease try again with the correct format:\n'your topic - single' or 'your topic - thread'\n\nExamples:\n- 'productivity tips - single'\n- 'beginner's guide to investing - thread'\n- 'motivational quote' (defaults to auto)","additionalFields":{}},"id":"e53a9720-61c2-4e42-918a-16263677537a","name":"Send Input Error Message","type":"n8n-nodes-base.telegram","position":[1136,-976],"webhookId":"32b0496e-9b72-4806-a961-9a1a9a61670e","description":"Sends an error message to the user if their input format is incorrect. Provides clear examples of the expected format to help users correct their input.","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Create social media content about: {{ $json.topic }}\nFormat type: {{ $json.format_type }}","hasOutputParser":true,"options":{"systemMessage":"=You are a professional social media content creator. Your task is to generate engaging, high-quality content for Twitter/X and LinkedIn.\n\nCONTENT REQUIREMENTS:\n\nCHARACTER COUNT:\n- EVERY tweet/post MUST be between 240-265 characters\n- Count characters before finalizing\n- Rewrite if outside this range\n\nFORMAT GUIDELINES:\n- For 'single': Create one standalone post\n- For 'thread': Create 3-6 connected posts that tell a complete story\n- For 'auto': Decide based on topic complexity (simple topics = single, complex = thread)\n\nWRITING STYLE:\n- Clear, conversational tone\n- Use simple language\n- Include 1-2 relevant hashtags\n- Be engaging and value-driven\n- Professional but approachable\n- NO numbered lists in the beginning of posts (avoid \"1/\", \"2/\" etc.)\n\nCONTENT STRUCTURE:\n- Hook: Start with an attention-grabbing statement\n- Value: Provide useful information or insights\n- Call-to-action: Encourage engagement (questions, thoughts, actions)\n\nADAPT TO TOPIC:\n- Business topics: Professional, data-driven\n- Creative topics: Inspiring, imaginative\n- Educational topics: Clear, structured\n- Personal topics: Authentic, relatable\n- Technical topics: Simple explanations, practical examples\n\nREMEMBER:\n- Quality over quantity\n- Each post should provide value\n- Maintain consistency in tone throughout threads\n- Use line breaks for readability\n- End threads with a summary or key takeaway"}},"id":"b8830389-7f77-4bff-ae01-16fab48d5b75","name":"AI Content Generator","type":"@n8n/n8n-nodes-langchain.agent","maxTries":3,"position":[1072,-1376],"description":"The AI agent that generates your social media content. It uses the topic and format you provided to create posts optimized for engagement. The system prompt ensures consistent quality and character count. Configure retry attempts (default: 3) for reliability.","retryOnFail":true,"typeVersion":1.7},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name or title for this content batch\"\n    },\n    \"event_description\": {\n      \"type\": \"string\",\n      \"description\": \"Brief description of the content theme\"\n    },\n    \"content_type\": {\n      \"type\": \"string\",\n      \"description\": \"Either 'single' or 'thread'\"\n    },\n    \"platform_posts\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"Twitter\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"thread\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"tweet_number\": {\n                    \"type\": \"integer\",\n                    \"description\": \"Order number in thread\"\n                  },\n                  \"post\": {\n                    \"type\": \"string\",\n                    \"description\": \"The actual tweet content\"\n                  },\n                  \"character_count\": {\n                    \"type\": \"integer\",\n                    \"description\": \"Character count for validation\"\n                  }\n                }\n              }\n            },\n            \"single_post\": {\n              \"type\": \"string\",\n              \"description\": \"Content for single post format\"\n            },\n            \"hashtags\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"List of hashtags used\"\n            },\n            \"thread_length\": {\n              \"type\": \"integer\",\n              \"description\": \"Number of posts in thread\"\n            }\n          }\n        }\n      }\n    },\n    \"additional_notes\": {\n      \"type\": \"string\",\n      \"description\": \"Any additional context or notes\"\n    }\n  }\n}"},"id":"20f7a364-e16a-4b94-905e-ed7079dc5886","name":"Structure AI Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1216,-1152],"description":"Defines the expected JSON structure for the AI's output. This ensures the AI returns content in a consistent format that can be processed by subsequent nodes. The schema includes fields for both single posts and threads.","typeVersion":1.2},{"parameters":{"jsCode":"// This node validates the AI-generated content to ensure quality standards\n// It checks character counts, structure, and content formatting\n\ntry {\n  const aiOutput = $json.output || $json;\n  \n  // Validate AI output structure\n  if (!aiOutput.platform_posts?.Twitter) {\n    throw new Error('Invalid AI output: Missing Twitter platform data');\n  }\n  \n  const twitterData = aiOutput.platform_posts.Twitter;\n  let tweets = [];\n  let contentType = 'unknown';\n  \n  // Handle thread content\n  if (twitterData.thread && Array.isArray(twitterData.thread)) {\n    tweets = twitterData.thread;\n    contentType = 'thread';\n    console.log('Processing thread with ' + tweets.length + ' tweets');\n  }\n  // Handle single tweet content\n  else if (twitterData.single_post) {\n    tweets = [{\n      tweet_number: 1,\n      post: twitterData.single_post,\n      character_count: twitterData.single_post.length\n    }];\n    contentType = 'single';\n    console.log('Processing single tweet');\n  } else {\n    throw new Error('No valid tweet content found in AI output');\n  }\n  \n  // Validate each tweet\n  const validatedTweets = [];\n  const warnings = [];\n  let criticalErrors = 0;\n  \n  tweets.forEach((tweet, index) => {\n    const tweetNumber = index + 1;\n    const content = tweet.post || '';\n    const charCount = content.length;\n    let tweetHasIssues = false;\n    \n    // Character count validation\n    if (charCount < 240 || charCount > 265) {\n      warnings.push('Tweet ' + tweetNumber + ': ' + charCount + ' characters (recommended 240-265)');\n      // Only count as critical error if severely outside range\n      if (charCount < 216 || charCount > 291) {\n        criticalErrors++;\n        tweetHasIssues = true;\n      }\n    }\n    \n    // Check for numbered format at start (e.g., \"1/\", \"2/\")\n    if (/^\\d+[\\.\\/]/.test(content.trim())) {\n      warnings.push('Tweet ' + tweetNumber + ': Starts with numbering (not recommended)');\n    }\n    \n    validatedTweets.push({\n      ...tweet,\n      tweet_number: tweetNumber,\n      character_count: charCount,\n      has_issues: tweetHasIssues,\n      validation_passed: !tweetHasIssues\n    });\n    \n    console.log('Tweet ' + tweetNumber + ': ' + charCount + ' chars - \"' + content.substring(0, 50) + '...\"');\n  });\n  \n  // Calculate error percentage\n  const errorPercentage = (criticalErrors / tweets.length) * 100;\n  const shouldPass = errorPercentage <= 30; // Pass if 30% or fewer critical errors\n  \n  console.log('Validation summary: ' + criticalErrors + '/' + tweets.length + ' critical errors (' + errorPercentage.toFixed(1) + '%)');\n  console.log('Warnings: ' + warnings.length + ' total warnings');\n  \n  // Only fail if critical errors exceed 30%\n  if (!shouldPass) {\n    throw new Error('Critical validation failed: ' + errorPercentage.toFixed(1) + '% error rate exceeds 30% threshold');\n  }\n  \n  return [{\n    json: {\n      ...aiOutput,\n      content_type: contentType,\n      tweet_count: validatedTweets.length,\n      tweets_array: validatedTweets,\n      validation_summary: {\n        critical_errors: criticalErrors,\n        error_percentage: Math.round(errorPercentage * 10) / 10,\n        warnings: warnings.length,\n        passed_threshold: shouldPass,\n        warning_details: warnings\n      },\n      validation_status: 'passed',\n      processed_at: new Date().toISOString()\n    }\n  }];\n  \n} catch (error) {\n  console.error('Content validation error:', error.message);\n  return [{\n    json: {\n      error: error.message,\n      validation_status: 'failed',\n      processed_at: new Date().toISOString()\n    }\n  }];\n}"},"id":"73416584-5480-4952-942e-400c60e07f5b","name":"Validate Generated Content","type":"n8n-nodes-base.code","position":[1424,-1264],"description":"Performs quality checks on AI-generated content: character count validation (240-265 chars), format checking, and structure validation. Allows up to 30% error rate for flexibility. Logs detailed validation results for debugging.","typeVersion":2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"96348250-726c-457a-8958-955c37e8d52f","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.validation_status }}","rightValue":"passed"}]},"options":{}},"id":"a21c14cf-0fc0-41c3-9bdb-3cc2bbb228de","name":"Content Quality Gate","type":"n8n-nodes-base.if","position":[1648,-1264],"description":"Final quality check before sending content for approval. Routes to preview creation if validation passed, or to error handling if content doesn't meet quality standards.","typeVersion":2},{"parameters":{"chatId":"{{ $node['Parse User Input'].json.chat_id }}","text":"❌ **Content Generation Failed**\n\n{{ $json.error }}\n\nThe AI couldn't generate content that meets quality requirements. This usually happens with very complex or unclear topics.\n\nTips:\n- Try simplifying your topic\n- Be more specific about what you want\n- Try a different format (single vs thread)\n\nPlease try again with a different topic or approach.","additionalFields":{}},"id":"42274cb6-1258-49bb-9c40-5f77b6039e0c","name":"Send Generation Error","type":"n8n-nodes-base.telegram","position":[1872,-1168],"webhookId":"4004b700-3e42-4abd-a1db-d43979a62ffa","description":"Notifies the user if content generation fails. Provides helpful tips on how to improve their topic or format choice for better results.","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"jsCode":"// Create a formatted preview of the generated content for user approval\nconst tweets = $json.tweets_array;\nconst contentType = $json.content_type;\n\nlet previewText = `📝 **Generated ${contentType.toUpperCase()} Content**\\n\\n`;\npreviewText += `**Topic:** ${$node['Parse User Input'].json.topic}\\n`;\npreviewText += `**Format:** ${contentType}\\n`;\npreviewText += `**Post Count:** ${tweets.length}\\n\\n`;\n\n// Add each tweet to the preview\ntweets.forEach((tweet, index) => {\n  const tweetNum = index + 1;\n  previewText += `**Post ${tweetNum}** (${tweet.character_count} chars):\\n`;\n  previewText += `${tweet.post}\\n\\n`;\n});\n\npreviewText += `---\\n**Ready to post?**\\nClick ✅ to approve or ❌ to cancel`;\n\nreturn [{\n  json: {\n    ...($json),\n    preview_text: previewText\n  }\n}];"},"id":"f15b4595-aa4d-4f4d-9e91-6e23cbfe0d92","name":"Format Content Preview","type":"n8n-nodes-base.code","position":[1872,-1360],"description":"Creates a readable preview of all generated content for user review. Shows the topic, format, character count for each post, and the full content. This allows users to review before posting.","typeVersion":2},{"parameters":{"operation":"sendAndWait","chatId":"7524624821","message":"={{ $json.preview_text }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"id":"7e48c9ca-ebda-4ae1-a1a1-7e252c199e18","name":"Send Preview & Await Approval","type":"n8n-nodes-base.telegram","position":[2096,-1296],"webhookId":"78b25471-88dc-40d2-9d17-c4ba616a359b","description":"Sends the content preview to Telegram and waits for user approval. Users can click ✅ to approve and post the content, or ❌ to cancel. The workflow pauses here until a response is received.","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json.data.approved }}","rightValue":true}]},"options":{}},"id":"ebc51ebd-c302-472a-9925-0f6ac5024ed4","name":"Check User Approval","type":"n8n-nodes-base.if","position":[2544,-1360],"description":"Routes the workflow based on user's approval decision. If approved (✅), proceeds to post the content. If rejected (❌), sends a cancellation message.","typeVersion":2},{"parameters":{"chatId":"={{ $node['Parse User Input'].json.chat_id }}","text":"❌ **Content Cancelled**\n\nThe content has been cancelled as requested.\n\nYou can start over by sending a new topic anytime.","additionalFields":{}},"id":"91e6b32d-751c-48de-ab63-861b37ad29ad","name":"Send Cancellation Notice","type":"n8n-nodes-base.telegram","position":[2768,-1264],"webhookId":"3065fcb6-a88b-4903-bbc2-de83237e3294","description":"Confirms to the user that their content has been cancelled and won't be posted. Encourages them to try again with a new topic.","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"fieldToSplitOut":"tweets_array","options":{}},"id":"7522ed45-1ef0-4fb5-ab31-24daee9290e5","name":"Split Posts for Publishing","type":"n8n-nodes-base.splitOut","position":[2768,-1456],"description":"Separates the array of posts into individual items for sequential posting. This is essential for threads, as each post needs to be published separately and linked together.","typeVersion":1},{"parameters":{"content":"# Universal Social Media Content Generator\n\n## Overview\nThis workflow automates social media content creation using AI. It generates high-quality posts for Twitter/X and LinkedIn based on any topic you provide.\n\n## Features\n- **Scheduled or Manual Triggers**: Run automatically on schedule or start manually\n- **AI-Powered Generation**: Uses advanced language models to create engaging content\n- **Quality Validation**: Ensures posts meet character limits and quality standards\n- **Approval Workflow**: Review content before posting\n- **Multi-Platform Support**: Posts to both Twitter/X and LinkedIn\n- **Thread Support**: Create single posts or connected threads\n\n## Setup Requirements\n1. **Telegram Bot**: For receiving topics and approvals\n   - Create a bot via @BotFather\n   - Get your chat ID\n   - Add credentials to n8n\n\n2. **OpenRouter API**: For AI content generation\n   - Sign up at openrouter.ai\n   - Add API key to credentials\n\n3. **Upload Post API**: For publishing to social platforms\n   - Configure your social media accounts\n   - Add credentials to n8n\n\n4. **Tavily API (Optional)**: For web research\n   - Only needed if you want AI to research topics\n   - Sign up at tavily.com\n\n## Usage\n1. Workflow triggers on schedule or manually\n2. You receive a Telegram message asking for topic\n3. Reply with format: \"your topic - single\" or \"your topic - thread\"\n4. AI generates content (240-265 chars per post)\n5. Review the preview in Telegram\n6. Approve (✅) or Cancel (❌)\n7. Content posts to your configured platforms\n\n## Customization\n- **Topics**: Works with any topic or niche\n- **Tone**: Adjust the AI system prompt for your brand voice\n- **Schedule**: Change trigger frequency as needed\n- **Platforms**: Modify which platforms to post to\n- **Validation**: Adjust character limits or quality thresholds\n\n## Tips\n- Be specific with topics for better results\n- Use 'thread' format for complex topics\n- Review and edit the AI system prompt for your needs\n- Test with different AI models for varied styles","height":1312,"width":1264,"color":4},"id":"d2c8bae4-9c83-459a-97ff-4ad756dd279b","name":"Workflow Documentation","type":"n8n-nodes-base.stickyNote","position":[-1152,-1776],"description":"Complete documentation for setting up and using this workflow. Read this first to understand all features and requirements.","typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"8c5c6eb9-0429-446c-b5d4-3ecc097f39ab","name":"Merge Approval Data","type":"n8n-nodes-base.merge","position":[2320,-1360],"description":"Combines the content data with the approval response to pass all necessary information to the next steps.","typeVersion":3.2},{"parameters":{"chatId":"7524624821","text":"✅ **Content Published Successfully!**\n\nLinkedIn: {{ $json.results.linkedin.success ? 'Posted' : 'Failed' }}\nTwitter/X: {{ $json.results.x.success ? 'Posted' : 'Failed' }}\n\nYour content is now live on the selected platforms. Check your accounts to see the posts and monitor engagement.","additionalFields":{"appendAttribution":false}},"id":"b6a2e57b-e190-42b2-90f4-c285b8583a36","name":"Send Success Notification","type":"n8n-nodes-base.telegram","position":[3216,-1456],"webhookId":"49374cd3-483f-4934-ab49-a33e2750beed","description":"Sends a final confirmation message showing which platforms successfully received the content. Helps you track posting status and troubleshoot any platform-specific issues.","typeVersion":1.2,"credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}},{"parameters":{"text":"={{ $json.post }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[2992,-1552],"id":"c395cb15-6054-4113-ba74-ef6333613559","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"dITtqLZhPnCpKVpz","name":"X account"}}},{"parameters":{"person":"aCRYRHVnBg","text":"={{ $json.post }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2992,-1360],"id":"56ec6075-6168-4883-8f07-1c7ff5ed0337","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"57kkCTCqz4KGc1Tw","name":"LinkedIn account"}}},{"parameters":{"model":"qwen/qwen3-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1088,-1152],"id":"77ebe71d-4aa5-4c5b-8d6f-78e65775226c","name":"Groq Chat Model","credentials":{"groqApi":{"id":"2vwFhUuR2QcZ79O4","name":"Groq account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[176,-1120],"id":"40c33b2e-d58b-4dae-8215-fd2d29913ffb","name":"Wait for User Topic Reply","webhookId":"cdbc5beb-849b-4e2a-beb6-1d40b5717c82","credentials":{"telegramApi":{"id":"Ku45rJ33P9BWfJLh","name":"Telegram account"}}}],"connections":{"Parse User Input":{"main":[[{"node":"Input Validation Check","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Request Content Topic via Telegram","type":"main","index":0}]]},"Check User Approval":{"main":[[{"node":"Split Posts for Publishing","type":"main","index":0}],[{"node":"Send Cancellation Notice","type":"main","index":0}]]},"Merge Approval Data":{"main":[[{"node":"Check User Approval","type":"main","index":0}]]},"Structure AI Output":{"ai_outputParser":[[{"node":"AI Content Generator","type":"ai_outputParser","index":0}]]},"AI Content Generator":{"main":[[{"node":"Validate Generated Content","type":"main","index":0}]]},"Content Quality Gate":{"main":[[{"node":"Format Content Preview","type":"main","index":0}],[{"node":"Send Generation Error","type":"main","index":0}]]},"Validate Reply Format":{"main":[[],[{"node":"Parse User Input","type":"main","index":0}]]},"Format Content Preview":{"main":[[{"node":"Send Preview & Await Approval","type":"main","index":0},{"node":"Merge Approval Data","type":"main","index":0}]]},"Input Validation Check":{"main":[[{"node":"AI Content Generator","type":"main","index":0}],[{"node":"Send Input Error Message","type":"main","index":0}]]},"Split Posts for Publishing":{"main":[[{"node":"Create Tweet","type":"main","index":0},{"node":"Create a post","type":"main","index":0}]]},"Validate Generated Content":{"main":[[{"node":"Content Quality Gate","type":"main","index":0}]]},"Send Preview & Await Approval":{"main":[[{"node":"Merge Approval Data","type":"main","index":1}]]},"Create a post":{"main":[[{"node":"Send Success Notification","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Send Success Notification","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Content Generator","type":"ai_languageModel","index":0}]]},"Wait for User Topic Reply":{"main":[[{"node":"Validate Reply Format","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Wait for User Topic Reply":[{"json":{"update_id":299762261,"message":{"message_id":122,"from":{"id":7524624821,"is_bot":false,"first_name":"P😗","username":"Circadiannn","language_code":"en"},"chat":{"id":7524624821,"first_name":"P😗","username":"Circadiannn","type":"private"},"date":1767936618,"text":"My topic is n8n latest updates and new features \nsingle post"}},"pairedItem":{"item":0}}]},"versionId":"2c8378fd-11f8-4638-87ce-4f6874d8de23","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T05:00:55.227Z","createdAt":"2026-01-06T05:00:55.227Z","role":"workflow:owner","workflowId":"hbhJibqMzuR9zQp8","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]