n8n-workflows1/WhatsApp Receipt Bot.json
[{"updatedAt":"2025-11-20T10:34:14.000Z","createdAt":"2025-11-20T10:33:57.589Z","id":"yEnkeCFsPRmQXBY4","name":"WhatsApp Receipt Bot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"id":"58d9ae84-af5f-46fc-b386-88de64a708da","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[16,240],"webhookId":"3b2c3dce-039d-4c63-bd69-866e4f0de669","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"id":"8e436485-6f22-4d90-99e5-f5078b5bc366","name":"Download media","type":"n8n-nodes-base.whatsApp","position":[240,240],"webhookId":"1cc8b65d-be9b-4497-8275-3025e07dbb39","typeVersion":1},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"e29b8adb-a7a7-4081-bf0d-01db158a2aeb","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[464,240],"typeVersion":4.2},{"parameters":{"name":"data","driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1IP1KFkWq0SGE6vITKxueGzJcvTU4PIVx","cachedResultUrl":"https://drive.google.com/drive/folders/1IP1KFkWq0SGE6vITKxueGzJcvTU4PIVx","cachedResultName":"Invoices"},"options":{}},"id":"243caf07-9cae-4226-8249-aa6d08c51894","name":"Upload file","type":"n8n-nodes-base.googleDrive","position":[688,240],"typeVersion":3},{"parameters":{"operation":"share","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"df2c93e6-5df0-4545-a1ef-bfa292833dfc","name":"Share file","type":"n8n-nodes-base.googleDrive","position":[912,240],"typeVersion":3},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"text":"Your job is to extract structured data from invoice images.\nReturn the output in valid JSON only, with the following fields:\n\nstore_name: Name of the store or merchant\n\ndescription: Short summary of purchased items or services\n\nimage_url: URL of the invoice image (as provided in input)\n\npayment: Mode of payment (card, cash, UPI, wallet, other)\n\ntotal: Final total amount in numeric format\nOutput Json Only\nExample JSON output:\n{\n  \"store_name\": \"Big Bazaar\",\n  \"description\": \"3 items: rice, detergent, snacks\",\n  \"image_url\": \"https://example.com/invoice123.png\",\n  \"payment\": \"card\",\n  \"total\": 1520.75\n}\n","inputType":"base64","options":{}},"id":"e911386a-2f2d-4e58-aa11-75f3940e3c03","name":"Analyze image","type":"@n8n/n8n-nodes-langchain.openAi","position":[1360,240],"typeVersion":1.8},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Upload file').item.json.id }}"},"options":{}},"id":"c494017f-423c-4bac-8ecd-b905f3205651","name":"Download file","type":"n8n-nodes-base.googleDrive","position":[1136,240],"typeVersion":3},{"parameters":{"jsCode":"// Get the raw text\nconst raw = $input.first().json.content;\n\n// Remove ```json and ``` wrappers + escaped \\n\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .replace(/\\\\n/g, \"\")\n  .trim();\n\n// Parse to JSON\nconst data = JSON.parse(cleaned);\n\nreturn [{ json: data }];\n"},"id":"8c39b9da-3ed0-46ac-9816-7a935b982669","name":"Code","type":"n8n-nodes-base.code","position":[1584,240],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1cG8U5EpRXKXkM3eN74byIhQBkmfF59mLgvDc3S2xT0s","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cG8U5EpRXKXkM3eN74byIhQBkmfF59mLgvDc3S2xT0s/edit?usp=drivesdk","cachedResultName":"Invoices"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cG8U5EpRXKXkM3eN74byIhQBkmfF59mLgvDc3S2xT0s/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"total":"={{ $json.total }}","payment":"={{ $json.payment }}","image_url":"={{ $('Upload file').item.json.webViewLink }}","store name":"={{ $json.store_name }}","discription":"={{ $json.description }}"},"schema":[{"id":"store name","type":"string","display":true,"required":false,"displayName":"store name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"discription","type":"string","display":true,"required":false,"displayName":"discription","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_url","type":"string","display":true,"required":false,"displayName":"image_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"payment","type":"string","display":true,"required":false,"displayName":"payment","defaultMatch":false,"canBeUsedToMatch":true},{"id":"total","type":"string","display":true,"required":false,"displayName":"total","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c0dcb12f-657b-4163-b953-538e3219770e","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","position":[1808,240],"typeVersion":4.7},{"parameters":{"promptType":"define","text":"=Your job is to generate a short, clear invoice summary using the extracted fields.\nAlways include emojis for readability.\nAlways include the invoice image link.\nOutput should be plain text, not JSON.\n\nRequired fields:\n\n🏬 Store Name\n\n📝 Description of items\n\n💳 Payment Method\n\n💰 Total Amount\n\n🔗 Invoice Link\n\nExample Output 1:\n🏬 Store: Berghotel Grosse Scheidegg\n📝 Items: 2 Latte Macchiato, 1 Globi, 1 Schweinschnitzel, 1 Käseplättli\n💳 Payment: Cash\n💰 Total: 54.50\n🔗 Link: https://example.com/invoice123.png\n\nExample Output 2:\n🏬 Store: Big Bazaar\n📝 Items: Rice, Detergent, Snacks\n💳 Payment: Card\n💰 Total: 1520.75\n🔗 Link: https://example.com/invoice123.png\n\nOutput Link:{{ $('Upload file').item.json.webViewLink }}\nActual Details:\nStore Name:{{ $json['store name'] }}\ndiscription: {{ $json.discription }}\ntotal:{{ $json.total }}\npayment: {{ $json.payment }}","options":{}},"id":"b819be1c-0a23-474f-80dc-a92288c2767d","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2032,240],"typeVersion":2.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"4a67646f-6b33-48f0-89f9-1a13924f667b","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2104,464],"typeVersion":1.2},{"parameters":{"operation":"send","phoneNumberId":"772721379258804","recipientPhoneNumber":"+919827442000","textBody":"={{ $json.output }}","additionalFields":{}},"id":"1a52561c-b844-49df-9fcc-9cbd329c9df5","name":"Send message","type":"n8n-nodes-base.whatsApp","position":[2384,240],"webhookId":"ea1a5f84-034b-4314-a30c-94ce0eaf1cd4","typeVersion":1},{"parameters":{"content":"# 🧾 WhatsApp Receipt Bot\n**Purpose:** Automates receipt handling via WhatsApp.\n**Flow:**\n1. 📥 User sends receipt\n2. ☁️ Uploads to Google Drive\n3. 🔍 Extracts store, items, payment, total\n4. 📊 Sends back summary\n","height":208,"width":688,"color":4},"id":"2b195447-e776-4324-b0ab-b8b8c537ddda","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[816,-144],"typeVersion":1}],"connections":{"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share file","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Code","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Download media":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Download media","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1ffb04b1-6e95-47d7-91ba-c0bda1971108","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-20T10:33:57.595Z","createdAt":"2025-11-20T10:33:57.595Z","role":"workflow:owner","workflowId":"yEnkeCFsPRmQXBY4","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]