n8n-workflows1/YouTube Transcript Extractor (Free).json
[{"updatedAt":"2025-11-06T15:26:39.000Z","createdAt":"2025-11-06T15:23:16.345Z","id":"T71FkgcYSmJDagzc","name":"YouTube Transcript Extractor (Free)","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"e091f59f-f74f-49a4-b5b3-544432af2060","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,-80]},{"parameters":{"assignments":{"assignments":[{"id":"youtubeUrl","name":"youtubeUrl","type":"string","value":"https://www.youtube.com/watch?v=okh85F29Gjg"}]},"options":{}},"id":"06094abf-3c2d-4a40-8a1a-481351fdea9c","name":"Set Video URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-80]},{"parameters":{"jsCode":"// Extract video ID from YouTube URL\nconst url = $input.first().json.youtubeUrl;\nlet videoId = '';\n\n// Handle different YouTube URL formats\nif (url.includes('youtube.com/watch?v=')) {\n  videoId = url.split('v=')[1].split('&')[0];\n} else if (url.includes('youtu.be/')) {\n  videoId = url.split('youtu.be/')[1].split('?')[0];\n} else if (url.includes('youtube.com/embed/')) {\n  videoId = url.split('embed/')[1].split('?')[0];\n}\n\nreturn {\n  videoId: videoId,\n  originalUrl: url\n};"},"id":"3914ade7-6cfb-4702-a218-f44aedcc4eca","name":"Extract Video ID1","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-80]},{"parameters":{"url":"=https://youtube-transcript.io/api/transcript?video_id={{ $json.videoId }}","options":{}},"id":"12678907-b977-474a-b39d-3a6ed975acc5","name":"Get Transcript1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-80]},{"parameters":{"jsCode":"// Process transcript data\nconst data = $input.first().json;\n\nif (!data || !data.transcript) {\n  return {\n    success: false,\n    error: 'No transcript available for this video',\n    videoId: $('Extract Video ID1').item.json.videoId\n  };\n}\n\n// Combine all transcript segments into full text\nlet fullTranscript = '';\nlet timestampedTranscript = [];\n\nif (Array.isArray(data.transcript)) {\n  data.transcript.forEach(segment => {\n    if (segment.text) {\n      fullTranscript += segment.text + ' ';\n      \n      // Keep timestamped version\n      timestampedTranscript.push({\n        time: segment.start || segment.offset || 0,\n        text: segment.text\n      });\n    }\n  });\n}\n\n// Clean up the transcript\nconst cleanedTranscript = fullTranscript\n  .replace(/\\s+/g, ' ')\n  .replace(/\\s([.,!?])/g, '$1')\n  .trim();\n\nreturn {\n  success: true,\n  videoId: $('Extract Video ID1').item.json.videoId,\n  videoUrl: $('Extract Video ID1').item.json.originalUrl,\n  fullTranscript: cleanedTranscript,\n  timestampedTranscript: timestampedTranscript,\n  wordCount: cleanedTranscript.split(' ').length,\n  characterCount: cleanedTranscript.length,\n  language: data.language || 'unknown'\n};"},"id":"3881bcf4-eb85-4f1c-915c-2f5fb1af530a","name":"Process Transcript1","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-80]},{"parameters":{"assignments":{"assignments":[{"id":"transcript","name":"transcript","type":"string","value":"={{ $json.fullTranscript }}"},{"id":"videoUrl","name":"videoUrl","type":"string","value":"={{ $json.videoUrl }}"},{"id":"videoId","name":"videoId","type":"string","value":"={{ $json.videoId }}"},{"id":"wordCount","name":"wordCount","type":"number","value":"={{ $json.wordCount }}"},{"id":"language","name":"language","type":"string","value":"={{ $json.language }}"}]},"options":{}},"id":"4b426b12-e52a-4246-87ba-6b7aad9d017e","name":"Format Output1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-80]}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Video URL","type":"main","index":0}]]},"Set Video URL":{"main":[[{"node":"Extract Video ID1","type":"main","index":0}]]},"Extract Video ID1":{"main":[[{"node":"Get Transcript1","type":"main","index":0}]]},"Get Transcript1":{"main":[[{"node":"Process Transcript1","type":"main","index":0}]]},"Process Transcript1":{"main":[[{"node":"Format Output1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"52d80f33-de2f-4ffc-b362-314e19edfcbf","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-06T15:23:16.389Z","createdAt":"2025-11-06T15:23:16.389Z","role":"workflow:owner","workflowId":"T71FkgcYSmJDagzc","projectId":"FKad6gHjCgG3TIxN"}],"activeVersion":null,"tags":[]}]