Job Automation/🗑️ Job Deactivator.json
{
  "name": "🗑️ Job Deactivator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 72
            }
          ]
        }
      },
      "id": "REDACTED",
      "name": "⏰ Every 3 Days",
      "type": "REDACTED",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT job_hash, apply_url, company, job_title\nFROM jobs\nWHERE status = 'active'\nORDER BY created_at ASC;",
        "options": {}
      },
      "id": "REDACTED",
      "name": "📥 Fetch Active Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter out jobs with empty or invalid URLs\nconst jobs = $input.all();\nconst valid = [];\nconst skipped = [];\n\nfor (const item of jobs) {\n  const url = (item.json.apply_url || '').trim();\n  if (!url || url.length < 10 || !url.startsWith('http')) {\n    skipped.push(item.json.job_title || 'unknown');\n    continue;\n  }\n  valid.push({ json: { ...item.json } });\n}\n\nif (skipped.length > 0) {\n  console.log(`⚠ Skipped ${skipped.length} jobs with invalid URLs`);\n}\nconsole.log(`📋 Checking ${valid.length} job URLs`);\n\nif (valid.length === 0) {\n  return [{ json: { _no_jobs: true } }];\n}\nreturn valid;"
      },
      "id": "REDACTED",
      "name": "🔧 Prepare URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.apply_url }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "REDACTED",
      "name": "🔗 Check URLs",
      "type": "REDACTED",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $input.all();\nconst cfgItems  = $('🔧 Prepare URLs').all();\n\nif (cfgItems.length === 1 && cfgItems[0].json._no_jobs) {\n  return [{ json: { _no_dead_jobs: true } }];\n}\n\nconst deadJobs = [];\nlet aliveCount = 0, errorCount = 0;\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const http = httpItems[i].json;\n  const job  = cfgItems[i]?.json || {};\n  if (!job.job_hash) continue;\n\n  const statusCode = http.statusCode || http.status || null;\n  \n  // FIX 1: Properly stringify error objects\n  const errMsg = JSON.stringify(http.error || http.message || '').toLowerCase();\n\n  let isDead = false;\n  let reason = '';\n\n  if (errMsg.includes('enotfound') || errMsg.includes('getaddrinfo')) {\n    isDead = true; reason = 'DNS_FAIL';\n  } else if (errMsg.includes('econnrefused')) {\n    isDead = true; reason = 'CONN_REFUSED';\n  } else if (statusCode === 404 || statusCode === 410) {\n    isDead = true; reason = `HTTP_${statusCode}`;\n  } \n  // FIX 2: Detect soft-404s — redirect to a DIFFERENT path = job removed\n  else if ((statusCode === 301 || statusCode === 302 || statusCode === 307) && http.headers?.location) {\n    const originalPath = new URL(job.apply_url).pathname;\n    const redirectPath = new URL(http.headers.location, job.apply_url).pathname;\n    // If redirected away from the job-specific path (e.g. to /jobs), it's dead\n    if (!redirectPath.includes(originalPath) && (\n      redirectPath.endsWith('/jobs') || \n      redirectPath.endsWith('/careers') ||\n      redirectPath === '/'\n    )) {\n      isDead = true; reason = `SOFT_404_REDIRECT`;\n    } else {\n      aliveCount++;\n    }\n  } else if (http.error) {\n    errorCount++; // transient error, keep alive\n  } else {\n    aliveCount++;\n  }\n\n  if (isDead) {\n    console.log(`💀 DEAD [${reason}]: ${job.company} | ${job.job_title}`);\n    deadJobs.push(job);\n  }\n}\n\nconsole.log(`✅ Alive: ${aliveCount} | 💀 Dead: ${deadJobs.length} | ⚠ Errors: ${errorCount}`);\n\nif (deadJobs.length === 0) {\n  return [{ json: { _no_dead_jobs: true, alive: aliveCount, errors: errorCount } }];\n}\nreturn deadJobs.map(j => ({ json: j }));"
      },
      "id": "REDACTED",
      "name": "🧠 Find Dead Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-dead",
              "leftValue": "={{ $json._no_dead_jobs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "🔀 Has Dead Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status = 'inactive' WHERE job_hash = '{{ $json.job_hash }}';",
        "options": {}
      },
      "id": "REDACTED",
      "name": "❌ Mark Inactive (Supabase)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fazi5DwKujtGK22atp9c1EWhOxOFk82Mz39ErIkngpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fazi5DwKujtGK22atp9c1EWhOxOFk82Mz39ErIkngpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_hash": "={{ $json.job_hash }}",
            "Status": "inactive"
          },
          "matchingColumns": [
            "job_hash"
          ],
          "schema": [
            {
              "id": "job_hash",
              "displayName": "job_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Work Mode",
              "displayName": "Work Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employment Type",
              "displayName": "Employment Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ATS",
              "displayName": "ATS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "REDACTED",
      "name": "📊 Mark Inactive (Google Sheet)",
      "type": "REDACTED",
      "typeVersion": 4,
      "position": [
        1568,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Every 3 Days": {
      "main": [
        [
          {
            "node": "📥 Fetch Active Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch Active Jobs": {
      "main": [
        [
          {
            "node": "🔧 Prepare URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Find Dead Jobs": {
      "main": [
        [
          {
            "node": "🔀 Has Dead Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Has Dead Jobs?": {
      "main": [
        [
          {
            "node": "❌ Mark Inactive (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Mark Inactive (Supabase)": {
      "main": [
        [
          {
            "node": "📊 Mark Inactive (Google Sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare URLs": {
      "main": [
        [
          {
            "node": "🔗 Check URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Check URLs": {
      "main": [
        [
          {
            "node": "🧠 Find Dead Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveManualExecutions": false
  },
  "versionId": "REDACTED",
  "meta": {
    "instanceId": "REDACTED"
  },
  "id": "6e3YfHdrSvh4Kwk8",
  "tags": []
}
